{% include 'base.twig' %}

{% block content %}
    <main class="ErrorPage" style="background-image: url({{ post.error_image }})">
        <div class="ErrorPage__content">
            <p class="ErrorPage__content__message">{{ post.error_text }}</p>
            <h1 class="ErrorPage__content__title">{{ post.error_number }}</h1>
            <a href="{{ site.url }}" class="ErrorPage__content__back button">{{ post.error_button }}</a>
        </div>
    </main>
{% endblock %}
