{% extends 'base.twig' %}
{% set menuType = post.get_field('about_menu') %}

{% block content %}
    <main class="About">
        <div class="About__left">
            <div class="About__left__background" style="background-image: url({{ TimberImage(about_image)|resize(600) }})"></div>
            <div class="About__left__content">
                <p class="About__left__content__subtitle">{{ about_welcoming }}</p>
                <h1 class="About__left__content__title">{{ about_title }}</h1>
                <p class="About__left__content__text">{{ about_text }}</p>
            </div>
        </div>

        {% if menuType == "about" %}
            <div class="About__menu">
                {% for item in aboutMenu.get_items %}
                    <li class="About__menu__item{% if item.children %} About__menu__item--hasChildren{% endif %}{{ item.current ? ' is-active' }}">
                        <a class="About__menu__item__link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}
                            <span class="icon SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "arrow.svg") }}
                            </span>
                        </a>
                        {% if item.children %}
                            <ul class="About__menu__item__submenu About__menu__submenu">
                                <div class="About__menu__submenu About__menu__submenu__content">
                                    {% for child in item.children %}
                                        <li class="About__menu__submenu__item{{ child.current ? ' is-active' }}">
                                            <a href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </div>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </div>
        {% else %}
            <div class="About__menu {{ post.about_menu }}">
                {% for item in usefulMenu.get_items %}
                    <li class="About__menu__item{% if item.children %} About__menu__item--hasChildren{% endif %}{{ item.current ? ' is-active' }}">
                        <a class="About__menu__item__link" href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}
                            <span class="icon SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "arrow.svg") }}
                            </span>
                        </a>
                        {% if item.children %}
                            <ul class="About__menu__item__submenu About__menu__submenu">
                                <div class="About__menu__submenu About__menu__submenu__content">
                                    {% for child in item.children %}
                                        <li class="About__menu__submenu__item{{ child.current ? ' is-active' }}">
                                            <a href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
                                        </li>
                                    {% endfor %}
                                </div>
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </div>
        {% endif %}

        <div class="About__right {% if menuType == "about" %} is-about {% endif %}">
            {% if post.thumbnail %}
                <div class="About__right__hero" style="background-image: url({{ TimberImage(post.thumbnail).src|resize(1000) }})">
                    <div class="About__right__hero__expand">
                        <img src="{{ function("images_path", "expand.png") }}" alt=""/>
                    </div>
                </div>
            {% endif %}
            <div class="About__right__content">
                <h1 class="About__right__title">{{ post.title }}</h1>
                {% include "page-builder.twig" %}
            </div>
            <div class="About__right__close">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "close.svg") }}
                </span>
            </div>
        </div>
    </main>
{% endblock %}
