{% set isCustomer = user.roles["customer"]|default(false) %}
{% set additionalBodyClass = isCustomer ? "customer" : "" %}

{% include 'header/index.twig' %}

{% block content %}{% endblock %}

{% include 'footer/index.twig' %}

<div class="modal">
    <div class="modal_container">
        <div class="modal_exit">
            <img src="{{ function("images_path", "expand.png") }}" alt="" />
        </div>
        <div class="modal_content"></div>
    </div>
</div>
