{% extends 'base.twig' %}

{% block content %}
    <main class="Home">
        <h1 class="VisuallyHidden">
            {% if wp_title %}
                {{ wp_title }}
            {% else %}
                {{ site.name }}
            {% endif %}
        </h1>
        <div class="Home__slider">
            {% for slide in slider %}
                <div class="Home__slider__item Home__slider__item{% if slide.home_ChooseType.value == "default" %}--defalut{% else %}--custom{% endif %} homeSlide" id="homeSlide{{ loop.index }}">
                    <div class="Home__slider__item__left {% if slide.home_ChooseType.value == "default" %}is-default {% endif %}">
                        <div class="Home__slider__item__left__inner">
                            <p class="Home__slider__item__left__inner__subtitle">{{ slide.homeWelcoming }}</p>
                            <h2 class="Home__slider__item__left__inner__title">{{ slide.homeTitle }}</h2>
                            <p class="Home__slider__item__left__inner__text">{{ slide.homeText }}</p>
                            {% for button in slide.homeCta if slide.homeCta is not empty %}
                                <a href="{{button.link.url}}" class="button {% if button.button_type == 'transparent' %} is-transparent {% endif %} "{% if button.link.target is not empty %} target="{{button.link.target}}"{% endif %}>{{button.link.title}}</a>
                            {% endfor %}
                            <img class="Home__mobileLines" src="{{theme.link}}/resources/assets/images/lines_mobile.png" alt="">
                        </div>
                    </div>

                    {% if slide.home_ChooseType.value == "news" %}
                        <div class="Home__slider__item__right Home__slider__item__right__news HomeNews">
                            <div class="HomeNews__carousel">
                                <div class="HomeNews__carousel__init swiper-container">
                                    <div class="HomeNews__wrapper swiper-wrapper">
                                        {% if slide.home_newsType == "custom" %}
                                            {% for news in slide.home_selectNews %}
                                                <div class="HomeNews__single swiper-slide">
                                                    <div class="HomeNews__single__image">
                                                        <img src="{{ TimberImage(news.thumbnail).src|resize(580,280) }}" alt="{{ TimberImage(news.thumbnail).alt }}">
                                                    </div>
                                                    <div class="HomeNews__single__content">
                                                        <h4>{{news.title|slice(0, 40)}}(...)</h4>
                                                        <span>{{news.date}}</span>
                                                        <p class="HomeNews__single__content__mobile">{{news.post_content|slice(0, 60)}}...</p>
                                                        <p class="HomeNews__single__content__desktop">{{news.preview.length(16).read_more(false)}}</p>
                                                        <a href="{{news.link}}" class="permalink">
                                                            <span class="SvgContainer" aria-hidden="true">
                                                                {{ function("get_svg", "arrow.svg") }}
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% for news in homepagePosts %}
                                                <div class="HomeNews__single swiper-slide">
                                                    <div class="HomeNews__single__image">
                                                        <img src="{{ TimberImage(news.thumbnail).src|resize(580,280) }}" alt="{{ TimberImage(news.thumbnail).alt }}">
                                                    </div>
                                                    <div class="HomeNews__single__content">
                                                        <h4>{{news.title|slice(0, 40)}}(...)</h4>
                                                        <span>{{news.date}}</span>
                                                        <p class="HomeNews__single__content__mobile">{{news.post_content|slice(0, 60)}}...</p>
                                                        <p class="HomeNews__single__content__desktop">{{news.preview.length(16).read_more(false)}}</p>
                                                        <a href="{{news.link}}" class="permalink">
                                                            <span class="SvgContainer" aria-hidden="true">
                                                                {{ function("get_svg", "arrow.svg") }}
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% include '/components/carouselPagination.twig' with {buttonClass: "news" }%}
                                </div>
                            </div>
                        </div>
                    {% elseif slide.home_ChooseType.value == "subjects" %}
                        <div class="Home__slider__item__right Home__slider__item__right__subjects HomeSubjects">
                            <div class="HomeSubjects__carousel">
                                <div class="HomeSubjects__carousel__init swiper-container">
                                    <div class="HomeSubjects__wrapper swiper-wrapper">
                                        {% for subject in homepageSubjects %}
                                            <a href="{{ site.url }}/courses?courseSubject={{subject.title}}" class="HomeSubjects__single swiper-slide">
                                                <img src="{{ TimberImage(subject.thumbnail)|resize(235,210) }}" alt="">
                                                <div class="HomeSubjects__single__overlay"></div>
                                                <h4>{{ subject.title }}</h4>
                                                <span></span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    {% include '/components/carouselPagination.twig' with {buttonClass: "subject" }%}
                                </div>
                            </div>
                        </div>
                    {% elseif slide.home_ChooseType.value == "locations" %}
                        <div class="Home__slider__item__right Home__slider__item__right__locations HomeLocations">
                            <div class="HomeLocations__carousel">
                                <div class="HomeLocations__carousel__init swiper-container">
                                    <div class="HomeLocations__wrapper swiper-wrapper">
                                        {% for location in homepageLocations %}
                                            {% set areas = location.terms('area') %}
                                            <a href="{{ location.link }}" class="HomeLocations__single swiper-slide">
                                                <img src="{{ TimberImage(location.thumbnail)|resize(118,118) }}" alt="">
                                                <h4>{{ location.title }}</h4>
                                                <span></span>
                                                {% for area in areas %}
                                                    <h5>{{ area.title }}</h5>
                                                {% endfor %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    {% include '/components/carouselPagination.twig' with {buttonClass: "location" }%}
                                </div>
                            </div>
                        </div>
                    {% elseif slide.home_ChooseType.value == "product" %}
                        <div class="Home__slider__item__right Home__slider__item__right__courses HomeCourses">
                            <div class="HomeCourses__carousel">
                                <div class="HomeCourses__carousel__init swiper-container">
                                    <div class="HomeCourses__wrapper swiper-wrapper">
                                        {% if slide.home_coursesType == "last" %}
                                            {% for course in homepageCourses %}
                                                {% set ageRange = course.terms('age') %}
                                                {% set cats = course.terms('product_cat') %}
                                                <a href="{{ course.link }}" class="HomeCourses__single swiper-slide">
                                                    <img src="{{ course.thumbnail.src|resize(220,360) }}" alt="">
                                                    {% for age in ageRange %}
                                                        <h5>{{ age.title }} {{ __('years', 'bucksmore') }}</h5>
                                                    {% endfor %}
                                                    <h4>{{ course.title }}
                                                        <span class="icon SvgContainer" aria-hidden="true">
                                                            {{ function("get_svg", "arrow.svg") }}
                                                        </span>
                                                    </h4>
                                                    <h6>{{ cats[0].name }}</h6>
                                                    <span></span>
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                            {% for course in selectedCourse %}
                                                <a href="{{ course.permalink }}" class="HomeCourses__single swiper-slide">
                                                    {% if course.homepage_image != '' %}
                                                        <img src="{{ TimberImage(course.homepage_image) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ course.post_thumbnail|resize(220,360) }}" alt="">
                                                    {% endif %}

                                                    <div class="HomeCourses__single__content">
                                                        <h5>
                                                            {{ course.age }}
                                                            {{ __('years', 'bucksmore')}}
                                                        </h5>
                                                        <h4>{{ course.title }}
                                                            <span class="icon SvgContainer" aria-hidden="true">
                                                                {{ function("get_svg", "arrow.svg") }}
                                                            </span>
                                                        </h4>
                                                        <h6>{{ course.category }}</h6>
                                                    </div>
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    {% include '/components/carouselPagination.twig' with {buttonClass: "course" }%}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="Home__slider__item__right HomeDefault" style="background-image: url({{ TimberImage(slide.homeImage)|resize(1000) }})">
                            {% if slide.homeVideo[0] == "Show" %}
                                {% include '/components/video.twig' with {
                                    standardURL: slide.home_videoStandard.url,
                                    youtubeID: slide.home_youtubeID,
                                    type: slide.home_videoTypes
                                } %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="Home__overlayBlue">
                <span class="Home__overlayBlue__lines">
                    <img src="{{theme.link}}/resources/assets/images/lines.png" alt="" />
                </span>
            </div>
        </div>
        <div class="Home__slider__navButtons">
            {% for slide in slider %}
                <div class="Home__slider__navButtons__single slideBtn Home{{slide.home_ChooseType.label}}__btn" id="slideBtn{{ loop.index }}"></div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
