{% extends "base.twig" %}

{% block content %}
    {% for post in posts %}
        <hr/>
    {% endfor %}

    {% if posts.pagination.pages %}
        {% include 'components/pagination.twig' %}
    {% endif %}
{% endblock %}
