{% extends 'base.twig' %}
{% set locationsdata = {
    'locations_api_url' : options.location_api_url,
    'welcoming' : welcoming,
    'title' : title,
    'text' : text,
    'image': image,
    'learnMore': options.translation_learnMore,
    'type' : type,
    'angle_down': function("images_path", "angle_down.svg"),
    'locations_tr': options.translation_locations,
    'age_range': options.translation_ageRange,
    'base_url': base_url,
    'baseUrl' : site.url,
} %}

{% block content %}
    <main>
        <div class="LocationSlideout"></div>
        <locations-listing :locationsdata='{{ locationsdata|json_encode }}'></locations-listing>
    </main>
{% endblock %}
