{#

Do not use this file anymore
All is moved either to LocationSingleController.php
Presentation moved to Locations.vue
Whatever you do here, will not be rendered because it is vue that renders now.
I will delete this code soon, am keeping now as reference.

 #}
{% extends 'base.twig' %}
{% set areas = post.terms('area') %}
{% set ageRange = post.terms('age') %}

{% block content %}
    <main class="SingleLocation__container">
        <div class="overlayToClose"></div>
        <div class="SingleLocation">
            <div class="SingleLocation__mobile__image" style="background-image: url({{ TimberImage(post.thumbnail).src|resize(590,400) }})">
                {% if post.videoType is not empty%}
                    {% include '/components/video.twig' with {
                        standardURL: post.videoStandard,
                        youtubeID: post.videoYT,
                        type: post.videoType
                    }%}
                {% endif %}
            </div>
            <div class="SingleLocation__info">
                <div class="SingleLocation__info__container">
                    <h1 class="SingleLocation__info__title">{{ post.title }}</h1>
                    <ul>
                        {% if areas is not empty %}
                            <li class="location">
                                <span>{{ __('Location ', 'bucksmore')}}</span>
                                {% for area in areas %}
                                    <p>{{ area.title }}</p>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if post.location_bedrooms is not empty %}
                            <li class="bedrooms">
                                <span>{{ __('Bedrooms ', 'bucksmore')}}</span>
                                {% for bedroom in post.location_bedrooms %}
                                    <p>{{ bedroom.name }}</p>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if post.location_bathrooms is not empty %}
                            <li class="bathrooms">
                                <span>{{ __('Bathrooms ', 'bucksmore')}}</span>
                                {% for bathroom in post.location_bathrooms %}
                                    <p>{{ bathroom.name }}</p>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if ageRange is not empty %}
                            <li class="age">
                                <span>{{ __('Age range ', 'bucksmore')}}</span>
                                {% for age in ageRange %}
                                    <p>{{ age.title }}</p>
                                {% endfor %}
                            </li>
                        {% endif %}
                        {% if post.location_airports is not empty %}
                            <li class="airports">
                                <span>{{ __('Available Airports ', 'bucksmore') }}</span>
                                {% for airport in post.location_airports %}
                                    <p>{{airport.name }}</p>
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                    <div class="SingleLocation__info__buttons">
                        <a class="button" href="{{site.url}}/courses?courseLocation={{escaped_post_title}}">{{ __('View the courses', 'bucksmore') }}</a>
                        {% if post.custom.gallery_images is not empty %}
                            <a class="button is-transparent btn-gallery" href="#gallery">{{ __('View gallery', 'bucksmore')}}</a>
                        {% endif %}
                    </div>
                    <div id="gallery" class="Gallery">
                        <div class="popup-gallery">
                            {% for item in post.custom.gallery_images %}
                                <a href="{{ TimberImage(item).src }}" caption="{{ TimberImage(item).caption }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="SingleLocation__close">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "close.svg") }}
                </span>
            </button>
            <div class="SingleLocation__content  custom-scrollbar">
                {% if post.slideout_hero is not empty %}
                    {% set url = post.slideout_hero %}
                {% else %}
                    {% set url = post.thumbnail %}
                {% endif %}
                <div class="SingleLocation__content__image" style="background-image: url({{ TimberImage(url).src|resize(590,400) }})">
                    {% if post.videoType is not empty%}
                        {% include '/components/video.twig' with {
                            standardURL: post.videoStandard,
                            youtubeID: post.videoYT,
                            type: post.videoType
                        }%}
                    {% endif %}
                </div>
                <div class="SingleLocation__content SingleLocation__content__desktop">
                    {% include "page-builder.twig" %}
                </div>
            </div>
            <div class="SingleLocation__content SingleLocation__content__mobile">
                {% include "page-builder.twig" %}
            </div>
        </div>
    </main>
    <script>
        window.location.href = "{{ site.url }}/locations";
    </script>
{% endblock %}
