{% extends 'base.twig' %}
{% set newsdata = {
    'welcoming' : welcoming,
    'title' : title,
    'text' : text,
    'lines': function("images_path", "course_lines.png"),
    'angle_down': function("images_path", "angle_down.svg"),
    'search_black': function("images_path", "search_black.svg"),
    'locations_tr': options.translation_locations,
    'age_range': options.translation_ageRange,
    'topic': options.translation_topic,
    'search_label': options.translation_search,
    'years' : options.translation_years,
    'clear_filters': options.translation_clearFilters,
    'no_results': post.meta('news_empty_results'),
    'close': function("get_svg", "close.svg"),
    'baseUrl' : site.url,
} %}

{% block content %}
    <main>
        <news-listing :newsdata='{{ newsdata|json_encode }}'></news-listing>
    </main>
{% endblock %}
