{% extends 'base.twig' %}

{% block content %}
    <main class="Login">
       <div class="Login__inner">
             <h1 class="Login__h1">{{ __('Account Login ', 'bucksmore') }}</h1>
            {{ loginWC() }}
       </div>
    </main>
{% endblock %}