{% extends 'base.twig' %}

{% set holdingdata = {
'title' :  post.get_field('holding_title'),
'subtitle' : post.get_field('holding_subtitle'),
'email' : post.get_field('holding_email'),
'phone' : post.get_field('holding_phone'),
} %}

{% block content %}
    <main>
        <div class="Holding__container" style="background-image: url({{ post.thumbnail.src }})">
            <div class="Holding">
                <h1 class="Holding__title">{{ holdingdata.title }}</h1>
                <div class="Holding__subtitle">{{ holdingdata.subtitle }}</div>
                <div class="Holding__button__group">
                    <div class="Holding__button">
                        <div class="Holding__button__title">{{ holdingdata.email.label }}</div>
                        <p>
                            <a href="{{ holdingdata.email.link.url }}">{{ holdingdata.email.link.title }}</a>
                        </p>
                    </div>
                    <div class="Holding__button">
                        <div class="Holding__button__title">{{ holdingdata.phone.label }}</div>
                        <p>
                            <a href="{{  holdingdata.phone.link.url }}">{{ holdingdata.phone.link.title }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
