{% extends 'base.twig' %}
{% set subjectsdata = {
    'baseUrl' : site.url,
    'lines': function("images_path", "course_lines.png"),
    'angle_down': function("images_path", "angle_down.svg"),
    'close': function("images_path", "close.svg"),
    'title' : title,
    'subjects_subheader' : subjects_subheader,
    'text' : text,
    'age_filters' : age_filters
} %}

{% block content %}
    <main>
        <our-subjects :subjectsdata='{{ subjectsdata|json_encode }}'></our-subjects>
    </main>
{% endblock %}
