{% extends 'base.twig' %}
{% set menuType = post.get_field('about_menu') %}
{% set bookingdata = {
    'courses_api_url' : options.courses_api_url,
    'nationalities_json' : options.nationalities_json_file,
    'footer' :  post.get_field('footer'),
    'start_page' :  post.get_field('start_page'),
    'side_panel' : post.get_field('side_panel'),
    'step_one' : post.get_field('step_one'),
    'step_two' : post.get_field('step_two'),
    'step_three' : post.get_field('step_three'),
    'step_four' : post.get_field('step_four'),
    'step_five' : post.get_field('step_five'),
    'summary' : post.get_field('summary'),

} %}

{% block content %}
    <main id="AppBooking">
      <router-view :bookingdata='{{ bookingdata|json_encode }}'></router-view>
    </main>
{% endblock %}
