{% extends 'base.twig' %}

{% set herocontent = {
    'featuredImage' : post.thumbnail.src,
    'hero_title' : post.hero_title,
    'hero_copy' : post.hero_copy,
    } %}

{% block content %}
	<main id="AppAccount">
		<router-view :herocontent='{{herocontent|json_encode}}'></router-view>
	</main>
{% endblock %}
