{% extends 'base.twig' %}

{% block content %}
    <main class="Single">
        <a href="{{ site.link }}/news" class="Single__close">
            <span class="icon SvgContainer" aria-hidden="true">
                {{ function("get_svg", "close.svg") }}
            </span>
        </a>
        <div class="SingleImage" style="background-image: url({{ TimberImage(post.thumbnail)|resize(1000) }})"></div>
        <div class="SingleContent">
            <div class="SingleContent__inner custom-scrollbar">
                <div class="SingleContent__meta">{{ __(post.news_type, 'bucksmore') }} | {{ post.date('j F Y') }}</div>
                <h1 class="SingleContent__title">{{ post.title }}</h1>
                <div class="SingleContent__text">
                    {{ post.content }}
                    {% include "page-builder.twig" %}
                    {% include '/parts/single-related-course.twig' %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
