{% extends 'base.twig' %}

{% block content %}
    <main class="SingleTestimonial custom-scrollbar">
        <div class="overlayToClose"></div>
        <div class="SingleTestimonial__wrapper">
            <button type="button" class="SingleTestimonial__close">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "close.svg") }}
                </span>
            </button>
            <div class="SingleTestimonial__content">
                <div class="SingleTestimonial__content__media" style="background-image: url({{ TimberImage(post.thumbnail).src|resize(760,540) }})">
                    {% if post.testimonial_player == true %}
                        {% include '/components/video.twig' with {
                            standardURL: post.testimonial__video_file.url,
                            youtubeID: post.testimonial__youtube_video_id,
                            type: post.testimonial__video_type
                        }%}
                    {% endif %}
                </div>
                <div class="SingleTestimonial__content__inner">
                    <p class="SingleTestimonial__content__inner__nationality">{{ nationality }}</p>
                    <h1 class="SingleTestimonial__content__inner__title">{{ post.title }}</h1>
                    <div class="SingleTestimonial__content__inner__location">{{ post.testimonial__location }}</div>
                    <p class="SingleTestimonial__content__inner__course">{{ post.testimonial__course }}</p>
                    <div class="SingleTestimonial__content__inner__text">{{post.testimonial__description}}</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
