{% extends 'base.twig' %}
{% set testimonialsdata = {
    'testimonials_api_url' : options.testimonials_api_url,
    'courses_api_url' : options.courses_api_url,
    'location_api_url' : options.location_api_url,
    'welcoming' : welcoming,
    'title' : title,
    'text' : text,
    'lines': function("images_path", "testimonials_lines.png"),
    'angle_down': function("images_path", "angle_down.svg"),
    'close': function("images_path", "close.svg"),
    'clear_filters': options.translation_clearFilters,
    'locations_tr': options.translation_locations,
    'nationality_tr': options.translation_nationality,
    'course_type': options.translation_courseType,
    'course_subject': options.translation_courseSubject,
    'read_testimonials': options.translation_readTestimonial,
    'baseUrl': site.url
} %}

{% block content %}
    <main>
        <testimonials :testimonialsdata='{{ testimonialsdata|json_encode }}'></testimonials>
    </main>
{% endblock %}
