{% if section %}
    <section class="section section--content-pushes">
        <div class="container">

            {% if section.header %}
                <h1>{{ section.header }}</h1>
            {% endif %}
            

            <ul>
                {% for push in section.pushes %}
                    <li>
                        <div class="push">
                            
                            {% if push.image %}
                                <figure>
                                    {% if push.button %}
                                        <a href="{{ push.button.url }}" title="{{ push.title }}">
                                    {% endif %}

                                        <img src="{{ push.image.url }}" alt="{{ push.title }}" />

                                    {% if push.button %}
                                        </a>
                                    {% endif %}
                                </figure>
                            {% endif %}

                            {% if push.content %}
                                <h3>
                                    {% if push.button %}
                                        <a href="{{ push.button.url }}" title="{{ push.title }}">
                                    {% endif %}

                                    <span>{{ push.content }}</span>
                                
                                    {% if push.button %}
                                        </a>
                                    {% endif %}
                                </h3>
                            {% endif %}

                            {% if push.text %}
                                <p>{{ push.text }}</p>
                            {% endif %}

                            {% include 'elements/button.twig' 
                                with {
                                'url': push.button.url,
                                'extraClass': 'button--brd-white-transparent',
                                'title': push.button.title ~ '+',
                                'target': push.button.target,
                                'span': 'true'
                                } 
                            %}

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}