{% if section %}
    <section class="section section--contact">
        <div class="container">

            <div class="section--contact__row">

                <div class="section--contact__row__info">

                    {% if section.text %}
                        <div class="section--contact__row__info__text">

                            {% if section.text_icon %}
                                <div class="section--contact__row__text__icon">
                                    <img src="{{ section.text_icon.url }}" alt="{{ section.header }}" />
                                </div>
                            {% endif %}

                            <div class="section--contact__row__text__content">

                                {% if section.header %}
                                    <h4>{{ section.header }}</h4>
                                {% endif %}

                                {{ section.text }}
                            </div>

                        </div>
                    {% endif %}

                    {% if section.hours %}
                        <div class="section--contact__row__info__text">

                            {% if section.hours_icon %}
                                <div class="section--contact__row__text__icon">
                                    <img src="{{ section.hours_icon.url }}" alt="{{ section.hours_header }}" />
                                </div>
                            {% endif %}

                            <div class="section--contact__row__text__content">

                                {% if section.hours_header %}
                                    <h4>{{ section.hours_header }}</h4>
                                {% endif %}
                                
                                <ul>
                                    {% for time in section.hours %}
                                        <li>
                                            <strong>{{ time.label }}</strong> <span>{{ time.hours }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    {% endif %}

                </div>

                {% if section.contact_form %}
                    <div class="section--contact__row__info__form">
                    
                        {% if section.contact_form_header %}
                            <h3>{{ section.contact_form_header }}</h3>
                        {% endif %}

                        {% filter shortcodes %}
                            [contact-form-7 id="{{ section.contact_form.0.ID }}" title="{{ section.contact_form.0.post_title }}"]
                        {% endfilter %}

                    </div>
                {% endif %}

            </div>

            {% if section.show_social_media %}
                <div class="section--contact__social-media">
                    <ul>
                        {% if options.facebook %}
                            <li class="facebook">
                                <a href="{{ options.facebook }}" title="{{ site.name }} - {{ "Facebook" }}" target="_blank">
                                    <span>&nbsp;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if options.instagram %}
                            <li class="instagram">
                                <a href="{{ options.instagram }}" title="{{ site.name }} - {{ "Instagram" }}" target="_blank">
                                    <span>&nbsp;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if options.yelp %}
                            <li class="yelp">
                                <a href="{{ options.yelp }}" title="{{ site.name }} - {{ "Yelp" }}" target="_blank">
                                    <span>&nbsp;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if options.bing %}
                            <li class="bing">
                                <a href="{{ options.bing }}" title="{{ site.name }} - {{ "Bing" }}" target="_blank">
                                    <span>&nbsp;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if options.gmb %}
                            <li class="gmb">
                                <a href="{{ options.gmb }}" title="{{ site.name }} - {{ "Google My Business" }}" target="_blank">
                                    <span>&nbsp;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
            
        </div>
    </section>
{% endif %}