{% if section %}
    <section class="section section--cta">

        {% if section.header %}
            <div class="section--cta__bkg" style="background-image: url('{{ section.background_image.sizes.hero }}'); opacity:{{ section.background_image_opacity }}"></div>
        {% endif %}

        <div class="container">

            {% if section.header %}
                <h3>{{ section.header }}</h3>
            {% endif %}

            {% if section.text %}
                <p>{{ section.text }}</p>
            {% endif %}

            {% include 'elements/button.twig' 
                with {
                'url': section.button.url,
                'extraClass': 'btn--grey',
                'title': section.button.title ~ ' &rsaquo;',
                'target': section.button.target,
                'span': 'true'
                } 
            %}

        </div>
    </section>
{% endif %}