{% if section %}
    <section class="section section--header{% if section.additional_class %} section--header--{{ section.additional_class }}{% endif %}">
        {% if section.header %}
            <{{ section.header_markup }}>{{ section.header }}</{{ section.header_markup }}>
        {% endif %}
    </section>
{% endif %}