{% if section.hero_slider %}
    <section class="section section--hero-slider{% if section.additional_class %} section--hero-slider--{{ section.additional_class }}{% endif %}">
        <div class="container">

            <div class="swiper-container hero-slider">
                <div class="swiper-wrapper">

                    {% for slide in section.hero_slider %}
                        <div class="swiper-slide">

                            {% if slide.image %} 
                                <div class="slide-inner" style="background-image:url('{{ slide.image.sizes.hero }}')"></div>
                            {% endif %}

                            <div class="swiper-slide__text">
                                {% if slide.header %}
                                    <h1>{{ slide.header }}</h1>
                                {% endif %}

                                {% if slide.text %}
                                    <h2>{{ slide.text }}</h2>
                                {% endif %}

                                {% if slide.button %}
                                    {% include 'elements/button.twig' 
                                        with {
                                        'url': slide.button.url,
                                        'extraClass': slide.button_style,
                                        'title': slide.button.title,
                                        'target': slide.button.target,
                                        'span': 'true'
                                        } 
                                    %}
                                {% endif %}

                            </div>

                        </div>
                    {% endfor %}

                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
    </section>
{% endif %}