{% if section %}
    <section class="section section--latest-posts">
        <div class="container">

            {% if section.header %}
                <h1>{{ section.header }}</h1>
            {% endif %}
            

            {% if section.category %}
                <h2>{{ section.category }}</h2>
            {% endif %}
        </div>
    </section>
{% endif %}