{% if section %}
    <section class="section section--linked-images {{ section.extra_class }}">
        <div class="container">
            {% if section.header %}
                <{{ section.header_markup }}>{{ section.header }}</{{ section.header_markup }}>
            {% endif %}

            {% if section.links %}
                <ul>
                    {% for link in section.links %}
                        <li>
                            {% if link.link.url %}
                                <a href="{{ link.link.url }}" title="{{ link.link.title }}" target="{{ link.link.target }}" {% if link.image %}style="background-image:url('{{ link.image.url }}');"{% endif %}>
                                <span>{{ link.link.title }}</span>
                            {% else %}
                            
                                <a href="#" title="{{ link.link.title }}" target="{{ link.link.target }}" {% if link.image %}style="background-image:url('{{ link.image.url }}');"{% endif %}>

                            {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endif %}