{% if section %}
    <section class="section section--logotypes section--logotypes--{{ section.extra_class }}">
        <div class="container">
            {% if section.header %}
                <{{ section.header_markup }}>{{ section.header }}</{{ section.header_markup }}>
            {% endif %}

            {% if section.logotypes %}
                <ul>
                    {% for logo in section.logotypes %}
                        <li>
                            {% if logo.link %}
                                <a href="{{ logo.link.url }}" target="{{ logo.link.target }}" title="{{ logo.link.title }}">
                            {% endif %}

                                <img src="{{ logo.image.url }}" alt="" />

                            {% if logo.link %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endif %}