{% if section %}
    <section class="section section--map">

        <div class="container">

            {% include 'elements/map.twig' 
                with {
                'lat': section.google_map.lat,
                'lng': section.google_map.lng,
                'header': options.contact_header,
                'address': options.contact_address
                } 
            %}

        </div>
    </section>
{% endif %}