{% if section %}
    <section class="section section--paragraph-image section--paragraph-image--{{ section.image_side }}{% if section.additional_class %} section--paragraph-image--{{ section.additional_class }}{% endif %}{% if section.align_center %} section--paragraph-image--centered{% endif %}">
        <div class="container section--paragraph-image--{{ section.image_side }}--{{ section.image_size }}">

            <div class="paragraph">

                {% if section.header %}
                    <{{ section.header_markup }}>{{ section.header }}</{{ section.header_markup }}>
                {% endif %}

                {% if section.text %}
                    <p>{{ section.text }}</p>
                {% endif %}
                
                {% if section.button %}
                    <div class="paragraph__link">
                        {% include 'elements/button.twig'
                            with {
                                'url': section.button.url,
                                'extraClass': 'btn--grey',
                                'title': section.button.title,
                                'target': section.button.target,
                                'span': 'true'
                            }
                        %}
                    </div>
                {% endif %}

            </div>

            {% if section.image %}
                <div class="image">
                    <figure>
                        {% if 'lightbox' in section.image_link %}
                            <a href="{{ section.image.url }}" data-fancybox data-caption="{{ section.image_description }}" title="{{ section.image_description }}">
                                <span>
                                    <i class="icon icon icon-magnifier"></i>
                                </span>
                        {% endif %}
                        {% if 'url' in section.image_link %}
                            {% if 'external' in section.image_link %}
                                <a href="{{ section.image_url }}" target="_blank" title="{{ section.header }}">
                            {% else %}
                                <a href="{{ section.image_url }}" title="{{ section.header }}">
                            {% endif %}
                                <span>
                                    <i class="icon icon icon-link"></i>
                                </span>
                        {% endif %}

                            <img src="{{ section.image.url }}" alt="{{ section.image_description }}" />

                        {% if 'none' in section.image_link %}
                        {% else %}
                            </a>
                        {% endif %}
                    </figure>
                </div>
            {% endif %}

        </div>
    </section>
{% endif %}