{% if section %}

    {# Section Variables #}
    {% set additional_class = section.additional_class %}
    {% set header = section.header %}
    {% set tag = section.header_tag %}
    {% set background = section.header_background.url %}
    {% set services = section.services_list %}
    {% set columns = section.columns %}
    {% set buttons_style = section.buttons_style %}

    <section class="section section--services{% if additional_class %} section--services--{{ additional_class }}{% endif %}">
        <div class="container">

            {% if header %}
                <div class="section--services__header"{% if section.header %} style="background-image:url('{{ background }}"{% endif %}>
                    <{{ tag }}>{{ header }}</{{ tag }}>
                </div>
            {% endif %}

            {% if services %}
                <div class="section--services__list section--services__list--cols-{{ columns }}">
                    <ul>
                        {% for service in services %}

                            {# Service single variables #}
                            {% set icon = service.icon.url %}
                            {% set title = service.title %}
                            {% set description = service.description %}
                            {% set button = service.button %}

                            <li>
                                {% if icon %}
                                    <figure>
                                        <img src="{{ icon }}" alt="{{ title }}" />
                                    </figure>
                                {% endif %}
                                
                                <h4>{{ title }}</h4>

                                {% if description %}
                                    <p>{{ description }}</p>
                                {% endif %}

                                {% if button %}
                                    {% include 'elements/button.twig' 
                                        with {
                                        'url': button.url,
                                        'extraClass': buttons_style,
                                        'title': button.title,
                                        'target': button.target,
                                        'span': 'true'
                                        } 
                                    %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

        </div>
    </section>
{% endif %}