{% if section %}
    <section class="section section--single-image{% if section.additional_class %} section--single-image--{{ section.additional_class }}{% endif %}">
        <figure>
            {% if 'lightbox' in section.image_link %}
                <a href="{{ section.image.url }}" data-fancybox data-caption="{{ section.image_description }}" title="{{ section.image_description }}">
                    <span>
                        <i class="icon icon icon-magnifier"></i>
                    </span>
            {% endif %}
            {% if 'url' in section.image_link %}
                {% if 'external' in section.image_link %}
                    <a href="{{ section.image_url }}" target="_blank" title="{{ section.header }}">
                {% else %}
                    <a href="{{ section.image_url }}" title="{{ section.header }}">
                {% endif %}
                    <span>
                        <i class="icon icon icon-link"></i>
                    </span>
            {% endif %}

                    <img src="{{ section.image.url }}" alt="{{ section.description }}" />

            {% if 'none' in section.image_link %}
            {% else %}
                </a>
            {% endif %}
        </figure>
    </section>
{% endif %}