{% if section %}
    <section class="section section--steps section--steps--{{ section.extra_class }}"{% if section.background %} style="background-image: url('{{ section.background.url }}');"{% endif %}>
        <div class="container">

            {% if section.header %}
                <{{ section.header_tag }}>{{ section.header }}</{{ section.header_tag }}>
            {% endif %}

            {% if section.steps %}
                <ul>
                    {% for step in section.steps %}
                        <li class="step">
                            <div class="step__number">
                                <span>{{ loop.index }}</span>
                            </div>

                            {% if step.title %}
                                <h4>{{ step.title }}</h4>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </section>
{% endif %}