{% if section %}
    <section class="section section--testimonials"{% if section.background %} style="background-image: url('{{ section.background.url }}');"{% endif %}>
        <div class="container">
            
            {% if section.header %}
                <div class="section--testimonials__header">
                    <h3>{{ section.header }}</h3>
                </div>
            {% endif %}

            {% if section.testimonials %}
                <div class="section--testimonials__list">
                    <div class="swiper-container testimonials-slider">
                        <div class="swiper-wrapper">

                            {% for quote in section.testimonials %}
                                <div class="swiper-slide">
                                    <i class="icon icon-quote"></i>
                                    <p>{{ quote.post_content }}</p>
                                    <h6>{{ quote.post_title }}</h6>
                                </div>
                            {% endfor %}
                        
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            {% endif %}

        </div>
    </section>
{% endif %}