
<div class="menu-container">
  <nav class="menu-container__nav" role="navigation">
    {% include 'elements/menu.twig' with {'menu': menuPrimary.get_items} %}
  </nav>

  <div class="menu-container__info">
    {% if options.contact_header %}
      <h3>{{ options.contact_header }}</h3>
    {% endif %}
    {% if options.contact_address %}
      <p>{{ options.contact_address }}</p>
    {% endif %}
    {% if options.contact_phone %}
      <p>{{ "Phone" }}: <a href="tel:{{ options.contact_phone_link }}" title="{{ "Call Us" }}">{{ options.contact_phone }}</a></p>
    {% endif %}
    {% if options.contact_email %}
      <p>{{ "E-mail" }}: <a href="mailto:{{ options.contact_email }}" title="{{ "Drop Us a line" }}">{{ options.contact_email }}</a></p>
    {% endif %}
    
    <div class="menu-container__info__social-media">
      <ul>
        {% if options.facebook %}
          <li class="facebook">
            <a href="{{ options.facebook }}" target="_blank" title="{{ "Facebook" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.twitter %}
          <li class="twitter">
            <a href="{{ options.twitter }}" target="_blank" title="{{ "Twitter" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.instagram %}
          <li class="instagram">
            <a href="{{ options.instagram }}" target="_blank" title="{{ "Instagram" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.linkedin %}
          <li class="linkedin">
            <a href="{{ options.linkedin }}" target="_blank" title="{{ "LinkedIn" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.youtube %}
          <li class="youtube">
            <a href="{{ options.youtube }}" target="_blank" title="{{ "YouTube" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.behance %}
          <li class="behance">
            <a href="{{ options.behance }}" target="_blank" title="{{ "Behance" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.wordpress %}
          <li class="wordpress">
            <a href="{{ options.wordpress }}" target="_blank" title="{{ "WordPress" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
        {% if options.skype %}
          <li class="skype">
            <a href="{{ options.skype }}" target="_blank" title="{{ "Skype" }}">
              <span>&nbsp;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </div>

    {% if (options.free_quote_label) and (options.free_quote_url) %}
      <div class="menu-container__info__get-quote">
        {% include 'elements/button.twig' 
          with {
          'url': options.free_quote_url,
          'title': options.free_quote_label,
          'span': '1'
          } 
        %}
      </div>
    {% endif %}

  </div>
</div>