{% set imgUrl = post.thumbnail.src('full') | default( Image(post.ID).src('full') ) %}

<div class="subpage__header"{% if imgUrl %} style="background-image: url({{ imgUrl }});"{% endif %}>
    <div class="subpage__header__title">
        <h1>
            <a href="{{ post.link }}" title="{{ post.title }} : {{ site.name }}">
                {{ post.title }}
            </a>
        </h1>
    </div>
</div>