html {
    @include breakpoint(desktop_small) {
        overflow: hidden !important;
    }

    &.is-opened-modal {
        body {
            height: 100%;
            overflow: hidden;
            width: 100%;
            position: fixed;
        }
    }
}

body {
    display: none;
    margin: 0 !important;

    @include hideScrollBar();

    .mfp-wrap {
        @include breakpoint(tablet_reversed) {
            position: fixed !important;
            top: 0 !important;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include playfairBold();
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 45px;
}

h4 {
    font-size: 32px;
    line-height: 24px;
}

p {
    @include latoRegular();

    color: $white;
    font-size: 13px;
    line-height: 26px;

    @include breakpoint(phone_big) {
        font-size: 16px;
    }
}

a {
    text-decoration: none !important;
}

svg {
    transition: color .3s;
}

div,
span,
table {
    box-sizing: border-box;
}

main {
    position: relative;
}

.ytp-chrome-top-buttons {
    display: none !important;
}

.read-more,
#cookie-law-info-again {
    display: none !important;
}

#app {
    overflow: hidden;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

select {
    line-height: 20px;
    cursor: pointer;
}

.FilterButton {
    @include latoBold();

    display: flex;
    align-items: center;
    font-size: 14px;
    color: $white;
    border: none;
    background: $brown;
    cursor: pointer;
    padding: 15px 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all .4s;

    @include breakpoint(phone) {
        margin-bottom: 0;
    }

    &:hover,
    &:active,
    &:focus {
        border: none;
        background: $blue;
    }

    &__icon {
        color: $white;
        width: 12px;
        height: 12px;
        margin-left: 20px;
    }
}
