@mixin playfairBold() {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

@mixin latoRegular() {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

@mixin latoBold() {
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

@font-face {
    font-family: "Lato", sans-serif;
    src: url("/resources/assets/fonts/lato-semibold-webfont.woff2") format("woff2"), url("/resources/assets/fonts/lato-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@mixin latoSemi() {
    font-family: "Lato", sans-serif;
    font-weight: 600;
}
