.VisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.SvgContainer {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;

    svg {
        width: inherit;
        height: inherit;
        transition: none;
        display: inline-block;
        color: inherit;

        [style*="stroke:"]:not(.noColor),
        [style*="stroke: "]:not(.noColor),
        [stroke*="#"]:not(.noColor) {
            stroke: currentColor;
            transition: stroke .5s ease;
        }

        [style*="fill:"]:not(.noColor),
        [style*="fill: "]:not(.noColor),
        [fill*="#"]:not(.noColor) {
            fill: currentColor;
            transition: fill .5s ease;
        }

        [fill*="none"] {
            fill: transparent;
        }

        [stroke*="none"] {
            stroke: transparent;
        }
    }
}

#App {
    position: relative;
}

.Overlay {
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    position: absolute;
}

.modal {
    display: none;

    &.is-active {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($black, .9);
        z-index: 110;
    }

    &_container {
        max-width: 100%;
        max-height: 100%;
        border-radius: 0;
        background-color: $black;
        position: relative;
        overflow: hidden;

        @include breakpoint(tablet) {
            max-width: 1120px;
            max-height: 620px;
        }

        .modal_content {
            &.is-youtube {
                > * {
                    width: 100vw;
                    max-width: 1120px;

                    @include breakpoint(tablet) {
                        position: relative;
                        top: -60px;
                        height: calc(100vh + 60px);
                        max-height: 680px;
                    }

                    @include breakpoint(landscape_mobile) {
                        position: relative;
                        top: -60px;
                        height: calc(100vh + 60px);
                    }
                }
            }

            > * {
                max-width: 100%;

                @include breakpoint(landscape_mobile) {
                    height: 100vh;
                }

                @include breakpoint(tablet_big) {
                    height: 100vh;
                    max-height: 620px;
                }
            }
        }
    }

    &_exit {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        width: 40px;
        height: 40px;
        z-index: 100;
        cursor: pointer;
        background: $greyBG;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 27px;
            height: 27px;
        }

        @include breakpoint(tablet) {
            width: 63px;
            height: 63px;
        }
    }
}

.underlined {
    text-decoration: underline;
}
