@mixin breakpoint($size) {
    @media (min-width: $size) {
        @content;
    }
}

@mixin box-shadow($arguments) {
    -webkit-box-shadow: $arguments;
    -moz-box-shadow: $arguments;
    box-shadow: $arguments;
}

@mixin ie11() {
    @media all and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin edge() {
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

@mixin hideScrollBar() {
    -moz-scrollbars-none: none;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0 !important;
    }
}

@mixin fullHeightSection() {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @include breakpoint(tablet) {
        flex-wrap: nowrap;
        height: calc(100vh - 90px);
        overflow: hidden;
        float: right;

        .logged-in & {
            height: calc(100vh - 122px);
        }
    }
}

$rwd: true;

$break_point1: if($rwd, 320px, 1px);
$break_point2: if($rwd, 480px, 1px);
$break_point3: if($rwd, 680px, 1px);
$break_point4: if($rwd, 769px, 1px);
$break_point5: if($rwd, 980px, 1px);
$break_point6: if($rwd, 1025px, 1px);
$break_point7: if($rwd, 1366px, 1px);
$break_point8: if($rwd, 1600px, 1px);
$break_point9: if($rwd, 2000px, 1px);
$break_point10: if($rwd, 769px, 1px);
$break_point11: if($rwd, 360px, 1px);
$break_point12: if($rwd, 767px, 1px);
$break_point13: if($rwd, 800px, 1px);
$break_point14: if($rwd, 600px, 1px);
$break_point15: if($rwd, 1750px, 1px);
$break_point16: if($rwd, 1200px, 1px);

@mixin breakpoint($name, $maxHeight: 450px) {
    @if $name == "phone_small" {
        @media screen and (min-width: $break_point1) {
            @content;
        }
    }

    @else if $name == "phone" {
        @media screen and (min-width: $break_point2) {
            @content;
        }
    }

    @else if $name == "iphone5" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
            @content;
        }
    }

    @else if $name == "iphoneX" {
        @media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
            @content;
        }
    }

    @else if $name == "iphone5_landscape" {
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation: landscape) {
            @content;
        }
    }

    @else if $name == "iphone6" {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
            @content;
        }
    }

    @else if $name == "iphone6_landscape" {
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            @content;
        }
    }

    @else if $name == "phone_small_to_normal" {
        @media screen and (min-width: $break_point11) {
            @content;
        }
    }

    @else if $name == "phone_big" {
        @media screen and (min-width: $break_point3) {
            @content;
        }
    }

    @else if $name == "tablet" {
        @media screen and (min-width: $break_point4) {
            @content;
        }
    }

    @else if $name == "tablet_768" {
        @media screen and (min-width: $break_point12) {
            @content;
        }
    }

    @else if $name == "tablet_reversed" {
        @media screen and (max-width: $break_point4 - 1) {
            @content;
        }
    }

    @else if $name == "tablet_big" {
        @media screen and (min-width: $break_point5) {
            @content;
        }
    }

    @else if $name == "tablet_to_tablet_big" {
        @media screen and (min-width: $break_point4) and (max-width: $break_point5) {
            @content;
        }
    }

    @else if $name == "tablet_to_desktop_small" {
        @media screen and (min-width: $break_point4) and (max-width: $break_point6) {
            @content;
        }
    }

    @else if $name == "iphone_tablet_to_desktop_small" {
        @media screen and (min-width: 768px) and (max-width: $break_point6) {
            @content;
        }
    }

    @else if $name == "desktop_small" {
        @media screen and (min-width: $break_point6) {
            @content;
        }
    }

    @else if $name == "desktop_middle" {
        @media screen and (min-width: $break_point16) {
            @content;
        }
    }

    @else if $name == "desktop_small_height" {
        @media screen and (min-width: 1024px) and (max-height: $break_point3) {
            @content;
        }
    }

    @else if $name == "desktop_bigger_height" {
        @media screen and (min-width: 1024px) and (max-height: $break_point4) {
            @content;
        }
    }

    @else if $name == "desktop_height_over_768" {
        @media screen and (min-width: 1024px) and (min-height: $break_point4) {
            @content;
        }
    }

    @else if $name == "desktop" {
        @media screen and (min-width: $break_point7) {
            @content;
        }
    }

    @else if $name == "desktop_big" {
        @media screen and (min-width: $break_point8) {
            @content;
        }
    }

    @else if $name == "desktop_huge" {
        @media screen and (min-width: $break_point15) {
            @content;
        }
    }

    @else if $name == "desktop_extreme" {
        @media screen and (min-width: $break_point9) {
            @content;
        }
    }

    @else if $name == "landscape_mobile" {
        @media screen and (min-width: 1px) and (max-width: 968px) and (max-height: $maxHeight) and (orientation: landscape) {
            @content;
        }
    }

    @else if $name == "landscape_tablet" {
        @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
            @content;
        }
    }

    @else if $name == "landscape_ipad" {
        @media (min-width: 767px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
            @content;
        }
    }

    @else if $name == "landscape_mobile" {
        @media (max-width: 768px) and (orientation: landscape) {
            @content;
        }
    }

    @else if $name == "tablet_800" {
        @media screen and (max-width: $break_point13) {
            @content;
        }
    }

    @else if $name == "600_800" {
        @media screen and (min-width: $break_point14) and (max-width: $break_point13c - 1) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: $name) {
            @content;
        }
    }
}
