// COLORS
$grey: #bebebe;
$greyLight: #e1e1e1;
$greyLighter: #b7bcc5;
$greyDark: #4d4d4d;
$greyBG: #f5f5f5;
$grey55: #555;
$nearlyWhite: #f6f6f6;
$brown: #b89e66;
$white: #fff;
$blue: #0f2245;
$darkblue: #0b1b39;
$black: #000;
$dark: #292929;
$paragraph: #8c8c8c;
$greyBorder: #ebebeb;
$red: #b2000f;
$redLight: #f5333a;
$green: #389438;
$border: #ccc;
$nearBlack: #999;
$selectGrey: rgba(0, 0, 0, .5);

// Helper URLs
$asset-path: "../images";

// common

$primary: $blue;
