.header {
 width: 100px;
 height: 100vh;
 background: $color-darker;
 border-right: 1px solid $color-black;
 position: fixed;
 top: 0;
 left: 0;
 bottom: 0;
 z-index: 99999999;

 &__nav-trigger {
  width: 100%;
  padding: 30px 35px 22px;
  display: inline-block;
  border-bottom: 1px solid $color-black;
  position: relative;

  &__icon {
   cursor: pointer;
   display: inline-block;
   margin: 0 auto;
   position: relative;
   width: 30px;
   height: 23px;

   &:hover {
    transform: scale(1.25);
   }

   .icon {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: $color-white;
    border-radius: 3px;
    transition: 0.55s;
   }

   .line-top {
    top: 0;
   }

   .line-middle {
    top: 10px;
   }

   .line-bottom {
    top: 20px;
   }

   .line-top-click {
    backface-visibility: hidden;
    top: 10px;
    transform: rotate(50deg);
    transition: 0.55s 0.5s;
    background: $color-yellow;
   }

   .line-middle-click {
    opacity: 0;
   }

   .line-bottom-click {
    backface-visibility: hidden;
    top: 10px;
    transform: rotate(-410deg);
    transition: 0.55s 0.5s;
    background: $color-yellow;
   }
  }

  &:after {
   content: "";
   width: 100%;
   height: 1px;
   background: $color-dark;
   position: absolute;
   left: 0;
   bottom: 0;
  }
 }

 &__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  &__sm {
    margin: 0;
    padding: 0;
    position: relative;
    padding: 0;
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        width: 100%;

        li {
            max-width: 100%;
            width: 100%;
            display: inline-block;
            margin: 0;
            padding: 12px 0 2px 0;
            position: relative;
            border-top: 1px solid $color-black;

            &:before {
                content:"";
                width: 100%;
                height: 1px;
                background: $color-dark;
                position: absolute;
                left: 0;
                top: -2px;
            }

            a {
                display: inline-block;
                padding: 0;
                margin: 0;

                img {
                    max-width: 30px;
                    min-width: 25px;
                    width: auto;
                    height: auto;
                    margin: 0 auto;
                }

                &:hover {
                    transform: scale(1.25);
                }
            }
        }
    }
  }

  &__map {
   padding: 0;
   text-align: center;
   position: relative;
   border-top: 1px solid $color-black;

   &:before {
    content:"";
    width: 100%;
    height: 1px;
    background: $color-dark;
    position: absolute;
    left: 0;
    top: -2px;
   }

    &--trigger {
        display: inline-block;
        cursor: pointer;
        z-index: 999;
        text-align: center;
        padding: 20px 10px;

        img {
            max-width: 35px;
            width: auto;
            height: auto;
            margin: 0 auto;
            display: block;
        }

        span {
            display: inline-block;
            width: 100%;
            margin: 10px auto 0 auto;
            color: $color-white;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 1px;
        }

        &:hover {
                img {
                    transform: scale(1.25);
                }

                span {
                    color: $color-yellow;
                }
        }

        .state-0 {
            display: inline-block;
        }

        .state-1 {
            display: none;

            img {
                max-width: 23px;
                min-width: 18px;
            }
        }

        &__active {
            span {
                color: $color-yellow;
            }

            .state-1 {
                display: inline-block;
            }

            .state-0 {
                display: none;
            }
        }
    }                                
  }
 }
}