.desktop-map {
    @include calc( width, '100% - 100px');
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100vw;
    opacity: 0;
    transition: all .75s ease;
    background: $color-black;
   
    &--extended {
        right: 0;
        opacity: 1;
    }
   
    &__container {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: inline-block;
   
        .acf-map {
            width: 100%;
            height: 100vh;
        }
    }
}