.desktop-menu {
 @include calc( width, '100% - 100px');
 height: 100vh;
 position: fixed;
 top: 0;
 right: -100vw;
 opacity: 0;
 transition: all .75s ease;
 background: $color-black;

 &--extended {
  right: 0;
  opacity: 1;
 }

 &__video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $color-black;
        opacity: 0.65;
    }
 }

 &__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__nav-main {
   display: inline-block;
   margin: 0;
   padding: 0;
   display: inline-block;

   ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
     display: block;
     margin: 0 0 55px 0;
     padding: 0;
     text-align: center;

     &:last-child{
      margin-bottom: 0;
     }

     a {
      display: inline-block;
      font-family: $font-special;
      font-style: italic;
      font-size: 50px;
      opacity: 1;
      text-align: center;
      transform: translate3d(0,36px,0);
      position: relative;
      text-decoration: none;
      padding: 0 10px;
      color: $color-red;

      &:before {
       content: '';
       @include position-center;
       left: auto;
       background-color: $color-green;
       height: 60px;
       width: 0;
       overflow: hidden;
       transition: width 0.14s ease-out;
       padding: 0;
       top: 10px;
      }

      &:after {
       opacity: 0;
       content: attr(title);
       @include position-center;
       color: $color-yellow;
       height: 60px;
       line-height: 50px;
       overflow: hidden;
       transform: translate(-24px, 6px);
       transition: transform 0.1s ease-out,
       opacity 0.1s ease-out;
       bottom: 0;
      }

      &:hover {
       &:before {
        left: 0;
        right: auto;
        width: 100%;
        padding: 0 10px;
       }

       &:after {
        opacity: 1;
        padding: 0;
        transform: translate(0px, 6px);
        transition: transform 0.2s 0.14s ease-out,
        opacity 0.2s 0.14s ease-out;
       }
      }
     }

     &.current-menu-item,
     &.current_page_item {
      a {
       color: $color-yellow;

       &:before {
        left: 0;
        right: auto;
        width: 100%;
        padding: 0 10px;
        background-color: $color-red;
       }

       &:after {
        opacity: 1;
        padding: 0;
        transform: translate(0px, 6px);
        transition: transform 0.2s 0.14s ease-out,
        opacity 0.2s 0.14s ease-out;
        color: $color-white;
       }
      }
     }
    }
   }
  }
 }
}