<template >
  <div class="PastCourse__gallery" v-if="images.length > 0">
    <h4 class="PastCourse__gallery__title">Image Gallery</h4>
    <figure class="PastCourse__document__figure" v-for="i in [currentIndex]" :key="i">
      <div
        class="PastCourse__gallery__imageWrapper"
        :style="{
    backgroundImage: 'url(\'' + currentImg + '\')',
    backgroundPosition: 'center center',
    backgroundSize: 'cover'
    }"
      ></div>
    </figure>
    <div class="PastCourse__gallery__buttons">
      <div class="PastCourse__gallery__arrows">
        <button class="PastCourse__gallery__arrow --left" @click="prev" v-if="currentIndex > 0">
          <arrowRight />
        </button>
        <strong>{{currentIndex + 1}}</strong>
        / {{images.length}}
        <button
          class="PastCourse__gallery__arrow --right"
          @click="next"
          v-if="(currentIndex+1) < images.length"
        >
          <arrowRight />
        </button>
      </div>
      <a :href="currentImg" download class="studentDetails__button">Download image</a>
    </div>
  </div>
</template>

<script>
import arrowRight from "../../icons/arrowRight.vue";
export default {
  components: {
    arrowRight
  },
  props: ["images"],
  data() {
    return {
      currentIndex: 0,
    };
  },
  methods: {
    next: function() {
      this.currentIndex += 1;
    },
    prev: function() {
      this.currentIndex -= 1;
    }
  },
  computed: {
    currentImg: function() {
      return this.images[Math.abs(this.currentIndex) % this.images.length];
    }
  }
};
</script>