<template>
  <div v-loader="isWorking">
    <div class="MyBookings__section MyBookings__courseApplications">
      <div
        v-for="(pastCoursesYear, year) in pastCoursesGroupedByMonth"
        v-bind:key="year"
        class="PastCourses__wrapper"
      >
        <header>
          <label
            class="MyBookings__label"
          >{{ year }} Courses ({{ pastCoursesYear.length }})</label>
        </header>
        <router-link
          class="MyBookings__courseApplication"
          v-for="pastCourse in pastCoursesYear"
          v-bind:key="pastCourse.id"
          :to="getPastOrderUrl(pastCourse.order_id, pastCourse.product_id, pastCourse.variation_id)"
        >
          <div class="MyBookings__courseApplication__date">
            <h3 class="MyBookings__courseApplication__days">
              {{ pastCourse.dates.startDate.day }} - {{ pastCourse.dates.endDate.day }}
            </h3>
            <h3 class="MyBookings__courseApplication__month">
              {{ pastCourse.dates.startDate.month.slice(0, 3) }}
            </h3>
          </div>
          <div class="MyBookings__courseApplication__copy">
            <h2 class="MyBookings__courseApplication__title" v-html="pastCourse.title"></h2>
            <h3 class="MyBookings__courseApplication__place" v-html="pastCourse.relatedLocations[0]"></h3>
            <h3 class="MyBookings__courseApplication__person">
              {{ pastCourse.acf.student_details.first_name }} {{ pastCourse.acf.student_details.last_name }}
            </h3>
          </div>
          <div class="MyBookings__courseApplication__progres">
            <h5>{{view}}</h5>
            <div class="MyBookings__requiredTask__arrowRight">
              <arrowRight />
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";
import PastCoursesHelper from "../../../../helpers/PastCoursesHelper";

export default {
  name: "PastCoursesMain",
  components: {
    arrowRight
  },
  data() {
    return {
      isWorking: true,
      value: null,
      view: "View details",
      pastCourses: [],
    };
  },
  created() {
    this.getPastOrders();
  },
  computed: {
    pastCoursesGroupedByMonth() {
      return PastCoursesHelper.groupCoursesByYear(this.pastCourses);
    },
  },
  methods: {
    setWorking(bool = true) {
      this.isWorking = bool;
    },
    getPastOrderUrl(pastCourseId, pastCourseProductId, pastCourseVariationId) {
      return "/past-courses/" + pastCourseId + "/" + pastCourseProductId + "/" + pastCourseVariationId + "/past-course";
    },
    getPastOrders() {
      this.setWorking();
      AccountService.getPastOrders().then(res => {
        this.pastCourses = res.data && res.data.length ? res.data.filter(item => item.dates) : [];
        this.setWorking(false);
      }).catch(e => {
        this.setWorking(false);
      });
    }
  }
};
</script>