 <template >
  <div class="PastCourse" v-loader="isWorking">
    <header class="MyBookings__meta">
      <div class="MyBookings__meta__dateArrow">
        <div class="MyBookings__meta__arrow --arrowLeft" v-on:click="$router.back()">
          <arrowRight />
        </div>
        <div class="MyBookings__meta__date">
          <calendar />
          <h3 class="MyBookings__courseAplication__days">
            {{ pastCourse.dates && pastCourse.dates.startDate.day }}
            -
            {{ pastCourse.dates && pastCourse.dates.endDate.day }}
          </h3>
          <h3
            class="MyBookings__courseAplication__month"
          >{{ pastCourse.dates && pastCourse.dates.startDate.month }}</h3>
        </div>
      </div>
      <div class="MyBookings__meta__copy">
        <h2 class="MyBookings__courseAplication__title">{{ pastCourse.title }}</h2>
        <h3
          class="MyBookings__courseAplication__place"
        >{{ pastCourse.relatedLocations && pastCourse.relatedLocations[0] }}</h3>
        <!-- <h3 class="MyBookings__courseAplication__person">{{course.person}}</h3> -->
      </div>
      <div class="MyBookings__meta__info">
        <a
          :href="pastCourse.certificateDownloadLink"
          class="studentDetails__button --cancel --showDesktop"
          download
          v-if="pastCourse.certificateDownloadLink"
        >
          Download certificate
        </a>
      </div>
    </header>
    <div class="PastCourse__wrapper">
      <div class="PastCourse__leftColumn" v-if="pastCourse.hasEnglishAssessmentReportCard || pastCourse.hasReportCard">
        <h3 class="PastCourse__title">Course Documents</h3>
        <router-link class="PastCourse__document" :to="reportCardLink" v-if="pastCourse.hasReportCard">
          <span class="PastCourse__document__title">
            <clipboard />Course Report Card
          </span>
           <arrowRight />
        </router-link>
        <router-link class="PastCourse__document" :to="reportCardEnglishAssessmentLink" v-if="pastCourse.hasEnglishAssessmentReportCard">
          <span class="PastCourse__document__title">
            <clipboard />English Assessment Report Card
          </span>
          <arrowRight />
        </router-link>
        <imageGallery :images="pastCourse.gallery && pastCourse.gallery.images" />
      </div>
      <review
        v-if="(!pastCourse.review || !pastCourse.review.rating)"
        :isWorking="reviewIsWorking"
        @onSubmitReview="handleSubmitReview"
      />
      <review-read-only
        v-if="pastCourse.review && pastCourse.review.rating"
        :rating="pastCourse.review.rating"
        :video="pastCourse.review.video"
        :type="pastCourse.review.type"
        :message="pastCourse.review.message"
      />
    </div>
  </div>
</template>

<script>
import arrowRight from "../../icons/arrowRight.vue";
import calendar from "../../icons/calendar.vue";
import alert2 from "../../icons/alert2.vue";
import play from "../../icons/play.vue";
import document from "../../icons/document.vue";
import clipboard from "../../icons/clipboard.vue";
import imageGallery from "./imageGallery.vue";
import ReviewReadOnly from "./ReviewReadOnly.vue";
import Review from "./Review";
import AccountService from "../../../../services/AccountService";
import StarRating from "vue-star-rating";

export default {
  name: "PastCourse",
  components: {
    arrowRight,
    calendar,
    StarRating,
    document,
    clipboard,
    play,
    alert2,
    imageGallery,
    Review,
    ReviewReadOnly
  },
  data() {
    return {
      value: null,
      rating: null,
      isWorking: true,
      reviewIsWorking: false,
      view: "View details",
      pastCourse: {},
      copy: {
        course: "Course Info"
      }
    };
  },
  created() {
    this.getPastCourse();
  },
  computed: {
    reportCardLink() {
      const { orderId, productId, variationId } = this.$route.params;
      return "/past-courses/" + orderId + "/" + productId + "/" + variationId + "/report-card";
    },
    reportCardEnglishAssessmentLink() {
      const { orderId, productId, variationId } = this.$route.params;
      return "/past-courses/" + orderId + "/" + productId + "/" + variationId + "/english-assessment-report-card";
    }
  },
  methods: {
    updateActive(value) {
      this.$emit("update", value);
    },
    setWorking(bool = true) {
      this.isWorking = bool;
    },
    getPastCourse() {
      const { orderId, productId, variationId } = this.$route.params;
      this.setWorking();
      AccountService.getPastCourse(orderId, productId, variationId)
        .then(res => {
          console.log("RES", res);
          this.pastCourse = res.data;
          this.setWorking(false);
        })
        .catch(err => {
          this.setWorking(false);
          console.log("ERR", err);
        });
    },
    handleSubmitReview(review) {
      const { rating, message, type } = review; 
      const { orderId, productId, variationId } = this.$route.params;
      this.reviewIsWorking = true;
      AccountService.postPastCourseReview({
        rating,
        message,
        type,
      }, orderId, productId, variationId).then(res => {
        this.$notify({
          group: 'main',
            title: 'Success',
            text: "Your review has been submitted successfully",
            type: "success",
        });
        this.getPastCourse();
        this.reviewIsWorking = false;
      }).catch(err => {
        self.$notify({
            group: 'main',
            title: 'Error',
            text: "There was an issue posting your review, please try again",
            type: "error",
          })
        this.reviewIsWorking = false;
      })
    }
  }
};
</script>