<template >
  <div v-loader="isWorking">
    <div class="PastCourses__reportCard">
      <header class="studentDetails__header">
        <div class="studentDetails__header__wrapper">
          <button class="studentDetails__goBack" v-on:click="$router.back()">
            <arrowRight />
          </button>
          <h1 class="studentDetails__title" v-html="title"></h1>
        </div>

        <a
          class="studentDetails__button --cancel --showDesktop"
          download
          :href="reportCardDownload"
          v-if="reportCardDownload"
        >
          {{this.copy.button}}
        </a>
      </header>
      <h2 class="PastCourses__reportCard__title" v-html="copy.assesmentTitle"></h2>
      <h3 class="PastCourses__reportCard__subtitle" v-html="copy.copy"></h3>
      <div class="PastCourses__reportCard__wrapper">
        <div class="PastCourses__reportCard__leftColumn">

          <div class="PastCourses__reportCard__skill" v-for="card in reportCards" v-bind:key="card.id">
            <header class="PastCourses__reportCard__skill__header">
              <h4 class="PastCourses__reportCard__skill__title" v-html="card.title"></h4>
              <div class="PastCourses__reportCard__skill__grade">
                <h5 class="PastCourses__reportCard__skill__grade__title">Grade: {{card.grade}}</h5>
                <ul class="PastCourses__reportCard__skill__grade__points">
                  <li
                    class="PastCourses__reportCard__skill__grade__point"
                    v-for="(grade,index) in card.grade"
                    v-bind:key="index"
                    :class="{'active': index < card.grade}"
                  ></li>
                </ul>
              </div>
            </header>
            <p class="PastCourses__reportCard__skill__grade__copy" v-html="card.description"></p>
          </div>

        </div>
        <div class="PastCourses__reportCard__rightColumn">
          <div class="PastCourses__reportCard__teacher" v-if="tutor.id">
            <figure class="PastCourses__reportCard__teacher__image">
              <img :src="tutor.image" />
            </figure>
            <h2 class="PastCourses__reportCard__teacher__name">{{tutor.name}}</h2>
            <p class="PastCourses__reportCard__teacher__copy">{{tutor.overall_comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";

export default {
  name: "ReportCard",
  components: {
    arrowRight
  },
  props: ["type"],
  created() {
    this.getReportCard();
  },
  computed: {
    title() {
      return this.type === "english-assessment" ?
        "English Assessment Report Card" :
        "Report Card";
    }
  },
  data() {
    return {
      isWorking: true,
      value: null,
      reportCards: [],
      reportCardDownload: null,
      tutor: {},
      view: "View details",
      copy: {
        button: "Download report card",
        assesmentTitle: "ASSESSMENT",
        copy:
          "6 Outstanding - 5 Excellent  - 4 Good -  3 Fair -  2 Needs Some Work  - 1 Needs Considerable Work"
      },
      skills: [
        {
          id: 0,
          title: "Speaking",
          grade: 6,
          copy:
            "orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."
        },
        {
          id: 1,
          title: "Listening",
          grade: 4,
          copy:
            "orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."
        },
        {
          id: 2,
          title: "Reading",
          grade: 5,
          copy:
            "orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."
        },
        {
          id: 3,
          title: "Writing",
          grade: 6,
          copy:
            "orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."
        },
        {
          id: 4,
          title: "Participation",
          grade: 3,
          copy:
            "orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."
        }
      ],
      teacher: {
        image:
          "https://pennwriters.org/wp-content/uploads/2014/05/bill-gates-wealthiest-person.jpg",
        name: "Dr. Paul Gregory",
        position: "TEACHER",
        subtitle: "Overall Comments",
        copy:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum",
        signature:
          "https://www.graphic.com.gh/images/2017/july/july18/signature.png"
      }
    };
  },
  methods: {
    updateActive() {
      this.$emit("update", "PastCourse");
    },
    getReportCard() {
      const { orderId, productId, variationId } = this.$route.params;
      const { type } = this;
      this.isWorking = true;

      AccountService.getReportCard(orderId, productId, variationId, type).then(res => {
        console.log("RES", res);
        this.reportCards = res.data.report_cards;
        this.tutor = res.data.tutor;
        this.reportCardDownload = res.data.report_card_download,
        console.log("res.data.tutor", res.data.tutor)
        this.isWorking = false;
      }).catch(err => {
        console.log("err", err);
        this.isWorking = false;
      })
    }
  }
};
</script>