<template>
  <div class="PastCourse__rightColumn" v-loader="isWorking">
    <h4 class="PastCourse__subtitle">YOUR REVIEW</h4>
    <h5 class="PastCourse__copy">How was your experience?</h5>
    <h3 class="PastCourse__title">Your feedback is very important to us.</h3>
    <star-rating
      :show-rating="false"
      v-model="rating"
      v-bind:star-size="22"
      inactive-color="#e1e1e1"
      active-color="#b89e66"
      :rounded-corners="false"
      :padding="1"
    ></star-rating>
    <form-element-error v-if="!rating && submitAttempted" message="Please choose a rating" />
    <button class="PastCourse__button --video btn lightbox-93202555809358">
      <play /> Capture or upload your video
    </button>
    <span class="PastCourse__alert">
      <alert2 /> 200MB Max. file size
    </span>
    <div class="PastCourse__buttons">
      <button
        class="PastCourse__button"
        :class="{ '--active': type === 'student' }"
        @click="handleSelectType('student')"
      >
        I am a student
        </button>
      <button
        class="PastCourse__button"
        :class="{ '--active': type === 'parent' }"
        @click="handleSelectType('parent')"
      >
        I am a parent/guardian
      </button>
    </div>
    <label class="studentDetails__label">Your message</label>
    <textarea
      class="studentDetails__input studentDetails__textarea"
      :class="{ FormInputWithError: !message.trim() && submitAttempted }"
      v-model="message"
    ></textarea>
    <form-element-error v-if="!message.trim() && submitAttempted" message="Please enter a message" />
    <button class="studentDetails__button --save" @click="handleSubmit">Submit review</button>
  </div>
</template>

<script>
import play from "../../icons/play.vue";
import AccountService from "../../../../services/AccountService";
import FormElementError from "../FormElementError";
import StarRating from "vue-star-rating";
import close from "../../icons/close";
import alert2 from "../../icons/alert2";

export default {
  name: "Review",
  components: {
    StarRating,
    play,
    FormElementError,
    close,
    alert2,
  },
  props: ["isWorking"],
  data() {
    return {
      rating: 0,
      video: "",
      type: "student",
      message: "",
      submitAttempted: false,
    };
  },
  methods: {
    handleSelectType(type) {
      this.type = type;
    },
    handleSubmit() {
      const { rating, message, type } = this; 
      this.submitAttempted = true
      if (!message.trim() || !rating) return;

      this.$emit("onSubmitReview", {
        rating,
        type,
        message
      });
    }
  }
};
</script>