<template>
  <div class="PastCourse__rightColumn" v-loader="isWorking">
    <h4 class="PastCourse__subtitle">YOUR REVIEW</h4>
    <star-rating
      :show-rating="false"
      v-model="rating"
      v-bind:star-size="22"
      inactive-color="#e1e1e1"
      active-color="#b89e66"
      :rounded-corners="false"
      :padding="1"
      read-only
    ></star-rating>
    <div class="PastCourse__message">
      {{ message }}
    </div>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";

export default {
  name: "Review",
  props: ["isWorking", "review", "rating", "type", "message"],
  components: {
    StarRating,
  },
};
</script>