.frontpage {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;

    &__hero {
        width: 100%;
        height: 100vh;
        display: inline-block;
        overflow: hidden;

        &__background {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            display: inline-block;

            video {
                width: 100%;
                height: 100vh;
                object-fit: cover;
            }

            &:after {
                content: "";
                width: 100%;
                height: 100vh;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                @include bg-opacity($color-dark,0.5);
                z-index: 1;
            }
        }

        &__text {
            width: 80%;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;

            &__brand {
                margin: 0 auto 10px auto;

                figure {
                    img {
                        width: auto;
                        max-height: 200px;
                    }
                }
            }

            h1 {
                color: $color-white;
                font-size: 65px;
                line-height: 65px;
                letter-spacing: 1px;
                position: relative;
                text-shadow: 2px 2px 0px rgba($color-red,1);
            }

            h2 {
                color: $color-white;
                font-size: 50px;
                line-height: 50px;
                letter-spacing: 1px;
                position: relative;
                text-shadow: 2px 2px 0px rgba($color-red,1);
            }

            .button {
                margin: 35px auto 0 auto;
                display: inline-block;
                float: none;
                clear: both;

                span {
                    font-weight: 600;
                }
            }
        }

        .btn-scroll-down {
            position: absolute;
            bottom: 20px;
            left: 50%;
            z-index: 3;
            transform: translateX(-50%);
            font-weight: 600;
            color: $color-white;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;

            span {
                width: 100%;
                display: block;
            }

            img {
                width: 16px;
                height: auto;
                display: inline-block;
            }

            &:hover {
                bottom: 25px;
            }
        }
    }
}