.subpage {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;

    &__header {
        width: 100%;
        background: $color-dark;
        display: flex;
        border-bottom: 1px solid $color-darker;

        &__brand {
            width: 200px;
            padding: 20px;

            img {
                max-width: 100%;
                height: auto;
                position: relative;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &__banner {
            @include calc( width, '100% - 200px');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            position: relative;

            h1 {
                width: 100%;
                height: 60px;
                padding: 0 25px;
                display: inline-block;
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                text-align: left;
                @include bg-opacity($color-yellow,0.85);

                a {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    line-height: 60px;
                    color: $color-red;
                    text-decoration: none;
                    text-shadow: 1px 1px $color-white;
                }
            }
        }
    }
}