<script>
import axios from "axios";
export default {
  name: "Filters",
  props: ["filtersdata"],
  data() {
    return {
      testimonials_api_url: this.filtersdata.testimonials_api_url,
      testimonials: [],
      selectedLocation: "",
      selectedNationality: "",
      selectedCategory: "",
      search: "",
      angle_down: this.filtersdata.angle_down,
      search_black: this.filtersdata.search_black,
      locations_tr: this.filtersdata.locations_tr,
      nationality_tr: this.filtersdata.nationality_tr,
      course_type: this.filtersdata.course_type,
      search_label: this.filtersdata.search_label,
      search_results: this.filtersdata.search_results,
      testimonialsPageUrl: ""
    };
  },
  created: function() {
    this.loadtestimonials();
  },
  methods: {
    loadtestimonials: function() {
      this.status = "Loading...";
      let vm = this;
      axios
        .get(this.testimonials_api_url)
        .then(function(response) {
          vm.testimonials = response.data;
        })
        .catch(function(error) {
          vm.status = "An error" + error;
        });
    },
    clear() {
      (this.selectedLocation = ""),
        (this.selectedNationality = ""),
        (this.selectedCategory = "");
    },
    clearLocation() {
      this.selectedLocation = "";
    },
    clearNationality() {
      this.selectedNationality = "";
    },
    clearCat() {
      this.selectedCategory = "";
    }
  },
  computed: {
    filteredTestimonials: function() {
      let searchLocation = this.selectedLocation;
      let searchNationality = this.selectedNationality;
      let searchCategory = this.selectedCategory;
      let searchMe = this.search;
      return this.testimonials.filter(function(filter_post) {
        return (
          filter_post.location[0].post_title.indexOf(searchLocation) !== -1 &&
          filter_post.nationality[0].post_title.indexOf(searchNationality) !==
            -1 &&
          filter_post.category.indexOf(searchCategory) !== -1 &&
          filter_post.title.toLowerCase().includes(searchMe.toLowerCase())
        );
      });
    },
    locations: function() {
      let locations = this.posts.map(post => {
        return post.location[0].post_title;
      });
      locations = Array.from(new Set(locations));
      return locations;
    },
    nationalities: function() {
      let nationalities = this.posts.map(post => {
        return post.nationality[0].post_title;
      });
      nationalities = Array.from(new Set(nationalities));
      return nationalities;
    },
    categories: function() {
      let categories = this.posts.map(post => {
        return post.category;
      });
      categories = Array.from(new Set(categories));
      return categories;
    },
    getCourseUrl(selectedLocation, selectedNationality, selectedCategory) {
      return (
        this.testimonialsPageUrl +
        "&location=" +
        "this.selectedLocation" +
        "&nationality=" +
        "this.selectedNationality" +
        "&category=" +
        this.selectedCategory
      );
    }
  }
};
</script>

<template>
  <div class="Filters">
    <div class="Filters__single">
      <label>{{location}}</label>
      <select id="selectLocation" v-model="selectedLocation">
        <option value disabled selected hidden>Select location</option>
        <option value="all">All</option>
        <option
          v-for="post in locationRanges"
          v-bind:value="post"
          v-bind:key="`location-${post}`"
        >{{post}}</option>
      </select>
      <img v-bind:src="angle_down" />
    </div>
    <div class="Filters__single">
      <label>{{nationality}}</label>
      <select id="selectNationality" v-model="selectedNationality">
        <option value disabled selected hidden>Select nationality</option>
        <option value="all">All</option>
        <option
          v-for="post in nationalities"
          v-bind:value="post"
          v-bind:key="`nationality${post}`"
        >{{post}}</option>
      </select>
      <img v-bind:src="angle_down" alt />
    </div>
    <div class="Filters__single">
      <label>{{course_type}}</label>
      <select id="selectCategory" v-model="selectedCategory">
        <option value disabled selected hidden>Select course</option>
        <option value="all">All</option>
        <option
          v-for="post in categories"
          v-bind:value="post"
          v-bind:key="`course-${post}`"
        >{{post}}</option>
      </select>
      <img v-bind:src="angle_down" alt />
      <a :href="getCourseUrl" class="button">{{search_results}}</a>
    </div>
  </div>
</template>
