<template >
  <div class="Account__hero" :style="background">
    <div class="Account__hero__overlay">
      <div class="Account__hero__inner">
        <p class="Account__hero__title" v-html="herocontent.hero_title"></p>
        <h1 class="Account__hero__subtitle" v-html="subtitle"></h1>
        <div class="Account__hero__content" v-html="herocontent.hero_copy"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "AccountHero",
  props: ["subtitle", "herocontent"],
  computed: {
    background() {
      return {
        backgroundPosition: "center",
        backgroundSize: "cover",
        backgroundRepeat: "none",
        backgroundImage: `url(${this.herocontent.featuredImage})`
      };
    }
  }
};
</script>
