<template >
  <div class="Account">
    <notifications group="main" />
    <AccountHero
      :title="hero.title"
      :subtitle="hero.subtitle"
      :content="hero.content"
      :herocontent="herocontent"
    />
    <div class="Account__tabs">
      <AccountNavigation :tabs="tabs" />
      <div class="Account__tabs__content">
        <router-view></router-view>
      </div>
    </div>
    <footer class="Account__footer">
      <button class="Account__footer__button">Terms & conditions</button>
    </footer>
  </div>
</template>


<script>
import MyBookings from "./elements/MyBookings";
import ParentDetails from "./elements/ParentDetails";
import AccountDetails from "./elements/AccountDetails";
import PastCourses from "./elements/PastCourses";
import AccountNavigation from "./AccountNavigation";
import AccountHero from "./AccountHero";
import AccountService from "../../services/AccountService";

export default {
  name: "Account",
  props: ["herocontent"],
  components: {
    MyBookings,
    ParentDetails,
    AccountDetails,
    PastCourses,
    AccountNavigation,
    AccountHero
  },
  data() {
    return {
      hero: {
        subtitle: ""
      },
      tabs: [
        {
          title: "My Bookings",
          path: "/my-bookings"
        },
        {
          title: "Parent Details",
          path: "/parent-details"
        },
        {
          title: "Account Details",
          path: "/account-details"
        },
        {
          title: "Past Courses",
          path: "/past-courses"
        }
      ]
    };
  },
  methods: {
    getAccountData: async function() {
      try {
        const response = await AccountService.getAccountUserdata();
        this.hero.subtitle = `Welcome, ${response.data.userdata.display_name}`;
      } catch (e) {
        console.log(e);
      }
    },
    changeTab(index) {
      this.currentTab = index;
    },
    handlePasswordChangeSuccessful() {
      this.changeTab(0);
    }
  },
  mounted: function() {
    this.getAccountData();
  }
};
</script>

<style lang="scss">
html {
    overflow: auto !important;
}
</style>
