<template >
  <div class="Account__tabs__navigation">
    <router-link
      v-bind:to="tab.path"
      class="Account__tabs__navigation__element"
      v-for="(tab) in tabs"
      v-bind:key="tab.path"
    >
      {{ tab.title }}
    </router-link>
    <div
      class="Account__tabs__navigation__element Account__tabs__navigation__element--logout"
      @click="handleLogout"
    >Logout</div>
  </div>
</template>

<script>
export default {
  name: "AccountNavigation",
  props: ["tabs"],
  methods: {
    handleLogout() {
      window.location.replace(
        `${wpApiSettings.myAccountlogout}`
      );
    }
  }
};
</script>
