<template>
  <form class="bookingForm__steps__form" @input="submit">
    <h4 class="bookingPayment__subtitle" v-html="dataStep.billing_address"></h4>
    <Input
      v-model="$v.billingForm.firstName.$model"
      :label="dataStepThree.first_name"
      :error="$v.billingForm.firstName.$error"
      :placeholder="dataStepThree.enter_first_name_here"
    />
    <Input
      v-model="$v.billingForm.lastName.$model"
      :label="dataStepThree.last_name"
      :error="$v.billingForm.lastName.$error"
      :placeholder="dataStepThree.enter_last_name_here"
    />
    <Input
      v-model="$v.billingForm.adressLine1.$model"
      :label="dataStepThree.address_line_1"
      :error="$v.billingForm.adressLine1.$error"
      :placeholder="dataStepThree.enter_address_line_1"
    />
    <Input
      v-model="$v.billingForm.adressLine2.$model"
      :label="dataStepThree.address_line_2"
      :error="$v.billingForm.adressLine2.$error"
      :placeholder="dataStepThree.enter_address_line_2"
    />
    <Input
      v-model="$v.billingForm.cityTown.$model"
      :label="dataStepThree.city__town"
      :error="$v.billingForm.cityTown.$error"
      :placeholder="dataStepThree.enter_city__town"
    />
    <Input
      v-model="$v.billingForm.postalCode.$model"
      :label="dataStepThree.zip__postal_code"
      :error="$v.billingForm.postalCode.$error"
      :placeholder="dataStepThree.enter_zip__postal_code"
    />
    <div class="bookingForm__steps__input__container">
      <label class="bookingForm__steps__label" v-html="dataStepThree.country"></label>
      <p class="bookingForm__steps__error" v-if="$v.billingForm.country.$error">This field is required</p>
      <v-select
        v-model="billingForm.country"
        :options="nationalities"
        :class="{error: $v.billingForm.country.$error}"
        :placeholder="!!dataStepThree && dataStepThree.enter_country"
        label="country"
      ></v-select>
    </div>
    <div class="bookingForm__steps__input__container">
      <label class="bookingForm__steps__label" v-html="dataStepThree.contact_number"></label>
      <p class="bookingForm__steps__error" v-if="$v.billingForm.areas.$error || $v.billingForm.contactNumber.$error">This field is required</p>
      <div class="bookingForm__steps__inputWrapper">
        <v-select
          v-model="billingForm.areas"
          :class="{error: $v.billingForm.areas.$error}"
          class="smallerWidth"
          :options="!!dataStepThree && dataStepThree.areas"
          :placeholder="dataStepThree.area_code_placeholder"
          label="area"
        ></v-select>
        <Input
          v-model="$v.billingForm.contactNumber.$model"
          :label="dataStepThree.zip__postal_code"
          :error="$v.billingForm.contactNumber.$error"
          :placeholder="dataStepThree.contact_number_placeholder"
          :container="false"
        />
      </div>
    </div>
    <div class="bookingForm__steps__checkbox">
      <input
        class="bookingForm__steps__field__checkbox"
        type="checkbox"
        v-model="isDelivery"
        id="delivery"
      />
      <label class="bookingForm__steps__field__label is-custom" for="delivery">Tick for different delivery address</label>
    </div>
    <template v-if="isDelivery">
      <h4 class="bookingPayment__subtitle">DELIVERY ADDRESS</h4>
      <Input
        v-model="$v.deliveryForm.firstName.$model"
        :label="dataStepThree.title_label"
        :error="$v.deliveryForm.firstName.$error"
        :placeholder="dataStepThree.enter_first_name_here"
      />
      <Input
        v-model="$v.deliveryForm.lastName.$model"
        :label="dataStepThree.last_name"
        :error="$v.deliveryForm.lastName.$error"
        :placeholder="dataStepThree.enter_last_name_here"
      />
      <Input
        v-model="$v.deliveryForm.adressLine1.$model"
        :label="dataStepThree.address_line_1"
        :error="$v.deliveryForm.adressLine1.$error"
        :placeholder="dataStepThree.enter_address_line_1"
      />
      <Input
        v-model="$v.deliveryForm.adressLine2.$model"
        :label="dataStepThree.address_line_2"
        :error="$v.deliveryForm.adressLine2.$error"
        :placeholder="dataStepThree.enter_address_line_2"
      />
      <Input
        v-model="$v.deliveryForm.cityTown.$model"
        :label="dataStepThree.city__town"
        :error="$v.deliveryForm.cityTown.$error"
        :placeholder="dataStepThree.enter_city__town"
      />
      <Input
        v-model="$v.deliveryForm.postalCode.$model"
        :label="dataStepThree.zip__postal_code"
        :error="$v.deliveryForm.postalCode.$error"
        :placeholder="dataStepThree.enter_zip__postal_code"
      />
      <div class="bookingForm__steps__input__container">
        <label class="bookingForm__steps__label" v-html="dataStepThree.country"></label>
        <p class="bookingForm__steps__error" v-if="$v.deliveryForm.country.$error">This field is required</p>
        <v-select
          v-model="deliveryForm.country"
          :options="nationalities"
          :class="{error: $v.deliveryForm.country.$error}"
          :placeholder="!!dataStepThree && dataStepThree.enter_country"
          label="country"
        ></v-select>
      </div>
      <div class="bookingForm__steps__input__container">
        <label class="bookingForm__steps__label" v-html="dataStepThree.contact_number"></label>
        <p class="bookingForm__steps__error" v-if="$v.deliveryForm.areas.$error || $v.deliveryForm.contactNumber.$error">This field is required</p>
        <div class="bookingForm__steps__inputWrapper">
          <v-select
            v-model="deliveryForm.areas"
            :class="{error: $v.deliveryForm.areas.$error}"
            class="smallerWidth"
            :options="!!dataStepThree && dataStepThree.areas"
            :placeholder="dataStepThree.area_code_placeholder"
            label="area"
          ></v-select>
          <Input
            v-model="$v.deliveryForm.contactNumber.$model"
            :label="dataStepThree.zip__postal_code"
            :error="$v.deliveryForm.contactNumber.$error"
            :placeholder="dataStepThree.contact_number_placeholder"
            :container="false"
          />
        </div>
      </div>
    </template>
  </form>
</template>
 
<script>
import { required, minLength } from "vuelidate/lib/validators";

import Input from "./../Input";

const store = function(self) {
  return self.$root.store;
}

export default {
  props: {
    bookingdata: null,
    nationalities: null
  },
  components: { Input },
  data() {
    const store = this.$root.store;
    const parentDetails = store.parentDetails;

    return {
      value: null,
      store,
      isDelivery: false,
      dataStep: store.bookingdata.step_five,
      billingForm: {
        firstName: parentDetails.firstName,
        lastName: parentDetails.lastName,
        adressLine1: parentDetails.adressLine1,
        adressLine2: parentDetails.adressLine2,
        cityTown: parentDetails.cityTown,
        postalCode: parentDetails.postalCode,
        country: parentDetails.country,
        areas: parentDetails.areas,
        contactNumber: parentDetails.contactNumber
      },
      deliveryForm: {
        firstName: parentDetails.firstName,
        lastName: parentDetails.lastName,
        adressLine1: parentDetails.adressLine1,
        adressLine2: parentDetails.adressLine2,
        cityTown: parentDetails.cityTown,
        postalCode: parentDetails.postalCode,
        country: parentDetails.country,
        areas: parentDetails.areas,
        contactNumber: parentDetails.contactNumber
      }
    };
  },
  validations: {
    billingForm: {
      firstName: {required},
      lastName: {required},
      adressLine1: {required},
      adressLine2: {required},
      cityTown: {required},
      postalCode: {required},
      country: {required},
      areas: {required},
      contactNumber: {required},
    },
    deliveryForm: {
      firstName: {required},
      lastName: {required},
      adressLine1: {required},
      adressLine2: {required},
      cityTown: {required},
      postalCode: {required},
      country: {required},
      areas: {required},
      contactNumber: {required},
    }
  },
  mounted() {
    this.$emit("formChange", {
      billingForm: this.billingForm,
      deliveryForm: this.deliveryForm,
    });
  },
  computed: {
    dataStepThree() {
      return this.store.bookingdata.step_three;
    }
  },
  methods: {
    submit(event) {
      this.$emit("formChange", {
        billingForm: this.billingForm,
        deliveryForm: this.deliveryForm,
      });
    }
  }
};
</script>
