{% extends 'base.twig' %}
{% set coursesdata = {
    'welcoming' : welcoming,
    'title' : title,
    'text' : text,
    'lines': function("images_path", "course_lines.png"),
    'angle_down': function("images_path", "angle_down.svg"),
    'close': function("get_svg", "close.svg"),
    'years' : options.translation_years,
    'clear_filters': options.translation_clearFilters,
    'age_range': options.translation_ageRange,
    'locations_tr': options.translation_locations,
    'course_type': options.translation_courseType,
    'course_subject': options.translation_courseSubject,
    'from_url' : courseSearch,
    'search_black': function("images_path", "search_black.svg"),
    'search_label': options.translation_search,
    'baseUrl': site.url
} %}

{% block content %}
    <main>
        <our-courses :coursesdata='{{ coursesdata|json_encode }}'></our-courses>
    </main>
{% endblock %}
