{% extends 'base.twig' %}
{% set ageRange = post.terms('age') %}

{% block content %}
    <main id="SingleCourse" class="SingleCourse post-type-{{ post.post_type }}">
        <div class="SingleCourse__menu">
            <h1 class="SingleCourse__menu__title">{{ post.title }}</h1>
            <p class="SingleCourse__menu__school">{{ post.course_schoolType }}</p>
            <p>{% for age in ageRange  %}{{age.name}}{% if not loop.last %},{% endif %} {% endfor %}
                <span>{{ __('year-olds ', 'bucksmore')}}</p>
                <div class="SingleCourse__menu__list">
                    {% for item in post.course_menuCreator %}
                        <a data-target=".{{ item.id }}" class="menu-item menu-item-{{item.id}}">{{ item.title }}</a>
                    {% endfor %}
                </div>
                <a href="/booking?cid={{ post.ID }}" class="button is-course">{{ __('Apply now ', 'bucksmore') }}</a>

                <a href="" class="button is-course is-transparent" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/bucksmore/course-consultation?background_color=0f2245&text_color=ffffff&primary_color=b89e66&month=2019-10'});return false;">{{ __('Book online consultation', 'bucksmore')}}</a>
                <!-- Calendly link widget end -->

                <div class="SingleCourse__close">
                    <a class="SingleCourse__close__link" href="{{site.url}}/courses/">
                        <span class="icon SvgContainer" aria-hidden="true">
                            {{ function("get_svg", "close.svg") }}
                        </span>
                    </a>
                </div>

                <div
                    id="save-{{post.id}}"
                    class="SingleCourse__save"
                    data-feed='{"id": "{{post.id}}", "title": "{{post.title}}", "type": "{{escaped_course_schoolType}}", "age": "{{ageRange[0].name}}", "link": "{{post.link}}"}'
                >
                    <p class="icon SvgContainer">{{ function("get_svg", "heart_course.svg") }}</p>
                    <p class="favourite-text">{{ __('Save course', 'bucksmore') }}</p>
                    <p class="favourite-text-saved hidden">{{ __('Saved course', 'bucksmore') }}</p>
                </div>
                <div class="SingleCourse__lines" style="background-image: url(' {{theme.link}}/resources/assets/images/course_lines.png')"></div>
            </p>
        </div>
        <div class="SingleCourse__content custom-scrollbar">
            <div class="SingleCourse__content__image" style="background-image: url(' {{ TimberImage(post.thumbnail)|resize(1410, 620) }}')"></div>
            {% include "page-builder.twig" %}
        </div>
    </main>
{% endblock %}
