<script>
import axios from "axios";

export default {
  name: "BoxIntegration",
  props: ["boxdata"],
  data() {
    return {
      email: "",
      baseUrl: this.boxdata.baseUrl,
      isUserAuthenticated: false,
      isUserFound: false,
      isWorking: false,
      isError: false,
      isLoggedOut: false,
      logo: this.boxdata.logo,
      title: this.boxdata.title
    };
  },
  methods: {
    /**
     * logging in to our custom api
     * verify is email is in db and if is active
     */
    getLoginRequest: async function() {
      try {
        this.isWorking = true;
        this.userNotAllowed = false;
        this.isError = false;
        const payload = { email: this.email };
        const response = await axios.post(
          `${this.baseUrl}/wp-json/custom/v1/box`,
          payload
        );
        const { status } = response.data;
        status ? this.getLoginSuccess() : this.getLoginFailed();
      } catch (e) {
        // show message to user if network error
        this.isError = true;
      } finally {
        // always hide spinner
        this.isWorking = false;
      }
    },
    getLoginSuccess: function() {
      this.isLoggedOut = false;
      // if success we login
      this.isUserAuthenticated = true;
      // localStorage.isUserAuthenticated = JSON.stringify(true);
      this.isUserFound = true;
    },
    getLoginFailed: function() {
      // request success but user not found or not matching
      this.isUserAuthenticated = false;
      // localStorage.isUserAuthenticated = JSON.stringify(false);
      this.isUserFound = false;
    },
    getLogoutRequest: function() {
      this.isUserAuthenticated = false;
      this.isUserFound = true;
      // localStorage.isUserAuthenticated = JSON.stringify(false);
      this.email = "";
      this.isLoggedOut = true;
    }
  }
};
</script>

<template>
  <div class="BoxIntegration">
    <div class="BoxIntegration__form" v-if="!isUserAuthenticated">
      <img class="BoxIntegration__form__image" v-bind:src="logo" />
      <h2 class="BoxIntegration__form__title" v-html="title"></h2>
      <span class="BoxIntegration__form__separator"></span>
      <p class="BoxIntegration__form__assets">Assets</p>

      <input
        type="email"
        v-model="email"
        placeholder="Enter your email address to access assets"
        class="BoxIntegration__form__input is-email"
      />
      <a
        v-on:click="this.getLoginRequest"
        class="BoxIntegration__form__button button button is-brown"
      >Login</a>
      <div v-if="isUserFound && !isLoggedOut" class="BoxIntegration__form__message">User not found</div>
      <div v-if="isWorking" class="BoxIntegration__form__message">loading</div>
    </div>

    <div v-if="isUserAuthenticated && !isWorking" class="BoxIntegration__box">
      <a
        class="BoxIntegration__box__logout button button is-brown"
        v-on:click="getLogoutRequest"
      >Logout</a>
      <iframe
        src="https://app.box.com/embed_widget/s/8s3m3w7tfaazjmagtsx0epysmffuwijw?view=list&amp;theme=gray&amp;show_parent_path=no&amp;show_item_feed_actions=no"
        width="100%"
        height="1500px"
      ></iframe>
    </div>
  </div>
</template>
