body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $color-darker;

  &.hidden-scrollbar {
    overflow-y: hidden;
  }

  a,
  a:before,
  a:after,
  span,
  span:before,
  span:after,
  button,
  img,
  input[type=button],
  input[type=submit],
  .im,
  .form-button,
  .wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
  svg,
  .header__nav-trigger__icon {
      @include transition(all, .6s, cubic-bezier(0.5, 0, 0.1, 1.5));

      span {
          @include transition(all, .6s, cubic-bezier(0.5, 0, 0.1, 1.5));
      }
  }

  .wrapper {
    @include calc( width, '100% - 100px');
    margin-left: 100px;
    border-left: 1px solid $color-dark;
    display: block;
    position: relative;
    text-align: center;
    min-height: 100vh;
  }

  .clear {
    width: 100%;
    height: 1px;
    clear: both;
    float: none;
    display: block;
  }
}