body {
  font-family: $font-main;
  font-size: 15px;
  line-height: 1.6em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-special;
  font-weight: normal;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;

  span {
    position: relative;
    z-index: 2;
  }

  &--brd-white-transparent {
    border: 1px solid $color-white;
    padding: 10px 20px;
    color: $color-white;

    &:before,
    &:after {
      content: "";
      width: 0;
      height: 100%;
      background: $color-white;
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:hover:before,
    &:hover:after {
      width: 55%;
    }

    &:hover {
      span {
        color: $color-red;
      }
    }
  }
}