@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

$font-main: 'Open Sans', sans-serif;
$font-special: 'Alegreya SC', serif;

$color-white: #ffffff;
$color-black: #111111;
$color-darker: #222222;
$color-dark: #333333;
$color-red: #e03e40;
$color-green: #085843;
$color-yellow: #c7ac4c;