<template>
  <div class="bookingSummary">
    <header
      class="bookingSummary__header"
      v-bind:style="{ 'background-image': 'url(' + dataSummary.image + ')' }"
    >
      <div class="bookingSummary__header--mask"></div>
      <div class="video" v-if="dataSummary.video == true ">
        <button
          v-if="dataSummary.type === 'youtube'"
          class="js-video_button"
          :data-youtube-id="dataSummary.youtubeID"
        ></button>

        <video v-if="dataSummary.type === 'standard'">
          <source :src="dataSummary.standard" type="video/mp4" />
        </video>
        <button v-if="dataSummary.type === 'standard'" class="js-video_button"></button>
      </div>
    </header>
    <section class="bookingSummary__wrapper">
      <h2 class="bookingSummary__subtitle" v-html="dataSummary.thank_you"></h2>
      <h1 class="bookingSummary__title" v-html="dataSummary.title"></h1>
      <p
        class="bookingSummary__copy"
        v-html="dataSummary.a_confirmation_email_has_been_sent_please_login_to_your_new_account_to_provide_any_additional_details"
      ></p>
      <div class="bookingSummary__courses">
        <div class="bookingSummary__course" v-for="product in products" v-bind:key="product.id">
          <figure class="bookingSummary__course__figure">
            <div
              :style="{ backgroundImage: `url(${product.thumbnail})`, backgroundSize: 'cover', backgroundPosition: 'center' }"
            ></div>
          </figure>
          <div class="bookingSummary__course__details">
            <h4 class="bookingSummary__course__details__title" v-html="dataSummary.course_details"></h4>
            <h5 class="bookingSummary__course__details__subtitle">{{ product.title }}</h5>
            <p
              class="bookingSummary__course__details__copy"
            >{{ product.age }} Years | {{ product.startDate }} | {{ product.duration }}</p>

            <h5 class="bookingSummary__course__details__subtitle">{{ product.location }}</h5>
            <div v-for="(week,index) in product.weeks" :key="index">
              <div v-if="week.selectedSubject">
                <h5 class="bookingSummary__course__details__subtitle">week {{week.name}}</h5>
                <p class="bookingSummary__course__details__copy">- {{week.selectedSubject}}</p>
              </div>
              <div v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectFirst">
                <h5 class="bookingSummary__course__details__subtitle">subject one</h5>
                <p
                  class="bookingSummary__course__details__copy"
                >- {{week.selectedSubjects && week.selectedSubjects.selectedSubjectFirst}}</p>
              </div>
              <div v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectSecond">
                <h5 class="bookingSummary__course__details__subtitle">subject two</h5>
                <p
                  class="bookingSummary__course__details__copy"
                >- {{week.selectedSubjects && week.selectedSubjects.selectedSubjectSecond}}</p>
              </div>
              <div v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectAlternative">
                <h5 class="bookingSummary__course__details__subtitle">subject alternative</h5>
                <p
                  class="bookingSummary__course__details__copy"
                >- {{week.selectedSubjects && week.selectedSubjects.selectedSubjectAlternative}}</p>
              </div>
            </div>

            <button
              @click="handleRedirect(product.link)"
              class="bookingSummary__course__details__button"
            >Course info</button>
          </div>
        </div>
      </div>
      <div class="bookingSummary__studentdetails">
        <div class="bookingSummary__studentdetails__student">
          <h4 class="bookingSummary__studentdetails__title" v-html="dataSummary.student_details"></h4>
          <h5
            class="bookingSummary__studentdetails__subtitle"
          >{{ store.studentDetails.firstName }} {{ store.studentDetails.lastName }}</h5>
          <p class="bookingSummary__studentdetails__copy">
            {{ store.studentDetails.dateOfBirth.day }} -
            {{ store.studentDetails.dateOfBirth.month }} -
            {{ store.studentDetails.dateOfBirth.year }}
            <br />
            {{ store.studentDetails.gender.gender }}
            <br />
            {{ store.studentDetails.nationality.country }}
          </p>
        </div>
        <div class="bookingSummary__studentdetails__parent">
          <h4 class="bookingSummary__studentdetails__title" v-html="dataSummary.parent_details"></h4>
          <h5
            class="bookingSummary__studentdetails__subtitle"
          >{{ store.parentDetails.titles.title }} {{ store.parentDetails.firstName }} {{ store.parentDetails.lastName }}</h5>
          <p class="bookingSummary__studentdetails__copy">
            {{ store.parentDetails.adressLine1 }}, {{ store.parentDetails.adressLine2 }}
            <br />
            {{ store.parentDetails.cityTown }}, {{ store.parentDetails.country.country }}
            <br />
            {{ store.parentDetails.postalCode }}
          </p>
          <p class="bookingSummary__studentdetails__copy --email">
            <br />
            {{ store.parentDetails.contactNumber }}
          </p>
        </div>
      </div>
      <div class="bookingSummary__payment">
        <div class="bookingSummary__payment__row">
          <div class="bookingSummary__payment__left" v-html="dataSummary.total_payment"></div>
          <div class="bookingSummary__payment__right">£{{ store.order.total }}</div>
        </div>
        <div
          class="bookingSummary__payment__row"
          v-if="store.order.deposit && store.order.deposit.paid"
        >
          <div class="bookingSummary__payment__left" v-html="dataSummary.deposit"></div>
          <div
            class="bookingSummary__payment__right"
          >£{{computedDeposit}} paid {{new Date().toLocaleDateString()}}</div>
        </div>
        <div
          class="bookingSummary__payment__row"
          v-if="store.order.deposit && store.order.deposit.paid"
        >
          <div class="bookingSummary__payment__left" v-html="dataSummary.remaining_balance"></div>
          <div class="bookingSummary__payment__right">
            <strong>£{{store.order.total - computedDeposit}}</strong>
          </div>
        </div>
      </div>
      <div class="bookingSummary__questions">
        <h4 class="bookingSummary__questions__title" v-html="dataSummary.any_questions"></h4>
        <p
          class="bookingSummary__questions__copy"
          v-html="dataSummary.if_you_have_any_questions_please_dont_hesitate_to_get_in_touch"
        ></p>
        <div class="bookingSummary__questions__buttons">
          <div class="bookingSummary__questions__button">
            <label v-html="dataSummary.email_us"></label>
            <a :href="`mailto:${dataSummary.email}`">{{dataSummary.email}}</a>
          </div>
          <div class="bookingSummary__questions__button">
            <label v-html="dataSummary.call_us"></label>
            <a :href="`tel:${dataSummary.tel}`">{{dataSummary.tel}}</a>
          </div>
        </div>
        <p
          class="bookingSummary__questions__copy"
          v-html="dataSummary.please_complete_the_additional_infomation_within_your_account"
        >
          <br />
          <strong
            v-html="dataSummary.passport_number_native_language_student_email_medical_information_etc"
          ></strong>
        </p>
        <div class="bookingSummary__questions__buttons">
          <div class="bookingSummary__questions__button">
            <button class="--smaller" @click="goHome">{{dataSummary.return_to_homepage}}</button>
          </div>
          <div class="bookingSummary__questions__button">
            <button class="--colored --smaller" @click="goAccount">{{dataSummary.go_to_account}}</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  props: ["bookingdata"],
  data() {
    return {
      store: this.$root.store,
      depositAmount: parseInt(window.wpApiSettings.defaultDepositAmount, 10)
    };
  },
  computed: {
    dataSummary() {
      return this.store.bookingdata.summary;
    },
    products() {
      const _self = this;

      return this.store.coursesToBook.map((product, index) => {
        return {
          location: product.location[0] ? product.location[0] : null,
          id: product.id,
          variationId: _self.store.choosenVariations[index].variationId,
          title: product.title,
          age: product.age,
          link: product.permalink,
          thumbnail: product.thumbnail,
          startDate: _self.store.choosenVariations[index].startDate,
          duration: _self.store.choosenVariations[index].duration,
          price: _self.store.choosenVariations[index].price,
          weeks: product.weeks
        };
      });
    },
    computedDeposit() {
      return this.depositAmount * this.products.length;
    }
  },
  methods: {
    // oh that is not fantastic
    // cant we just make :href as this is what we are doing here?
    handleRedirect(url) {
      window.location = url;
    },
    goHome() {
      this.handleRedirect(window.wpApiSettings.home);
    },
    goAccount() {
      this.handleRedirect(`${window.wpApiSettings.home}/my-account`);
    }
  }
};
</script>
