<template>
  <div class="bookingForm__steps__input__container" v-if="container">
    <label class="bookingForm__steps__label" v-html="label"></label>
    <input
      :type="type"
      :placeholder="placeholder"
      class="bookingForm__steps__input"
      :class="[modifier, {error: error || error2}]"
      :value="value"
      @input="handleInput($event.target.value)"
    />
    <p class="bookingForm__steps__error" v-if="error">{{ errorLabel }}</p>
    <p class="bookingForm__steps__error" v-if="error2">{{ errorLabel2 }}</p>
  </div>

  <input
    v-else
    :type="type"
    :placeholder="placeholder"
    class="bookingForm__steps__input"
    :class="[modifier, {error}]"
    :value="value"
    @input="handleInput($event.target.value)"
  />
</template>

<script>
export default {
  name: "Input",
  props: {
    value: String,
    label: String,
    placeholder: String,
    error: {
      type: Boolean,
      default: false
    },
    errorLabel: {
      type: String,
      default: "This field is required"
    },
    type: {
      type: String,
      default: "text"
    },
    container: {
      type: Boolean,
      default: true
    },
    modifier: {
      type: String,
      default: ""
    },
    error2: Boolean,
    errorLabel2: String
  },
  data() {
    return {
      content: this.value
    };
  },
  methods: {
    handleInput(value) {
      this.$emit("input", value);
    }
  }
};
</script>
