<template>
  <div class="bookingForm__sidePanel">
    <h2
      class="bookingForm__sidePanel__title --large"
      v-html="store.bookingdata.side_panel.booking_courses"
    ></h2>
    <h2
      class="bookingForm__sidePanel__title --mobile"
      @click="toggle()"
      :class="{ 'open': isOpen}"
      v-html="store.bookingdata.side_panel.booking_courses"
    ></h2>
    <div class="bookingForm__sidePanel__toggle" :class="{ 'open': isOpen}">
      <div class="bookingForm__sidePanel__courses">
        <div
          class="bookingForm__sidePanel__course"
          v-for="course in coursesToBook"
          v-bind:key="course.selectedCourseVariationId"
        >
          <h3 class="bookingForm__sidePanel__course--location" v-html="course.location"></h3>
          <h3 class="bookingForm__sidePanel__course--course">{{course.title}}</h3>
          <div
            class="bookingForm__sidePanel__course--info"
            v-if="course.startDate && course.endDate"
          >
            <span
              class="bookingForm__sidePanel__course--span"
              v-html="store.bookingdata.side_panel.dates_label"
            ></span>
            <p
              class="bookingForm__sidePanel__course--copy"
            >{{course.startDate}} - {{course.endDate}}</p>
          </div>
          <div class="bookingForm__sidePanel__course--info" v-if="course.price">
            <span
              class="bookingForm__sidePanel__course--span"
              v-html="store.bookingdata.side_panel.price_label"
            ></span>
            <p class="bookingForm__sidePanel__course--copy">£{{course.price}}</p>
          </div>
          <div v-for="(week,index) in course.weeks" :key="index">
            <div class="bookingForm__sidePanel__course--info" v-if="week.selectedSubject">
              <span
                class="bookingForm__sidePanel__course--span"
              >{{store.bookingdata.side_panel.subject_label}} {{week.name}}</span>
              <p class="bookingForm__sidePanel__course--copy">{{week.selectedSubject}}</p>
            </div>
            <div
              class="bookingForm__sidePanel__course--info"
              v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectFirst"
            >
              <span
                class="bookingForm__sidePanel__course--span"
              >{{store.bookingdata.side_panel.subject_label}} one</span>
              <p
                class="bookingForm__sidePanel__course--copy"
              >{{week.selectedSubjects && week.selectedSubjects.selectedSubjectFirst}}</p>
            </div>
            <div
              class="bookingForm__sidePanel__course--info"
              v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectSecond"
            >
              <span
                class="bookingForm__sidePanel__course--span"
              >{{store.bookingdata.side_panel.subject_label}} two</span>
              <p
                class="bookingForm__sidePanel__course--copy"
              >{{week.selectedSubjects && week.selectedSubjects.selectedSubjectSecond}}</p>
            </div>
            <div
              class="bookingForm__sidePanel__course--info"
              v-if="week.selectedSubjects && week.selectedSubjects.selectedSubjectAlternative"
            >
              <span
                class="bookingForm__sidePanel__course--span"
              >{{store.bookingdata.side_panel.subject_label}} alternative</span>
              <p
                class="bookingForm__sidePanel__course--copy"
              >{{week.selectedSubjects && week.selectedSubjects.selectedSubjectAlternative}}</p>
            </div>
          </div>
          <div v-for="optionalExtra in course.optionalExtras" :key="optionalExtra.id">
            <div
              class="bookingForm__sidePanel__course--info"
              v-if="parseInt(optionalExtra.numberOfWeeks,10)>0"
            >
              <span
                class="bookingForm__sidePanel__course--span"
                v-html="store.bookingdata.side_panel.extras_label"
              ></span>
              <p class="bookingForm__sidePanel__course--copy">{{optionalExtra.name}}</p>
              <p
                class="bookingForm__sidePanel__course--copy"
              >£{{optionalExtra.selectedVariation && optionalExtra.selectedVariation.price}} - {{optionalExtra.selectedVariation && optionalExtra.selectedVariation.attributes.length > 0 && optionalExtra.selectedVariation.attributes[0].option}}</p>
            </div>
          </div>
        </div>
        <div class="bookingForm__sidePanel__course--total" v-if="calculatedPrice">
          <span
            class="bookingForm__sidePanel__course--total --copy"
            v-html="store.bookingdata.side_panel.total_amount"
          ></span>
          <p class="bookingForm__sidePanel__course--total --number">£{{ calculatedPrice }}</p>
        </div>
      </div>
      <div class="bookingForm__sidePanel__course--total" v-if="calculatedPrice">
        <span
          class="bookingForm__sidePanel__course--total --copy"
          v-html="store.bookingdata.side_panel.total_amount"
        ></span>
        <p class="bookingForm__sidePanel__course--total --number">£{{ calculatedPrice }}</p>
      </div>
      <div class="bookingForm__sidePanel__course--cancel">
        <button
          class="bookingForm__sidePanel__course--button Button Button--primary Button--blue"
          v-html="store.bookingdata.side_panel.cancel_booking"
          @click="handleCancelBooking"
        ></button>
      </div>
    </div>
  </div>
</template>
 
<script>
import moment from "moment";

export default {
  data() {
    return {
      isOpen: false,
      store: this.$root.store
    };
  },
  methods: {
    toggle: function() {
      this.isOpen = !this.isOpen;
    },
    handleCancelBooking() {
      this.$router.push({
        path: "/start"
      });
    }
  },
  computed: {
    calculatedPrice() {
      let sum = 0;
      const courses = this.store.coursesToBook;

      for (let i = 0; i < courses.length; i++) {
        const course = courses[i];
        sum += parseInt(course.selectedVariationPrice, 10);
        for (let j = 0; j < course.optionalExtras.length; j++) {
          const optionalExtra = course.optionalExtras[j];
          if (optionalExtra.numberOfWeeks > 0) {
            sum += parseInt(optionalExtra.selectedVariation.price, 10);
          }
        }
      }

      return sum;
    },
    coursesToBook() {
      const _self = this;

      return this.store.coursesToBook.map((element, index) => {
        const startDate =
          _self.store.choosenVariations[index] &&
          _self.store.choosenVariations[index].startDate;
        const duration =
          _self.store.choosenVariations[index] &&
          _self.store.choosenVariations[index].duration.split(" ")[0];
        const endDate = moment(startDate, "DD.MM.YYYY")
          .add(duration, "w")
          .format("DD.MM.YYYY");
        const weeks = element.weeks;
        const price = element.selectedVariation
          ? element.selectedVariation.price
          : 0;
        const title = element.title;
        const location = element.location ? element.location[0].post_title : "";
        const optionalExtras = element.optionalExtras
          ? element.optionalExtras
          : [];
        return {
          location,
          title,
          startDate,
          endDate,
          weeks,
          price,
          optionalExtras
        };
      });
    }
  }
};
</script>
