<template>
  <div class="bookingForm__steps --five" v-loader="isWorking">
    <ul class="bookingForm__bullets">
      <li
        v-for="(step,index) in 5"
        v-bind:key="index"
        :class="{ 'active': index == $route.name - 1}"
      ></li>
    </ul>
    <h2 class="bookingForm__steps__stepName" v-html="dataStep.title"></h2>
    <h1
      class="bookingForm__steps__stepTitle"
      @click="createTasks"
      v-html="dataStep.payment_details"
    ></h1>
    <div class="bookingPayment">
      <div class="bookingPayment__courses">
        <div class="bookingPayment__course" v-for="(product, index) in products" :key="index">
          <div class="bookingPayment__course--course">
            <h4 class="bookingPayment__course--location">{{ product.location }}</h4>
            <h5 class="bookingPayment__course--title">{{ product.title }}</h5>
          </div>
          <div class="bookingPayment__course--age">
            <span class="bookingPayment__course__titleInside" v-html="dataStep.age"></span>
            <p class="bookingPayment__course--copy" v-if="product.age">{{ product.age }} years</p>
          </div>
          <div class="bookingPayment__course--dates">
            <span class="bookingPayment__course__titleInside" v-html="dataStep.dates"></span>
            <p class="bookingPayment__course--copy">{{ product.startDate }}</p>
          </div>
          <div class="bookingPayment__course--duration">
            <span class="bookingPayment__course__titleInside" v-html="dataStep.duration"></span>
            <p class="bookingPayment__course--copy">{{ product.duration }}</p>
          </div>
          <div class="bookingPayment__course--price">
            <span class="bookingPayment__course__titleInside" v-html="dataStep.price"></span>
            <p class="bookingPayment__course--copy">£{{ product.price }}</p>
          </div>
        </div>
      </div>
      <!-- <div ref="card"></div> -->
      <div class="bookingPayment__discount">
        <div class="bookingPayment__wrapper">
          <h4 class="bookingPayment__subtitle" v-html="dataStep.discount"></h4>
          <label class="bookingPayment__label" v-html="dataStep.promotional_code"></label>
          <div class="bookingPayment__inputWrapper">
            <input
              class="bookingForm__steps__input"
              v-model="promotionalCode"
              type="text"
              :placeholder="dataStep.enter_code"
            />
            <button
              class="booking__button ---transparent"
              @click="handleCoupon"
            >{{dataStep.enter_manually}}</button>
          </div>
          <div class="bookingPayment__buttonsWrapper">
            <button
              class="bookingPayment__button"
              :class="{'--transparent': !activeDeposit}"
              @click="handlePaymentAmount"
            >
              {{dataStep.pay_full_amount}}
              <br />
              <span>£{{store.order.total}}</span>
            </button>
            <p>or</p>
            <button
              class="bookingPayment__button"
              :class="{'--transparent': activeDeposit}"
              @click="handlePaymentAmount"
            >
              {{dataStep.pay_deposit}}
              <br />
              <span>£{{computedDeposit}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="bookingPayment__paymentMethod">
        <div class="bookingPayment__wrapper">
          <h4 class="bookingPayment__subtitle" v-html="dataStep.payment_method"></h4>
          <div class="bookingPayment__buttonsWrapper">
            <button
              class="bookingPayment__button"
              @click="handlePaymentMethod"
              :class="{'--transparent': activeCardPayment}"
            >{{dataStep.bank_transfer}}</button>
            <p>or</p>
            <button
              @click="handlePaymentMethod"
              class="bookingPayment__button"
              :class="{'--transparent': !activeCardPayment}"
            >{{dataStep.debit__credit_card}}</button>
          </div>
        </div>
      </div>
      <div class="bookingPayment__billing">
        <div class="bookingPayment__wrapper">
          <Billing @formChange="handleBillingFormChange" :nationalities="nationalities" />
        </div>
      </div>
      <div class="bookingPayment__card" v-if="activeCardPayment">
        <div class="bookingPayment__wrapper">
          <h4 class="bookingPayment__subtitle" v-html="dataStep.card_details"></h4>
          <label class="bookingPayment__label" v-html="dataStep.name_on_card"></label>
          <input
            class="bookingForm__steps__input"
            v-model="$v.form.cardName.$model"
            type="text"
            placeholder="Enter name on card"
          />
          <div class="bookingForm__steps__input__container">
            <label class="bookingPayment__label" v-html="dataStep.card_number"></label>
            <div class="bookingForm__steps__error" v-if="cardNumberError" v-html="cardNumberError" />
            <div id="cardNumber" class="bookingForm__steps__input --card"></div>
          </div>
          <div class="bookingPayment__cardWrapper">
            <div class="bookingPayment__cardWrapper --expiration">
              <div class="bookingForm__steps__input__container">
                <label class="bookingPayment__label" v-html="dataStep.expiration_date"></label>
                <div
                  class="bookingForm__steps__error"
                  v-if="cardExpiryError"
                  v-html="cardExpiryError"
                />
                <div class="bookingPayment__cardWrapper --date">
                  <div id="cardExpiry" class="bookingForm__steps__input"></div>
                </div>
              </div>
            </div>
            <div class="bookingForm__steps__input__container --cvc">
              <div class="bookingPayment__cardWrapper --cvc">
                <label class="bookingPayment__label" v-html="dataStep.cvc_code"></label>
                <div class="bookingForm__steps__error" v-if="cardCvcError" v-html="cardCvcError" />
                <div>
                  <div id="cardCvc" class="bookingForm__steps__input"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bookingPayment__bankDetails" v-if="!activeCardPayment">
        <div class="bookingPayment__bankDetails__student">
          <h4 class="bookingPayment__bankDetails__title" v-html="dataStep.account_name"></h4>
          <h5
            class="bookingPayment__bankDetails__subtitle --bigger"
            v-html="dataStep.bucksmore_education"
          ></h5>
          <p class="bookingPayment__bankDetails__copy --details" v-html="dataStep.bank_details"></p>
        </div>
        <div class="bookingPayment__bankDetails__parent">
          <h4 class="bookingPayment__bankDetails__title" v-html="dataStep.sterling_account"></h4>
          <h5 class="bookingPayment__bankDetails__subtitle" v-html="dataStep.reference_no_title"></h5>
          <p class="bookingPayment__bankDetails__copy" v-html="bankReference"></p>
          <h5 class="bookingPayment__bankDetails__subtitle" v-html="dataStep.account_number_title"></h5>
          <p class="bookingPayment__bankDetails__copy" v-html="dataStep.account_number_copy"></p>
          <h5 class="bookingPayment__bankDetails__subtitle" v-html="dataStep.sort_code_title"></h5>
          <p class="bookingPayment__bankDetails__copy" v-html="dataStep.sort_code_copy"></p>
          <h5 class="bookingPayment__bankDetails__subtitle --iban" v-html="dataStep.iban"></h5>
          <h5 class="bookingPayment__bankDetails__subtitle --iban" v-html="dataStep.bic"></h5>
        </div>
      </div>
    </div>
    <div class="booking__buttons">
      <div class="booking_buttons__wrapper">
        <button
          class="booking__button --prev --transparent"
          @click="goBack"
        >{{store.bookingdata.start_page.previous}}</button>
        <button
          class="booking__button --next"
          @click="handleOrder"
        >{{store.bookingdata.start_page.confirm_payment}}</button>
      </div>
    </div>
  </div>
</template>

<script>
import { bookingAxios } from "./../../../services/interceptor";
import { required, minLength } from "vuelidate/lib/validators";
import Billing from "./Step05/Billing";
import nationalitiesJson from "../../../../countries.json";
import AccountService from "../../../services/AccountService";
import BookingService from "../../../services/BookingService";
import moment from "moment";

// TODO: hardcoded stripe key
let stripe = Stripe(`pk_test_5QCPbQsid7LKDg7gMgomN3Cf004kDLycH6`),
  elements = stripe.elements(),
  card = undefined,
  _self = undefined;

const style = {
  base: {
    color: "#292929",
    fontFamily: "Lato, Helvetica, sans-serif",
    fontSmoothing: "antialiased",
    fontSize: "16px",
    "::placeholder": {
      color: "#7b7b7b"
    }
  },
  invalid: {
    color: "#b2000f",
    iconColor: "#b2000f"
  }
};

const cardCvc = elements.create("cardCvc", {
  style,
  placeholder: "Enter CVC"
});
const cardExpiry = elements.create("cardExpiry", {
  style,
  placeholder: "MM / YY"
});
const cardNumber = elements.create("cardNumber", {
  style,
  placeholder: "Enter card number"
});

export default {
  props: ["bookingdata"],
  components: {
    Billing
  },
  data() {
    const store = this.$root.store;

    return {
      store,
      isWorking: false,
      depositAmount: parseInt(window.wpApiSettings.defaultDepositAmount, 10),
      orderId: null,
      dataStep: store.bookingdata.step_five,
      billingData: {},
      deliveryData: {},
      promotionalCode: "",
      nationalities: nationalitiesJson,
      form: {
        cardName: null,
        cardNumber: null,
        promotionalCode: null,
        billingPostal: null
      },
      card: {
        cvc: "",
        number: "",
        expiry: ""
      },
      //elements
      cardNumber: "",
      cardExpiry: "",
      cardCvc: "",
      stripe: null,
      // errors
      stripeError: "",
      cardCvcError: "",
      cardExpiryError: "",
      cardNumberError: "",
      loading: false,
      activeCardPayment: true,
      activeDeposit: true,
      tasks: [],
    };
  },
  validations: {
    form: {
      cardNumber: {
        required
      },
      cardName: {
        required
      }
    }
  },
  beforeCreated: function() {
    _self = this;
  },
  created: function() {
    this.addStepPayment();
  },
  mounted: function() {
    this.cardCvc = cardCvc;
    this.cardExpiry = cardExpiry;
    this.cardNumber = cardNumber;

    this.handlePay();
  },
  updated() {
    this.createCardFields();
  },
  computed: {
    /**
     * Bank reference should follow the format:
     * [STUDENT LASTNAME] [DD/MM/YYY]
     */
    bankReference() {
      const defaultReference = "BUCKS-" + moment().format("DD/MM/YYYY"); // Should never get used
      if (
        this.store.coursesToBook &&
        this.store.coursesToBook.length &&
        this.store.coursesToBook[0] && 
        this.store.coursesToBook[0].selectedAttributes
      ) {
        const courseSelectedAttributes = this.store.coursesToBook[0].selectedAttributes;
        const courseToBookDateSelectedAttribute =
          courseSelectedAttributes.find(courseAttribute => courseAttribute.name === "date");

        const studentLastName =
          this.store.studentDetails &&
          this.store.studentDetails.lastName ?
          this.store.studentDetails.lastName.toUpperCase() :
          null;

        if (!courseToBookDateSelectedAttribute || !studentLastName) return defaultReference;
        
        return studentLastName + " " + courseToBookDateSelectedAttribute.option.replace(/\./g, '-')
      }
    },
    products() {
      const _self = this;

      let bag = [];

      this.store.coursesToBook.forEach((product, index) => {
        bag.push({
          location: product.location ? product.location[0] : "",
          id: product.id,
          parentId: product.parent_id,
          variationId: _self.store.choosenVariations[index].variationId,
          title: product.title,
          age: product.age,
          startDate: _self.store.choosenVariations[index].startDate,
          duration: _self.store.choosenVariations[index].duration,
          price: _self.store.choosenVariations[index].price,
          amount: _self.store.choosenVariations[index].weeks,
          weeks: product.weeks || null,
          optionalExtras: product.optionalExtras,
          type: "course"
        });

        product.optionalExtras &&
          product.optionalExtras.map(element => {
            element.numberOfWeeks > 0 &&
              bag.push({
                location: "Optional extra",
                id: element.id,
                variationId: element.selectedVariation.id,
                amount: element.numberOfWeeks,
                title: element.name,
                price: element.selectedVariation.price,
                startDate: element.startsFromWeek,
                duration:
                  element.numberOfWeeks === 1
                    ? `${element.numberOfWeeks} week`
                    : `${element.numberOfWeeks} weeks`,
                type: "extra",
                startsFromWeek: element.startsFromWeek
              });
          });
      });

      return bag;
    },
    computedDeposit() {
      if (this.products && this.store.order.line_items) {
        const courses = this.products.filter(element => element.type === "course");
        return this.depositAmount * courses.length;
      }
    }
  },
  methods: {
    handleBillingFormChange(data) {
      this.billingData = data.billingForm;
      this.deliveryData = data.deliveryForm;
    },
    createCardFields() {
      if (this.activeCardPayment) {
        this.cardCvc.mount("#cardCvc");
        this.cardExpiry.mount("#cardExpiry");
        this.cardNumber.mount("#cardNumber");
        this.listenForErrors();
      }
    },
    goBack() {
      this.$router.go(-1);
    },
    listenForErrors: function() {
      const vm = this;
      this.cardNumber.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardNumberError = event.error.message)
          : (vm.cardNumberError = "");
        vm.card.number = event.complete ? true : false;
      });
      this.cardExpiry.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardExpiryError = event.error.message)
          : (vm.cardExpiryError = "");
        vm.card.expiry = event.complete ? true : false;
      });
      this.cardCvc.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardCvcError = event.error.message)
          : (vm.cardCvcError = "");
        vm.card.cvc = event.complete ? true : false;
      });
    },
    toggleError: function(event) {
      if (event.error) {
        this.stripeError = event.error.message;
      } else {
        this.stripeError = "";
      }
    },
    addStepPayment() {
      this.$emit("addStepPayment", {
        data: {
          stepPayment: true
        }
      });
    },
    handleOrder() {
      this.submitForm(this.store.order.id);
    },
    handlePaymentMethod() {
      this.activeCardPayment = !this.activeCardPayment;
      if (this.activeCardPayment) {
        this.$nextTick(this.createCardFields);
        this.updatePaymentMethod();
      } else {
        this.updatePaymentMethod("bacs");
      }
    },
    handlePaymentAmount() {
      this.activeDeposit = !this.activeDeposit;
    },
    updatePaymentMethod(methodName = "stripe") {
      const _self = this;
      this.isWorking = true;
      bookingAxios({
        method: "post",
        url: `${window.wpApiSettings.root}wc/v3/orders/${_self.store.order.id}`,
        data: {
          payment_method: methodName
        }
      })
        .then(response => {
          _self.isWorking = false;
          _self.$set(_self.store, "order", response.data);
        })
        .catch(() => {
          _self.isWorking = false;
        });
    },
    handlePay() {
      const _self = this;
      const billing = this.store.parentDetails;
      this.isWorking = true;
      bookingAxios({
        method: "post",
        url: `${window.wpApiSettings.root}wc/v3/orders`,
        data: {
          customer_id: window.wpApiSettings.currentUser,
          payment_method: "stripe",
          line_items: this.products.map(element => {
            let metaData = [];

            if (element.type === "course" && element.weeks) {
              metaData = element.weeks.map(element => ({
                key: `Selected subject - ${element.name}`,
                value:
                  element.selectedSubject ||
                  `first: ${element.selectedSubjects &&
                    element.selectedSubjects
                      .selectedSubjectFirst}, second ${element.selectedSubjects &&
                    element.selectedSubjects
                      .selectedSubjectSecond}, alternative: ${element.selectedSubjects &&
                    element.selectedSubjects.selectedSubjectAlternative}`
              }));
            } 
            
            else if (element.startsFromWeek) {
              metaData = [
                {
                  key: "Starting week",
                  value: element.startsFromWeek
                }
              ];
            }

            if (element.type === "course" && element.optionalExtras) {
     
              const optionalExtras = {
                key: "optionalExtras",
                value: JSON.stringify(element.optionalExtras)
              }
              metaData.push(optionalExtras);
            } 

            metaData.push({
              key: "parentID",
              value: element.parentId
            });

            metaData.push({
              key: "parentTitle",
              value: element.title
            });

            return {
              product_id: element.id,
              variation_id: element.variationId,
              quantity: element.amount,
              meta_data: metaData
            };
          }),
          billing: {
            first_name: billing.firstName,
            last_name: billing.lastName,
            address_1: billing.adressLine1,
            address_2: billing.adressLine2,
            city: billing.cityTown,
            postcode: billing.postalCode,
            country: billing.country.country
          }
        }
      })
        .then(function(response) {
          _self.$set(_self.store, "order", response.data);
          _self.isWorking = false;
        })
        .catch(() => {
          _self.isWorking = false;
        });
    },
    handleCoupon() {
      const _self = this;
      this.isWorking = true;
      bookingAxios({
        method: "post",
        url: `${window.wpApiSettings.root}wc/v3/orders/${_self.store.order.id}`,
        data: {
          coupon_lines: [
            {
              code: _self.promotionalCode
            }
          ]
        }
      })
        .then(function(response) {
          _self.$notify({
            group: "main",
            title: "Success",
            text: "Code aplied",
            type: "success"
          });
          _self.isWorking = false;
          _self.$set(_self.store, "order", response.data);
          _self.$set(
            _self.store,
            "choosenVariations",
            response.data.line_items.map(element => {
              return {
                variationId: element.variation_id,
                startDate: element.meta_data[0].value,
                duration: element.meta_data[1].value,
                price: element.price
              };
            })
          );
        })
        .catch(function(error) {
          _self.$notify({
            group: "main",
            title: "Error",
            text: "Wrong coupon",
            type: "error"
          });
          self.promotionalCode = "";
          _self.isWorking = false;
        });
    },
    updateOrderBilling() {
      const _self = this;
      _self.isWorking = true;
      bookingAxios({
        method: "post",
        url: `${window.wpApiSettings.root}wc/v3/orders/${_self.store.order.id}`,
        data: {
          billing: {
            first_name: this.billingData.firstName,
            last_name: this.billingData.lastName,
            address_1: this.billingData.adressLine1,
            address_2: this.billingData.adressLine2,
            city: this.billingData.cityTown,
            postcode: this.billingData.postalCode,
            country: this.billingData.country.country,
            phone: this.billingData.areas.area + this.billingData.contactNumber
          },
          shipping: {
            first_name: this.deliveryData.firstName,
            last_name: this.deliveryData.lastName,
            address_1: this.deliveryData.adressLine1,
            address_2: this.deliveryData.adressLine2,
            city: this.deliveryData.cityTown,
            postcode: this.deliveryData.postalCode,
            country: this.deliveryData.country.country,
            phone: this.deliveryData.areas.area + this.billingData.contactNumber
          }
        }
      })
        .then(function(response) {
          console.log("Billing updated");
          _self.isWorking = false;
        })
        .catch(function(error) {
          console.log("Billing error");
          _self.isWorking = false;
        });
    },
    updateOrderMetaData(productId) {
      const _self = this;
      _self.isWorking = true;
      return (
        productId &&
        bookingAxios({
          method: "post",
          url: `${window.wpApiSettings.root}wp/v2/custom/account/orders/${_self.store.order.id}/populate-order-acf`,
          data: {
            payload: {
              studentDetails: {
                first_name: _self.store.studentDetails.firstName,
                last_name: _self.store.studentDetails.lastName,
                email: "",
                gender: _self.store.studentDetails.gender.gender,
                day_of_birth: _self.store.studentDetails.dateOfBirth.day,
                month_of_birth: _self.store.studentDetails.dateOfBirth.month,
                year_of_birth: _self.store.studentDetails.dateOfBirth.year
              }
            }
          }
        })
          .then(function(response) {
            _self.isWorking = false;
          })
          .catch(() => {
            _self.isWorking = false;
          })
      );
    },
    async createTasks() {
      try {
        const courses = this.products.filter(
          product => product.type === "course"
        );

        const { firstName, lastName } = this.store.studentDetails;
        const { id: orderId } = this.store.order;

        const response = await bookingAxios.post(
          `/custom/account/tasks/create-course-tasks`,
          {
            orderId,
            courses,
            studentName: `${firstName} ${lastName}`
          }
        );
        const tasks = JSON.parse(JSON.stringify(response.data));
        this.tasks = tasks;
      } catch (e) {
        console.log(e);
      }
    },
    async submitForm(orderID) {
      const _self = this;

      sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
      // coursesToBook this is an array of courses
      // extras (cross sell products) are stored like course[optionalExtras]
      // hence we can safely loop over coursesToBook and we are certain we have only courses
      for (let i = 0; i < _self.store.coursesToBook.length; i++) {
        const course = _self.store.coursesToBook[i];
        await this.updateOrderMetaData(course.selectedCourseVariationId);
      }

      await this.updateOrderBilling();
      await this.createTasks();

      if (this.activeCardPayment) {
        stripe.createSource(_self.cardNumber).then(function(result) {
          if (result.source) {
            !_self.activeDeposit
              ? _self.depositPayment(result.source.id)
              : _self.postPaymentRequest(result.source.id, orderID);
          } else {
            console.log("There was a problem", result);
          }
        });
      } else {
        _self.$set(_self.store.order, "deposit", {
          paid: true
        });
        this.$router.push({
          path: "/summary"
        });
      }
    },
    depositPayment: async function(token) {
      const _self = this;
      try {
        _self.isWorking = true;
        const payload = {
          payment_token: token,
          order_id: _self.store.order.id
        };

        const response = await BookingService.postDepositRequest(payload);
        const courses = this.products.filter(
          product => product.type === "course"
        );
        // mark deposit task as completed
        for (let i = 0; i < courses.length; i++) {
          const course = courses[i];
          const paymentDepositTaskId = this.getPaymentDepositTaskId(
            this.tasks,
            course.variationId
          );
          const response = await AccountService.markTaskAsCompleted(
            paymentDepositTaskId
          );
        }

        this.$router.push({
          path: "/summary"
        }),
          _self.$set(_self.store.order, "deposit", {
            paid: true
          });
        _self.isWorking = false;
      } catch (e) {
        console.log(error);
        _self.isWorking = false;
      }
    },
    getPaymentTaskId(tasks, variationId) {
      return tasks[variationId].filter(task => task.type === "payment")[0].id;
    },
    getPaymentDepositTaskId(tasks, variationId) {
      return tasks[variationId].filter(
        task => task.type === "payment-deposit"
      )[0].id;
    },
    postPaymentRequest: async function(token, order_id) {
      try {
        this.isWorking = true;
        const payload = {
          order_id,
          payment_token: token,
          payment_method: "stripe"
        };
        const response = await BookingService.postPaymentRequest(payload);

        const courses = this.products.filter(
          product => product.type === "course"
        );
        // mark payment task as completed
        for (let i = 0; i < courses.length; i++) {
          const course = courses[i];
          const paymentTaskId = this.getPaymentTaskId(
            this.tasks,
            course.variationId
          );
          const response = await AccountService.markTaskAsCompleted(
            paymentTaskId
          );
        }

        this.$router.push({
          path: "/summary"
        });
      } catch (e) {
        console.log("Error", request);
      } finally {
        this.isWorking = false;
      }
    }
  }
};
</script>
