<template>
  <div class="bookingForm__steps" v-loader="isWorking || store.isWorking">
    <h2 class="bookingForm__steps__stepName" v-html="dataStepFour.title"></h2>
    <h1 class="bookingForm__steps__stepTitle" v-html="dataStepFour.create_account"></h1>
    <p
      class="bookingForm__steps__copy"
      v-html="dataStepFour.using_your_account_to_track_your_application_progress"
    ></p>
    <form @submit="submit">
      <div class="bookingForm__steps__form"> 
        <Input
          v-model="$v.form.email.$model"
          :label="dataStepFour.email_address"
          :error="$v.form.email.$error"
          :placeholder="dataStepFour.enter_email_address"
        />
        <Input
          v-model="$v.form.confirmEmail.$model"
          :label="dataStepFour.reenter_email_address"
          :error="$v.form.confirmEmail.$error"
          :error2="$v.form.confirmEmail.$error && !$v.form.confirmEmail.sameAs"
          error-label2="Fields are not the same"
          :placeholder="dataStepFour.enter_email_address"
        />
        <Input
          v-model="$v.form.password.$model"
          :label="dataStepFour.create_password"
          :error="$v.form.password.$error"
          :placeholder="dataStepFour.enter_password"
          type="password"
        />
        <Input
          v-model="$v.form.confirmPassword.$model"
          :label="dataStepFour.reenter_password"
          :error="$v.form.confirmPassword.$error && !$v.form.confirmPassword.required"
          :error2="$v.form.confirmPassword.$error && !$v.form.confirmPassword.sameAs"
          error-label2="Fields are not the same"
          :placeholder="dataStepFour.enter_password"
          type="password"
        />
      </div>
      <div class="booking__buttons">
        <div class="booking_buttons__wrapper">
          <button class="booking__button --prev --transparent">Previous</button>
          <button type="submit" class="booking__button --next">Next step</button>
        </div>
      </div>
    </form>
    <BookingModal
      :close-modal="closeModal"
      :close-modal-window="closeModalWindow"
      :title="modalTitle"
      :copy="modalCopy"
      :show-buttons="false"
    />
  </div>
</template>
 
<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import { bookingAxios } from "./../../../services/interceptor";
import ApiService from "../../../services/ApiService";
import BookingModal from "./../BookingModal.vue";

import Input from "./Input";

export default {
  components: { Input, BookingModal },
  data() {
    return {
      store: this.$root.store,
      closeModal: true,
      modalTitle: "",
      modalCopy: "",
      isWorking: false,
      form: {
        email: "",
        confirmEmail: "",
        password: "",
        confirmPassword: "",
      }
    };
  },
  validations: {
    form: {
        email: { required },
        confirmEmail: {
          required,
          sameAs: sameAs("email")
        },
        password: { required },
        confirmPassword: { 
          required,
          sameAs: sameAs("password")
        },
    }
  },
  computed: {
    dataStepFour() {
      return this.store.bookingdata.step_four;
    }
  },
  methods: {
    closeModalWindow() {
      this.closeModal = !this.closeModal;
    },
    createCustomer() {
      const _self = this;
      this.isWorking = true;
      
      return bookingAxios({
        method: "post",
        url:  `${window.wpApiSettings.root}wc/v3/customers`,
        data: {
          password: _self.form.password,
          email: _self.form.email,
          first_name: _self.store.parentDetails.firstName,
          last_name: _self.store.parentDetails.lastName,
          username: _self.form.email,
          billing: {
            first_name: _self.store.parentDetails.firstName,
            last_name: _self.store.parentDetails.lastName,
            address_1: _self.store.parentDetails.adressLine1,
            address_2: _self.store.parentDetails.adressLine2,
            city: _self.store.parentDetails.cityTown,
            postcode: _self.store.parentDetails.postalCode,
            country: _self.store.parentDetails.country.country,
            email: _self.form.email,
            phone: _self.store.parentDetails.areas.area + _self.store.parentDetails.contactNumber,
          },
          shipping: {
            first_name: _self.store.parentDetails.firstName,
            last_name: _self.store.parentDetails.lastName,
            address_1: _self.store.parentDetails.adressLine1,
            address_2: _self.store.parentDetails.adressLine2,
            city: _self.store.parentDetails.cityTown,
            postcode: _self.store.parentDetails.postalCode,
            country: _self.store.parentDetails.country.country,
          }
        }
      })
        .then(response => {
          window.wpApiSettings.currentUser = response.data.id;
          /*
           * Log in the user using the details we used to register
           * as we are in the success handler these details should 
           * always be valid
           */
          ApiService.authenticateCustomer({
            username: _self.form.email,
            password: _self.form.password
          }).then(() => {
            this.isWorking = false;
            this.$router.push({
              path: "/payment"
            });
          }).catch(() => {
            this.isWorking = false;
          });
        })
        .catch(error => {
          _self.closeModal = false;
          _self.modalTitle = "User already exists",
          _self.modalCopy = "Please login with existing account or pick another username."
          this.isWorking = false;
        });
    },
    updateAcfFields() {
      const _self = this;
      this.isWorking = true;
      return bookingAxios({
        method: "patch",
        url: `${window.wpApiSettings.root}wp/v2/custom/account/parent`,
        data: {
          acf: {
            account_user_phone: _self.store.parentDetails.areas.area + _self.store.parentDetails.contactNumber,
            account_user_zip_code: _self.store.parentDetails.postalCode,
            account_user_city: _self.store.parentDetails.cityTown,
            account_user_address_1: _self.store.parentDetails.adressLine1,
            account_user_address_2: _self.store.parentDetails.adressLine2,
            account_user_country: _self.store.parentDetails.country.country,
            account_user_title: _self.store.parentDetails.titles.title,
          },
          ID: window.wpApiSettings.currentUser,
        }
      })
        .then(response => {
          console.log(response)
          this.isWorking = false;
        })
        .catch(error => {
          console.log(error);
          this.isWorking = false;
        });
    },
    async submit(event) {
      
      event.preventDefault();
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isWorking = true;
        await this.createCustomer();
        await this.updateAcfFields();
        this.isWorking = false;
      }
    }
  }
};
</script>
