<template>
  <div v-loader="isWorking">
    <div class="bookingForm__steps">
      <h2 class="bookingForm__steps__stepName" v-html="dataStepTwo.title"></h2>
      <div v-if="step2activePart===step2parts.chooseDates">
        <h1 class="bookingForm__steps__stepTitle --smallerMargin" v-html="dataStepTwo.select_dates"></h1>
        <div class="bookingForm__steps__dates" v-if="productsWithAttributes[0].startDates">
          <div
            class="bookingForm__steps__dates__course"
            v-for="(item, index) in productsWithAttributes"
            :key="index"
          >
            <h4 class="bookingForm__steps__dates__course__location">{{ item.location }}</h4>
            <h5 class="bookingForm__steps__dates__course__title">{{ item.title }}</h5>

            <form class="bookingForm__steps__form">
              <label class="bookingForm__steps__label" v-html="dataStepTwo.available_start_dates"></label>
              <v-select
                v-model="pickedDate[index]"
                :options="item.startDates"
                placeholder="Please select"
                label="title"
                @input="(event) => { handleDate(event, item.id, index) }"
              ></v-select>
            </form>
            <form class="bookingForm__steps__form">
              <label class="bookingForm__steps__label" v-html="dataStepTwo.course_duration"></label>

              <v-select
                v-model="pickedDuration[index]"
                :options="computeAvailableDurations(duration[item.id])"
                placeholder="Please select"
                label="title"
                @input="(event) => { handleDuration(event, item.id, index) }"
              ></v-select>
            </form>
          </div>
        </div>
      </div>
      <YoungSubjects
        v-if="step2activePart===step2parts.youngProfessionals"
        :active-course="activeCourse"
        @changeForm="handleChangeSubjects"
        @calculateDuration="calculateDuration"
      />
      <OptionalExtras
        v-if="step2activePart===step2parts.optionalExtras"
        :active-course="activeCourse"
        @changeForm="handleChangeExtras"
      />
      <AdvancedSubjects
        v-if="step2activePart===step2parts.advancedSubjects"
        :active-course="activeCourse"
        @changeForm="handleChangeSubjects"
        @calculateDuration="calculateDuration"
      />
    </div>
    <div class="booking__buttons">
      <div class="booking_buttons__wrapper">
        <button class="booking__button --prev --transparent" @click="goBack">Previous</button>
        <button
          class="booking__button --next"
          @click="goNext"
          :disabled="disallowNextStep"
        >Next step</button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { bookingAxios } from "./../../../services/interceptor";
import YoungSubjects from "./Step02/YoungSubjects";
import AdvancedSubjects from "./Step02/AdvancedSubjects";
import OptionalExtras from "./Step02/OptionalExtras";
import { set } from "lodash";

export default {
  components: {
    YoungSubjects,
    AdvancedSubjects,
    OptionalExtras
  },
  data() {
    return {
      store: this.$root.store,
      activeDate: {},
      duration: {},
      pickedDate: [],
      pickedDuration: [],
      activeCourse: 0,
      step2parts: {
        chooseDates: 1,
        youngProfessionals: 2,
        optionalExtras: 3,
        advancedSubjects: 4
      },
      step2activePart: 1,
      availableOffers: []
    };
  },
  created: function() {
    this.getProduct();
  },
  computed: {
    dataStepTwo() {
      return this.store.bookingdata.step_two;
    },
    productsWithAttributes() {
      const _self = this;

      return this.store.coursesToBook.map((element, index) => {
        return {
          id: element.id,
          location:
            (element.location !== undefined &&
              element.location[0] !== undefined &&
              element.location[0].post_title) ||
            "",
          title: element.title,
          startDates:
            !!element.product &&
            !!element.product.attributes &&
            !!element.product.attributes[0] &&
            element.product.attributes[0].options,
          duration:
            !!element.product &&
            !!element.product.attributes &&
            !!element.product.attributes[1] &&
            element.product.attributes[1].options
        };
      });
    },
    disallowNextStep() {
      const productCount = this.productsWithAttributes.length;
      const pickedDurationCount = this.pickedDuration.length;

      if (this.step2activePart === this.step2parts.chooseDates) {
        return pickedDurationCount === productCount &&
          this.availableOffers.length
          ? false
          : true;
      }

      if (this.step2activePart === this.step2parts.youngProfessionals) {
        const activeCourse = this.store.choosenVariations[this.activeCourse];
        return false;
        return activeCourse && activeCourse.subjects
          ? activeCourse.subjects &&
              !activeCourse.subjects[activeCourse.subjects.length - 1]
                .selectedSubject
          : true;
      }

      if (this.step2activePart === this.step2parts.advancedSubjects) {
        const activeCourse = this.store.choosenVariations[this.activeCourse];
        return false;
        return activeCourse && activeCourse.subjects
          ? activeCourse.subjects &&
              !activeCourse.subjects[activeCourse.subjects.length - 1]
                .selectedAlternative
          : true;
      }
    }
  },
  methods: {
    computeAvailableDurations(elements) {
      return [...new Set(elements)];
    },
    calculateDuration(data) {
      const { attributes } = data;
      let duration = 0;
      for (let i = 0; i < attributes.length; i++) {
        const attribute = attributes[i];
        if (attribute.name === "duration") {
          duration = parseInt(attribute.option.split(" ")[0], 10);
          break;
        }
      }
      return duration;
    },
    computeAttributes(attributesArray, attributeName) {
      for (let i = 0; i < attributesArray.length; i++) {
        if (attributesArray[i].name === attributeName) {
          return attributesArray[i].options;
        }
      }
    },
    // possible this needs work
    handleChangeSubjects(event) {
      const coursesToBook = this.store.coursesToBook.map(course => {
        if (event.selectedCourseVariationId === course.selectedCourseVariationId) {
          course.weeks.map(week => {
            if (week.weekNumber === event.weekNumber) {
              const newWeek = JSON.parse(JSON.stringify(event));
              week = newWeek;
            }
          });
        }
        return course;
      });
  
      this.$set(this.store, "coursesToBook", coursesToBook);

      this.$set(this.store.choosenVariations, this.activeCourse, {
        ...this.store.choosenVariations[this.activeCourse],
        subjects: event
      });
    },
    // possibly this needs work
    handleChangeExtras(event) {
      const crossSellProducts = JSON.parse(JSON.stringify(event));
      if (crossSellProducts.length > 0) {
        const coursesToBook = this.store.coursesToBook.map(course => {
          if (crossSellProducts[0].selectedCourseVariationId === course.selectedCourseVariationId) {
            course.optionalExtras = event;
          }
          return course;
        });
        this.$set(this.store, "coursesToBook", coursesToBook);
      }

      // some old ones not sure we need but until we figure out i am leaving
      this.$set(this.store.choosenVariations, this.activeCourse, {
        ...this.store.choosenVariations[this.activeCourse],
        extraItems: event
      });
    },
    // it will always be one slug so we can check only the first one.
    prepareProgramTypeSlug(activeCourse) {
      return activeCourse !== undefined &&
        activeCourse.programType.length > 0 &&
        activeCourse.programType[0] !== undefined
        ? activeCourse.programType[0].slug
        : "";
    },
    goNext() {
      const { coursesToBook, choosenVariations } = this.store;
      if (coursesToBook.length === this.activeCourse) {
        sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
        this.$router.push({
          path: "/form/3"
        });
        return;
      }
      // this comparison is not fantastic but right now i am under lot of heat,
      // this we will need to make more stable not hardcoded
      while (
        coursesToBook[this.activeCourse] &&
        this.prepareProgramTypeSlug(coursesToBook[this.activeCourse]) !==
          "advanced-studies-programs" &&
        this.prepareProgramTypeSlug(coursesToBook[this.activeCourse]) !==
          "young-professionals"
      ) {
        this.activeCourse++;
      }

      if (
        !!choosenVariations[this.activeCourse] &&
        !!choosenVariations[this.activeCourse].subjects
      ) {
        this.activeCourse++;
      }

      if (
        coursesToBook[this.activeCourse] &&
        coursesToBook[this.activeCourse].product.cross_sell_ids.length &&
        choosenVariations[this.activeCourse] &&
        !choosenVariations[this.activeCourse].extraItems
      ) {
        this.step2activePart = this.step2parts.optionalExtras;
        return;
      }

      if (
        coursesToBook[this.activeCourse] &&
        this.prepareProgramTypeSlug(coursesToBook[this.activeCourse]) ===
          "young-professionals"
      ) {
        this.step2activePart = this.step2parts.youngProfessionals;
        return;
      }

      if (
        coursesToBook[this.activeCourse] &&
        this.prepareProgramTypeSlug(coursesToBook[this.activeCourse]) ===
          "advanced-studies-programs"
      ) {
        this.step2activePart = this.step2parts.advancedSubjects;
        return;
      }

      sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
      this.$router.push({
        path: "/form/3"
      });
    },
    goBack() {
      this.$router.go(-1);
    },
    handleDate(value, id, index) {
      const _self = this;
      _self.isWorking = true;
      bookingAxios
        .get(
          `${
            window.wpApiSettings.root
          }wc/v3/products/${id}/variations?search=${encodeURIComponent(value)}`
        )
        .then(function(response) {
          _self.$set(
            _self.duration,
            id,
            response.data.map(element => {
              return element.attributes[1].option;
            })
          );
          _self.$set(_self.activeDate, id, value);
          _self.isWorking = false;
        })
        .catch(() => {
          _self.isWorking = false;
        });
      this.pickedDuration[index] = null;
    },
    getProduct() {
      const _self = this;
      _self.isWorking = true;
      this.store.coursesToBook.map(element => {
        bookingAxios
          .get(`${window.wpApiSettings.root}wc/v3/products/${element.id}/`)
          .then(function(response) {
            _self.$set(
              _self.store,
              "coursesToBook",
              _self.store.coursesToBook.map(element => {
                if (element.id === response.data.id) {
                  return {
                    ...element,
                    product: response.data
                  };
                } else {
                  return element;
                }
              })
            );
            _self.isWorking = false;
          })
          .catch(function(error) {
            _self.isWorking = false;
          });
      });
    },
    handleDuration(value, id, index) {
      const _self = this;
      // TODO not sure why this does not dissapear investigate later
      // _self.isWorking = true;
      bookingAxios
        .get(
          `${
            window.wpApiSettings.root
          }wc/v3/products/${id}/variations?search="${encodeURIComponent(
            value
          )}",${encodeURIComponent(_self.activeDate[id])}`
        )
        .then(function(response) {
          _self.availableOffers = response.data.filter(
            element => element.stock_quantity > 0
          );

          _self.availableOffers = _self.availableOffers.sort((a, b) =>
            a.attributes.length < b.attributes.length ? 1 : -1
          );

          _self.store.studentDetails.nationality.country;

          if (_self.availableOffers.length) {
            _self.availableOffers = _self.availableOffers.filter(element => {
              if (element.attributes[2] == null) return true;
              if (
                element.attributes[2] &&
                element.attributes[2].option ===
                  _self.store.studentDetails.nationality.country
              )
                return true;
            });
          }

          const coursesToBook = JSON.parse(
            JSON.stringify(_self.store.coursesToBook)
          );
          /**
           * at this point we are certain that we have one and only one matching response
           */
          const searchedVariationId = _self.availableOffers[0].id;
          const selectedAttributes = _self.availableOffers[0].attributes;
          const selectedVariationPrice = _self.availableOffers[0].price;

          /**
           * here we map selectedCourseVariationId to courseToBook
           * else impossible for us to map subjects etc individually to variations
           * coursesToBook array will never be very big so we can afford to loop
           */

          for (let i = 0; i < coursesToBook.length; i++) {
            const course = coursesToBook[i];
            if (
              course.variationsIds.includes(searchedVariationId) &&
              !course.selectedCourseVariationId
            ) {
              set(course, "selectedCourseVariationId", searchedVariationId);
              set(course, "selectedAttributes", selectedAttributes);
              set(course, "selectedVariationPrice", selectedVariationPrice);
              break;
            }
          }
          _self.$set(_self.store, "coursesToBook", coursesToBook);

          !_self.availableOffers.length
            ? _self.$notify({
                group: "main",
                title: "Error",
                text: "Out of stock",
                type: "error"
              })
            : _self.$set(
                _self.store.choosenVariations,
                index,
                _self.availableOffers.map(element => {
                  return {
                    variationId: element.id,
                    startDate: element.attributes[0].option,
                    duration: element.attributes[1].option,
                    price: element.price
                  };
                })[0]
              );

          _self.isWorking = false;
        })
        .catch(() => {
          _self.isWorking = false;
        })
        .finally(() => {
          _self.isWorking = false;
        });
    }
  }
};
</script>
