<template>
  <div class="bookingForm__steps" v-loader="isWorking || store.isWorking">
    <template v-if="!wrongAgeGroup && !wrongNationality">
      <h2 class="bookingForm__steps__stepName" v-html="dataStepOne.title"></h2>
      <h1 class="bookingForm__steps__stepTitle" v-html="dataStepOne.student_details"></h1>
      <form class="bookingForm__steps__form" @submit="submit">
        <Input
          v-model="$v.form.firstName.$model"
          :label="dataStepOne.first_name"
          :error="$v.form.firstName.$error"
          :placeholder="dataStepOne.enter_first_name_here_placeholder"
        />
        <Input
          v-model="$v.form.lastName.$model"
          :label="dataStepOne.last_name"
          :error="$v.form.lastName.$error"
          :placeholder="dataStepOne.enter_last_name_here_placeholder"
        />
        <div class="bookingForm__steps__dateGenderWrapper">
          <div class="bookingForm__steps__date bookingForm__steps__input__container">
            <div class="bookingForm__steps__input__container">
              <label class="bookingForm__steps__label" v-html="dataStepOne.date_of_birth"></label>
              <p
                class="bookingForm__steps__error"
                v-if="($v.form.dateOfBirth.day.$error && !$v.form.dateOfBirth.day.required) || ($v.form.dateOfBirth.month.$error && !$v.form.dateOfBirth.month.required) || ($v.form.dateOfBirth.year.$error && !$v.form.dateOfBirth.year.required)"
              >This field is required</p>
              <p
                class="bookingForm__steps__error"
                v-if="($v.form.dateOfBirth.day.$error && !$v.form.dateOfBirth.day.between) || ($v.form.dateOfBirth.month.$error && !$v.form.dateOfBirth.month.between) || ($v.form.dateOfBirth.year.$error && !$v.form.dateOfBirth.year.between)"
              >Please enter a valid date of birth</p>

              <div class="bookingForm__steps__dateWrapper">
                <Input
                  v-model="$v.form.dateOfBirth.day.$model"
                  :error="$v.form.dateOfBirth.day.$error"
                  :placeholder="dataStepOne.dd_placeholder"
                  :container="false"
                  type="number"
                  modifier="--day"
                />-
                <Input
                  v-model="$v.form.dateOfBirth.month.$model"
                  :error="$v.form.dateOfBirth.month.$error"
                  :placeholder="dataStepOne.mm_placeholder"
                  :container="false"
                  type="number"
                  modifier="--month"
                />-
                <Input
                  v-model="$v.form.dateOfBirth.year.$model"
                  :error="$v.form.dateOfBirth.year.$error"
                  :placeholder="dataStepOne.yyyy_placeholder"
                  :container="false"
                  type="number"
                  modifier="--year"
                />
              </div>
            </div>
          </div>
          <div class="bookingForm__steps__gender bookingForm__steps__input__container">
            <label class="bookingForm__steps__label" v-html="dataStepOne.gender"></label>
            <p class="bookingForm__steps__error" v-if="$v.form.gender.$error">This field is required</p>
            <v-select
              v-model="form.gender"
              :options="dataStepOne.genders"
              :placeholder="dataStepOne.gender_placeholder"
              :class="{error: $v.form.gender.$error}"
              gender
              label="gender"
            ></v-select>
          </div>
        </div>
        <div class="bookingForm__steps__select bookingForm__steps__input__container">
          <label class="bookingForm__steps__label" v-html="dataStepOne.nationality"></label>
          <p
            class="bookingForm__steps__error"
            v-if="$v.form.nationality.$error"
          >This field is required</p>
          <v-select
            v-model="form.nationality"
            :options="nationalities"
            :placeholder="dataStepOne.nationality_placeholder"
            :class="{error: $v.form.nationality.$error}"
            label="country"
          ></v-select>
        </div>
        <div class="booking__buttons">
          <div class="booking_buttons__wrapper">
            <button
              class="booking__button --next"
              :disabled="$v.form.$invalid"
              type="submit"
            >{{store.bookingdata.start_page.next_step}}</button>
          </div>
        </div>
      </form>
    </template>
    <WrongAgeGroup
      v-if="wrongAgeGroup"
      :age-difference="ageDifference"
      :go-back="goBackFromWrongAge"
    />
    <WrongNationality
      v-if="wrongNationality"
      :age-difference="ageDifference"
      :student-nationality="form.nationality.country"
      :go-back="goBackFromWrongAge"
    />
  </div>
</template>

<script>
import { required, minLength, between } from "vuelidate/lib/validators";
import WrongAgeGroup from "./Step01/WrongAgeGroup"
import WrongNationality from "./Step01/WrongNationality"
import { bookingAxios } from "./../../../services/interceptor";

import Input from "./Input";

export default {
  props: {
    bookingdata: null,
    coursesToBook: null,
    nationalities: null
  },
  components: { Input, WrongAgeGroup, WrongNationality },
  data() {
    const store = this.$root.store;
    const studentDetails = store.studentDetails;

    return {
      store: this.$root.store,
      isWorking: false,
      value: null,
      array: [],
      form: {
        ...studentDetails
      },
      wrongAgeGroup: false,
      wrongNationality: false,
    };
  },
  validations: {
    form: {
      firstName: { required },
      lastName: { required },
      dateOfBirth: {
        day: {
          required,
          between: between(1, 31)
        },
        month: {
          required,
          between: between(1, 12)
        },
        year: {
          required,
          between: between(1900, new Date().getFullYear())
        }
      },
      gender: { required },
      nationality: { required }
    }
  },
  created: function() {
    this.getProduct();
  },
  computed: {
    dataStepOne() {
      return this.store && this.store.bookingdata.step_one;
    },
    ageDifference() {
      const currentYear = new Date().getFullYear();
      const birthYear = parseInt(this.form.dateOfBirth.year, 10)

      return currentYear - birthYear;
    },
    ageGroups() {
      const agesArray = this.store.coursesToBook[0].age.split("-");

      return {
        min: parseInt(agesArray[0], 10),
        max: parseInt(agesArray[1] || agesArray[0], 10),
      }
    }
  },
  methods: {
    goBackFromWrongAge() {
      this.wrongAgeGroup = false;
    },
    submit(event) {
      event.preventDefault();
      this.$v.$touch();

      if (this.ageDifference >= this.ageGroups.min && this.ageDifference <= this.ageGroups.max) {
        if (!this.$v.$invalid) {
          this.store.coursesToBook.map(element => {
            if (element.active_for_nationalities && !element.active_for_nationalities.includes(this.form.nationality.country)) {
              const variationPossibilities = !!element.product.attributes[2] &&  element.product.attributes[2].options;

              if (variationPossibilities === false || !variationPossibilities.includes(this.form.nationality.country)) {
                this.wrongNationality = true;
              }
            }
          })

          if (this.wrongNationality) return;

          this.$set(this.store, "studentDetails", {
            ...this.form
          });
          sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
          this.$router.push({
            path: "/form/2"
          });
        }
      } else {
        this.wrongAgeGroup = true;
      }

    },
    getProduct() {
      const _self = this;
      this.store.coursesToBook.map(element => {
        _self.isWorking = true;
        bookingAxios
          .get(
            `${window.wpApiSettings.root}wc/v3/products/${element.id}/`
          )
          .then(function(response) {
            _self.$set(_self.store, "coursesToBook", _self.store.coursesToBook.map(element => {
              if (element.id === response.data.id) {
                return {
                  ...element,
                  product: response.data,
                }
              } else {
                return element
              }
            }));
            _self.isWorking = false;
          })
          .catch(function(error) {
            _self.isWorking = false;
          });
      });
    }
  }
};
</script>
