<template>
  <div class="bookingForm__steps" v-loader="store.isWorking">
    <h2 class="bookingForm__steps__stepName" v-html="dataStepThree.title"></h2>
    <h1
      class="bookingForm__steps__stepTitle"
      v-html="dataStepThree.parentguardian_details"
    ></h1>
    <form class="bookingForm__steps__form" @submit="submit">
      <div class="bookingForm__steps__input__container">
        <label class="bookingForm__steps__label" v-html="dataStepThree.title_label"></label>
        <p class="bookingForm__steps__error" v-if="$v.form.titles.$error">This field is required</p>
        <v-select
          v-model="form.titles"
          class="smallerWidth"
          :class="{error: $v.form.titles.$error}"
          :options="!!dataStepThree && dataStepThree.titles"
          :placeholder="dataStepThree.title_placeholder"
          label="title"
        ></v-select>
      </div >
      <Input
        v-model="$v.form.firstName.$model"
        :label="dataStepThree.first_name"
        :error="$v.form.firstName.$error"
        :placeholder="dataStepThree.enter_first_name_here"
      />
      <Input
        v-model="$v.form.lastName.$model"
        :label="dataStepThree.last_name"
        :error="$v.form.lastName.$error"
        :placeholder="dataStepThree.enter_last_name_here"
      />
      <Input
        v-model="$v.form.adressLine1.$model"
        :label="dataStepThree.address_line_1"
        :error="$v.form.adressLine1.$error"
        :placeholder="dataStepThree.enter_address_line_1"
      />
      <Input
        v-model="$v.form.adressLine2.$model"
        :label="dataStepThree.address_line_2"
        :error="$v.form.adressLine2.$error"
        :placeholder="dataStepThree.enter_address_line_2"
      />
      <Input
        v-model="$v.form.cityTown.$model"
        :label="dataStepThree.city__town"
        :error="$v.form.cityTown.$error"
        :placeholder="dataStepThree.enter_city__town"
      />
      <Input
        v-model="$v.form.postalCode.$model"
        :label="dataStepThree.zip__postal_code"
        :error="$v.form.postalCode.$error"
        :placeholder="dataStepThree.enter_zip__postal_code"
      />
      <div class="bookingForm__steps__input__container">
        <label class="bookingForm__steps__label" v-html="dataStepThree.country"></label>
        <p class="bookingForm__steps__error" v-if="$v.form.country.$error">This field is required</p>
        <v-select
          v-model="form.country"
          :options="nationalities"
          :class="{error: $v.form.country.$error}"
          :placeholder="!!dataStepThree && dataStepThree.enter_country"
          label="country"
        ></v-select>
      </div>
      <div class="bookingForm__steps__input__container">
        <label class="bookingForm__steps__label" v-html="dataStepThree.contact_number"></label>
        <p class="bookingForm__steps__error" v-if="$v.form.areas.$error || $v.form.contactNumber.$error">This field is required</p>
        <div class="bookingForm__steps__inputWrapper">
          <v-select
            v-model="form.areas"
            :class="{error: $v.form.areas.$error}"
            class="smallerWidth"
            :options="!!dataStepThree && dataStepThree.areas"
            :placeholder="dataStepThree.area_code_placeholder"
            label="area"
          ></v-select>
          <Input
            v-model="$v.form.contactNumber.$model"
            :label="dataStepThree.zip__postal_code"
            :error="$v.form.contactNumber.$error"
            :placeholder="dataStepThree.contact_number_placeholder"
            :container="false"
          />
        </div>
      </div>
      <div class="booking__buttons">
        <div class="booking_buttons__wrapper">
          <button class="booking__button --prev --transparent">Previous</button>
          <button type="submit" class="booking__button --next">Next step</button>
        </div>
      </div>
    </form>
  </div>
</template>
 
<script>
import { required, minLength } from "vuelidate/lib/validators";

import Input from "./Input";

const store = function(self) {
  return self.$root.store;
}

export default {
  props: {
    bookingdata: null,
    nationalities: null
  },
  components: { Input },
  data() {
    const store = this.$root.store;
    const parentDetails = store.parentDetails;

    return {
      value: null,
      store,
      form: {
        ...parentDetails
      }
    };
  },
  validations: {
    form: {
      titles: {required},
      firstName: {required},
      lastName: {required},
      adressLine1: {required},
      adressLine2: {required},
      cityTown: {required},
      postalCode: {required},
      country: {required},
      areas: {required},
      contactNumber: {required},
    }
  },
  computed: {
    dataStepThree() {
      return this.store.bookingdata.step_three;
    }
  },
  methods: {
    submit(event) {
      event.preventDefault();
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.$set(this.store, "parentDetails", {
          ...this.form
        });
         sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
        this.$router.push({
          path: "/form/4"
        });
      }
    }
  }
};
</script>
