.ErrorPage {
    background-size: cover;
    background-position: 100%;
    height: calc(100vh - 52px);
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        opacity: .7;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $black;
        position: absolute;
    }

    .logged-in & {
        height: calc(100vh - 98px);
    }

    @include breakpoint(phone_big) {
        margin-top: 38px;
    }

    @include breakpoint(tablet_768) {
        height: calc(100vh - 90px);
        margin-top: 0;

        .logged-in & {
            height: calc(100vh - 122px);
        }
    }

    &__content {
        padding: 30px;
        position: relative;

        @include breakpoint(tablet_768) {
            padding: 78px 100px 100px;
        }

        &__message {
            @include latoBold();

            color: $white;
            font-size: 14px;
            letter-spacing: 2.1px;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        &__title {
            @include playfairBold();

            color: $white;
            font-size: 130px;
            line-height: .44;
            margin-bottom: 20px;

            @include breakpoint(tablet_768) {
                font-size: 180px;
            }
        }

        &__back {
            min-width: 180px;
            margin-top: 85px;
            padding: 18px 25px;
        }
    }
}
