.About {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;

    @include breakpoint(phone_big) {
        top: 90px;
    }

    @include breakpoint(tablet_768) {
        margin-top: 0;
    }

    @include breakpoint(tablet_big) {
        top: 0;
    }

    @include breakpoint(desktop_small) {
        @include fullHeightSection();

        flex-wrap: nowrap;
    }

    &__left {
        width: 100%;
        color: $white;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .expanded & {
            display: none;
        }

        @include breakpoint(desktop_small) {
            width: 400px;
            height: auto;
            order: 1;
        }

        @include breakpoint(desktop) {
            width: 550px;
        }

        &__content {
            &__subtitle {
                @include latoBold();

                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 2.4px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }
            }

            &__title {
                @include playfairBold();

                font-size: 36px;
                margin-bottom: 20px;

                @include breakpoint(tablet_768) {
                    font-size: 50px;
                }

                @include breakpoint(tablet_big) {
                    font-size: 55px;
                }
            }

            &__text {
                max-width: 330px;
                line-height: 20px;
                font-size: 14px;
                color: rgba($white, .7);

                @include breakpoint(tablet) {
                    max-width: 310px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        &__background {
            background-repeat: no-repeat;
            background-size: cover;
            height: 300px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .5);
            }

            @include breakpoint(tablet_768) {
                height: 400px;
            }

            @include breakpoint(desktop_small) {
                height: 100%;
            }
        }

        &__content {
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(tablet_768) {
                left: 60px;
                max-width: 370px;
            }

            @include breakpoint(desktop) {
                left: 100px;
            }
        }
    }

    &__menu {
        width: 100%;
        background: $blue;
        order: 2;
        overflow-y: scroll;

        @include hideScrollBar();

        .expanded & {
            display: none;
        }

        @include breakpoint(desktop_small) {
            width: 250px;
            padding-top: 40px;
        }

        @include breakpoint(desktop) {
            width: 370px;
        }

        &__item {
            list-style: none;
            padding: 15px 10px 15px 35px;
            position: relative;
            border-bottom: 1px solid rgba($white, .3);

            @include breakpoint(tablet_768) {
                padding: 15px 10px 15px 60px;
            }

            @include breakpoint(desktop_small) {
                border-bottom: 0;
                padding: 10px 10px 10px 35px;
            }

            @include breakpoint(desktop) {
                padding: 15px 10px 15px 60px;
            }

            &__link {
                @include playfairBold();

                font-size: 23px;
                line-height: 32px;
                color: rgba($white, .3);
                transition: color .3s;
                display: block;
                max-width: 295px;

                @include breakpoint(tablet_768) {
                    font-size: 28px;
                    margin-top: 10px;
                    margin-bottom: 13px;
                    max-width: 100%;
                }

                @include breakpoint(desktop_small) {
                    max-width: 295px;
                    font-size: 18px;
                    margin-right: 35px;
                }

                @include breakpoint(desktop) {
                    max-width: 265px;
                    font-size: 28px;
                    margin-right: 0;
                }

                &:hover {
                    color: $white;
                }

                span {
                    display: none;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: 55px;
                    top: 50%;
                    transform: translateY(-50%);

                    @include breakpoint(desktop_small) {
                        right: 30px;
                    }

                    @include breakpoint(desktop) {
                        right: 35px;
                    }
                }
            }

            &.is-active {
                a {
                    color: $white;
                }

                @include breakpoint(desktop_small) {
                    span {
                        display: block;
                    }

                    border-top: 1px solid rgba($white, .3);
                    border-bottom: 1px solid rgba($white, .3);
                }
            }

            &--hasChildren {
                &.is-active {
                    border-top: 1px solid rgba($white, .3);
                    border-bottom: 1px solid rgba($white, .3);

                    a {
                        position: relative;
                        color: $white;
                    }

                    span {
                        @include breakpoint(desktop_small) {
                            right: -15px;
                        }

                        @include breakpoint(desktop) {
                            right: -10px;
                        }
                    }
                }
            }
        }

        &__submenu {
            margin-top: 15px;
            display: none;

            .is-active & {
                display: block;
            }

            &__item {
                a {
                    @include latoRegular();

                    color: rgba($white, .3) !important;
                    line-height: 26px;
                    font-size: 16px;

                    &:hover {
                        color: $white !important;
                    }
                }

                &.is-active {
                    padding-left: 15px;
                    position: relative;

                    a {
                        color: $white !important;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 5px;
                        height: 5px;
                        background: $white;
                        top: 50%;
                        transform: translateY(-50%);
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    &__right {
        order: 3;
        width: 100%;
        overflow-y: scroll;
        background: $greyBG;
        padding: 70px 0;
        display: none;

        &.is-modal {
            animation: slideLeft .8s forwards;
            animation-delay: 1.5s;
            right: -100vw;
            top: 52px;
            bottom: 0;
            position: fixed;
            min-height: 100vh;
            display: block;

            .logged-in & {
                top: 98px;
            }
        }

        &.is-about {
            &.is-modal {
                padding: 0 0 40px;
            }
        }

        @keyframes slideLeft {
            0% { right: -100vw; }
            100% { right: 0; }
        }

        @include breakpoint(phone_big) {
            padding: 60px 45px 70px;

            &.is-modal {
                top: 90px;

                .logged-in & {
                    top: 136px;
                }
            }
        }

        @include breakpoint(tablet_768) {
            &.is-modal {
                .logged-in & {
                    top: 122px;
                }
            }
        }

        @include breakpoint(desktop_small) {
            width: calc(100vw - 650px);
            position: relative;
            padding: 0;
            display: block;

            .logged-in & {
                top: 0;
            }
        }

        @include breakpoint(desktop) {
            width: calc(100vw - 920px);
        }

        @include hideScrollBar();

        &__hero {
            position: relative;
            padding-bottom: 53%;
            background-size: cover;
            background-repeat: no-repeat;

            &__expand {
                width: 65px;
                height: 65px;
                background: $white;
                bottom: 0;
                left: 0;
                position: absolute;
                text-align: center;
                cursor: pointer;
                display: none;

                @include breakpoint(desktop_small) {
                    display: block;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 27px;
                    height: 27px;
                }
            }
        }

        &__title {
            @include latoBold();

            text-transform: uppercase;
            display: block;
            background: $greyBG;
            padding-left: 35px;
            padding-top: 25px;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 2.4px;
            color: $blue;
            z-index: 10;
            margin-bottom: 20px;

            @include breakpoint(tablet_768) {
                padding-left: 60px;
                font-size: 16px;
                padding-top: 35px;
            }

            @include breakpoint(desktop_small) {
                font-size: 20px;
                line-height: 28px;
            }

            &__page {
                display: none;
            }
        }

        &__content {
            overflow-y: scroll;
            position: relative;

            @include hideScrollBar();

            .expanded & {
                width: 50%;
            }

            .component {
                &:nth-of-type(1) {
                    padding-top: 0;
                }
            }
        }

        &__hero {
            .expanded & {
                order: 2;
                background-size: cover;
                height: calc(100vh - 90px);
                padding-bottom: 0;
                width: 50%;

                .logged-in & {
                    height: calc(100vh - 122px);
                }

                &__expand {
                    display: none;
                }
            }
        }

        .expanded & {
            width: 100%;
            display: flex;

            .component {
                width: 100%;
                order: 1;

                &:nth-child(1) {
                    padding-top: 200px;
                }
            }

            .StandardText {
                padding: 30px 100px;
            }

            &__close {
                display: block;
            }

            &__title {
                display: block;
                padding-left: 100px;
                padding-top: 60px;

                &__page {
                    @include playfairBold();

                    display: block;
                    background: $greyBG;
                    padding-left: 100px;
                    font-size: 55px;
                    line-height: 55px;
                }
            }
        }

        &__close {
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background-color: $brown;
            z-index: 10;
            cursor: pointer;
            transition: background-color .3s;

            &:hover {
                background-color: $blue;
            }

            @include breakpoint(tablet) {
                left: 0;
                width: 63px;
                height: 63px;
            }

            @include breakpoint(desktop_small) {
                display: none;
            }

            span {
                width: 15px;
                height: 20px;
                color: $white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .StandardText {
            background: $greyBG;
            padding-top: 0;

            p {
                padding-top: 0;
            }
        }
    }
}

.englishTest {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 110px;

    @include breakpoint(tablet_768) {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 45px;
    }

    @include breakpoint(desktop_big) {
        width: 700px;
    }

    .btn-summary1 {
        width: 200px !important;

        .button {
            &:active,
            &:focus {
                background: $brown;
            }
        }
    }

    .is-summary02 {
        .button {
            display: flex;
            align-items: center;
            justify-content: center;

            &:active,
            &:focus {
                background: $brown;
            }

            @include breakpoint(phone_big) {
                display: inline-block;
            }
        }
    }

    &__buttons {
        &__wrapper {
            &.is-summary02 {
                display: flex;
                justify-content: space-between;
            }

            .button {
                cursor: pointer;
            }
        }
    }

    &__steps {
        &__welcoming {
            @include latoRegular();

            font-size: 16px;
            line-height: 22px;
            color: $greyLighter;
        }

        &__error {
            color: $red;
        }

        &__stepName {
            @include playfairBold();

            font-size: 28px;
            line-height: 28px;
            color: $blue;
        }

        &__stepDescription,
        &__stepLevelDesc,
        &__stepSummary,
        &__stepContact__label,
        &__stepLiveChat__label {
            @include latoSemi();

            font-size: 16px;
            line-height: 26px;
            color: rgba($black, .5);
            margin-top: 10px;

            &.is-summary1 {
                padding-bottom: 70px;
                border-bottom: 1px solid $greyBG;
            }

            &.is-summary2 {
                padding-top: 30px;
            }
        }

        &__stepDescription {
            &.is-summary1 {
                padding-bottom: 30px;
            }
        }

        &__stepSummary {
            margin-top: 45px;
        }

        &__stepLiveChat {
            margin-top: 35px;
            padding-bottom: 50px;
            border-bottom: 1px solid $greyLight;

            &__label {
                display: block;
            }

            .button {
                color: $blue;
                text-decoration: none;
                background: transparent;
                border: 1px solid $blue;

                &:hover {
                    color: $white;
                    background: $brown;
                    border: 1px solid $brown;
                }
            }
        }

        &__stepContact {
            margin-top: 35px;

            &__label {
                margin-bottom: 10px;
            }

            &__phone,
            &__email,
            &__whatsapp {
                @include latoSemi();

                font-size: 18px;
                line-height: 26px;
                color: $blue;

                &:hover,
                &:focus,
                &:active {
                    color: $blue;
                    text-decoration: none;
                }
            }

            &__phone {
                display: block;
                margin-top: 10px;

                @include breakpoint(phone) {
                    padding-left: 5px;
                    display: inline;
                    margin-top: 0;
                }
            }

            &__email {
                position: relative;
                padding-right: 20px;

                @include breakpoint(phone) {
                    &:after {
                        content: "|";
                        position: absolute;
                        right: 0;
                        top: -2px;
                    }
                }
            }

            &__whatsapp {
                display: block;
                margin-top: 10px;

                &__number {
                    margin-left: 5px;
                }
            }
        }

        &__stepDescription {
            p {
                @include latoSemi();

                color: rgba($black, .5);
                margin-bottom: 15px;

                strong {
                    color: $blue;
                    font-weight: 600;
                }
            }
        }

        &__stepLevelDesc {
            padding-top: 30px;
            border-top: 1px solid $greyLight;
            margin-bottom: 5px;
        }

        &__stepLevel {
            @include latoBold();

            font-size: 18px;
            letter-spacing: 2.4px;
            color: $blue;
            text-transform: uppercase;
        }

        &__questions {
            &__single {
                border-bottom: 1px solid $greyLight;
                margin-top: 50px;

                &:last-of-type {
                    border-bottom: 0;
                }

                &__question {
                    p {
                        @include latoRegular();

                        font-size: 16.5px;
                        line-height: 22.5px;
                        color: $blue;
                        margin-bottom: 30px;

                        strong {
                            font-weight: 600;
                            border-bottom: 1px solid rgba($blue, 1);
                            padding: 0 20px;
                        }
                    }
                }

                button {
                    background: $white;
                    padding: 12px 14px;
                    color: rgba($blue, .7);
                    border: 1px solid $border;
                    box-shadow: none;
                    margin-right: 10px;
                    outline: 0;
                    margin-bottom: 10px;

                    @include breakpoint(phone) {
                        margin-bottom: 45px;
                    }

                    &.active {
                        color: $blue;
                        border: 1px solid $blue;
                    }
                }
            }
        }

        button {
            cursor: pointer;
        }

        textarea {
            max-height: 100%;
            height: 275px;
            color: $blue;
            border: 1px solid $greyLight;
            font-weight: 600;
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;

        &__field {
            width: 48%;
            margin-bottom: 20px;

            &:nth-of-type(1),
            &:nth-of-type(3) {
                margin-right: 4%;
            }

            &.is-email,
            &.is-reason,
            button {
                width: 100%;

                input {
                    position: relative;
                    z-index: 2;
                    height: 40px;
                    cursor: pointer;

                    &:hover,
                    &:focus,
                    &:active {
                        background: transparent;
                    }

                    &[type="radio"] {
                        opacity: 0;
                    }
                }
            }

            &.is-reason {
                div {
                    position: relative;
                    border: 1px solid $border;
                    width: 100%;
                    color: rgba($black, .5);
                    margin-bottom: 15px;
                    height: 45px;

                    span {
                        @include latoSemi();

                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        padding-left: 15px;
                        font-size: 16px;
                    }

                    &.active {
                        border: 1px solid $blue;
                        color: $blue;
                        background: transparent;
                        z-index: 100;
                    }
                }
            }

            &__input,
            &__select,
            button {
                @include latoSemi();

                border: 1px solid $border;
                width: 100%;
                color: $blue;
                padding: 10px 15px;

                &:hover,
                &:active,
                &:focus {
                    border: 1px solid $border;
                }
            }

            &__select {
                padding: 0 !important;

                &.vue-treeselect {
                    height: 41px !important;
                    border: none;
                }

                .vue-treeselect__control {
                    height: 41px !important;
                }

                .vue-treeselect__menu {
                    padding: 0;
                }
            }

            &.is-checkbox {
                display: flex;
                width: 100%;
                align-items: center;

                #gdpr {
                    visibility: hidden;
                    width: 0;
                }

                label,
                input {
                    cursor: pointer;
                }

                label {
                    padding: 0;
                    padding-left: 35px;

                    @include breakpoint(phone_big) {
                        padding-left: 25px;
                    }
                }

                input[type="checkbox"] {
                    -webkit-appearance: checkbox;
                    -moz-appearance: checkbox;
                    appearance: checkbox;
                    width: 25px;
                    height: 25px;
                    margin: 0;

                    @include breakpoint(phone_big) {
                        width: 15px;
                        height: 15px;
                    }
                }
            }

            .englishTest__form__field__checkbox:checked+label:before {
                content: "✓";
            }

            &__label {
                &.is-custom {
                    position: relative;
                    line-height: 17px;

                    &:before {
                        content: "";
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        left: 0;
                        top: -1px;
                        line-height: 25px;
                        background: $greyBG;
                        border: 1px solid $border;
                        text-align: center;
                        color: $blue;

                        @include breakpoint(phone_big) {
                            width: 15px;
                            height: 15px;
                            line-height: 15px;
                            font-size: 12px;
                        }
                    }
                }
            }

            ::-webkit-input-placeholder {
                /* Chrome */
                color: $blue;
            }

            :-ms-input-placeholder {
                /* IE 10+ */
                color: $blue;
            }

            ::-moz-placeholder {
                /* Firefox 19+ */
                color: $blue;
            }

            :-moz-placeholder {
                /* Firefox 4 - 18 */
                color: $blue;
            }

            &__select {
                font-size: 16px;
                padding-left: 15px;
                width: 100%;
                padding-right: 30px;
                background: $white;

                &:focus,
                &:active {
                    outline: 0;
                }

                &::-ms-expand {
                    display: none;
                }
            }

            button {
                background: $white;
                height: 45px;
                margin-bottom: 15px;
                text-align: left;
                padding-left: 15px;
            }
        }
    }

    .button {
        width: 155px;
        margin-top: 20px;

        &.is-brown {
            &:hover {
                border: 2px solid $blue;
                color: $blue;
            }

            &.is-step08 {
                width: auto;
            }
        }

        &.is-ghost {
            background: none;
            border: 2px solid $primary;
            color: $primary;

            &:hover {
                color: $white;
                background: $primary;
            }
        }

        &:disabled {
            opacity: .5;
        }
    }
}

.EnglishTestForm {
    top: 0;
}
