/* My Account */
.Account {
    color: $white;
    background-color: $nearlyWhite;

    &__hero {
        width: 100%;
        height: 330px;
        position: relative;

        @include breakpoint(tablet_768) {
            height: 500px;
        }

        &__title {
            @include latoRegular();

            font-size: 19px;
            font-weight: bold;
            letter-spacing: 2.4px;
            text-transform: uppercase;

            @include breakpoint(tablet_768) {
                font-size: 16px;
            }
        }

        &__subtitle {
            @include playfairBold();

            font-size: 46px;
            font-weight: bold;
            line-height: 1;
            margin: 19px 0 23px;

            @include breakpoint(tablet_768) {
                font-size: 43px;
                margin: 7px 0 37px;
            }
        }

        &__content {
            @include latoRegular();

            width: 100%;
            max-width: 440px;
            line-height: 1.38;
            font-size: 18px;

            @include breakpoint(tablet_768) {
                max-width: 446px;
                font-size: 16px;
            }
        }

        &__overlay {
            background: rgba(0, 0, 0, .2);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            padding: 30px;
            display: flex;

            @include breakpoint(tablet_768) {
                padding-bottom: 180px;
            }
        }

        &__inner {
            width: 100%;
            max-width: 1130px;
            margin: 0 auto;
            align-self: center;
        }
    }

    &__tabs {
        width: 100%;
        max-width: 1164px;
        margin: 0 auto;

        @include breakpoint(tablet_768) {
            margin-top: -180px;
        }

        &__navigation {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            padding: 0 32px;
            width: 100%;
            background: rgb(15, 34, 69);

            @include breakpoint(tablet_768) {
                background: transparent;
                padding: 0 0 0 32px;
            }

            &__element {
                @include latoRegular();

                cursor: pointer;
                padding-bottom: 26px;
                padding-top: 20px;
                z-index: 1000;
                flex: 0 0 auto;
                margin-right: 42px;
                font-size: 22px;
                text-transform: capitalize;

                &,
                &:hover,
                &:active,
                &:visited {
                    color: white;
                }

                @include breakpoint(tablet_768) {
                    font-size: 18px;
                }

                &.router-link-active {
                    color: white;
                    border-bottom: 4px solid $brown;
                }

                &--logout {
                    margin-left: auto;
                    padding-right: 0;
                    margin-right: 0;
                }
            }
        }

        &__content {
            background-color: $white;
            box-shadow: 0 0 32.9px 2.1px rgba(0, 0, 0, .06);
            padding: 52px 25px 30px;
            position: relative;

            @include breakpoint(phone) {
                padding: 52px 35px 30px;
            }

            @include breakpoint(tablet_768) {
                padding: 60px 80px;
                margin-top: -4px;
            }
        }
    }

    &__footer {
        text-align: center;
        padding: 30px 0;

        &__button {
            @include latoBold();

            font-size: 14px;
            background: transparent;
            border: 0;
            color: $blue;
        }
    }
}

.PastCourses {
    color: black;
}

.ParentDetails {
    color: black;
}

.MyBookings {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @include breakpoint(tablet_768) {
            margin-bottom: 20px;
        }
    }

    &__footer {
        margin-top: 30px;
    }

    &__label {
        @include latoBold();

        font-size: 19px;
        color: $paragraph;
        margin-left: 22px;
        padding: 0;

        @include breakpoint(tablet_768) {
            margin-left: 0;
            font-size: 16px;
        }
    }

    &__viewAll {
        @include latoBold();

        cursor: pointer;
        background: transparent;
        border: 0;
        font-size: 18px;
        color: $blue;
        margin-left: 16px;

        @include breakpoint(tablet_768) {
            font-size: 16px;
        }

        &.mobileHide {
            display: none;

            @include breakpoint(tablet_768) {
                display: block;
            }
        }

        &.desktopHide {
            display: block;

            @include breakpoint(tablet_768) {
                display: none;
            }
        }
    }

    &__section {
        margin-bottom: 50px;
    }

    &__requiredTask {
        cursor: pointer;
        border: solid 1px $paragraph;
        background: $white;
        display: none;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px 15px 15px 22px;
        transition: all .3s ease-in-out;

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            display: flex;
        }

        .all-tasks-visible & {
            display: flex;
        }

        @include breakpoint(tablet_768) {
            padding: 15px 25px 15px 15px;
        }

        &__title,
        &__text {
            @include latoRegular();

            color: $blue;
            font-size: 16px;
            line-height: 1.4;
            transition: all .3s ease-in-out;
            display: inline-block;
            width: 100%;

            @include breakpoint(phone) {
                font-size: 21px;
            }

            @include breakpoint(tablet_768) {
                width: initial;
                font-size: 16px;
            }

            strong {
                @include latoBold();
            }
        }

        &__icon {
            width: 20px;

            .svgIcon>svg path {
                fill: $blue;
                transition: all .3s ease-in-out;
            }
        }

        &__copy {
            flex: 1;
            margin: 0 25px;
            flex-direction: column;

            @include breakpoint(tablet_768) {
                margin: 0 15px;
                flex-direction: row;
            }

            &.--hasAlert {
                display: flex;
                justify-content: space-between;
            }
        }

        &__alert {
            @include latoBold();

            font-size: 13px;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: left;

            @include breakpoint(phone) {
                font-size: 19px;
            }

            @include breakpoint(tablet_768) {
                font-size: 14px;
            }

            .svgIcon {
                margin-right: 4px;
            }

            &.--red {
                color: #ff2828;
            }

            &.--green {
                color: #10b210;
            }
        }

        &__arrowRight {
            width: 17px;
            height: 15px;
            position: relative;

            @include breakpoint(tablet_768) {
                width: 10px;
                height: 11px;
            }

            svg {
                position: absolute;
                top: 0;
                left: 0;

                path {
                    transition: all .3s ease-in-out;
                }
            }
        }

        &:hover {
            border-color: $blue;
            background: $blue;

            .MyBookings__requiredTask__title,
            .MyBookings__requiredTask__text {
                color: $white;
            }

            .svgIcon>svg path {
                fill: $white;
            }
        }
    }

    &__courseApplications {
        margin-bottom: 0;
    }

    &__courseApplication {
        color: $blue;
        background-color: $nearlyWhite;
        margin-top: 15px;
        cursor: pointer;

        @include breakpoint(tablet_768) {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }

        &__date {
            @include latoSemi();

            background-color: $blue;
            display: flex;
            flex-direction: row;
            padding: 15px;

            @include breakpoint(tablet_768) {
                flex-direction: column;
                width: 150px;
                justify-content: center;
                align-items: center;
                padding: 30px 15px;
            }
        }

        &__days {
            @include latoBold();

            color: $white;

            @include breakpoint(tablet_768) {
                font-size: 26px;
                margin-bottom: 8px;
            }
        }

        &__month {
            @include latoBold();

            color: $white;
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-left: 8px;

            @include breakpoint(tablet_768) {
                font-size: 12px;
                margin-left: 0;
            }
        }

        &__copy {
            padding: 7px 15px;

            @include breakpoint(tablet_768) {
                margin-left: 24px;
                flex: auto;
                padding: 15px;
            }
        }

        &__title {
            @include playfairBold();

            font-size: 22px;
            line-height: 1.4;
        }

        &__place {
            @include latoBold();

            font-size: 14px;
            line-height: 1.83;
            letter-spacing: 1.8px;

            @include breakpoint(tablet_768) {
                font-size: 12px;
                line-height: 1.4;
                margin-bottom: 4px;
            }
        }

        &__person {
            @include latoRegular();

            font-size: 16px;
            line-height: 1.38;
        }

        &__progres {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 15px;

            @include breakpoint(tablet_768) {
                padding-right: 25px;
            }

            h5 {
                @include latoBold();

                font-size: 14px;
                line-height: 1.38;
                margin-right: 10px;

                @include breakpoint(tablet_768) {
                    font-size: 16px;
                }
            }

            .svgIcon {
                margin-left: 10px;
            }

            .svgIcon>svg path {
                fill: $blue;
            }

            .MyBookings__requiredTask__arrowRight {
                @include breakpoint(tablet_768) {
                    width: 10px;
                    height: 11px;
                }
            }
        }
    }

    &__meta {
        display: flex;
        color: $blue;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 10px;

        @include breakpoint(tablet_768) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0;
        }

        .MyBookings__courseApplication__days,
        .MyBookings__courseApplication__month {
            color: $blue;
        }

        &__dateArrow {
            display: flex;
            align-items: center;
            padding-right: 45px;
        }

        &__copy {
            flex: auto;
            margin-top: 20px;

            @include breakpoint(tablet_768) {
                border-left: 1px solid $nearlyWhite;
                padding-left: 45px;
                padding-right: 10px;
                margin-top: 0;
            }

            .MyBookings__courseApplication__title {
                font-size: 25px;

                @include breakpoint(phone) {
                    font-size: 32px;
                }

                @include breakpoint(tablet_768) {
                    font-size: 28px;
                }
            }

            .MyBookings__courseApplication__place {
                color: $blue;
                line-height: 1.22;
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-weight: 400;
                margin-top: 10px;
                letter-spacing: inherit;

                @include breakpoint(phone) {
                    font-size: 20px;
                    text-transform: initial;
                    margin-bottom: initial;
                }

                @include breakpoint(tablet_768) {
                    font-size: 18px;
                }
            }

            .MyBookings__courseApplication__person {
                display: initial;
                font-size: 16px;

                @include breakpoint(phone) {
                    font-size: 22px;
                }

                @include breakpoint(tablet_768) {
                    display: none;
                }
            }
        }

        &__date {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .svgIcon {
                display: none;
            }

            @include breakpoint(tablet_768) {
                display: initial;

                .svgIcon {
                    display: initial;
                }

                text-align: center;
            }

            .MyBookings__courseApplication__days {
                @include latoRegular();

                font-size: 26px;
                line-height: .79;
                text-align: center;
                color: $blue;
                margin: 10px 0;
            }

            .MyBookings__courseApplication__month {
                @include latoBold();

                font-size: 26px;
                line-height: .79;
                text-align: center;
                color: $blue;
                letter-spacing: 1.8px;
                margin-left: 8px;

                @include breakpoint(desktop_small) {
                    font-size: 13px;
                    margin-left: 0;
                }
            }
        }

        &__arrow {
            height: 10px;
            margin-right: 24px;
            margin-left: 11px;
            cursor: pointer;
            width: 16px;

            @include breakpoint(tablet_768) {
                width: 12px;
                margin-right: 50px;
            }

            svg {
                transform: rotate(180deg);
            }
        }

        &__button {
            background: transparent;
            border: solid 1px $blue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 20px;
            margin-top: 22px;

            @include breakpoint(phone) {
                padding: 8px 36px;
            }

            @include breakpoint(tablet_768) {
                padding: 6px 20px;
                margin-top: 0;
            }

            &__copy {
                @include latoBold();

                font-size: 14px;
                line-height: 1.86;
                color: $blue;
                padding-right: 25px;

                @include breakpoint(phone) {
                    font-size: 18px;
                }

                @include breakpoint(tablet_768) {
                    font-size: 14px;
                }
            }

            .svgIcon {
                width: 14px;
                height: 11px;

                @include breakpoint(tablet_768) {
                    width: 10px;
                }
            }
        }
    }

    &__progress {
        padding: 55px 0 40px;

        @include breakpoint(tablet_768) {
            padding: 30px 0 40px;
        }

        &__copy {
            @include latoBold();

            font-size: 16px;
            line-height: 1.38;
            text-align: right;
            color: #d2c19f;
            display: block;
            margin-bottom: 10px;

            @include breakpoint(phone) {
                font-size: 22px;
            }

            @include breakpoint(tablet_768) {
                font-size: 16px;
            }
        }

        &__background {
            height: 3px;
            width: 100%;
            background-color: #f1ede1;

            @include breakpoint(phone) {
                height: 6px;
            }

            @include breakpoint(tablet_768) {
                height: 3px;
            }
        }

        &__bar {
            height: 3px;
            background-color: #b99f66;

            @include breakpoint(phone) {
                height: 6px;
            }

            @include breakpoint(tablet_768) {
                height: 3px;
            }
        }
    }

    &__wrap {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__main {
        flex: auto;

        .MyBookings__requiredTask {
            display: flex;
            margin-bottom: 15px;

            @include breakpoint(desktop_small) {
                margin-bottom: 8px;
            }
        }
    }

    &__aside {
        width: 100%;
        max-width: 420px;
        margin: 56px auto 40px;
        box-shadow: 0 0 32.9px 2.1px rgba(0, 0, 0, .06);
        background-color: $white;
        border-top: 4px solid $brown;

        @include breakpoint(desktop_small) {
            border-top: 2px solid $brown;
            align-self: flex-start;
            width: 251px;
            margin: 0 0 0 40px;
        }

        &__title {
            @include latoBold();

            font-size: 16px;
            line-height: 1.38;
            color: $blue;
            border-bottom: 1px solid $nearlyWhite;
            margin: 30px 40px 0;
            padding-bottom: 30px;

            @include breakpoint(phone) {
                font-size: 21px;
                padding-bottom: 18px;
                margin: 18px 30px 0;
            }

            @include breakpoint(desktop_small) {
                font-size: 16px;
            }

            .svgIcon {
                margin-right: 20px;

                @include breakpoint(desktop_small) {
                    margin-right: 10px;
                }
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            margin: 15px 40px;

            @include breakpoint(desktop_small) {
                margin: 10px 30px;
            }

            p {
                @include latoRegular();

                font-size: 14px;
                line-height: 2.14;
                color: $blue;

                @include breakpoint(phone) {
                    font-size: 19px;
                }

                @include breakpoint(desktop_small) {
                    font-size: 14px;
                }

                &.paid {
                    color: #10b210;
                    font-weight: bold;

                    .svgIcon {
                        margin-right: 5px;
                    }
                }
            }

            &.--total {
                border-top: 1px solid $nearlyWhite;
                margin: 0 30px 30px;
                padding-top: 20px;

                @include breakpoint(tablet_768) {
                    margin: 0 30px 20px;
                }

                p {
                    font-size: 20px;
                    line-height: 1.5;

                    @include breakpoint(phone) {
                        font-size: 26px;
                    }

                    @include breakpoint(tablet_768) {
                        font-size: 20px;
                    }
                }
            }
        }

        &__button {
            line-height: 1.86;
            width: 100%;
            border: 0;
            padding: 10px 0;

            @include breakpoint(phone) {
                font-size: 21px;
            }

            @include breakpoint(tablet_768) {
                font-size: 14px;
                padding: 8px 0;
            }
        }
    }

    .vue-treeselect {
        height: 56px;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            height: 41px;
        }
    }

    .vue-treeselect__control {
        @include latoSemi();

        border-radius: 0;
        height: 56px !important;
        padding-left: 22px;
        font-size: 17px;
        line-height: 1.61;
        color: $blue;
        border: solid 1px #dde0e5;

        @include breakpoint(desktop_small) {
            height: 41px !important;
            font-size: 14px;
        }
    }

    .vue-treeselect__input,
    .vue-treeselect__single-value {
        @include latoSemi();

        font-size: 17px;
        line-height: 1.61;
        color: $blue;
        padding: 0;

        @include breakpoint(desktop_small) {
            font-size: 14px;
        }
    }
}

.AccountDetails {
    color: black;

    &__title {
        @include playfairBold();

        font-size: 30px;
        line-height: 1.53;
        color: $blue;
    }

    &__subtitle {
        @include latoRegular();

        font-size: 16px;
        line-height: 1.5;
        color: $nearBlack;
        margin: 6px 0 34px;
        font-weight: 700;
    }

    .form__title {
        margin-bottom: 22px;

        .Icon {
            top: -1px;
            color: $brown;
            width: 17px;
            height: 20px;
            margin-left: 10px;
            position: relative;
        }
    }

    .form__element__label {
        padding-bottom: 2px;
    }
}

.courseDetails {
    .MyBookings__header {
        margin-bottom: 25px;
    }
}

/* Student Details */
.studentDetails,
.optionalExtras {
    &__goBack {
        background: transparent;
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        margin-bottom: 13px;
        cursor: pointer;

        .optionalExtras & {
            margin-bottom: 0;
            line-height: 40px;
        }

        &:hover,
        &:active,
        &:focus {
            outline: 0;
        }

        .svgIcon {
            width: 30px;
            height: 30px;

            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__title {
        @include playfairBold();

        font-size: 32px;
        line-height: 1.53;
        color: $blue;

        @include breakpoint(desktop_small) {
            font-size: 29px;
        }
    }

    &__subtitle {
        @include latoBold();

        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 2.1px;
        color: $black;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            font-size: 14px;
        }

        &.--smallerMargin {
            margin-bottom: 6px;
        }
    }

    &__copy {
        @include latoRegular();

        font-size: 20px;
        line-height: 1.63;
        color: $nearBlack;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            font-size: 16px;
        }
    }

    &__label {
        @include latoBold();

        font-size: 20px;
        line-height: 1.4;
        color: rgba(0, 0, 0, .5);
        padding-bottom: 7px;

        @include breakpoint(desktop_small) {
            font-size: 14px;
        }
    }

    &__input {
        @include latoSemi();

        font-size: 17px;
        font-weight: 400;
        line-height: 1.61;
        color: $blue;
        height: 56px;
        border: solid 1px #dde0e5;
        padding: 0 15px;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            height: 41px;
            font-size: 14px;
        }

        &:focus,
        &:hover {
            outline: none;
            border: solid 1px #dde0e5;
        }

        &.error,
        &__error {
            border: 1px solid $red;
            color: $red;
            margin-bottom: 10px;
        }

        &.--day {
            padding: 0;
            text-align: center;
            width: 54px;
        }

        &.--month {
            padding: 0;
            text-align: center;
            margin: 0 10px;
            width: 54px;
        }

        &.--year {
            padding: 0;
            text-align: center;
            width: 72px;
        }

        &::placeholder {
            @include latoSemi();

            opacity: .5;
            font-size: 14px;
            color: rgba(0, 0, 0, .5);
        }
    }

    &__textarea {
        max-width: 417px;
        height: 200px;
        padding: 10px 12px;
        margin-bottom: 2px;
    }

    &__radioButtons {
        padding-top: 14px;
    }

    &__radioButton:checked,
    &__radioButton:not(:checked) {
        position: absolute;
        left: -9999px;
    }

    &__radioButton:checked+label,
    &__radioButton:not(:checked)+label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;

        @include latoBold();

        color: $blue;
        font-size: 14px;
        line-height: 1.61;
        margin-right: 15px;
    }

    &__radioButton:checked+label:before,
    &__radioButton:not(:checked)+label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: solid 1px $blue;
        border-radius: 100%;
        background: $white;
    }

    &__radioButton:checked+label:after,
    &__radioButton:not(:checked)+label:after {
        content: "";
        width: 12px;
        height: 12px;
        background: $blue;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
    }

    &__radioButton:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    &__radioButton:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    &__button {
        @include latoBold();

        outline: none;
        background-color: #f3f6f8;
        color: $blue;
        border: 0;
        cursor: pointer;
        width: 200px;
        height: 56px;
        font-size: 19px;
        transition: all .3s ease-in-out;
        padding: 0;
        align-items: center;
        justify-content: center;

        &--remove {
            @include latoBold();

            outline: none;
            color: $white;
            font-size: 14px;
            cursor: pointer;
            border: 0;
            background: $red;
            transition: all .3s ease-in-out;
            padding: 6px 10px;
            margin-bottom: 15px;
        }

        @include breakpoint(desktop_small) {
            font-size: 14px;
            width: 153px;
            height: 44px;
        }

        &:hover {
            color: $white;
            background: $blue;

            .Icon {
                color: $white;
            }
        }

        .Icon {
            color: $blue;
            width: 10px;
            height: 9px;
            transition: all .3s ease-in-out;
        }

        &--edit {
            .Icon {
                width: 14px;
                height: 13px;
                margin-right: 12px;
            }
        }

        &.--save {
            background-color: $brown;
            color: $white;
            margin-right: 10px;

            &:hover {
                color: $white;
                background: $blue;
            }
        }

        &.--cancel {
            .Icon {
                margin-right: 12px;
                width: 10px;
                height: 9px;
            }
        }

        &.--showMobile {
            display: block;

            @include breakpoint(desktop_small) {
                display: none;
            }
        }

        &.--showDesktop {
            display: none;

            @include breakpoint(desktop_small) {
                display: flex;
            }
        }

        &.--addNew {
            width: 100%;
        }
    }

    &__form {
        margin-bottom: 26px;
    }

    &__row {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__DateRow {
        display: flex;
        justify-content: flex-start;

        @include breakpoint(desktop_small) {
            justify-content: space-between;
        }
    }

    &__columnHalf {
        width: 100%;

        @include breakpoint(desktop_small) {
            width: 48%;
        }
    }

    &__columnFull {
        width: 100%;
        position: relative;

        &.--addPaddingTop {
            padding-top: 32px;
        }

        &.--oneRowLabelData {
            @include breakpoint(tablet_768) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 28px;

                .studentDetails__label {
                    padding: 0;
                }

                .studentDetails__radioButtons {
                    padding: 0;

                    label {
                        padding-bottom: 0;
                    }
                }
            }

            .studentDetails__label {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    &__emergency-contact {
        &:not(:first-of-type) {
            padding-top: 30px;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid $greyLight;
            padding-bottom: 20px;
        }
    }

    &__header {
        margin-bottom: 30px;

        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }

        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .studentDetails__goBack {
                margin-bottom: 0;
                position: relative;
                top: 2px;
                margin-right: 25px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;
    }

    &__main {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__column {
        width: 100%;

        @include breakpoint(desktop_small) {
            max-width: 417px;

            &.--larger {
                max-width: 443px;

                .studentDetails__form {
                    .studentDetails__columnFull {
                        &.--oneRowLabelData {
                            .studentDetails__label {
                                width: auto;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__tooltip {
        &__icon {
            position: relative;
            top: 2px;
            left: 2px;

            .svgIcon {
                cursor: pointer;
            }

            display: none;

            @include breakpoint(desktop_small) {
                display: initial;
            }
        }

        &__box {
            color: $white;
            position: absolute;
            bottom: 34px;
            width: 475px;
            left: -74px;
            z-index: 2;
        }

        &__wrapper {
            position: relative;
            background-color: $blue;
            padding: 35px 40px 44px;

            &::after {
                display: block;
                width: 20px;
                height: 20px;
                content: "";
                background: $blue;
                position: absolute;
                bottom: -10px;
                left: 70px;
                transform: rotate(45deg);
                z-index: 1;
            }

            &__content {
                margin-bottom: 25px;

                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: $white;
                    font-size: 16px;
                    line-height: 1.2;

                    @include playfairBold();

                    &:not(:last-child) {
                        margin-bottom: 8px;
                    }
                }

                p {
                    color: rgba($white, .7);

                    @include latoRegular();

                    font-size: 14px;
                    line-height: 1.57;

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        &__title {
            @include playfairBold();

            font-size: 16px;
            line-height: 2.75;
            text-align: left;
            color: $white;
        }

        &__copy {
            @include latoSemi();

            font-size: 14px;
            line-height: 1.57;
            text-align: left;
            color: rgba(255, 255, 255, .7);
            margin-bottom: 24px;
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__button {
            line-height: 1.86;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            height: 41px;
            border: solid 1px $white;
            background: $blue;
            width: 190px;

            &:hover {
                color: $blue;
                background: $white;
            }
        }
    }

    .vtimeselector__input {
        border: 0;
        height: 53px;

        @include breakpoint(desktop_small) {
            height: 37px;
        }
    }
}

.vtimeselector__input {
    @include latoSemi();

    padding: 0;
    line-height: 1.61;
    color: $blue;
    text-align: left;
    height: 37px;
    font-size: 14px;
    text-transform: lowercase;
}

.timeselector__box__item--is-selected {
    background: $brown !important;
}

.vtimeselector__clear {
    display: none !important;
}

.PastCourses {
    &__wrapper {
        margin-bottom: 42px;
    }

    .MyBookings__courseApplication__progres h5 {
        margin-right: 20px;
    }

    .MyBookings__courseApplication__copy {
        padding: 14px 15px;
    }

    .MyBookings__courseApplication {
        @include breakpoint(tablet_768) {
            margin-top: 15px;
        }
    }
}

.MedicalInformation {
    .studentDetails__subtitle {
        &.--smallerMargin {
            margin-bottom: 6px;
        }
    }

    .studentDetails__form {
        &.--smallerMargin {
            margin-bottom: 12px;
        }

        &.--verySmallMargin {
            margin-bottom: 5px;
        }
    }

    &__row {
        @include breakpoint(tablet_768) {
            flex-direction: column;
        }
    }

    .studentDetails__textarea {
        margin-bottom: 38px;
    }
}

.parentGuardian {
    &__wrapper {
        display: flex;
        justify-content: flex-start;
        box-shadow: 0 0 32.9px 2.1px rgba(0, 0, 0, .06);
        background-color: $white;
        border-left: 3px solid $brown;
        margin-bottom: 12px;
        padding: 8px 20px 9px;

        &--address {
            .parentGuardian__figure {
                .svgIcon {
                    top: -20px;
                    position: relative;
                }
            }
        }
    }

    &__figure {
        width: 25px;
        margin-right: 10px;
        display: flex;
        align-items: center;
    }

    &__label {
        @include latoSemi();

        opacity: .7;
        font-size: 12px;
        line-height: 1.5;
        color: rgba(15, 34, 69, .7);
        text-transform: capitalize;
    }

    &__data {
        @include latoSemi();

        font-weight: 400;
        font-size: 16px;
        line-height: 1.38;
        color: $blue;
        min-height: 22px;
    }
}

.ParentDetails {
    .parentGuardian__wrapper {
        &.--emergency {
            .parentGuardian__figure {
                width: 64px;
            }

            .parentGuardian__copy {
                padding: 27px 0;
            }

            .parentGuardian__data {
                margin-bottom: 4px;
            }

            .parentGuardian__figure .svgIcon {
                top: -35px;
                position: relative;
            }
        }
    }

    .studentDetails__column {
        @include breakpoint(desktop_small) {
            width: 50%;
            max-width: 50%;

            &:nth-child(1) {
                padding-right: 8%;
                border-right: 1px solid #f6f6f6;
            }

            &:nth-child(2) {
                padding-left: 8%;
            }
        }
    }

    .studentDetails__footer {
        margin-top: 50px;
        justify-content: center;
    }

    .studentDetails__main {
        position: relative;
    }

    .parentGuardian__popup {
        z-index: 1000;
        position: fixed;
        top: 170px;
        left: calc(50% - 332px);
        width: 664px;
        height: 327px;
        background-color: $blue;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__close {
            outline: none;
            width: 63px;
            height: 63px;
            border: none;
            background: $brown;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            transition: all .3s ease-in-out;
            padding: 0;

            &:hover {
                background: $greyBorder;

                .Icon {
                    color: $blue;
                }
            }

            .Icon {
                color: $white;
                width: 15px;
                height: 15px;
                transition: all .3s ease-in-out;
            }
        }

        &__title {
            @include playfairBold();

            font-size: 26px;
            line-height: 1.72;
            text-align: center;
            color: $white;
            margin-bottom: 7px;
        }

        &__copy {
            @include latoSemi();

            opacity: .7;
            font-size: 16px;
            line-height: 1.38;
            text-align: center;
            color: rgba(255, 255, 255, .7);
            max-width: 280px;
            margin-bottom: 53px;
        }

        &__buttons {
            display: flex;
            justify-content: center;
        }

        &__button {
            @include latoBold();

            outline: none;
            width: 183px;
            height: 44px;
            border: 0;
            background-color: $brown;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.86;
            text-align: center;
            color: $white;
            margin: 0 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background: $green;
            }

            &.--no {
                background: transparent;
                border: 1px solid $white;

                &:hover {
                    color: $blue;
                    background: $white;
                }
            }
        }
    }
}

.PastCourses {
    &__reportCard {
        .studentDetails__header {
            margin-bottom: 18px;
        }

        .studentDetails__button {
            width: 220px;
        }

        .studentDetails__header__wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .studentDetails__goBack {
                margin-bottom: 0;
                position: relative;
                top: 2px;
                margin-right: 25px;
            }
        }

        &__title {
            @include latoBold();

            font-size: 14px;
            font-weight: bold;
            line-height: 1.6;
            letter-spacing: 2.1px;
            color: $black;
            margin-bottom: 6px;
        }

        &__subtitle {
            @include latoSemi();

            font-size: 16px;
            font-weight: 600;
            line-height: 1.6;
            color: $nearBlack;
            margin-bottom: 34px;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include breakpoint(desktop_small) {
                flex-direction: row;
            }
        }

        &__leftColumn {
            width: 100%;

            @include breakpoint(desktop_small) {
                width: 53%;
            }
        }

        &__rightColumn {
            width: 100%;

            @include breakpoint(desktop_small) {
                width: 43%;
            }
        }

        &__skill {
            border-left: 3px solid $brown;
            margin-bottom: 24px;
            padding: 30px 38px 30px 26px;
            box-shadow: 0 0 32.9px 2.1px rgba(0, 0, 0, .06);
            background-color: $white;

            &__header {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
            }

            &__title {
                @include latoSemi();

                font-size: 20px;
                line-height: 1.1;
                color: $black;
            }

            &__grade {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__points {
                    display: flex;
                    justify-content: flex-end;
                    padding-left: 10px;
                }

                &__point {
                    margin-left: 6px;
                    width: 6px;
                    height: 6px;
                    border-radius: 6px;
                    background-color: #d7d7d7;

                    &.active {
                        background-color: $brown;
                    }
                }

                &__copy {
                    @include latoSemi();

                    opacity: .7;
                    font-size: 14px;
                    line-height: 1.71;
                    color: rgba(0, 0, 0, .7);
                }

                &__title {
                    @include latoBold();

                    font-size: 14px;
                    line-height: 1.57;
                    color: $black;
                }
            }
        }

        &__teacher {
            text-align: center;
            box-shadow: 0 0 32.9px 2.1px rgba(0, 0, 0, .06);
            background-color: $white;
            margin-top: 57px;
            padding: 0 50px 30px;

            &__image {
                width: 114px;
                height: 114px;
                border-radius: 114px;
                border: 3px solid $brown;
                overflow: hidden;
                margin: 0 auto;
                position: relative;
                top: -57px;

                img {
                    max-width: 100%;
                }
            }

            &__name {
                @include playfairBold();

                font-size: 25px;
                line-height: 2.19;
                color: $blue;
                margin-top: -40px;
            }

            &__position {
                @include latoBold();

                font-size: 14px;
                line-height: 1.5;
                letter-spacing: 2.1px;
                color: $blue;
                margin-bottom: 30px;
            }

            &__subtitle {
                @include latoSemi();

                font-size: 20px;
                color: $blue;
                margin-bottom: 10px;
            }

            &__copy {
                @include latoSemi();

                opacity: .7;
                font-size: 14px;
                line-height: 1.71;
                color: rgba(0, 0, 0, .7);
                margin-bottom: 12px;
            }

            &__signature {
                max-width: 200px;
                margin: 0 auto;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}

.PastCourse {
    &__message {
        @include latoRegular();

        font-size: 18px;
    }

    .studentDetails__textarea {
        width: 100%;
        max-width: 100%;

        @include breakpoint(desktop_small) {
            max-width: 417px;
        }
    }

    .MyBookings__courseAplication__days {
        @include latoRegular();

        font-size: 28px;
        line-height: .79;
        text-align: center;
        color: $blue;
        margin: 10px 0;
        min-width: 100px;

        @include breakpoint(desktop_small) {
            min-width: initial;
            font-size: 28px;
        }
    }

    .MyBookings__courseAplication__month {
        @include latoBold();

        font-size: 28px;
        line-height: .79;
        text-align: center;
        color: $blue;
        letter-spacing: 1.8px;
        margin-left: 8px;

        @include breakpoint(desktop_small) {
            font-size: 13px;
            margin-left: 0;
        }
    }

    .MyBookings__courseAplication__title {
        @include playfairBold();

        font-size: 36px;
        line-height: 1.53;
        color: $blue;
    }

    .MyBookings__courseAplication__place {
        @include latoRegular();

        font-size: 18px;
        line-height: 1.22;
        color: $blue;
    }

    .MyBookings__courseAplication__person {
        @include latoRegular();

        font-size: 18px;
        line-height: 1.22;
        color: $blue;
    }

    .vue-star-rating {
        padding-top: 3px;
        margin-bottom: 14px;
    }

    .vue-star-rating-star {
        margin-right: 25px !important;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-start;
        border-top: 2px solid $blue;
        padding-top: 38px;
        margin-top: 52px;
        flex-direction: column;

        @include breakpoint(desktop_small) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__leftColumn {
        width: 100%;
        margin-bottom: 48px;

        @include breakpoint(desktop_small) {
            width: 54%;
            margin-bottom: 0;
        }
    }

    &__rightColumn {
        width: 100%;

        @include breakpoint(desktop_small) {
            width: 42%;
        }
    }

    &__title {
        @include latoBold();

        font-size: 16px;
        line-height: 1.4;
        color: #999;
        margin-bottom: 18px;
    }

    &__subtitle {
        @include latoBold();

        font-size: 14px;
        line-height: 1.4;
        color: $black;
        letter-spacing: 2.1px;
        margin-bottom: 19px;
    }

    &__copy {
        @include latoSemi();

        font-size: 20px;
        line-height: 1.4;
        color: $black;
        margin-bottom: 5px;
    }

    &__alert {
        @include latoRegular();

        font-size: 14px;
        line-height: 1.4;
        color: $blue;
        margin-bottom: 31px;
        display: block;
        margin-top: 4px;
    }

    &__button {
        @include latoSemi();

        font-size: 14px;
        line-height: 1.61;
        color: rgba(15, 34, 69, .7);
        width: 50%;
        height: 41px;
        background: transparent;
        border: solid 1px $blue;

        &.--video {
            width: 100%;
            background: $blue;
            color: $white;
            height: 43px;

            .svgIcon {
                margin-right: 20px;
                position: relative;
                top: 3px;
            }
        }

        &.--active {
            @include latoSemi();

            font-stretch: normal;
            line-height: 1.61;
            text-align: center;
            color: $white;
            width: 50%;
            background: $blue;
            border: 0;
        }
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }

    &__document {
        border: solid 1px $blue;
        padding: 7px 17px 15px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;

        .svgIcon {
            width: 10px;
            position: relative;
            top: 12px;
        }

        &__title {
            @include latoBold();

            font-size: 16px;
            line-height: 1.5;
            color: $blue;

            .svgIcon {
                margin-right: 10px;
                position: relative;
                top: 6px;
            }

            .svgIcon>svg path {
                fill: $blue;
            }
        }

        &__figure {
            width: 100%;
        }

        &__img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }

    .studentDetails__button {
        width: 220px;

        &.--save {
            margin-top: 20px;
            width: 153px;
        }
    }

    &__gallery {
        &__title {
            @include latoBold();

            font-size: 16px;
            line-height: 20px;
            color: $nearBlack;
            margin-top: 24px;
            margin-bottom: 20px;
        }

        &__buttons {
            @include latoRegular();

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            font-size: 16px;
            line-height: 1.63;
            color: $black;
            flex-direction: column;

            @include breakpoint(tablet_768) {
                flex-direction: row;
            }

            strong {
                font-weight: bold;
            }

            .studentDetails__button {
                width: 160px;
                display: flex;
            }
        }

        &__arrows {
            margin-bottom: 20px;

            @include breakpoint(tablet_768) {
                margin-bottom: 0;
            }
        }

        &__arrow {
            border: 1px solid black;
            width: 47px;
            height: 44px;
            background: transparent;
            cursor: pointer;

            .svgIcon {
                svg {
                    width: 10px;
                    height: 10px;
                }
            }

            &.--left {
                margin-right: 16px;

                svg {
                    transform: rotate(180deg);
                }
            }

            &.--right {
                margin-left: 16px;
            }
        }

        &__imageWrapper {
            display: block;
            width: 100%;
            overflow: hidden;
            height: 0;
            padding-top: 56.25%;
        }
    }
}
