/* Booking start page */

.booking {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: $greyBG;

    .vs__search {
        margin-top: 0 !important;
    }

    &__wrapper {
        width: 100%;
        max-width: 1056px;
        text-align: center;
        margin-top: 40px;
        padding: 0 20px 100px;

        @include hideScrollBar();

        overflow: scroll;

        @include breakpoint(tablet_768) {
            margin-top: 100px;
        }
    }

    &__modal {
        position: absolute;
        width: 100%;
        background: $white;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 80px 30px 50px;
        top: 0;
        z-index: 1000;

        @include breakpoint(tablet_768) {
            width: 700px;
            height: 500px;
            top: calc(40vh - 250px);
            padding: 50px;
        }

        &__overlay {
            opacity: .1;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $black;
            position: absolute;
        }

        &__close {
            position: absolute;
            top: 0;
            right: 0;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            @include breakpoint(tablet_768) {
                width: 70px;
                height: 70px;
            }

            &:hover {
                background: $brown;

                .Icon {
                    color: $white;
                }
            }

            .Icon {
                width: 15px;
                height: 15px;
            }
        }

        &__wrapper {
            text-align: center;

            .booking__title {
                font-size: 28px;
                line-height: 1.25;
                max-width: 500px;
                margin: 0 auto 30px;

                @include breakpoint(phone_big) {
                    font-size: 30px;
                }

                @include breakpoint(tablet_768) {
                    font-size: 40px;
                    margin: 0 auto 70px;
                }
            }

            .booking__copy {
                max-width: 420px;
                margin: 0 auto 35px;

                @include breakpoint(tablet_768) {
                    margin: 0 auto 42px;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;

            @include breakpoint(tablet_768) {
                width: 200px;
            }

            .booking__button {
                width: 100%;
                margin: 0;
                background: $brown;
                transition: all .3s;

                &:hover,
                &:focus {
                    outline: none;
                    background-color: transparent;
                    border: 2px solid $blue;
                    color: $blue;
                }

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &__footer {
        background: $white;
        width: 100%;

        &__wrapper {
            height: 60px;
            max-width: 1056px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 5px;

            @include breakpoint(tablet_768) {
                align-items: flex-start;
                height: 120px;
            }
        }

        &__content {
            &__cards {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            &__title {
                @include latoBold();

                font-size: 16px;
                color: $greyDark;
                margin-bottom: 10px;
                margin-top: 9px;
                display: none;

                @include breakpoint(tablet_768) {
                    display: block;
                }
            }

            &.--trust {
                img {
                    max-height: 60px;
                    width: auto;
                    max-width: 100%;

                    @include breakpoint(tablet_768) {
                        max-height: 93px;
                    }
                }
            }

            &.--methods {
                margin-right: 10px;
                margin-left: 10px;

                @include breakpoint(tablet_768) {
                    margin-right: 55px;
                    margin-left: 23px;
                }

                img {
                    max-height: 28px;
                    width: auto;
                    max-width: 23%;

                    @include breakpoint(tablet_768) {
                        max-width: 100%;
                    }
                }
            }

            &.--ssl {
                img {
                    max-height: 51px;
                    width: auto;
                    margin-top: 10px;
                    max-width: 100%;

                    @include breakpoint(tablet_768) {
                        max-height: 71px;
                    }
                }
            }
        }
    }

    &__title {
        @include playfairBold();

        color: $blue;
        font-size: 30px;
        margin-bottom: 30px;

        @include breakpoint(tablet_768) {
            font-size: 40px;
            margin-bottom: 45px;
        }
    }

    &__copy {
        @include latoRegular();

        color: $nearBlack;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 14px;

        @include breakpoint(tablet_768) {
            font-size: 16px;
            line-height: 1.63;
            margin-bottom: 14px;
        }
    }

    &__button {
        @include latoBold();

        min-width: 152px;
        height: 46px;
        border: 0;
        background: $blue;
        color: $white;
        font-size: 14px;
        cursor: pointer;
        display: inline-block;
        line-height: 46px;
        transition: all .3s ease-in-out;
        margin: 0 10px;

        &:disabled {
            opacity: .2;
        }

        &.--viewAll {
            width: auto;
            display: inline-block;
            margin: 0 auto 45px;

            @include ie11() {
                width: 180px;
            }
        }

        &.--transparent {
            color: $blue;
            border: 1px solid $blue;
            background: transparent;

            &:hover {
                color: $white;
                background: $blue;
            }
        }
    }

    &__link {
        @include latoBold;

        font-size: 16px;
        color: $blue;
        text-decoration: underline;

        &.--agent {
            display: inline-block;
            margin: 0 auto;
        }
    }

    &__list {
        &__wrapper {
            padding-bottom: 30px;

            @include breakpoint(tablet_768) {
                padding-bottom: 80px;
            }
        }

        &__grid {
            display: flex;
            justify-content: flex-start;

            @include breakpoint(tablet_768) {
                align-items: center;
            }

            &.--labels {
                @include latoBold();

                font-size: 14px;
                color: $paragraph;
                margin-bottom: 10px;
                display: none;

                @include breakpoint(tablet_768) {
                    display: flex;
                }
            }

            &.--course {
                height: auto;
                box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
                background-color: $white;
                margin-bottom: 10px;

                @include breakpoint(tablet_768) {
                    height: 113px;
                }

                p {
                    @include latoRegular();

                    font-size: 16px;
                    color: $blue;
                }

                .--location {
                    @include latoBold();

                    font-size: 12px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: $greyDark;
                    margin-bottom: 10px;

                    @include breakpoint(tablet_768) {
                        margin-bottom: 15px;
                    }
                }

                .--courseTitle {
                    @include playfairBold();

                    font-size: 17px;
                    color: $blue;
                    line-height: 24px;
                }
            }

            &--close {
                width: 40px;

                @include breakpoint(tablet_768) {
                    width: 7%;
                }

                &.--closeButton {
                    cursor: pointer;
                    background-color: $blue;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include breakpoint(tablet_768) {
                        height: 100%;
                    }

                    span {
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        cursor: pointer;
                    }
                }
            }

            &--detailsWrap {
                display: flex;
                width: 100%;
                align-items: flex-start;
                flex-direction: column;
                padding: 20px;

                @include breakpoint(tablet_768) {
                    align-items: center;
                    flex-direction: row;
                    padding: 0;
                }
            }

            &--details {
                display: flex;
                width: 100%;
                justify-content: flex-start;
                margin-top: 20px;

                @include breakpoint(tablet_768) {
                    margin-top: 0;
                    width: 27%;
                }
            }

            &--course {
                width: 100%;
                text-align: left;

                @include breakpoint(tablet_768) {
                    width: 45%;
                    margin-left: 28px;
                    padding-right: 20px;
                }
            }

            &--age {
                width: 50%;
                text-align: left;

                @include breakpoint(tablet_768) {
                    padding-right: 20px;
                }
            }

            &--price {
                width: 50%;
                text-align: left;

                @include breakpoint(tablet_768) {
                    padding-right: 15px;
                }
            }

            &--book {
                width: 100%;
                text-align: left;
                margin-top: 20px;

                .booking__button {
                    text-align: center;
                    margin: 0;
                }

                @include breakpoint(tablet_768) {
                    width: 28%;
                    text-align: center;
                    margin-top: 0;
                }
            }
        }

        &__bookAll {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            padding: 20px 0 0;

            p {
                @include latoRegular();

                width: 100%;
                color: #a2a2a2;
                font-size: 16px;
                line-height: 1.4;
                text-align: center;
                margin-bottom: 18px;

                @include breakpoint(tablet_768) {
                    width: auto;
                    line-height: 1.63;
                    text-align: right;
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }

            .booking__button {
                width: 100%;
                background: $brown;
                margin: 0;
                transition: all .3s;

                &:hover,
                &:focus {
                    outline: none;
                    background-color: transparent;
                    border: 2px solid $blue;
                    color: $blue;
                }

                @include breakpoint(tablet_768) {
                    width: auto;
                    margin: 0 30px 0 0;
                }
            }
        }
    }

    &__select {
        max-width: 620px;
        margin: 52px auto;

        label {
            @include latoBold();

            text-align: left;
            margin-top: 20px;
            font-size: 14px;
            color: $paragraph;
        }

        &__wrapper {
            button {
                max-width: 100px;
                margin-top: 20px;
            }

            .v-select {
                .vs__dropdown-toggle {
                    padding: 9px 0 10px;

                    .vs__selected {
                        margin: 0 0 0 8px;
                    }
                }

                .vs__search {
                    margin: 0;
                    padding: 0 12px;
                }

                .vs__actions {
                    padding: 3px 12px 0 0;
                }
            }
        }
    }

    &__meta {
        display: flex;
        flex-direction: column;
    }

    .v-select {
        width: 100%;
        background: $white;
        height: 46px;
        margin-bottom: 15px;

        &.error {
            .vs__dropdown-toggle {
                border-color: $red;
            }
        }
    }

    .vs__dropdown-toggle {
        @include latoRegular();

        border-radius: 0;
        padding: 9px 0;
        font-size: 14px;
        height: 100%;
        border: solid 1px $greyLighter;
    }

    .vs__search,
    .vs__search:focus {
        border: 0;
    }

    .vs__selected {
        @include latoRegular();

        font-size: 14px;
        color: $greyDark;
    }

    .vs__actions {
        button {
            margin: initial;
            max-width: initial;
            margin-right: 8px;
        }
    }
}

/* Booking steps */

.bookingForm {
    width: 100%;

    @include breakpoint(desktop_small) {
        // padding: 50px;
    }

    &__content {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__sidePanel {
        background-color: $white;
        border-top: 2px solid $brown;
        box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
        position: absolute;
        width: 100%;
        z-index: 1000;

        @include breakpoint(desktop_small) {
            width: 100%;
            width: 341px;
            height: 60vh;
            position: relative;
            margin: 50px;
        }

        &__toggle {
            position: relative;
            flex-direction: column;
            max-height: calc(100% - 71px);
            padding: 27px 20px 20px 40px;
            height: 60vh;
            display: none;

            @include breakpoint(desktop_small) {
                display: flex !important;
            }

            &.open {
                display: flex !important;
            }
        }

        &__title {
            @include latoBold();

            height: 71px;
            padding: 27px 20px 20px 40px;
            font-size: 14px;
            line-height: 1.64;
            letter-spacing: 3px;
            color: $blue;
            margin-right: 25px;
            border-bottom: 1px solid $greyBG;

            &.--mobile {
                display: block;
                cursor: pointer;

                &:after {
                    right: 23px;
                    position: absolute;
                    display: block;
                    content: "";
                    background-image: url(#{$asset-path}/angle_down_blue.svg);
                    background-size: 16px;
                    width: 16px;
                    height: 16px;
                    background-repeat: no-repeat;
                    top: 30px;
                }

                &.open {
                    &:after {
                        -webkit-transform: rotate(180deg);
                        -moz-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }

                @include breakpoint(desktop_small) {
                    display: none;
                }
            }

            &.--large {
                display: none;

                @include breakpoint(desktop_small) {
                    display: block;
                    height: initial;
                }
            }
        }

        &__bar {
            height: 250px;
            width: 100%;
            max-width: 500px;
            background: $greyLighter;
        }

        &__courses {
            display: block;
            flex: auto;
            float: left;
            overflow: auto;
            padding-right: 22px;

            &::-webkit-scrollbar-track {
                background-color: rgba(171, 171, 171, .2);
            }

            &::-webkit-scrollbar {
                width: 4px;
                background-color: rgba(171, 171, 171, .2);
            }

            &::-webkit-scrollbar-thumb {
                background-color: $brown;
                border: 0;
            }
        }

        &__course {
            display: block;
            border-bottom: 1px solid $greyBG;
            margin-top: 20px;

            &--location {
                @include latoRegular();

                font-size: 16px;
                color: $greyDark;
                margin-bottom: 13px;
            }

            &--course {
                @include latoBold();

                font-size: 16px;
                color: $blue;
                margin-bottom: 23px;
            }

            &--info {
                margin-bottom: 18px;
            }

            &--span {
                @include latoBold();

                opacity: .5;
                color: $black;
                font-size: 14px;
                margin-bottom: 6px;
                display: block;
            }

            &--copy {
                @include latoRegular();

                color: $blue;
                font-size: 16px;
            }

            &--total {
                display: flex;
                justify-content: space-between;
                min-height: 83px;
                align-items: center;
                margin-right: 10px;
                padding-bottom: 43px;
                padding-top: 23px;

                .--copy {
                    @include latoBold();

                    color: $black;
                    opacity: .5;
                    font-size: 14px;
                }

                .--number {
                    @include latoBold();

                    color: $blue;
                    font-size: 20px;
                }
            }

            &--cancel {
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }

            &--button {
                width: 100%;
                height: 44px;
                line-height: 44px;
                color: $white;
                background: $blue;
                transition: all .3s ease-in-out;

                &:hover {
                    background: white;
                    border: 2px solid $blue;
                    color: $blue;
                }
            }
        }
    }

    &__main {
        @include hideScrollBar();

        overflow: scroll;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;

        @include breakpoint(desktop_small) {
            padding-top: 0;
            margin: 50px 50px 50px 0;
        }

        .booking__buttons {
            padding-top: 40px;
            padding-bottom: 120px;
            text-align: center;

            .booking__button.--next {
                outline: none;
                background: $brown;
                transition: all .3s;

                &:hover,
                &:focus {
                    outline: none;
                    background-color: transparent;
                    border: 2px solid $blue;
                    color: $blue;
                }

                &:disabled {
                    opacity: .2;
                }
            }

            &__title {
                font-size: 16px;
                color: $grey55;
                margin-bottom: 20px;
            }
        }
    }

    &__bullets {
        margin-bottom: 22px;
        padding: 0;

        @include breakpoint(desktop_small) {
            margin-bottom: 40px;
        }

        li {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: $greyLighter;
            margin: 0 6px;

            @include breakpoint(desktop_small) {
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }

            &.active {
                background-color: $brown;
            }
        }
    }

    &__steps {
        text-align: center;
        width: 100%;
        padding: 0 20px;
        background-color: $greyBG;

        @include breakpoint(desktop_small) {
            padding: 0;
        }

        &.--five {
            padding-top: 50px;
            padding-bottom: 50px;

            .booking__button {
                &.--next {
                    background: $brown;
                    transition: all .3s;

                    &:hover,
                    &:focus {
                        outline: none;
                        background-color: transparent;
                        border: 2px solid $blue;
                        color: $blue;
                    }
                }
            }
        }

        &__stepName {
            @include latoBold();

            font-size: 14px;
            line-height: 1.44;
            letter-spacing: 3px;
            text-align: center;
            color: $blue;
            margin-bottom: 10px;

            @include breakpoint(desktop_small) {
                font-size: 16px;
            }
        }

        &__checkbox {
            display: flex;
            width: 100%;
            align-items: center;
            margin: 30px 0;

            label,
            input {
                cursor: pointer;
            }

            label {
                padding: 0;
                padding-left: 35px;

                @include breakpoint(phone_big) {
                    padding-left: 25px;
                }
            }

            input[type="checkbox"] {
                -webkit-appearance: checkbox;
                -moz-appearance: checkbox;
                appearance: checkbox;
                height: 25px;
                margin: 0;
                visibility: hidden;
                width: 0;

                @include breakpoint(phone_big) {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .bookingForm__steps__field__checkbox:checked+label:before {
            content: "✓";
        }

        &__field__label {
            &.is-custom {
                position: relative;
                line-height: 17px;

                &:before {
                    content: "";
                    width: 25px;
                    height: 25px;
                    position: absolute;
                    left: 0;
                    top: -1px;
                    line-height: 25px;
                    background: $greyBG;
                    border: 1px solid $border;
                    text-align: center;
                    color: $blue;

                    @include breakpoint(phone_big) {
                        width: 15px;
                        height: 15px;
                        line-height: 15px;
                        font-size: 12px;
                    }
                }
            }
        }

        &__stepTitle {
            @include playfairBold();

            font-size: 30px;
            text-align: center;
            color: $blue;
            margin-bottom: 38px;

            @include breakpoint(desktop_small) {
                font-size: 50px;
                margin-bottom: 74px;
            }

            &.--smallerMargin {
                margin-bottom: 20px;

                @include breakpoint(desktop_small) {
                    margin-bottom: 20px;
                }
            }
        }

        &__copy {
            @include latoRegular();

            font-size: 16px;
            line-height: 1.63;
            text-align: center;
            color: $nearBlack;
            max-width: 450px;
            margin: 0 auto 20px;
        }

        &__form {
            text-align: left;

            .smallerWidth {
                width: 150px;
                margin-right: 10px;
            }

            &.--password {
                border-top: solid 1px $greyBorder;
                padding-top: 10px;
                margin-top: 40px;
            }

            @include breakpoint(tablet) {
                width: 450px;
                margin: 0 auto;
            }

            .bookingPayment & {
                @include breakpoint(tablet) {
                    width: 100%;
                }
            }
        }

        &__label {
            @include latoBold();

            margin-top: 20px;
            font-size: 14px;
            color: $paragraph;
            z-index: 2;
            position: relative;

            &.--tooltip {
                display: flex;
                align-items: center;
            }

            &.--extraLabel {
                text-align: center;

                @include breakpoint(tablet_768) {
                    text-align: left;
                }
            }
        }

        &__input {
            color: $dark;
            font-size: 16px;
            border: solid 1px $greyLighter;
            height: 46px;
            margin-bottom: 0;
            padding: 0 15px 1px;

            &::placeholder {
                color: $greyLighter;
            }

            &__container {
                position: relative;

                &.--cvc {
                    width: 100%;
                    margin-left: 20px;
                }

                .v-select {
                    .vs__dropdown-toggle {
                        cursor: pointer;
                        padding: 9px 0 10px;

                        .vs__selected {
                            margin: 0 0 0 8px;
                        }
                    }

                    .vs__actions {
                        padding: 3px 12px 0 0;
                    }

                    .vs__search {
                        cursor: pointer;
                        margin: 0;
                        padding: 0 10px;
                    }
                }
            }

            &:hover,
            &:focus {
                border: solid 1px $greyLighter;
            }

            &.--day {
                width: 64px;
                margin-right: 8px;
                text-align: center;
            }

            &.--month {
                width: 64px;
                margin: 0 8px;
                text-align: center;
            }

            &.--year {
                width: 76px;
                margin-left: 8px;
                text-align: center;
            }

            &.error {
                border-color: $red;
            }

            &.StripeElement {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;

                &.--card {
                    margin-bottom: 15px;
                }

                .__PrivateStripeElement {
                    width: 100%;
                }
            }
        }

        &__error {
            &.bookingForm__steps__error {
                @include latoRegular();

                position: absolute;
                top: 0;
                left: 0;
                color: $red;
                font-weight: 700;
                font-size: 14px;
                line-height: 1;
                width: 100%;
                background-color: $greyBG;
                z-index: 10;
                margin-left: 0;

                &.--white {
                    background-color: $white;
                }
            }
        }

        &__dateGenderWrapper {
            display: Flex;
            flex-direction: column;

            @include breakpoint(desktop_small) {
                justify-content: space-between;
                flex-direction: row;
            }

            .bookingForm__steps__error {
                top: 20px;
            }
        }

        &__date {
            display: Flex;
            flex-direction: column;
            flex: auto;
        }

        &__dateWrapper {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                padding: 0;
            }
        }

        &__gender {
            width: 100%;
            display: flex;
            flex-direction: column;

            @include breakpoint(desktop_small) {
                width: 40%;
            }
        }

        &__inputWrapper {
            display: flex;
            justify-content: space-between;

            input {
                flex: 1;
            }
        }

        &__dates {
            &__course {
                padding: 26px 0;
                border-bottom: solid 1px $greyBorder;

                &__location {
                    @include latoBold();

                    font-size: 12px;
                    letter-spacing: 2px;
                    color: $brown;
                    text-transform: uppercase;
                    margin-bottom: 5px;

                    &.--smallPadding {
                        padding-top: 20px;
                    }
                }

                &__title {
                    @include latoRegular();

                    font-size: 16px;
                    color: $blue;
                }
            }
        }

        &__extras {
            padding-top: 24px;
        }

        &__extra {
            padding: 26px 0;
            border-bottom: solid 1px $greyBorder;

            &__title {
                @include playfairBold();

                font-size: 21px;
                text-align: center;
                color: $blue;
                margin-bottom: 16px;
            }

            &__price {
                @include latoBold();

                font-size: 16px;
                text-align: center;
                color: $blue;
                margin-bottom: 10px;
            }

            &__form {
                display: flex;
                justify-content: center;
                text-align: left;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;

                @include breakpoint(tablet_768) {
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    flex-direction: row;
                    align-items: flex-start;
                }
            }

            &__weeks {
                width: 100%;

                @include breakpoint(tablet_768) {
                    width: 160px;
                    margin-right: 30px;
                }
            }

            &__start {
                width: 100%;

                @include breakpoint(tablet_768) {
                    width: 250px;
                }
            }

            &__buttons {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint(tablet_768) {
                    justify-content: space-between;
                }

                button {
                    @include latoRegular();

                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    background-color: $greyLight;
                    text-align: center;
                    border: 0;
                    font-size: 18px;
                    color: $blue;

                    &:focus {
                        outline: none;
                    }
                }

                input {
                    width: 64px;
                    text-align: center;
                    margin: 0 10px;
                    background: $white;

                    @include breakpoint(tablet_768) {
                        margin: 0;
                    }
                }
            }
        }

        &__tooltiptext {
            @include latoRegular();

            visibility: hidden;
            position: absolute;
            width: 340px;
            color: $white;
            text-align: left;
            padding: 20px;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s;
            left: 125%;
            font-size: 14px;
            line-height: 1.57;
            box-shadow: 0 2px 44px 10px rgba(0, 0, 0, .06);
            background-color: $blue;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent $greyDark transparent transparent;
            }
        }

        &__tooltip {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;

            &__circle {
                @include latoRegular();

                font-size: 9px;
                line-height: 12px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                color: $white;
                text-align: center;
                background-color: $blue;
                margin-left: 10px;
            }

            &:hover {
                .bookingForm__steps__tooltiptext {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

/* Booking payment */

.bookingPayment,
.optionalExtras {
    p {
        color: $nearBlack;
        font-size: 18px;
        margin: 0 5px;
    }

    text-align: left;

    &__discount {
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
        border-top: 1px solid $greyBorder;
    }

    &__wrapper {
        width: 100%;
        max-width: 510px;
        margin: 0 auto;
        padding: 50px 0;
    }

    &__courses {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        max-width: 920px;
        margin: 0 auto;
    }

    &__course {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: flex-start;
        box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
        background-color: $white;
        margin-bottom: 32px;
        padding: 30px 25px 30px 50px;
        flex-direction: column;

        @include breakpoint(tablet_768) {
            flex-direction: row;
            align-items: center;
        }

        &--course {
            width: 100%;
            border-bottom: 1px solid $greyBorder;
            padding-bottom: 20px;
            margin-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;

            @include breakpoint(tablet_768) {
                flex: auto;
                border: 0;
                margin: 0;
                padding: 0;
                width: initial;
                display: block;
                max-width: 560px;
                padding-right: 30px;
                justify-content: space-between;
            }
        }

        &--age {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 14%;
                display: block;
            }
        }

        &--info {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 50%;
                display: block;
            }
        }

        &--dates {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 18%;
                display: block;
            }
        }

        &--duration {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 12%;
                display: block;
            }
        }

        &--price {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 10%;
                display: block;
            }
        }

        &--location {
            @include latoBold();

            font-size: 12px;
            color: $greyDark;
            letter-spacing: 3px;
            text-transform: uppercase;
            line-height: 16px;
            margin-bottom: 10px;
        }

        &--title {
            @include playfairBold();

            font-size: 21px;
            color: $blue;
            line-height: 30px;
        }

        &--copy {
            @include latoRegular();

            font-size: 16px;
            color: $blue;
            display: inline-block;
        }

        &__titleInside {
            @include latoBold();

            font-size: 14px;
            display: inline-block;
            color: $paragraph;
            width: 90px;

            @include breakpoint(tablet_768) {
                display: none;
            }
        }

        &--extra {
            @include latoRegular();

            font-size: 16px;
            color: $greyDark;
            margin-top: 14px;
        }
    }

    &__subtitle {
        @include latoBold();

        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 3px;
        color: $blue;
        margin-bottom: 18px;
    }

    &__label {
        @include latoBold();

        font-size: 14px;
        color: $paragraph;
    }

    &__inputWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 58px;
        flex-direction: column;

        @include breakpoint(tablet_768) {
            flex-direction: row;
        }

        input {
            margin-bottom: 20px;

            @include breakpoint(tablet_768) {
                margin-right: 20px;
                margin-bottom: 0;
            }
        }

        &.--billing {
            input {
                margin-right: 0;
            }

            .booking__button {
                width: 100%;
                margin: 10px 0;

                @include breakpoint(tablet_768) {
                    margin: 0 0 0 10px;
                    min-width: 134px;
                }
            }
        }
    }

    &__buttonsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        p {
            margin: 20px 0;
        }

        @include breakpoint(tablet_768) {
            flex-direction: row;

            p {
                margin: 0;
            }
        }
    }

    &__button {
        @include latoBold();

        background-color: $brown;
        width: 100%;
        text-align: center;
        border: none;
        color: $white;
        font-size: 16px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all .3s;

        &:hover,
        &:focus {
            outline: none;
            background-color: transparent;
            border: 2px solid $blue;
            color: $blue;
        }

        @include breakpoint(tablet_768) {
            width: 220px;
            height: 99px;
            padding: 0;
            display: block;
        }

        span {
            font-size: 24px;
            margin-left: 36px;

            @include breakpoint(tablet_768) {
                display: inline-block;
                margin-top: 10px;
                margin-left: 0;
            }
        }

        &.--transparent {
            border: solid 1px $blue;
            background: transparent;
            color: $blue;
        }
    }

    &__card {
        input {
            margin-bottom: 20px;
        }
    }

    &__cardWrapper {
        display: flex;
        justify-content: flex-start;

        &.--expiration {
            display: flex;
            flex-direction: column;
        }

        &.--cvc {
            display: flex;
            flex-direction: column;
            width: 100%;

            label {
                margin-bottom: 5px;
            }
        }

        &.--date {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 150px;
            margin-top: 5px;

            input {
                margin-bottom: 0;
                width: 63px;
                text-align: center;
            }
        }
    }

    &__paymentMethod {
        border-top: 1px solid $greyBorder;
    }

    &__billing {
        border-top: 1px solid $greyBorder;
    }

    &__card {
        border-top: 1px solid $greyBorder;
    }

    &__bankDetails {
        border-top: solid 2px $greyBorder;
        padding: 25px 0;

        @include breakpoint(tablet_768) {
            padding: 45px 150px;
            display: flex;
            justify-content: space-between;
        }

        &__student {
            width: 100%;
            text-align: left;

            @include breakpoint(tablet_768) {
                width: 46%;
                text-align: right;
            }
        }

        &__parent {
            width: 100%;
            text-align: left;

            @include breakpoint(tablet_768) {
                width: 46%;
                text-align: left;
            }
        }

        &__title {
            @include latoBold();

            font-size: 14px;
            line-height: 1.64;
            letter-spacing: 2px;
            color: $blue;
            margin-bottom: 22px;
        }

        &__subtitle {
            @include latoBold();

            font-size: 16px;
            line-height: 1.63;
            color: $blue;
            margin-bottom: 1px;

            &.--bigger {
                font-size: 20px;
                line-height: 1.63;
                color: #0f2245;
                margin-bottom: 9px;
            }

            &.--iban {
                font-size: 20px;
                line-height: 1.63;
                color: #0f2245;
                margin-bottom: 0;
            }
        }

        &__copy {
            @include latoRegular();

            color: $blue;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;

            &.--email {
                font-weight: 400;
                margin-top: 24px;
                font-size: 16px;
                line-height: 24px;
            }

            &.--details {
                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 1.7 !important;
            }
        }
    }
}

.bookingPayment p {
    margin: 0;
}

.bookingPayment .bookingPayment__bankDetails__copy {
    @include latoRegular();

    color: $blue;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 24px;
}

/* Order summary */

.bookingSummary {
    @include hideScrollBar();

    overflow: scroll;
    padding: 25px;
    width: 100%;

    @include breakpoint(tablet_768) {
        padding: 0;
    }

    &__header {
        height: 476px;
        width: 100%;
        background-size: cover;
        position: relative;

        &--mask {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .1);
        }
    }

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 60px;
    }

    &__subtitle {
        @include latoBold();

        font-size: 16px;
        line-height: 1.44;
        letter-spacing: 3px;
        text-align: center;
        color: $blue;
        margin-bottom: 14px;
    }

    &__title {
        @include playfairBold();

        font-size: 30px;
        text-align: center;
        color: $blue;
        margin-bottom: 40px;

        @include breakpoint(tablet_768) {
            font-size: 50px;
        }
    }

    &__copy {
        @include latoRegular();

        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        color: $nearBlack;
        max-width: 520px;
        margin: 0 auto 8px;
    }

    &__course {
        border-bottom: solid 2px $greyBorder;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 25px 0;

        @include breakpoint(desktop_small) {
            flex-direction: row;
            padding: 45px 150px;
        }

        &__figure {
            display: block;
            width: 100%;
            margin-bottom: 25px;

            @include breakpoint(desktop_small) {
                margin: 0;
                width: 46%;
            }

            div {
                margin-left: auto;
                background: black;
                width: 100%;
                height: 340px;
                max-width: 100%;
                margin-right: auto;

                @include breakpoint(desktop_small) {
                    margin-right: inherit;
                    width: 340px;
                }
            }
        }

        &__details {
            width: 46%;

            &__title {
                @include latoBold();

                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 2px;
                color: $blue;
                margin-bottom: 24px;
            }

            &__subtitle {
                @include latoBold();

                font-size: 16px;
                font-weight: bold;
                line-height: 1;
                color: $blue;
                margin-bottom: 12px;
            }

            &__copy {
                @include latoRegular();

                font-size: 16px;
                line-height: 1;
                color: $blue;
                margin-bottom: 38px;
            }

            &__button {
                @include latoBold();

                font-size: 14px;
                text-align: center;
                color: $white;
                width: 152px;
                height: 46px;
                background-color: $brown;
                border: 0;
                cursor: pointer;
                transition: all .3s;

                &:hover,
                &:focus {
                    outline: none;
                    background-color: transparent;
                    border: 2px solid $blue;
                    color: $blue;
                }
            }
        }
    }

    &__studentdetails {
        border-bottom: solid 2px $greyBorder;
        padding: 25px 0;

        @include breakpoint(tablet_768) {
            padding: 45px 150px;
            display: flex;
            justify-content: space-between;
        }

        &__student {
            width: 100%;
            text-align: left;

            @include breakpoint(tablet_768) {
                width: 46%;
                text-align: right;
            }
        }

        &__parent {
            width: 100%;
            text-align: left;

            @include breakpoint(tablet_768) {
                width: 46%;
                text-align: left;
            }
        }

        &__title {
            @include latoBold();

            font-size: 14px;
            line-height: 1.64;
            letter-spacing: 2px;
            color: $blue;
            margin-bottom: 22px;
        }

        &__subtitle {
            @include latoBold();

            font-size: 21px;
            line-height: 1.63;
            color: $blue;
            margin-bottom: 9px;
        }

        &__copy {
            @include latoRegular();

            font-size: 16px;
            line-height: 2.3;
            color: $blue;

            &.--email {
                margin-top: 24px;
            }
        }
    }

    &__payment {
        border-bottom: solid 2px $greyBorder;
        padding: 25px 0;

        @include breakpoint(tablet_768) {
            padding: 45px 150px;
        }

        &__row {
            margin-bottom: 36px;

            @include breakpoint(tablet_768) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__left {
            @include latoBold();

            font-size: 14px;
            line-height: 1.44;
            letter-spacing: 2px;
            color: $blue;
            width: 46%;
            text-align: left;

            @include breakpoint(tablet_768) {
                text-align: right;
            }
        }

        &__right {
            @include latoRegular();

            font-size: 20px;
            line-height: 1.3;
            color: $blue;
            width: 46%;
            text-align: left;

            strong {
                font-weight: bold;
            }
        }
    }

    &__questions {
        padding: 25px;

        @include breakpoint(tablet_768) {
            padding: 45px 150px;
        }

        &__title {
            @include latoBold();

            font-size: 16px;
            line-height: 1.44;
            letter-spacing: 2px;
            text-align: center;
            color: $blue;
            margin-bottom: 18px;
        }

        &__copy {
            @include latoRegular();

            font-size: 16px;
            line-height: 1.63;
            text-align: center;
            color: $nearBlack;
            margin-bottom: 34px;

            strong {
                color: $black;
            }
        }

        &__buttons {
            padding-bottom: 100px;

            @include breakpoint(tablet_768) {
                display: flex;
                justify-content: center;
            }
        }

        &__button {
            margin: 25px 0;

            @include breakpoint(tablet_768) {
                margin: 0 14px;
            }

            label {
                @include latoBold();

                font-size: 14px;
                color: $paragraph;
            }

            button,
            a {
                @include latoBold();

                font-size: 14px;
                text-align: center;
                color: $blue;
                width: 100%;
                height: 50px;
                box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
                border: solid 1px $blue;
                background: transparent;
                cursor: pointer;

                @include breakpoint(tablet_768) {
                    width: 210px;
                }

                &:hover {
                    color: $white;
                    background: $blue;
                }

                &.--colored {
                    background: $brown;
                    color: $white;
                    border: 0;
                    transition: all .3s;

                    &:hover,
                    &:focus {
                        outline: none;
                        background: transparent;
                        border: 2px solid $blue;
                        color: $blue;
                    }
                }

                &.--smaller {
                    width: 100%;

                    @include breakpoint(tablet_768) {
                        width: 180px;
                    }
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
