.Holding {
    width: 1016px;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 15px 15px;

    @include breakpoint(phone) {
        min-height: 520px;
    }

    @include breakpoint(desktop_small) {
        @include ie11() {
            padding: 80px 15px 15px;
        }
    }

    &__container {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include breakpoint(phone) {
            align-items: center;
            height: calc(100vh - 90px);
        }
    }

    &__title {
        font-size: 34px;
        max-width: 640px;
        line-height: 1.2;
        margin-bottom: 30px;
        color: $blue;
        text-align: center;

        @include breakpoint(phone) {
            font-size: 42px;
            line-height: 1.2;
        }
    }

    &__subtitle {
        @include latoRegular();

        max-width: 358px;
        font-size: 14px;
        line-height: 1.63;
        color: $nearBlack;
        text-align: center;
        margin-bottom: 45px;

        @include breakpoint(phone) {
            font-size: 16px;
        }
    }

    &__button {
        margin: 0 15px 25px;
        text-align: center;

        @include breakpoint(phone) {
            margin: 0 15px 15px;
        }

        &__title {
            @include latoBold();

            font-size: 14px;
            color: $black;
            opacity: .5;
            margin-bottom: 8px;
        }

        &__group {
            display: flex;
            flex-direction: column;

            @include breakpoint(phone) {
                flex-direction: row;
            }
        }

        a {
            text-decoration: none;
            display: block;
            width: 210px;
            box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
            border: solid 1px $blue;
            text-align: center;
            line-height: 50px;
            color: $blue;
            transition: all .3s ease-in-out;

            &:hover,
            &:active {
                color: $white;
                text-decoration: none;
                background: $blue;
            }
        }
    }
}
