.Home {
    position: relative;

    &__mobileLines {
        position: absolute;
        left: -60px;
        bottom: -120px;
        z-index: -1;

        @include breakpoint(desktop_small) {
            display: none;
        }
    }

    &__slider {
        position: relative;

        @include breakpoint(desktop_small) {
            height: calc(100vh - 90px);

            .logged-in & {
                height: calc(100vh - 122px);
            }
        }

        .CarouselPagination {
            z-index: 100;
            background: $greyBG;
            position: relative;
        }

        &__item {
            display: block;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $greyBG;

            @include breakpoint(desktop_small) {
                display: flex;
                flex-wrap: nowrap;
                opacity: 0 !important;
                visibility: hidden;
                position: absolute;
            }

            &.current {
                opacity: 1 !important;
                visibility: visible;
            }

            &__left {
                color: $white;
                padding: 50px 0 50px 40px;
                z-index: 7;
                overflow: hidden;
                position: relative;
                width: 100%;
                max-width: 100%;

                @include breakpoint(phone_big) {
                    padding: 120px 0 120px 60px;
                }

                @include breakpoint(desktop_small) {
                    width: 500px;
                    padding: 0 0 0 100px;
                }

                @include breakpoint(desktop_big) {
                    width: 650px;
                    padding: 0 0 0 100px;
                }

                @include breakpoint(desktop_small_height) {
                    padding: 0 0 0 100px;
                }

                &__inner {
                    position: relative;

                    @include breakpoint(desktop_small) {
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &__subtitle {
                        @include latoBold();

                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 2.1px;
                        margin-bottom: 20px;
                    }

                    &__title {
                        margin-bottom: 15px;
                        font-size: 35px;
                        max-width: 500px;

                        @include ie11() {
                            max-width: 700px;
                        }

                        @include breakpoint(phone_big) {
                            font-size: 55px;
                            margin-bottom: 20px;
                        }

                        @include breakpoint(desktop_small) {
                            font-size: 75px;
                        }
                    }

                    &__text {
                        max-width: 305px;

                        @include breakpoint(desktop_small) {
                            max-width: 310px;
                        }
                    }
                }

                &.is-default {
                    width: 100%;
                    max-width: 100%;

                    @include breakpoint(desktop_small) {
                        max-width: 50%;
                        width: 100%;
                    }

                    @include ie11() {
                        max-width: 100%;
                    }

                    .button {
                        width: 145px;

                        @include breakpoint(phone_big) {
                            width: 175px;
                        }
                    }

                    p {
                        max-width: 270px;
                        font-size: 14px;
                        line-height: 20px;

                        @include breakpoint(phone_big) {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        @include breakpoint(desktop_small) {
                            max-width: 400px;
                        }
                    }
                }
            }

            &__right {
                background-size: cover;
                background-position: 100% 100%;
                position: relative;
                width: 100%;
                z-index: 3;
                background-color: $greyBG;

                @include breakpoint(desktop_small) {
                    width: calc(100vw - 500px);
                    background-color: inherit;
                    margin-left: 50px;
                    border-left: 0;
                }

                @include breakpoint(desktop_big) {
                    width: calc(100vw - 650px);
                }

                .Home__slider__item--defalut & {
                    margin-left: 0;
                    height: 350px;
                    padding: 75px 50px 75px 25px;

                    @include breakpoint(phone_big) {
                        height: 500px;
                    }

                    @include breakpoint(desktop_small) {
                        height: auto;
                    }
                }
            }
        }

        .button {
            display: inline-block;
            margin-top: 25px;
            margin-right: 5px;

            @include breakpoint(phone_big) {
                margin-right: 20px;
                margin-top: 40px;
            }
        }

        &__navButtons {
            position: absolute;
            top: 270px;
            left: 22px;
            line-height: 30px;
            z-index: 10;
            display: none;

            @include breakpoint(desktop) {
                top: 305px;
            }

            @include breakpoint(desktop_small) {
                display: block;
            }

            &__single {
                width: 25px;
                height: 25px;
                border-radius: 100px;
                position: relative;
                cursor: pointer;

                &:before {
                    background: $white;
                    width: 5px;
                    height: 5px;
                    content: "";
                    position: absolute;
                    border-radius: 100px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &.current {
                    &:after {
                        border: 1px solid $white;
                        width: 15px;
                        height: 15px;
                        content: "";
                        position: absolute;
                        border-radius: 100px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    &__overlayBlue {
        opacity: 2;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $blue;
        z-index: 2;
        overflow: hidden;

        &__lines {
            width: 100%;
            position: absolute;
            left: -25%;
            bottom: 0;
            opacity: .2;
            z-index: -1;
        }
    }
}

.HomeNews {
    background: $greyBG;
    text-align: left;
    position: relative;

    &__carousel {
        padding-left: 40px;
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(phone_big) {
            padding-left: 60px;
        }

        &__init {
            padding-top: 30px;
            padding-bottom: 40px;

            @include breakpoint(phone_big) {
                padding-top: 60px;
            }

            @include breakpoint(desktop_small) {
                padding-bottom: 0;
                padding-top: 30px;
            }
        }
    }

    &__wrapper {
        @include breakpoint(desktop_small) {
            height: 530px;
        }

        @include breakpoint(desktop_bigger_height) {
            height: 450px;
        }
    }

    &__single {
        &__content {
            background: $white;
            width: 205px;
            border-left: 4px solid $brown;
            padding: 25px 20px;
            position: relative;
            margin: -45px 0 0 20px;
            z-index: 10;
            text-align: left;

            @include breakpoint(iphone5) {
                margin: -45px 0 0 15px;
            }

            @include breakpoint(phone_small_to_normal) {
                width: 70%;
            }

            @include breakpoint(phone) {
                width: 285px;
            }

            @include breakpoint(phone_big) {
                width: 420px;
            }

            @include breakpoint(desktop_small) {
                padding: 30px 45px;
                margin: -60px 0 0 60px;
                width: 335px;
            }

            @include breakpoint(desktop) {
                padding: 45px 55px;
                width: 450px;
            }

            @include breakpoint(desktop_big) {
                margin-right: 0;
            }

            @include breakpoint(desktop_bigger_height) {
                padding: 30px 35px;
            }

            &__mobile {
                display: block;
                line-height: 18px;

                @include breakpoint(phone_big) {
                    display: none;
                }
            }

            &__desktop {
                display: none;
                max-width: 100%;

                @include breakpoint(phone_big) {
                    display: block;
                }
            }
        }

        &__image {
            position: relative;
            z-index: 9;

            img {
                width: 240px;
                height: 165px;
                object-fit: cover;
            }

            @include breakpoint(phone) {
                img {
                    width: 305px;
                    height: 190px;
                }
            }

            @include breakpoint(phone_small_to_normal) {
                img {
                    height: 180px;
                }
            }

            @include breakpoint(phone_big) {
                img {
                    width: 440px;
                    height: 200px;
                }
            }

            @include breakpoint(desktop_small) {
                img {
                    width: 395px;
                    height: 230px;
                }
            }

            @include breakpoint(desktop) {
                img {
                    height: 260px;
                    width: 510px;
                }
            }

            @include breakpoint(desktop) {
                margin: 0 0 -90px;
            }
        }
    }

    h4 {
        color: $dark;
        font-size: 20px;
        overflow: hidden;
        height: 72px;

        @include breakpoint(phone_small_to_normal) {
            height: 48px;
        }

        @include breakpoint(phone) {
            font-size: 24px;
        }

        @include breakpoint(desktop) {
            font-size: 28px;
            line-height: 32px;
            height: 68px;
        }

        @include breakpoint(desktop_big) {
            font-size: 30px;
            line-height: 34px;
        }
    }

    p {
        color: $paragraph;
        opacity: 1;
        max-width: 100%;

        @include breakpoint(phone_big) {
            padding-right: 25px;
        }
    }

    span {
        @include latoRegular();

        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        display: block;
        padding: 15px 0 10px;

        @include breakpoint(phone) {
            padding: 25px 0 15px;
        }
    }

    .permalink {
        background: $brown;
        width: 45px;
        display: block;
        position: absolute;
        right: -45px;
        top: 0;
        height: 100%;
        transition: background .3s;

        @include breakpoint(desktop_small) {
            width: 60px;
            right: -60px;
        }

        span {
            width: 15px;
            height: 15px;
            color: $white;
            margin: auto;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

            @include breakpoint(desktop_small) {
                width: 17px;
            }
        }

        &:hover {
            background: $blue;
        }
    }

    .CarouselPagination {
        margin: 35px 0 60px;

        @include breakpoint(desktop_small) {
            margin: 25px 0 0;
        }
    }
}

.HomeSubjects {
    position: relative;

    &__carousel {
        padding-left: 40px;
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(phone_big) {
            padding-left: 60px;
        }

        @include breakpoint(phone_big) {
            padding-right: 60px;
        }

        &__init {
            padding-top: 30px;
            padding-bottom: 40px;

            @include breakpoint(desktop_small) {
                padding-bottom: 0;
            }
        }
    }

    &__wrapper {
        @include breakpoint(desktop_small) {
            height: 530px;
        }

        @include breakpoint(desktop_bigger_height) {
            height: 450px;
        }
    }

    .CarouselPagination {
        padding-top: 10px;

        @include breakpoint(desktop_small) {
            padding-top: 25px;
        }

        @include breakpoint(desktop_small_height) {
            padding-top: 20px;
        }
    }

    &__single {
        height: 195px;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 25px -10px rgba(0, 0, 0, .35);

        @include breakpoint(phone_big) {
            height: 200px;
            margin-top: 25px !important;
        }

        @include breakpoint(desktop_small) {
            height: 195px;
            margin-top: 25px !important;
            box-shadow: 0 0 35px -10px rgba(0, 0, 0, .35);
        }

        @include ie11() {
            height: 180px;

            @include breakpoint(desktop) {
                height: 210px;
            }
        }

        @include breakpoint(desktop) {
            height: 210px;
            margin-top: 35px !important;

            &:nth-child(even) {
                margin-top: -15px !important;
            }
        }

        @include breakpoint(desktop_bigger_height) {
            height: 175px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        &__overlay {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .3);
            z-index: 10;
        }

        h4 {
            @include playfairBold();

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            font-size: 25px;
            text-align: center;
            z-index: 11;

            @include breakpoint(phone_big) {
                font-size: 21px;
            }

            @include breakpoint(desktop_small) {
                font-size: 25px;
            }
        }

        span {
            position: absolute;
            content: "";
            width: 100%;
            height: 195px;
            top: 10px;
            left: 10px;
            background: $white;
            z-index: 1;

            @include breakpoint(phone_big) {
                height: 200px;
            }

            @include breakpoint(desktop_small) {
                height: 195px;
            }

            @include ie11() {
                height: 180px;
            }

            @include breakpoint(desktop) {
                height: 210px;
            }

            @include breakpoint(desktop_bigger_height) {
                height: 175px;
            }
        }

        img {
            z-index: 10;
            position: relative;
        }
    }
}

.HomeLocations {
    position: relative;

    &__carousel {
        padding-left: 40px;
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(phone_big) {
            padding-left: 60px;
        }

        @include breakpoint(desktop_small) {
            padding-left: 30px;
        }

        &__init {
            padding-top: 30px;
            padding-bottom: 40px;

            @include breakpoint(phone_big) {
                padding-top: 60px;
            }

            @include breakpoint(desktop_small) {
                padding-bottom: 0;
                padding-top: 30px;
            }
        }
    }

    &__wrapper {
        @include breakpoint(desktop_small) {
            height: 530px;
        }

        @include breakpoint(desktop_bigger_height) {
            height: 450px;
        }
    }

    &__single {
        height: 220px;
        background: $white;
        text-align: center;
        margin-top: 0 !important;
        transition: opacity .6s, margin .3s;
        box-shadow: 0 0 25px -10px rgba(0, 0, 0, .35);

        @include breakpoint(phone_big) {
            margin-bottom: 10px;
            width: 165px !important;
            height: 200px;
        }

        @include breakpoint(desktop_small) {
            margin-bottom: 0;
            width: 195px !important;
            height: 220px;
            box-shadow: 0 0 30px -10px rgba(0, 0, 0, .35);
            margin-left: 30px;
        }

        @include ie11() {
            height: 190px;

            @include breakpoint(desktop) {
                height: 240px;
            }
        }

        @include breakpoint(desktop) {
            width: 220px !important;
            height: 220px;
            margin-bottom: 25px;
        }

        @include breakpoint(desktop_small_height) {
            width: 195px !important;
            height: 190px;
            margin-top: 10px !important;
            margin-bottom: 15px !important;
        }

        &:hover {
            @include breakpoint(desktop_small) {
                box-shadow: 0 0 40px -10px rgba(0, 0, 0, .35);
                border-bottom: 4px solid $brown;
                margin-top: -10px !important;
                opacity: 1 !important;
            }

            @include breakpoint(desktop_bigger_height) {
                margin-top: 0 !important;
            }
        }

        &.active {
            @include breakpoint(desktop_small) {
                opacity: .5;
                transition: opacity .6s, margin .3s;
            }
        }

        h4 {
            @include playfairBold();

            font-size: 21px;
            line-height: 26px;
            text-align: center;
            z-index: 11;
            color: $black;
            width: 100%;
            padding: 0 15px;

            @include breakpoint(phone_big) {
                font-size: 18px;
            }

            @include breakpoint(desktop_small) {
                padding: 0 25px;
            }

            @include breakpoint(desktop_huge) {
                padding: 0 45px;
            }

            @include breakpoint(desktop_small_height) {
                font-size: 20px;
                line-height: 22px;
            }
        }

        h5 {
            @include latoSemi();

            font-size: 12px;
            text-transform: uppercase;
            color: $dark;
            letter-spacing: 1.8px;
            opacity: 1;
            margin-top: 7px;
            display: inline-block;
            position: relative;

            &:nth-of-type(2) {
                padding-left: 5px;

                &:before {
                    content: ",";
                    position: absolute;
                    left: -5px;
                    top: 0;
                }
            }

            @include breakpoint(phone_big) {
                font-size: 11px;
            }

            @include breakpoint(desktop_small) {
                font-size: 12px;
            }
        }

        img {
            border-radius: 100px;
            margin-top: 15px;
            margin-bottom: 10px;
            width: 100px;
            height: 100px;

            @include breakpoint(phone_big) {
                width: 60px;
                height: 60px;
            }

            @include breakpoint(desktop_small) {
                width: 85px;
                height: 85px;
            }

            @include breakpoint(desktop) {
                width: 110px;
                height: 110px;
            }

            @include breakpoint(desktop_small_height) {
                width: 85px;
                height: 85px;
            }
        }
    }

    .CarouselPagination {
        margin-top: 35px;

        @include breakpoint(desktop_small) {
            margin-left: 30px;
            margin-top: 25px;
        }
    }
}

.HomeDefault {
    background-color: none;
    padding: 0;
    border: 0;
    width: 100%;
}

.HomeCourses {
    text-align: left;
    position: relative;

    &__carousel {
        padding-left: 40px;
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(phone_big) {
            padding-left: 60px;
        }

        &__init {
            padding-top: 30px;
            padding-bottom: 40px;

            @include breakpoint(phone_big) {
                padding-top: 60px;
            }

            @include breakpoint(desktop_small) {
                padding-bottom: 0;
                padding-top: 30px;
            }
        }
    }

    &__wrapper {
        @include breakpoint(desktop_small) {
            height: 530px;
        }

        @include breakpoint(desktop_bigger_height) {
            height: 450px;
        }
    }

    &__single {
        opacity: 1;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 185px;
            background: $white;
            top: 15px;
            left: 10px;
            z-index: -1;
            box-shadow: 0 0 25px -10px rgba(0, 0, 0, .35);

            @include breakpoint(phone_big) {
                width: 275px;
                height: 220px;
                top: 10px;
                left: 10px;
            }

            @include breakpoint(desktop_small) {
                height: 360px;
                top: 10px;
                width: 220px;
                left: 15px;
                box-shadow: 0 0 40px -10px rgba(0, 0, 0, .35);
            }

            @include breakpoint(desktop_bigger_height) {
                height: 290px;
            }

            @include breakpoint(desktop_huge) {
                width: 245px;
                left: 10px;
            }
        }

        img {
            width: 100%;
            height: 190px;
            object-fit: cover;

            @include breakpoint(phone_big) {
                width: 275px;
                height: 220px;
            }

            @include breakpoint(desktop_small) {
                height: 360px;
                width: 225px;
            }

            @include breakpoint(desktop_huge) {
                width: 245px;
            }

            @include breakpoint(desktop_bigger_height) {
                height: 290px;
            }
        }

        &:hover {
            h4 {
                span {
                    opacity: 1;
                    right: -25px;
                }
            }
        }
    }

    h4 {
        @include playfairBold();

        font-size: 22px;
        line-height: 26px;
        color: $dark;
        max-width: 200px;
        position: relative;

        @include breakpoint(phone_big) {
            max-width: 230px;
        }

        @include breakpoint(desktop_small) {
            min-height: 80px;
        }

        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: all .4s;
            right: -10px;
            opacity: 0;
            display: none;

            svg {
                width: 16px;
                height: 16px;
            }

            @include breakpoint(desktop_small) {
                display: block;
            }
        }
    }

    h5 {
        @include latoRegular();

        font-size: 14px;
        line-height: 26px;
        color: $dark;
        opacity: 1;
        text-transform: none;
        margin-top: 20px;
        margin-bottom: 5px;
        letter-spacing: 1.8px;
    }

    h6 {
        @include latoRegular();

        font-size: 12px;
        line-height: 26px;
        letter-spacing: 1.8px;
        color: $dark;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .CarouselPagination {
        @include breakpoint(desktop_small) {
            margin-top: 25px;
        }
    }
}
