.Locations {
    @include fullHeightSection();

    @include breakpoint(tablet_768) {
        float: none;
        flex-wrap: wrap;
        overflow: visible;
    }

    @include breakpoint(desktop_middle) {
        float: right;
        flex-wrap: nowrap;
        overflow: hidden;
    }

    &__left {
        width: 100%;
        height: 500px;
        color: $white;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow-x: hidden;
        z-index: 2;

        @include breakpoint(desktop_middle) {
            height: 100%;
            width: 450px;
            overflow: hidden;
        }

        @include breakpoint(desktop) {
            width: 550px;
        }

        @include breakpoint(desktop_big) {
            width: 700px;
        }

        &__content {
            &__subtitle {
                @include latoBold();

                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 10px;
                letter-spacing: 2.4px;
                z-index: 10;
            }

            &__heading {
                @include playfairBold();

                font-size: 42px;
                margin-bottom: 15px;

                @include breakpoint(tablet) {
                    font-size: 55px;
                }
            }

            &__text {
                max-width: 280px;
                line-height: 22px;
                font-size: 14px;
                color: rgba($white, .7);

                @include breakpoint(tablet_big) {
                    max-width: 310px;
                    font-size: 16px;
                }
            }
        }

        &__background {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .5);
            }
        }

        &__content {
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(tablet_768) {
                width: 100%;
            }

            @include breakpoint(desktop_middle) {
                left: 50px;
                max-width: 360px;
                right: 70px;
            }

            @include breakpoint(desktop) {
                left: 85px;
                max-width: 380px;
            }

            @include breakpoint(desktop_big) {
                left: 100px;
                max-width: 500px;
            }

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 25px;
                z-index: 1;
                position: relative;
                padding-right: 30px;

                @include breakpoint(tablet_768) {
                    margin-top: 40px;
                    width: 100%;
                    display: flex;
                    flex-wrap: nowrap;
                    max-width: 100%;
                }

                @include breakpoint(desktop_middle) {
                    width: 100%;
                    max-width: 100%;
                    flex-wrap: wrap;
                    padding-right: 0;
                }

                &__single {
                    width: 100%;
                    margin-bottom: 30px;
                    position: relative;

                    @include breakpoint(tablet_768) {
                        margin-right: 40px;
                    }

                    @include breakpoint(desktop_middle) {
                        width: 100%;
                        margin-right: 0;
                    }

                    label {
                        padding-bottom: 15px;
                        font-size: 15px;
                    }

                    input {
                        @include latoSemi();

                        font-size: 14px;
                        color: rgba($black, .5);

                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }

                    img {
                        position: absolute;
                        color: $black;
                        right: 15px;
                        top: 52px;
                        width: 9px;
                        height: 9px;
                        pointer-events: none;
                    }

                    select {
                        @include latoSemi();

                        font-size: 16px;
                        color: rgba($black, .5);
                        height: 50px;
                        padding-left: 20px;
                        width: 100%;
                        padding-right: 30px;
                        background: $white;
                        border: 0;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-ms-expand {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    &__right {
        width: 100%;
        background: $greyBG;

        @include breakpoint(desktop_middle) {
            width: calc(100vw - 450px);
        }

        @include breakpoint(desktop) {
            width: calc(100vw - 550px);
        }

        @include breakpoint(desktop_big) {
            width: calc(100vw - 700px);
        }

        &__noresults {
            @include latoBold();

            margin-top: 30px;
            width: 100%;
            text-align: center;
        }

        .LocationBlock {
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(desktop) {
                height: 400px;
                overflow: hidden;
            }

            @include breakpoint(desktop_big) {
                height: 500px;
            }

            &:nth-child(even) {
                .LocationBlock__image {
                    @include breakpoint(desktop_middle) {
                        order: 2;
                    }
                }

                .LocationBlock__content {
                    @include breakpoint(desktop_middle) {
                        order: 1;
                    }
                }
            }

            &__image {
                width: 100%;
                background-size: cover;
                order: 1;
                padding-bottom: 55%;

                @include breakpoint(phone_big) {
                    padding-bottom: 65%;
                }

                @include breakpoint(desktop_middle) {
                    width: 50%;
                    flex-wrap: nowrap;
                    padding-bottom: 35px;
                }
            }

            &__content {
                width: 100%;
                padding: 30px 35px 45px;
                order: 2;
                border-top: 1px solid $greyBorder;

                @include breakpoint(desktop_middle) {
                    width: 50%;
                    padding: 50px 35px;
                }

                @include breakpoint(desktop_big) {
                    padding: 75px;
                }

                &__title {
                    color: $blue;
                    font-size: 25px;

                    @include breakpoint(tablet_big) {
                        font-size: 30px;
                    }
                }

                &__location {
                    @include latoBold();

                    font-size: 14px;
                    text-transform: uppercase;
                    color: $blue;
                    letter-spacing: 2.1px;
                    margin-top: 20px;

                    span {
                        &:nth-child(1) {
                            margin-right: -5px;
                        }
                    }
                }

                &__text {
                    font-size: 14px;
                    color: rgba($black, .7);
                    max-width: 400px;
                    line-height: 22px;
                    margin-top: 10px;
                }

                &__button {
                    margin-top: 35px;
                    cursor: pointer;

                    &.is-transparent {
                        border-color: $blue;
                        color: $blue;

                        &:hover {
                            background-color: $blue;
                            color: $white;

                            span {
                                color: $white;
                            }
                        }
                    }

                    &.is-desktop_middle {
                        display: none;

                        @include breakpoint(tablet_big) {
                            display: block;
                        }
                    }

                    &.is-mobile {
                        display: block;
                        margin-top: 15px;

                        @include breakpoint(tablet_big) {
                            display: none;
                        }
                    }

                    span {
                        width: 10px;
                        height: 10px;
                        margin-left: 15px;
                        color: $blue;
                    }
                }
            }
        }
    }
}

.LocationSlideout {
    position: fixed;
    left: 0;
    z-index: 11;
    transform: translateX(100%);
    transition: all .66s ease-in-out;
    width: 100%;
    right: auto;
    height: calc(100vh - 90px);
    overflow-y: scroll;

    &.custom-scrollbar {
        position: fixed;
    }

    @include breakpoint(tablet_768) {
        left: auto;
        right: 0;
    }

    &__extended {
        transform: translateX(0%);
    }

    main & {
        top: 0;

        @include breakpoint(tablet_big) {
            top: 90px;
        }

        .logged-in & {
            top: 46px;

            @include breakpoint(tablet_768) {
                top: 32px;
            }

            @include breakpoint(desktop_small) {
                top: 122px;
            }
        }
    }
}

.Locations--loading {
    .button.loaded {
        background: $blue;
        position: relative;

        &:after {
            content: "...";
            color: $white;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 41%;
            font-size: 20px;
            animation: changeLetter 1s linear infinite forwards;
        }

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}

@keyframes changeLetter {
    0% {
        content: ".";
    }

    50% {
        content: "..";
    }

    100% {
        content: "...";
    }
}

#hiddenGallery {
    overflow: hidden;
    display: none;
    visibility: hidden;
}
