.overlayToClose {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.SingleLocation {
    @include breakpoint(landscape_tablet) {
        float: none;
    }

    @include breakpoint(desktop_small) {
        @include fullHeightSection();

        width: 80%;
        left: 20%;
        right: 0;
        float: none !important;
    }

    @include breakpoint(desktop) {
        left: 550px;
    }

    @include breakpoint(desktop) {
        left: initial;
        width: 65%;
        max-width: 950px;
        float: right !important;
    }

    @include breakpoint(desktop_big) {
        width: 50%;
    }

    &__mobile {
        &__image {
            display: block;
            height: 300px;
            background-size: cover;
            position: relative;

            @include breakpoint(tablet_768) {
                display: none;
            }
        }
    }

    overflow: visible !important;

    &__info {
        width: 100%;
        height: 100%;
        background: $blue;
        padding: 50px 0 40px 40px;
        order: 2;

        .Gallery {
            padding: 0;
            margin: 0;
        }

        @include breakpoint(iphone_tablet_to_desktop_small) {
            height: 450px;
            position: relative;
            padding: 50px 40px 0 90px;
        }

        @include breakpoint(tablet_768) {
            padding: 50px 40px 40px 90px;
        }

        @include breakpoint(desktop_small) {
            order: 1;
            padding: 75px 50px;
            width: 60%;
            height: calc(100vh - 90px);
            position: relative;
            overflow-y: scroll;

            @include hideScrollBar();
        }

        @include breakpoint(desktop) {
            width: 460px;
            padding: 55px 50px;
        }

        &__container {
            @include breakpoint(iphone_tablet_to_desktop_small) {
                position: relative;
                overflow: hidden;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__title {
            @include playfairBold();

            color: $white;
            font-size: 25px;
            line-height: 44px;

            @include breakpoint(tablet) {
                font-size: 30px;
            }
        }

        &__airport {
            display: flex;
            font-size: 16px;
            font-weight: 700;

            @include latoBold();
        }

        span {
            @include latoBold();

            font-size: 14px;
            line-height: 30px;
            color: $grey;
            display: block;
        }

        ul {
            margin-top: 15px;
            margin-bottom: 35px;

            @include breakpoint(tablet) {
                margin-top: 25px;
                margin-bottom: 45px;
            }

            @include breakpoint(iphone_tablet_to_desktop_small) {
                width: 50%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 260px;
                margin-bottom: 0;
            }
        }

        li {
            @include latoBold();

            font-size: 16px;
            color: $white;
            margin-bottom: 10px;

            @include breakpoint(iphone_tablet_to_desktop_small) {
                width: 50%;
                margin-bottom: 20px;
            }

            p {
                display: inline-block;
                position: relative;
                margin-right: 9px;
                color: $white;
                font-size: 16px;

                @include latoBold();

                &::before {
                    content: ",";
                    position: absolute;
                    right: -5px;
                    bottom: 0;
                }

                &:last-child {
                    margin-right: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }

        .button {
            width: 140px;

            @include breakpoint(phone) {
                width: 175px;
            }

            &.is-transparent {
                margin-top: 20px;
                width: 115px;
                margin-left: 5px;

                @include breakpoint(phone) {
                    width: 175px;
                }

                @include breakpoint(tablet) {
                    margin-left: 0;
                }

                @include breakpoint(iphone_tablet_to_desktop_small) {
                    display: block;
                    margin-left: 0;
                }

                @include ie11() {
                    margin-bottom: 60px;
                }
            }
        }

        &__buttons {
            @include breakpoint(iphone_tablet_to_desktop_small) {
                position: absolute;
                bottom: 75px;
                right: 0;
            }
        }
    }

    &__content {
        width: 100%;
        background: $greyBG;
        overflow-y: scroll;
        order: 1;
        display: block;

        &__mobile {
            @include breakpoint(desktop_small) {
                display: none;
            }
        }

        @include hideScrollBar();

        &__image {
            padding-bottom: 70%;
            background-size: cover;
            position: relative;
            display: none;

            @include breakpoint(tablet_768) {
                display: block;
            }

            @include breakpoint(tablet_big) {
                padding-bottom: 400px;
                height: 0;
            }

            &__showHide {
                width: 65px;
                height: 65px;
                background: $white;
                bottom: 0;
                left: 0;
                position: absolute;
                text-align: center;
                cursor: pointer;
                display: none;

                @include breakpoint(tablet) {
                    display: none;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 27px;
                    height: 27px;
                }
            }

            button {
                border-radius: 0;
                width: 52px;
                height: 52px;
                border: 0;
                background-color: $white;

                &:after {
                    border-color: transparent transparent transparent $brown;
                    border-width: 7.5px 0 7.5px 13px;
                    margin-left: 1px;
                }
            }
        }
    }

    &__close {
        outline: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border: none;
        background-color: $brown;
        z-index: 10;
        cursor: pointer;
        transition: background-color .3s;
        padding: 0;
        display: block;

        &:hover {
            background-color: $blue;
        }

        @include breakpoint(tablet_768) {
            width: 63px;
            height: 63px;
        }

        @include breakpoint(desktop_small) {
            left: -63px;
        }

        span {
            width: 15px;
            height: 20px;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
