.Login {
    background: $blue;
    height: calc(100vh - 52px);

    @include breakpoint(phone_big) {
        height: calc(100vh - 90px);
    }

    &__inner {
        max-width: 600px;
        margin: 0 auto;
        padding-top: 30px;

        @include breakpoint(phone_big) {
            position: relative;
            padding-top: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__h1 {
        font-size: 32px;
        color: $white;
        margin-bottom: 40px;

        @include breakpoint(phone_big) {
            font-size: 42px;
        }
    }

    .woocommerce-form {
        .woocommerce-Input {
            color: $blue;
            font-size: 16px;

            &::placeholder {
                color: $grey;
            }
        }
    }

    .gform_confirmation_wrapper {
        font-size: 16px;
        line-height: 22px;
        color: $white;
        letter-spacing: 1px;
        width: 100%;
        display: inline-block;
        padding-bottom: 65px;
        border-bottom: 1px solid rgba($white, .3);
    }

    .gform_confirmation_message {
        @include latoRegular();
    }

    .validation_message {
        @include latoSemi();

        font-size: 12px;
        line-height: 20px;
        color: $red;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    .validation_error {
        @include latoSemi();

        font-size: 14px;
        line-height: 21px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        border: 2px solid rgba($red, .5);
        padding: 5px;
        margin: 0 0 15px;
    }
}
