.News {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    margin-top: 0;

    @include hideScrollBar();

    @include breakpoint(desktop_small) {
        @include fullHeightSection();

        flex-wrap: nowrap;
    }

    &__left {
        width: 100%;
        color: $white;
        background: $blue;
        position: relative;
        padding: 50px 35px;

        @include breakpoint(desktop_small_height) {
            overflow-y: scroll;

            @include hideScrollBar();
        }

        @include breakpoint(tablet_768) {
            padding: 50px 70px;
        }

        @include breakpoint(desktop_small) {
            width: 550px;
            height: auto;
            padding: 90px 70px 0;
            overflow-y: scroll;

            @include hideScrollBar();
        }

        @include breakpoint(desktop_big) {
            width: 700px;
            padding: 140px 100px 0;
        }

        &__content {
            z-index: 1;
            position: relative;

            @include breakpoint(desktop_small) {
                width: 350px;
            }

            @include breakpoint(desktop_big) {
                width: 500px;
            }

            &__subtitle {
                @include latoBold();

                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 2.4px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }
            }

            &__title {
                @include playfairBold();

                font-size: 42px;
                margin-bottom: 15px;

                @include breakpoint(tablet_768) {
                    font-size: 42px;
                }

                @include breakpoint(desktop_big) {
                    font-size: 55px;
                }
            }

            &__text {
                max-width: 280px;
                line-height: 20px;
                font-size: 14px;
                color: rgba($white, .7);

                @include breakpoint(tablet_big) {
                    max-width: 310px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }

        &__sorting {
            @include breakpoint(tablet_768) {
                display: flex;
            }

            @include breakpoint(desktop_small) {
                flex-wrap: wrap;
            }

            &__search {
                @include breakpoint(tablet_768) {
                    width: 50%;
                    margin-top: 40px;
                    margin-right: 35px;
                }

                @include breakpoint(desktop_small) {
                    width: 100%;
                    margin-top: 0;
                    margin-right: 0;
                }

                &__type {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-wrap: nowrap;
                    margin-top: 30px;
                    margin-bottom: 25px;
                    cursor: pointer;

                    label {
                        position: relative;
                        padding-bottom: 0;
                        height: 50px;
                        width: 110px;
                        border-radius: 0;
                        border: 1px solid $greyBorder;
                        overflow: hidden;

                        &:before,
                        &:after {
                            display: none;
                        }

                        @include breakpoint(tablet_768) {
                            width: 50%;
                        }
                    }

                    input[type="radio"]:checked::-ms-check,
                    input[type="radio"]::-ms-check {
                        border: none;
                        color: transparent;
                        background: none;

                        &:before,
                        &:after {
                            display: none;
                        }
                    }

                    input {
                        width: 110px;
                        position: relative;
                        margin: 0;
                        height: 100%;
                        cursor: pointer;

                        &:before,
                        &:after {
                            display: none;
                        }

                        @include breakpoint(phone_small) {
                            width: 140px;
                        }

                        @include breakpoint(phone) {
                            width: 180px;
                        }

                        @include breakpoint(tablet_768) {
                            width: 100%;
                        }
                    }

                    .selected {
                        background: $white;

                        input {
                            background: $white;
                        }

                        span {
                            color: $blue;
                        }
                    }

                    span {
                        @include latoSemi();

                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 14px;
                        color: $white;
                    }
                }
            }

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 25px;
                z-index: 1;
                position: relative;

                @include breakpoint(tablet_768) {
                    margin-top: 40px;
                    width: 50%;
                }

                @include breakpoint(desktop_small) {
                    width: 100%;
                }

                &__single {
                    width: 100%;
                    margin-bottom: 30px;
                    position: relative;

                    @include breakpoint(tablet_768) {
                        width: 47%;

                        &:nth-of-type(1) {
                            margin-right: 3%;
                            width: 50%;
                        }

                        &:nth-of-type(3) {
                            width: 100%;
                            margin-top: -12px;
                        }
                    }

                    @include breakpoint(desktop_small) {
                        width: 100%;
                        margin-right: 0;
                    }

                    label {
                        padding-bottom: 15px;
                        font-size: 15px;
                    }

                    input {
                        @include latoSemi();

                        font-size: 14px;
                        color: rgba($black, .5);

                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }

                    img {
                        position: absolute;
                        color: $black;
                        right: 15px;
                        top: 52px;
                        width: 9px;
                        height: 9px;
                    }

                    select {
                        @include latoSemi();

                        font-size: 16px;
                        color: rgba($black, .5);
                        height: 50px;
                        padding-left: 20px;
                        width: 100%;
                        padding-right: 30px;
                        background: $white;
                        border: 0;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        @include breakpoint(desktop_small) {
                            width: 48%;

                            select {
                                width: 100%;
                            }
                        }

                        @include breakpoint(desktop_big) {
                            width: 240px;

                            select {
                                width: 240px;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        @include breakpoint(desktop_small) {
                            margin-right: 4%;
                        }
                    }

                    &:nth-of-type(2) {
                        @include breakpoint(desktop_small) {
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .search-wrapper {
            width: 100%;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba($white, .3);
            position: relative;
            z-index: 1;

            @include breakpoint(tablet_768) {
                border-bottom: 0;
            }

            @include breakpoint(desktop_small) {
                border-bottom: 1px solid rgba($white, .3);
            }

            input {
                padding-left: 36px;
                height: 50px;
                font-weight: 600;
            }

            img {
                position: absolute;
                left: 10px;
                top: 42px;
            }
        }

        &__lines {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            @include breakpoint(desktop_small) {
                height: calc(100vh - 90px);
            }

            .logged-in & {
                height: 100%;
            }
        }
    }

    &__right {
        background: $greyBG;
        width: 100%;

        @include breakpoint(tablet_768) {
            padding: 0 50px;
        }

        @include breakpoint(tablet_big) {
            padding: 0 40px;
        }

        @include breakpoint(desktop_small) {
            width: calc(100vw - 450px);
            overflow-y: scroll;
            padding: 0;
        }

        @include breakpoint(desktop_big) {
            width: calc(100vw - 700px);
        }

        @include hideScrollBar();

        &__categories {
            padding: 25px 0;
            display: flex;
            flex-wrap: nowrap;
            margin: 0 20px;
            overflow-x: auto;
            width: 100%;

            @include hideScrollBar();

            @include breakpoint(tablet_768) {
                width: calc(88% + 40px);
                margin: 0 auto;
            }

            @include breakpoint(desktop_small) {
                width: calc(84% + 40px);
            }

            @include breakpoint(desktop) {
                width: calc(81% + 80px);
            }

            @include breakpoint(desktop_huge) {
                width: 950px;
            }

            > span {
                @include latoBold();

                display: flex;
                align-items: center;
                font-size: 14px;
                color: $white;
                background: $brown;
                padding: 15px 20px;
                margin-right: 20px;
                flex-shrink: 0;
                flex-basis: auto;

                @include breakpoint(phone) {
                    margin-bottom: 0;
                }

                @include breakpoint(desktop) {
                    flex-basis: auto;
                    flex-shrink: auto;
                }
            }

            button {
                @include latoBold();

                font-size: 14px;
                background: none;
                border: 0;
                color: $black;
                cursor: pointer;
                flex-shrink: 0;
                flex-basis: 35%;

                @include breakpoint(tablet_768) {
                    margin-left: auto;
                }

                @include breakpoint(desktop) {
                    flex-basis: auto;
                }
            }

            img {
                width: 12px;
                height: 12px;
                color: white;
                filter: invert(1);
                margin-left: auto;
                cursor: pointer;

                @include breakpoint(desktop) {
                    margin-left: 20px;
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            padding: 0 0 45px;
            justify-content: center;

            @include hideScrollBar();

            @include breakpoint(tablet_768) {
                padding: 0 0 50px;
            }

            @include breakpoint(desktop) {
                justify-content: left;
            }

            @include breakpoint(desktop_big) {
                padding-right: 0;
                margin-left: 0;
            }

            @include breakpoint(desktop_huge) {
                justify-content: center;
                margin-left: 0;
            }

            &__single {
                width: 100%;
                text-align: left;
                position: relative;
                background: $white;
                border-bottom: 5px solid $brown;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                margin-left: 20px;
                margin-right: 20px;

                @include breakpoint(tablet_768) {
                    width: 44%;
                    margin: 0 20px 35px;
                }

                @include breakpoint(desktop_small) {
                    width: 42%;
                }

                &__wrapper {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                img {
                    object-fit: cover;
                    height: 210px;
                    width: 100%;
                }

                @include breakpoint(desktop) {
                    width: 27%;

                    img {
                        width: 100%;
                        height: 220px;
                    }
                }

                @include breakpoint(desktop_huge) {
                    width: 290px;

                    img {
                        width: 100%;
                        height: 240px;
                    }
                }

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    color: $black;

                    @include breakpoint(tablet_768) {
                        font-size: 26px;
                    }
                }

                p {
                    @include latoRegular();

                    font-size: 17px;
                    max-width: 200px;
                    color: $grey;
                    margin-top: auto;
                }

                span {
                    @include latoBold();

                    font-size: 14px;
                    letter-spacing: 2.4px;
                    color: $blue;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                &__details {
                    padding: 30px 25px 20px;
                    flex-direction: column;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                }
            }

            &__LocationsList {
                display: flex;
                flex-wrap: wrap;

                &__noresults {
                    @include latoBold();

                    font-size: 14px;
                    letter-spacing: 2.4px;
                    color: $blue;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    margin-top: 30px;
                }

                &__single {
                    width: 33.33%;
                    text-align: center;

                    &__details {
                        background: $white;
                        width: 220px;
                        height: 240px;
                        margin: 0 auto 40px;
                        cursor: pointer;

                        h2 {
                            @include playfairBold();

                            font-size: 18px;
                            line-height: 24px;
                            color: $black;
                        }

                        h5 {
                            @include latoSemi();

                            font-size: 12px;
                            text-transform: uppercase;
                            color: $dark;
                            letter-spacing: 1.8px;
                            opacity: 1;
                            margin-top: 7px;

                            @include breakpoint(phone_big) {
                                font-size: 11px;
                            }

                            @include breakpoint(desktop_small) {
                                font-size: 12px;
                            }
                        }

                        img {
                            border-radius: 100px;
                            margin-top: 15px;
                            margin-bottom: 10px;
                            width: 100px;
                            height: 100px;

                            @include breakpoint(phone_big) {
                                width: 60px;
                                height: 60px;
                            }

                            @include breakpoint(desktop) {
                                width: 110px;
                                height: 110px;
                            }

                            @include breakpoint(desktop_small_height) {
                                width: 85px;
                                height: 85px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.SingleNews {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    margin-top: 52px;
    background: $greyBG;
    right: -100vw;
    z-index: 100;

    @include breakpoint(phone_big) {
        margin-top: 90px;
    }

    @include breakpoint(tablet_big) {
        margin-top: 0;
    }

    @include breakpoint(desktop_small) {
        position: fixed;
        width: 100%;
        flex-wrap: nowrap;
        height: calc(100vh - 90px);
    }

    .logged-in & {
        height: 100%;

        @include breakpoint(desktop_small) {
            height: calc(100vh - 90px);
        }
    }
}
