.page-template-ppc-template {
    .Header {
        &__toggler,
        &__nav,
        &__actions {
            display: none;
        }

        &__logo {
            &__desktop {
                display: none;

                @include breakpoint(phone_big) {
                    display: inline-block;

                    img {
                        width: 170px;
                    }
                }
            }

            &__mobile {
                display: block;

                img {
                    margin: auto;
                }

                @include breakpoint(phone_big) {
                    display: none;
                }
            }
        }
    }
}

.PPC {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;

    .VideoComponent {
        max-width: 910px;
        margin: auto;

        &__element {
            max-height: 500px;
        }
    }

    .SectionTitle {
        max-width: 910px;

        &:before,
        &:after {
            width: 335px;
        }
    }

    .StandardText {
        @include breakpoint(desktop_small) {
            padding: 60px 0;
        }

        p {
            padding: 20px 0;
            max-width: 910px;
            margin: auto;
        }

        h2 {
            @include latoBold();

            font-size: 18px;
            letter-spacing: 2.4px;
            color: $blue;
        }
    }

    .RelatedPosts {
        max-width: 1140px;
        width: 100%;
        margin: auto;
    }

    .Gallery {
        max-width: 910px;
        margin: auto;

        &__pagination {
            margin: 45px 0;
        }
    }

    .FormModule {
        background: $blue;
        padding: 80px 0;

        &__content {
            max-width: 90%;
            margin: auto;
            width: 100%;

            @include breakpoint(phone_big) {
                max-width: 450px;
            }
        }

        .gform_footer {
            text-align: center;
        }

        .ginput_container_name {
            display: flex;

            label {
                margin-top: 0;
            }

            .name_first {
                width: 100%;
            }

            .name_last {
                width: 100%;
            }
        }
    }
}
