.Single {
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 52px;

    .ps__rail-y {
        display: none !important;

        @include breakpoint(desktop_small) {
            display: block !important;
        }
    }

    @include breakpoint(tablet_big) {
        flex-wrap: nowrap;
        height: calc(100vh - 90px);
        overflow: hidden;
        float: right;

        .logged-in & {
            height: calc(100vh - 122px);
        }
    }

    @include breakpoint(phone_big) {
        margin-top: 90px;
    }

    @include breakpoint(desktop_small) {
        margin-top: 0;
    }

    &__close {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        background-color: $brown;
        z-index: 10;
        cursor: pointer;
        display: block;
        transition: background-color .3s;

        &:hover {
            background-color: $blue;
        }

        @include breakpoint(tablet) {
            width: 63px;
            height: 63px;
        }

        span {
            width: 15px;
            height: 20px;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .Requirements__single__title {
        font-size: 13px !important;
        color: $brown !important;
        font-weight: 600 !important;
    }

    .Requirements__single__text p {
        font-weight: 400 !important;
        color: $blue !important;
        font-size: 18px !important;
        line-height: 26px !important;
        text-transform: none !important;
    }
}

.SingleContent {
    background: $greyBG;
    width: 100%;
    display: flex;

    @include breakpoint(tablet_big) {
        order: 1;
        width: 50%;
    }

    &__inner {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        margin: 0 30px;

        @include hideScrollBar();

        @include breakpoint(tablet) {
            width: 690px;
        }

        @include breakpoint(tablet_big) {
            width: auto;
            margin-top: 20px;
            margin-left: 100px;
            margin-right: 35px;
            padding: 0;
            padding-top: 20px;
            overflow-y: auto;
            padding-right: 70px;
        }
    }

    &__meta {
        color: $blue;
        font-size: 14px;
        letter-spacing: 2.1px;
        margin-bottom: 15px;
        text-transform: uppercase;

        @include latoBold();

        @include breakpoint(tablet_big) {
            font-size: 16px;
            line-height: 4.38;
            letter-spacing: 2.4px;
            margin-bottom: 30px;
        }
    }

    &__title {
        color: $blue;
        font-size: 42.5px;
        line-height: 40px;
        margin-bottom: 18px;

        @include playfairBold();

        @include breakpoint(tablet_big) {
            font-size: 55px;
            line-height: 1;
            margin-bottom: 50px;
        }

        @include breakpoint(desktop_small) {
            font-size: 45px;
        }

        @include breakpoint(desktop_big) {
            font-size: 55px;
        }
    }

    &__text {
        color: $paragraph;
        font-size: 14px;
        line-height: 20px;
        word-break: break-word;

        @include latoRegular();

        @include breakpoint(tablet_big) {
            font-size: 16px;
            line-height: 1.63;
        }

        p {
            color: $paragraph;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 15px;

            @include breakpoint(tablet_big) {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 30px;
            }
        }

        h6 {
            @include playfairBold();

            font-size: 13px;
            line-height: 19px;
            color: $blue;

            @include breakpoint(tablet_big) {
                font-size: 15px;
                line-height: 21px;
                margin-bottom: 10px;
            }
        }

        h5 {
            @include playfairBold();

            font-size: 15px;
            line-height: 19px;
            color: $blue;

            @include breakpoint(tablet_big) {
                font-size: 16px;
                line-height: 21px;
                margin-bottom: 10px;
            }
        }

        h4 {
            font-size: 16px;
            line-height: 19px;
            color: $blue;

            @include breakpoint(tablet_big) {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 15px;
            }
        }

        h3 {
            font-size: 16px;
            line-height: 19px;
            color: $blue;

            @include breakpoint(tablet_big) {
                font-size: 20px;
                line-height: 21px;
                margin-bottom: 20px;
            }
        }

        h2 {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 20px;
            color: $primary;

            @include breakpoint(tablet_768) {
                font-size: 22px;
                line-height: 28px;
            }

            @include breakpoint(desktop_small) {
                font-size: 28px;
                line-height: 36px;
            }
        }

        h1 {
            font-size: 22px;
            line-height: 24px;
            color: $blue;

            @include breakpoint(tablet_big) {
                font-size: 34px;
                line-height: 38px;
                margin-bottom: 25px;
            }
        }

        img {
            width: 100vw;
            height: auto;
            position: relative;
            left: calc(-50vw + 150px);
            margin-bottom: 30px;

            @include breakpoint(phone) {
                left: calc(-50vw + 185px);
            }

            @include breakpoint(phone_big) {
                left: calc(-50vw + 205px);
                margin-bottom: 50px;
            }

            @include breakpoint(tablet) {
                width: auto;
                left: auto;
                margin: 0 auto 50px;
                display: block;
            }
        }

        ul,
        ol {
            padding-bottom: 20px;
            padding-left: 17px;
            line-height: 26px;
            color: $paragraph;

            @include breakpoint(tablet_big) {
                padding-bottom: 25px;
            }

            li {
                padding-bottom: 5px;
            }
        }

        ul {
            @include latoRegular();

            list-style-type: disc;
        }

        ol {
            @include latoRegular();

            list-style-type: decimal;
            padding-left: 40px;

            li {
                padding-left: 2px;
                margin-left: -15px;
            }
        }

        em {
            font-style: italic;
        }

        strong {
            font-weight: bold;
        }

        .underlined {
            text-decoration: underline;
        }

        a {
            text-transform: none;
            text-decoration: none;
            color: $blue;

            &:hover {
                color: $brown;
            }
        }
    }
}

.SingleImage {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint(phone_big) {
        padding-bottom: 70%;
        height: 0;
    }

    @include breakpoint(tablet_big) {
        width: 50%;
        height: auto;
        padding-bottom: 0;
        order: 2;
    }
}

.SingleRelatedCourse {
    width: auto;
    margin-bottom: 50px;
    border-left: 3px solid $brown;
    background: $white;
    padding-top: 35px;
    padding-bottom: 28px;
    padding-left: 30px;
    padding-right: 45px;
    position: relative;
    display: block;
    margin-left: 35px;
    margin-right: 35px;

    .SingleContent__text & {
        margin-left: 0;
        margin-right: 0;
    }

    &__headline {
        font-size: 14px;
        line-height: 16.8px;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: $dark;

        @include latoSemi();
    }

    &__title {
        font-size: 25.3px;
        line-height: 25.3px;
        margin-bottom: 20px;
        color: $dark;

        @include playfairBold();
    }

    &__preview {
        font-size: 13.5;
        line-height: 25.3px;
        color: $paragraph !important;

        @include latoRegular();
    }

    &__button {
        width: 30px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: $brown;
        transition: all .3s;

        &:hover {
            background: $blue;
        }

        span {
            width: 10px;
            height: 10px;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
