/* TODO: make this properly responsive vertially */

.Subjects {
    @include fullHeightSection();

    top: 0;

    @include breakpoint(tablet_768) {
        flex-wrap: wrap;
        width: 100%;
        overflow: visible;
    }

    @include breakpoint(desktop_middle) {
        overflow: hidden;
        flex-wrap: nowrap;
        top: 0;
    }

    &__left {
        width: 100%;
        height: 700px;
        color: $white;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        @include breakpoint(tablet_768) {
            height: 600px;
        }

        @include breakpoint(desktop_middle) {
            height: 100%;
            width: 450px;
        }

        @include breakpoint(desktop) {
            width: 550px;
        }

        @include breakpoint(desktop_big) {
            width: 700px;
        }

        &__background {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0, 0, 0, .5);
            }
        }

        &__content {
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
            right: 35px;
            max-width: 90%;
            z-index: 10;

            label {
                color: $white;
            }

            @include breakpoint(tablet_768) {
                left: 70px;
                right: 70px;

                p {
                    color: rgba($white, .7);
                }
            }

            @include breakpoint(desktop_middle) {
                max-width: 380px;
                left: 50px;
            }

            @include breakpoint(desktop) {
                left: 85px;
            }

            @include breakpoint(desktop_big) {
                max-width: 100%;
                width: 500px;
                left: 100px;
            }

            &__subtitle {
                @include latoBold();

                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 10px;
                letter-spacing: 2.4;
            }

            &__title {
                @include playfairBold();

                font-size: 42px;
                margin-bottom: 15px;

                @include breakpoint(tablet) {
                    font-size: 55px;
                }
            }

            &__text {
                max-width: 265px;
                line-height: 22px;
                font-size: 14px;

                @include breakpoint(tablet) {
                    max-width: 310px;
                    font-size: 16px;
                }
            }

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                @include breakpoint(desktop_middle_height) {
                    margin-top: 20px;
                }

                &__single {
                    width: 100%;
                    margin-bottom: 30px;
                    position: relative;

                    @include breakpoint(desktop_middle_height) {
                        margin-bottom: 15px;
                    }

                    @include breakpoint(tablet_768) {
                        width: 48%;

                        &:nth-of-type(1) {
                            margin-right: 4%;
                        }

                        &:nth-of-type(3) {
                            width: 100%;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    label {
                        padding-bottom: 15px;
                        font-size: 15px;

                        @include breakpoint(desktop_middle_height) {
                            padding-bottom: 10px;
                        }
                    }

                    input {
                        @include latoSemi();

                        font-size: 14px;
                        color: rgba($black, .5);

                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }

                    img {
                        position: absolute;
                        color: $black;
                        right: 15px;
                        top: 52px;
                        width: 9px;
                        height: 9px;

                        @include breakpoint(desktop_middle_height) {
                            top: 42px;
                        }
                    }

                    select {
                        @include latoSemi();

                        font-size: 16px;
                        color: rgba($black, .5);
                        height: 45px;
                        padding-left: 20px;
                        width: 100%;
                        padding-right: 30px;
                        background: $white;
                        border: 0;

                        @include breakpoint(desktop_middle_height) {
                            height: 50px;
                        }

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &--keyword {
                        input {
                            height: 45px;
                        }

                        img {
                            top: 39px;
                            width: 13px;
                            height: 12px;
                        }
                    }

                    .vue-treeselect {
                        &__label {
                            color: $greyLighter;
                        }
                    }
                }
            }
        }
    }

    &__right {
        width: 100%;
        background: $white;
        border-top: 1px solid $greyBorder;

        &__noresults,
        &__loading {
            @include latoSemi();

            color: $primary;
            margin-top: 30px;
            text-align: center;
            width: 100%;
        }

        @include breakpoint(desktop_middle) {
            width: calc(100vw - 450px);
        }

        @include breakpoint(desktop) {
            width: calc(100vw - 550px);
        }

        @include breakpoint(desktop_big) {
            width: calc(100vw - 700px);
        }

        &__single {
            display: flex;
            padding: 40px 30px;
            position: relative;
            border-bottom: 2px solid $greyBorder;

            @include breakpoint(tablet_768) {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0 0 20px;
                margin: 40px 70px;
            }

            @include breakpoint(desktop_middle) {
                padding: 40px 50px;
                background: $nearlyWhite;
                margin: 0;
                align-items: flex-start;
            }

            @include breakpoint(desktop) {
                flex-direction: row;
                justify-content: space-between;
            }

            &__texts {
                margin-left: 30px;

                h4 {
                    line-height: 30px;
                }

                @include breakpoint(tablet_768) {
                    display: flex;
                    align-items: center;
                    margin-left: 40px;

                    h4 {
                        margin-bottom: 15px;
                    }

                    & > div {
                        padding-right: 40px;
                    }
                }

                @include breakpoint(desktop) {
                    margin-right: 40px;
                    margin-left: 40px;
                }

                @include breakpoint(desktop_big) {
                    margin-right: 80px;
                }
            }

            &__image {
                border-radius: 50%;
                min-width: 80px;
                min-height: 80px;
                margin-bottom: auto;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;

                @include breakpoint(desktop_middle) {
                    min-width: 118px;
                    min-height: 118px;
                }

                @include breakpoint(desktop) {
                    margin-bottom: 0;
                }
            }
        }

        h4 {
            a {
                @include playfairBold();

                font-size: 28px;
                line-height: 36px;
                color: $blue;

                @include breakpoint(tablet_768) {
                    line-height: 45px;
                }
            }
        }

        p {
            color: rgba($black, .7);
            font-size: 14px;
            line-height: 22px;
            padding-top: 10px;
            margin-bottom: 20px;

            @include breakpoint(tablet) {
                padding-top: 0;
            }
        }

        .button {
            width: 155px;
            min-width: 155px;

            @include breakpoint(tablet) {
                width: 175px;
                padding: 16px 0;
            }

            &.is-transparent {
                border-color: rgba($blue, .4);
                color: $blue;

                &:hover {
                    background-color: $blue;
                    color: $white;

                    span {
                        color: $white;
                    }
                }
            }

            &.is-desktop {
                display: none;

                @include breakpoint(tablet) {
                    display: block;
                }
            }

            &.is-mobile {
                display: block;
                margin-top: 15px;

                @include breakpoint(tablet) {
                    display: none;
                }
            }

            span {
                width: 10px;
                height: 10px;
                margin-left: 15px;
                color: $blue;
            }
        }
    }
}

.--search__filter {
    input {
        width: 100%;
        padding: 15px;
        color: $black;
        font-weight: 600;
    }
}
