.SingleTestimonial {
    width: 100vw;
    height: calc(100vh - 52px);
    position: fixed;
    left: 0;
    z-index: 3;
    top: 0;

    @include ie11() {
        top: 90px;
    }

    .overlayToClose {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    @include breakpoint(tablet_768) {
        height: calc(100vh - 90px);
    }

    @include breakpoint(desktop_small) {
        height: calc(100vh - 90px);
    }

    &__wrapper {
        width: 100%;
        height: calc(100vh - 52px);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: $greyBG;

        @include breakpoint(tablet_768) {
            width: 75%;
            height: calc(100vh - 90px);
        }

        @include breakpoint(desktop_small) {
            width: 50%;
            height: calc(100vh - 90px);
        }

        @include breakpoint(desktop) {
            width: 40%;
        }
    }

    &__close {
        outline: none;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background-color: $brown;
        color: $white;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
        z-index: 99;
        transition: background-color .3s;
        padding: 0;
        display: block;

        &:hover {
            background-color: $blue;
        }

        @include breakpoint(desktop_small) {
            left: -63px;
            width: 63px;
            height: 63px;
        }

        span {
            width: 15px;
            height: 20px;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        overflow-y: scroll;
        display: inline-block;
        width: 100%;
        height: calc(100vh - 52px);

        @include breakpoint(desktop_small) {
            height: calc(100vh - 90px);
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba($black, .3);
            border-radius: 6px;
            background-color: $greyLight;
        }

        &::-webkit-scrollbar {
            width: 8px;
            background-color: $greyLight;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: $greyLighter;
        }

        &__media {
            width: 100%;
            display: inline-block;
            position: relative;
            padding-bottom: 70%;
            background-size: cover;
            background-position: center center;

            @include breakpoint(tablet_big) {
                height: 400px;
            }

            &__showHide {
                width: 65px;
                height: 65px;
                background: $white;
                bottom: 0;
                left: 0;
                position: absolute;
                text-align: center;
                cursor: pointer;
                display: none;

                @include breakpoint(tablet) {
                    display: block;
                }

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 27px;
                    height: 27px;
                }
            }

            button {
                border-radius: 0;
                width: 52px;
                height: 52px;
                border: 0;
                background-color: $white;

                &:after {
                    border-color: transparent transparent transparent $brown;
                    border-width: 7.5px 0 7.5px 13px;
                    margin-left: 1px;
                }
            }
        }

        &__inner {
            padding: 60px 30px;
            color: $greyDark;

            @include breakpoint(desktop_small) {
                padding: 40px 50px;
            }

            &__nationality {
                @include latoBold();

                font-size: 14px;
                color: $blue;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-bottom: 10px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }
            }

            &__title {
                font-size: 25px;
                line-height: 40px;
                color: $blue;
                letter-spacing: 2px;
                margin-bottom: 25px;

                @include breakpoint(desktop_small) {
                    font-size: 36px;
                }
            }

            &__location {
                @include latoBold();

                font-size: 16px;
                line-height: 40px;
                color: $brown;
                text-transform: uppercase;
                letter-spacing: 3px;

                @include breakpoint(desktop_small) {
                    line-height: 20px;
                    font-size: 14px;
                }
            }

            &__course {
                @include latoRegular();

                font-size: 15px;
                line-height: 40px;
                color: $blue;
                margin-bottom: 10px;

                @include breakpoint(desktop_small) {
                    font-size: 22px;
                }
            }

            &__text {
                p,
                em {
                    color: $paragraph;
                    font-size: 15px;
                    line-height: 26px;
                    margin: 0 0 20px;

                    &:last-child {
                        margin: 0;
                    }
                }

                em {
                    font-style: italic;
                }

                ul,
                ol {
                    @include latoRegular();

                    list-style-type: disc;
                    padding-left: 17px;
                    line-height: 26px;
                    color: $paragraph;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
