.Testimonials {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;

    @include breakpoint(tablet_big) {
        margin-top: 0;
    }

    @include breakpoint(desktop_small) {
        @include fullHeightSection();

        flex-wrap: nowrap;
    }

    &__left {
        width: 100%;
        color: $white;
        background: $blue;
        position: relative;
        padding: 35px;

        @include breakpoint(tablet_768) {
            padding: 50px 70px;
        }

        @include breakpoint(desktop_small) {
            width: 550px;
            height: auto;
            padding: 0 70px;
        }

        @include breakpoint(desktop_big) {
            width: 700px;
            padding: 0 100px;
        }

        &__content {
            z-index: 1;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(desktop_small) {
                width: 350px;
            }

            @include breakpoint(desktop_big) {
                width: 500px;
            }

            h5 {
                @include latoBold();

                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 2.4px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }
            }

            h3 {
                @include playfairBold();

                font-size: 42px;
                margin-bottom: 15px;

                @include breakpoint(tablet_768) {
                    font-size: 42px;
                }

                @include breakpoint(desktop_big) {
                    font-size: 55px;
                }
            }

            p {
                max-width: 280px;
                line-height: 20px;
                font-size: 14px;
                color: rgba($white, .7);

                @include breakpoint(tablet_big) {
                    max-width: 310px;
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                &__single {
                    width: 100%;
                    margin-bottom: 30px;
                    position: relative;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    label {
                        padding-bottom: 15px;
                        font-size: 15px;
                    }

                    input {
                        @include latoSemi();

                        font-size: 14px;
                        color: rgba($black, .5);

                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }

                    img {
                        position: absolute;
                        color: $black;
                        right: 15px;
                        top: 52px;
                        width: 9px;
                        height: 9px;
                    }

                    select {
                        @include latoSemi();

                        font-size: 16px;
                        color: rgba($black, .5);
                        height: 50px;
                        padding-left: 20px;
                        width: 100%;
                        padding-right: 30px;
                        background: $white;
                        border: 0;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-ms-expand {
                            display: none;
                        }
                    }
                }
            }
        }

        &__lines {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            @include breakpoint(desktop_small) {
                height: calc(100vh - 90px);
            }

            .logged-in & {
                height: 100%;

                @include breakpoint(desktop_small) {
                    height: calc(100vh - 90px);
                }
            }
        }
    }

    &__right {
        background: $greyBG;
        width: 100%;

        @include breakpoint(tablet_768) {
            padding: 0 50px;
        }

        @include breakpoint(tablet_big) {
            padding: 50px 40px;
        }

        @include breakpoint(desktop_small) {
            width: calc(100vw - 450px);
            overflow-y: scroll;
            padding: 25px 0;
        }

        @include breakpoint(desktop_big) {
            width: calc(100vw - 700px);
        }

        @include hideScrollBar();

        &__categories {
            padding: 25px 0;
            display: flex;
            flex-wrap: nowrap;
            margin: 0 20px;
            overflow-x: auto;
            width: 100%;

            @include hideScrollBar();

            @include breakpoint(tablet_768) {
                width: calc(88% + 40px);
                margin: 0 auto;
            }

            @include breakpoint(desktop_small) {
                width: calc(84% + 40px);
            }

            @include breakpoint(desktop) {
                width: calc(81% + 80px);
            }

            @include breakpoint(desktop_huge) {
                width: 950px;
            }

            > span {
                @include latoBold();

                display: flex;
                align-items: center;
                font-size: 14px;
                color: $white;
                background: $brown;
                padding: 15px 20px;
                margin-right: 20px;
                margin-bottom: 20px;

                @include breakpoint(phone) {
                    margin-bottom: 0;
                }
            }

            button {
                @include latoBold();

                font-size: 14px;
                background: none;
                border: 0;
                color: $black;
                cursor: pointer;

                @include breakpoint(tablet_768) {
                    margin-left: auto;
                }
            }

            img {
                width: 12px;
                height: 12px;
                color: white;
                filter: invert(1);
                margin-left: 20px;
                cursor: pointer;
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            padding: 0 0 45px;
            justify-content: center;

            @include breakpoint(tablet_768) {
                padding: 0 0 50px;
            }

            @include breakpoint(desktop) {
                justify-content: center;
            }

            &__noresults,
            &__loading {
                @include latoSemi();

                color: $primary;
                text-align: center;
                width: 100%;
            }

            &__single {
                width: 100%;
                text-align: left;
                position: relative;
                background: $white;
                box-shadow: .3px -4px 31.5px 3.5px rgba(0, 0, 0, .08);
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                margin-left: 20px;
                margin-right: 20px;

                @include breakpoint(tablet_768) {
                    width: 44%;
                    margin: 0 20px 35px;
                }

                @include breakpoint(desktop_small) {
                    width: 42%;
                }

                img {
                    object-fit: cover;
                    height: 160px;
                    width: 100%;
                }

                @include breakpoint(desktop) {
                    width: 27%;

                    img {
                        width: 100%;
                        height: 170px;
                    }
                }

                @include breakpoint(desktop_huge) {
                    width: 290px;

                    img {
                        height: 190px;
                    }
                }

                h6 {
                    @include latoBold();

                    text-transform: uppercase;
                    font-size: 13px;
                    color: $blue;
                    letter-spacing: 2.4px;
                    margin-bottom: 10px;
                }

                h5 {
                    @include latoBold();

                    text-transform: uppercase;
                    font-size: 13px;
                    color: $brown;
                    letter-spacing: 2.4px;
                    margin-bottom: 5px;
                }

                h4 {
                    @include latoRegular();

                    font-size: 17px;
                    line-height: 20px;
                    color: $blue;
                    margin: 0;
                }

                h3 {
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    color: $blue;

                    @include breakpoint(tablet_768) {
                        font-size: 24px;
                    }

                    @include breakpoint(desktop_small) {
                        font-size: 28px;
                    }
                }

                p {
                    @include latoRegular();

                    font-size: 14px;
                    color: $grey;
                    margin: 8px 0 20px;

                    ul,
                    ol {
                        margin: 8px 0 20px;
                    }
                }

                a {
                    @include latoRegular();

                    font-size: 14px;
                    color: $white;
                    text-align: center;
                    background: $brown;
                    width: calc(100% + 60px);
                    margin: 0 -30px;
                    padding: 15px 0;
                    position: relative;
                    cursor: pointer;
                    transition: all .3s;
                    margin-top: auto;

                    span {
                        @include latoSemi();

                        position: relative;
                        z-index: 3;
                    }

                    &:hover {
                        background-color: $blue;
                    }
                }

                &__details {
                    padding: 30px 30px 0;
                    flex-direction: column;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    background: $white;
                    transition: all .3s;

                    p {
                        max-height: 85px;
                        overflow: hidden;
                        transition: all .3s;
                    }

                    &__btn {
                        &.loaded {
                            background: $blue;
                            position: relative;

                            &:after {
                                content: "...";
                                color: $white;
                                position: absolute;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                top: 41%;
                                font-size: 20px;
                                animation: changeLetter 1s linear infinite forwards;
                            }

                            span {
                                color: $blue;
                            }

                            &:hover,
                            &:focus {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }

    &--loaded {
        pointer-events: none;

        &::before {
            position: absolute;
            background: $black;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            z-index: 1;
            opacity: .75;
            content: "";
        }
    }
}

.SingleTestimonial__popup {
    position: fixed;
    left: 0;
    z-index: 11;
    transform: translateX(100%);
    transition: all .66s ease-in-out;
    width: 100%;
    right: auto;
    height: 100%;
    overflow-y: scroll;

    @include breakpoint(tablet_768) {
        left: auto;
        right: 0;
    }

    &.opened {
        transform: translateX(0%);
    }
}
