.subpage {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;

    &__header {
        width: 100%;
        height: 0;
        margin: 0;
        padding-bottom: 30%;
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-bottom: 5px solid $color-yellow;

        @include for-size(mobile) {
            padding-bottom: 125px;
        }

        @include for-size(tablet) {
            padding-bottom: 200px;
        }

        &__title {
            width: 65%;
            background: $color-yellow;
            display: inline-block;
            padding: 5px 20px;
            margin-right: 35%;
            text-align: left;
            position: absolute;
            bottom: 0;
            left: 0;

            &:before {
                content: '';
                position: absolute;
                right: -56px;
                z-index: 0;
                border-left: 56px solid $color-yellow;
                border-right: 0 solid $color-yellow;
                border-top: 52px solid transparent;
                top: 0;
            }

            h1 {
                margin: 10px 0 7px 0;
                padding: 0;
                font-size: 35px;

                a {
                    color: $color-black;
                    text-decoration: none;
                }
            }
        }
    }
}

.section {
    width: 100%;
    text-align: center;
    display: block;

    &--header {
        &--racing {
            padding: 45px 0;

            &:before {
                content: "";
                width: 100%;
                height: 20px;
                background: url('../images/racing_20y.svg') top left repeat;
                position: absolute;
                top: 0;
                left: 0;
            }

            &:after {
                content: "";
                width: 100%;
                height: 20px;
                background: url('../images/racing_20y.svg') top left repeat;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            h2 {
                color: $color-yellow;
                text-shadow: 1px 1px $color-black;
            }
        }
    }

    &--services {
        text-align: center;

        .container {
            width: 100%;
            margin: 0 auto 50px auto;
        }

        &__header {
            padding: 65px 5%;
            text-align: left;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: $color-black;
                opacity: 0.6;
                z-index: 0;
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                position: relative;
                line-height: 1.3em;
                z-index: 2;
                color: $color-white;
            }
        }

        &__list {
            margin: 50px auto;
            width: 90%;
            max-width: 1280px;
            
            ul {
                margin: 0;
                padding: 0;
                width: 100%;
                display: grid;
                grid-gap: 0;
                list-style-type: none;

                li {
                    padding: 25px;
                    border-bottom: 1px solid $color-light;
                    border-right: 1px solid $color-light;

                    &:nth-child(4),
                    &:nth-child(8),
                    &:nth-child(12),
                    &:nth-child(16),
                    &:nth-child(20),
                    &:nth-child(24) {
                        border-right: none;

                        @include for-size(laptop) {
                            border-bottom: 1px solid $color-light;
                            border-right: 1px solid $color-light;
                        }
                    }
                    &:nth-child(n+17) {
                        border-bottom: none;

                        @include for-size(laptop) {
                            border-bottom: none;
                            border-right: 1px solid $color-light;
                        }
                    }

                    &:nth-child(n+16) {
                        @include for-size(laptop) {
                            border-bottom: none;
                        }
                    }

                    &:nth-child(3),
                    &:nth-child(6),
                    &:nth-child(9),
                    &:nth-child(12),
                    &:nth-child(15) {
                        @include for-size(laptop) {
                            border-right: none;
                        }
                    }

                    &:nth-child(7),
                    &:nth-child(8),
                    &:nth-child(9) {
                        @include for-size(laptop) {
                            border-bottom: none;
                        }
                    }

                    &:nth-child(even) {
                        @include for-size(tablet) {
                            border-right: none;
                        }
                    }

                    @include for-size(mobile) {
                        border-right: none;
                        border-bottom: 1px solid $color-light!important;
                    }

                    figure {
                        min-height: 80px;
                        margin: 0 0 25px 0;

                        img {
                            width: auto;
                            height: auto;
                            max-width: 250px;
                            max-height: 70px;
                            min-height: 70px;
                        }
                    }

                    h4 {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 20px;
                        line-height: 1.3;
                        margin-bottom: 0;
                        font-family: $font-main;
                        font-weight: 500;
                    }

                    &:hover {
                        h4 {
                            color: $color-yellow;
                        }
                    }
                }
            }

            &--cols-1 {
                ul {
                    grid-template-columns: 1fr;
                }
            }

            &--cols-2 {
                ul {
                    grid-template-columns: repeat(2, 1fr);

                    @include for-size(mobile) {
                        grid-template-columns: 1fr!important;
                    }
            
                    @include for-size(tablet) {
                        grid-template-columns: repeat(2, 1fr)!important;
                    }
                }
            }

            &--cols-3 {
                ul {
                    grid-template-columns: repeat(3, 1fr);

                    @include for-size(mobile) {
                        grid-template-columns: 1fr!important;
                    }
            
                    @include for-size(tablet) {
                        grid-template-columns: repeat(2, 1fr)!important;
                    }
                }
            }

            &--cols-4 {
                ul {
                    grid-template-columns: repeat(4, 1fr);

                    @include for-size(mobile) {
                        grid-template-columns: 1fr!important;
                    }
            
                    @include for-size(tablet) {
                        grid-template-columns: repeat(2, 1fr)!important;
                    }

                    @include for-size(laptop) {
                        grid-template-columns: repeat(3, 1fr)!important;
                    }
                }
            }

            &--cols-5 {
                ul {
                    grid-template-columns: repeat(5, 1fr);

                    @include for-size(mobile) {
                        grid-template-columns: 1fr!important;
                    }
            
                    @include for-size(tablet) {
                        grid-template-columns: repeat(2, 1fr)!important;
                    }

                    @include for-size(laptop) {
                        grid-template-columns: repeat(3, 1fr)!important;
                    }
                }
            }
        }

        &--contact-pushes {
            ul {
                li:nth-child(2) {
                    border-right: none;
                }

                li {
                    h4 {
                        margin-bottom: 20px;
                        font-weight: 600;
                        position: relative;
                    }

                    p {
                        a {
                            color: $color-black;
                            text-decoration: none;

                            &:hover {
                                color: $color-yellow;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}