<head>
    <meta charset="utf-8">
    {% if options.analytics_code is not empty %}
        {{ options.analytics_code }}
    {% endif %}
    {# force Internet Explorer to use the latest rendering engine available #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ function("images_path", "apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {{ function("images_path", "favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ function("images_path", "favicon-16x16.png") }}">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ function("images_path", "android-chrome-48x48.png") }}">
    <link rel="shortcut icon" href=" {{ function("images_path", "favicon.ico") }}">
    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Lato:400,700" rel="stylesheet">
    <link rel="pingback" href="{{ site.pingback_url }}"/>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    {{ function('wp_head') }}

     <script>
        window.__BUC_GLOBAL__ = {
            "icons": {
                "close": '{{ icons.close | replace({"\n":' ', "\r":' '}) }}',
                "edit": '{{ icons.edit | replace({"\n":' ', "\r":' '}) }}',
                "password": '{{ icons.password | replace({"\n":' ', "\r":' '}) }}',
            },
        }
    </script>
</head>
