{# Head actions #}
<ul class="Header__actions">
	{% if options.messageDisplay == "Show" %}
		<div class="sideActionBtn Header__actions__message" id="sideActionBtn1">
			<span class="Icon SvgContainer" aria-hidden="true">
				{{ function("get_svg", "contact.svg") }}
			</span>
			<div class="sideActionBtn__cross">
				<span></span>
				<span></span>
			</div>
		</div>
	{% endif %}

	{% if options.navAccount == "Show" %}
		<div class="sideActionBtn Header__actions__account" id="sideActionBtn2" {% if isCustomer %} data-link="{{ myAccountUrl }}" {% endif %}>
			<span class="Icon SvgContainer" aria-hidden="true">
				{{ function("get_svg", "login.svg") }}
			</span>
			<div class="sideActionBtn__cross">
				<span></span>
				<span></span>
			</div>
		</div>
	{% endif %}

	{% if options.navLike == "Show" %}
		<div class="sideActionBtn Header__actions__like" id="sideActionBtn3">
			<span class="Icon SvgContainer" aria-hidden="true">
				{{ function("get_svg", "heart.svg") }}
			</span>
			<div class="sideActionBtn__cross">
				<span></span>
				<span></span>
			</div>
		</div>
	{% endif %}

	{% if options.navSearch == "Show" %}
		<div class="sideActionBtn Header__actions__search" id="sideActionBtn4">
			<span class="Icon SvgContainer" aria-hidden="true">
				{{ function("get_svg", "search.svg") }}
			</span>
			<div class="sideActionBtn__cross">
				<span></span>
				<span></span>
			</div>
		</div>
	{% endif %}

	{% if options.navApply == "Show" %}
		<div class="Header__actions__apply" data-url="{{ bookingPageUrl }}">
			<span>Apply Now</span>
		</div>
	{% endif %}
</ul>
