<!doctype html>

{# <head> #}
{% include 'header/_head.twig' %}
{% if currentUserEmail %}
    <script src="https://form.jotformeu.com/static/feedback2.js?emailAddress={{ currentUserEmail }}" type="text/javascript"></script>
    <script type="text/javascript"> var JFL_93202555809358 = new JotformFeedback({ formId: '93202555809358', base: 'https://form.jotformeu.com/', windowTitle: 'Video', background: '#FFA500', fontColor: '#FFFFFF', type: '1', height: 500, width: 700, openOnLoad: false }); </script> 
{% endif %}
{# </head> #}


<body class="{{ body_class }} {{additionalBodyClass}} show">
<header class="Header">
    <button type="button" aria-label="{{ messages.general.button_toggler }}" class="Header__toggler" id="sideNav">
        <div class="Header__toggler__content">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </button>

    {% include "header/side-nav.twig" %}
    {% include "header/side-contact.twig" %}

    {% include "header/main-nav.twig" %}

    <div class="Header__logo">
        {#<span class="Header__logo__vector SvgContainer" aria-hidden="true">
        {{ function("get_svg", "md.svg") }}
        </span> #}
        <a class="Header__logo__desktop" href="{{site.url}}" rel="home">
            <img src="{{theme.link}}/resources/assets/images/logo.svg" alt="{{site.name}}" />
        </a>
        <a class="Header__logo__mobile" href="{{site.url}}" rel="home">
            <img src="{{theme.link}}/resources/assets/images/logo-mobile.svg" alt="{{site.name}}" />
        </a>
    </div>

    {% include "header/head-actions.twig" %}

    <div id="sideActions">
        {% include "header/side-message.twig" %}
        {% include "header/side-account.twig" %}
        {% include "header/side-courses.twig" %}
        {% include "header/side-search.twig" %}
    </div>
</header>
<div id="App">
