{# Main navigation items #}
{% set subjectsMenuObject = subjectsMenu.get_items %}
{% set locationsMenuObject = locationsMenu.get_items %}
{% set coursesMenuObject = coursesMenu.get_items %}

<ul class="Header__nav">
    {% for item in menu.get_items %}
        <li class="Header__nav__item{% if item.children %} Header__nav__item--hasChildren{% endif %} {{ item.classes[0] }}{% if item.current %} is-current {% endif %}">
            <a href="{{ item.link }}" class="Header__nav__item__link" href="{{ item.link }}">{{ item.title }}</a>
            {% if item.classes[0] == "subjects" %}
                <li class="Header__nav__item Header__nav__item--hasChildren {% if post._wp_page_template == 'subjects-page.php' %}is-current {% endif %}">
                    <a href="{{ item.link }}" class="Header__nav__item__link" data-title="{{item.title}}">
                        {{ __('Subjects ', 'bucksmore') }}</a>
                    <ul class="Header__nav__item__submenu Header__nav__submenu" data-title="{{item.title}}">
                        <div class="Header__nav__submenu Header__nav__submenu__content__container">
                            <div class="Header__nav__submenu Header__nav__submenu__content__container__menu">
                                <h2 class="Header__nav__submenu Header__nav__submenu__content__container__menu__heading">
                                    <a href="{{site.url}}/{{item.classes[0]}}">{{ __('Our Subjects ', 'bucksmore') }}</a>
                                    <div class="Header__nav__submenu__content__container__menu__heading__arrow">
                                        <span class="icon SvgContainer" aria-hidden="true">
                                            {{ function("get_svg", "right-arrow-short.svg") }}
                                        </span>
                                    </div>
                                </h2>
                                <div class="Header__nav__submenu Header__nav__submenu__content__container__menu__list">
                                    {% for item in subjectsMenuObject %}
                                        <li class="Header__nav__submenu__item Header__nav__submenu__item--is-subjects {{ item.classes[0] }}">
                                            <a href="{{site.url}}/courses?courseSubject={{item.title}}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="Header__nav__submenu Header__nav__submenu__content__container__featured">
                                <div class="Header__nav__submenu Header__nav__submenu__content__container__featured__title">
                                    {{ __('Featured Subjects ', 'bucksmore') }}</div>
                                {% for subject in featuredSubjects %}
                                    <li class="Header__nav__submenu__item__featured__subject {{ item.classes[0] }}">

                                        <div class="Header__nav__submenu__item__featured__subject__image" style="background:url({{ function('get_the_post_thumbnail_url', subject.ID) }})">
                                            <a href="{{site.url}}/courses?courseSubject={{subject.post_title}}"></a>
                                        </div>
                                        <div class="Header__nav__submenu__item__featured__subject__content">
                                            <div class="Header__nav__submenu__item__featured__subject__content__agerange">
                                                {% set age_array =  function('wp_get_post_terms', subject.ID,'age','["fields" => "names"]')  %}
                                                {{age_array[0].name}} {% if age_array[1] %}, {{age_array[1].name}} {% endif %}
                                                {{ __('years ', 'bucksmore') }}
                                            </div>
                                            <div class="Header__nav__submenu__item__featured__subject__content__title">
                                                <h3>
                                                    <a href="{{site.url}}/courses?courseSubject={{subject.post_title}}">{{subject.post_title}}</a>
                                                    <div class="Header__nav__submenu__item__featured__subject__content__title__heading__arrow">
                                                        <span class="icon SvgContainer" aria-hidden="true">
                                                            {{ function("get_svg", "right-arrow-short.svg") }}
                                                        </span>
                                                    </div>
                                                </h3>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                    </ul>
                </li>
            {% endif %}
            {% if item.classes[0] == "courses" %}
                  <li class="Header__nav__item Header__nav__item--hasChildren{% if (post._wp_page_template == 'woocommerce.php') or (item.current) %} is-current {% endif %}">
                    <a href="{{ item.link }}" class="Header__nav__item__link" data-title="{{item.title}}">
                        {{ __('Courses ', 'bucksmore') }}</a>
                    <ul class="Header__nav__item__submenu Header__nav__submenu" data-title="{{item.title}}">
                        <div class="Header__nav__submenu Header__nav__submenu__content__container is-{{item.classes[0]}}">
                            <div class="Header__nav__submenu Header__nav__submenu__content__container__menu">
                                <h2 class="Header__nav__submenu Header__nav__submenu__content__container__menu__heading">
                                    <a href="{{site.url}}/{{item.classes[0]}}">{{ __('Our Courses', 'bucksmore') }}</a>
                                    <div class="Header__nav__submenu__content__container__menu__heading__arrow">
                                        <span class="icon SvgContainer" aria-hidden="true">
                                            {{ function("get_svg", "right-arrow-short.svg") }}
                                        </span>
                                    </div>
                                </h2>
                                <ul class="Header__nav__submenu Header__nav__submenu__content__container__menu__list">
                                    {% for item in coursesMenuObject %}
                                        <li class="Header__nav__submenu__item Header__nav__submenu__item__parent {{ item.classes[0] }}">
                                            <a>{{ item.title }}</a>
                                        </li>
                                        {% if not item.children is empty %}
                                            {#<ul class="Header__nav__submenu__item__nested__ul">#}
                                            {% for child in item.children %}
                                                <li class="Header__nav__submenu__item__nested__ul__item">
                                                    <a href="{{child.link}}">{{child.title}}</a>
                                                </li>
                                            {% endfor %}
                                            {#</ul>#}
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="Header__nav__submenu Header__nav__submenu__content__container__featured">
                                <div class="Header__nav__submenu Header__nav__submenu__content__container__featured__title">
                                    {{ __('Featured Courses ', 'bucksmore') }}</div>
                                {% for course in featuredCourses %}
                                    <li class="Header__nav__submenu__item__featured__course {{ item.classes[0] }}">
                                        {% set course_id = course.ID %}

                                        <div class="Header__nav__submenu__item__featured__course__image" style="background:url({{ function('get_the_post_thumbnail_url', course_id) }})">
                                            <a href="{{function('get_permalink',course_id)}}"></a>
                                        </div>
                                        <div class="Header__nav__submenu__item__featured__course__content">
                                            <div class="Header__nav__submenu__item__featured__subject__content__agerange">
                                                {% set age_array =  function('wp_get_post_terms', course_id,'age','["fields" => "names"]')  %}
                                                {{age_array[0].name}}{% if age_array[1] %}, {{age_array[1].name}} {% endif %}
                                                {{ __('years ', 'bucksmore') }}
                                            </div>
                                            <div class="Header__nav__submenu__item__featured__course__content__title">
                                                <h3>
                                                    <a href="{{function('get_permalink',course_id)}}">{{course.post_title}}</a>
                                                    <div class="Header__nav__submenu__item__featured__subject__content__title__heading__arrow">
                                                        <span class="icon SvgContainer" aria-hidden="true">
                                                            {{ function("get_svg", "right-arrow-short.svg") }}
                                                        </span>
                                                    </div>
                                                </h3>
                                            </div>
                                            <div class="Header__nav__submenu__item__featured__course__content__course">
                                                {% set category =  function('get_the_terms', course_id, 'product_cat')  %}
                                                {{category[0].name}}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                    </ul>
                </li>
            {% endif %}
            {% if item.classes[0] == "locations" %}
                <li class="Header__nav__item Header__nav__item--hasChildren{% if post._wp_page_template == 'locations-page.php' %} is-current {% endif %}">
                    <a href="{{ item.link }}" class="Header__nav__item__link" data-title="{{item.title}}">
                        {{ __('Locations', 'bucksmore') }}</a>
                    <ul class="Header__nav__item__submenu Header__nav__submenu" data-title="{{item.title}}">
                        <div class="Header__nav__submenu Header__nav__submenu__content__container">
                            <div class="Header__nav__submenu Header__nav__submenu__content__container__menu">
                                <h2 class="Header__nav__submenu Header__nav__submenu__content__container__menu__heading">
                                    <a href="{{site.url}}/{{item.classes[0]}}">{{ __('Our Locations ', 'bucksmore') }}</a>
                                    <div class="Header__nav__submenu__content__container__menu__heading__arrow">
                                        <span class="icon SvgContainer" aria-hidden="true">
                                            {{ function("get_svg", "right-arrow-short.svg") }}
                                        </span>
                                    </div>
                                </h2>
                                <div class="Header__nav__submenu Header__nav__submenu__content__container__menu__list">
                                    {% for item in locationsMenuObject %}
                                        <li class="Header__nav__submenu__item Header__nav__submenu__item__parent {{ item.classes[0] }}">
                                            <a>{{ item.title }}</a>
                                            {% if not item.children is empty %}
                                                <ul class="Header__nav__submenu__item__nested__ul">
                                                    {% for child in item.children %}
                                                        <li class="Header__nav__submenu__item__nested__ul__item">
                                                            <a href="{{child.link}}">{{child.title}}</a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </ul>
                </li>
            {% endif %}
            {% if item.children %}
                <ul class="Header__nav__item__submenu Header__nav__submenu">
                    <div class="Header__nav__submenu Header__nav__submenu__content">
                        {% for child in item.children %}
                            <li class="Header__nav__submenu__item {{ child.classes[0] }}">
                                <a href="{{ child.link }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
