{# Side Message #}
{% if options.messageDisplay == "Show" %}
    <div class="sideAction sideAction__message" id="sideAction1">
        <p class="sideAction__title">{{options.messageTitle}}</p>
        <div class="sideAction__message__form">{{ function('do_shortcode', options.messageShortcode) }}</div>
        {% if options.brochure_request is not empty %}
            <a href="{{options.brochure_request.url}}" class="button button__inTouch"{% if options.brochure_request.target is not empty %} target="{{options.brochure_request.target}}"{% endif %}>{{options.brochure_request.title}}</a>
        {% endif %}
        <div class="sideAction__message messageDetails">
            <p>
                <a class="messageDetails__phone" href="mailto:{{options.contactEmail}}">{{options.contactEmail}}</a>
                <a class="messageDetails__mail" href="tel:{{options.contactPhone}}">{{options.contactPhone}}</a>
                <a class="messageDetails__whatsapp" href="{{options.contactWhatsappUrl}}">
                    <span class="SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "whatsapp.svg") }}
                    </span>
                    {{ options.contactWhatsapp }}
                </a>
            </p>
            <ul class="messageDetails__socials">
                <li>
                    {% if options.twitter is not empty %}
                        <a href="{{options.twitter}}">
                            <span class="SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "twitter.svg") }}
                            </span>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if options.instagram is not empty %}
                        <a href="{{options.instagram}}">
                            <span class="SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "instagram.svg") }}
                            </span>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if options.youtube is not empty %}
                        <a href="{{options.youtube}}">
                            <span class="SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "youtube.svg") }}
                            </span>
                        </a>
                    {% endif %}
                </li>
                <li>
                    {% if options.facebook is not empty %}
                        <a href="{{options.facebook}}">
                            <span class="SvgContainer" aria-hidden="true">
                                {{ function("get_svg", "facebook.svg") }}
                            </span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endif %}
