{# Side Contact #}
<div class="sideContact">
    <h4>{{options.contactTitle}}</h4>
    <ul class="sideContact__socials">
        <li>
            {% if options.twitter is not empty %}
                <a href="{{options.twitter}}" target="_blank">
                    <span class="SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "twitter.svg") }}
                    </span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if options.instagram is not empty %}
                <a href="{{options.instagram}}" target="_blank">
                    <span class="SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "instagram.svg") }}
                    </span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if options.youtube is not empty %}
                <a href="{{options.youtube}}" target="_blank">
                    <span class="SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "youtube.svg") }}
                    </span>
                </a>
            {% endif %}
        </li>
        <li>
            {% if options.facebook is not empty %}
                <a href="{{options.facebook}}" target="_blank">
                    <span class="SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "facebook.svg") }}
                    </span>
                </a>
            {% endif %}
        </li>
    </ul>
    <p>
        {{ options.contactDetails }}
        <a class="sideContact__phone" href="mailto:{{ options.contactEmail }}">{{ options.contactEmail }}</a>
        <a class="sideContact__mail" href="tel:{{ options.contactPhone }}">{{ options.contactPhone }}</a>
        <a class="sideContact__whatsapp" href="{{ options.contactWhatsappUrl }}">
            <span class="SvgContainer" aria-hidden="true">
                {{ function("get_svg", "whatsapp.svg") }}
            </span>
            {{ options.contactWhatsapp }}
        </a>
    </p>
    <a href="{{ options.live_chat }}" class="button trigger-live-chat">{{ __('Live chat ', 'bucksmore') }}</a>
    {% if options.contactLogos %}
        <div class="sideContact__logos">
            {% for logo in options.contactLogos %}
                <img class="sideContact__logos__single" src="{{ logo }}" alt="">
            {% endfor %}
        </div>
    {% endif %}
</div>
