{# Side Courses #}
{% if options.navLike == "Show" %}
    <div class="sideAction sideAction__courses" id="sideAction3">
        <p class="sideAction__title">{{ __('Saved Courses ', 'bucksmore') }}</p>
        <div class="sideAction__courses__content__container">
            <div class="sideAction__courses__content" data-svg="{{ function("get_svg", "close.svg")|e('html_attr') }}"></div>
        </div>
        {# Temporary commented
        <a href="#" class="sideAction__courses__all">View all Saved Courses
            <span class="icon SvgContainer" aria-hidden="true">
                {{ function("get_svg", "arrow.svg") }}
            </span>
        </a>
        #}
    </div>
{% endif %}
