{# Side Navigation items #}
<div class="sideNav">
    {% if options.navApply == "Show" %}
        <div class="sideNav__apply Header__actions__apply">
            <span>Apply now</span>
        </div>
    {% endif %}

    <ul class="sideNav__content">
        {% for item in sideMenu.get_items %}
            <li class="sideNav__item {% if item.children %}sideNav__item--hasChildren{% endif %}">
                <a class="sideNav__item__link" href="{{ item.link }}" target="{{ item.target }}">
                    <span class="sideNav__item__link__parent">{{ item.title }}
                        {% if item.children %}
                            <div class="plus-minus-toggle collapsed"></div>
                        {% endif %}
                    </span>
                </a>
                {% if item.children %}
                    <ul class="sideNav__item__submenu sideNav__submenu">
                        <div class="sideNav__submenu sideNav__submenu__content">
                            {% for child in item.children %}
                                <li class="sideNav__submenu__item">
                                    <a href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </div>
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


    <div class="sideNav__langsMobile">
        {{ function('icl_languages') }}
    </div>

    {% if options.brochure_request is not empty %}
        <a href="{{options.brochure_request.url}}" class="button"{% if options.brochure_request.target is not empty %} target="{{options.brochure_request.target}}"{% endif %}>{{options.brochure_request.title}}</a>
    {% endif %}

    <div class="sideNav__langsDesktop">
        {{ function('icl_languages') }}
    </div>

    <div class="sideNav__contactMobile">
        {% include 'header/side-contact.twig' %}
    </div>
</div>
