{# Side Account #}

{% if options.navAccount == "Show" %}
    <div class="sideAction sideAction__account" id="sideAction2">
        {% if logged_in == false %}
            <p class="sideAction__title">{{ __('Account Login ', 'bucksmore') }}</p>
            {{ loginWC() }}
            <div class="sideAction__agent">
                <label>{{ __('Are you an Agent? ', 'bucksmore') }}</label>
                <a href="{{ site.url }}/wp-login.php" class="button is-transparent">{{ __('Agent login ', 'bucksmore') }}</a>
            </div>
        {% else %}
            <p class="sideAction__title">{{ __('Hello', 'bucksmore') }}, {{ user_display_name }}</p>
            <ul class="sideAction__list">
                <li class="sideAction__list__item">
                    <a href="{{ myAccountUrl }}" class="sideAction__list__item__link">{{ __('My account ', 'bucksmore') }}</a>
                </li>
                <li class="sideAction__list__item">
                    <a href="{{ logoutUrl }}" class="sideAction__list__item__link">{{ __('Logout ', 'bucksmore') }}</a>
                </li>
            </ul>
        {% endif %}
    </div>
{% endif %}
