{# Side Search #}
{% set filtersdata = {
    'courses_api_url' : options.courses_api_url,
    'courses_page_url' : coursesPageUrl,
    'angle_down': function("images_path", "angle_down.svg"),
    'search_black': function("images_path", "search_black.svg"),
    'age_range': options.translation_ageRange,
    'locations_tr': options.translation_locations,
    'course_type': options.translation_courseType,
    'course_subject': options.translation_courseSubject,
    'search_label': options.translation_search,
    'search_results': options.translation_searchResults
} %}
{% if options.navSearch == "Show" %}
    <div class="sideAction sideAction__search" id="sideAction4">
        <p class="sideAction__title">{{ __('Course Search ', 'bucksmore')}}</p>
        <div id="App2">
            <filters :filtersdata='{{ filtersdata|json_encode }}'></filters>
        </div>
    </div>
{% endif %}
