<script>
// todo - introduce constants, remove magic strings, clean it up once have some time

import axios from "axios";
import { get, set } from "lodash";
import EnglishTestApi from "./api/index";
import { required } from "vuelidate/lib/validators";
import Step01 from "./steps/Step01.vue";
import Step02 from "./steps/Step02.vue";
import Step03 from "./steps/Step03.vue";
import Step04 from "./steps/Step04.vue";
import Step05 from "./steps/Step05.vue";
import Step06 from "./steps/Step06.vue";
import Step07 from "./steps/Step07.vue";
import Step08 from "./steps/Step08.vue";
import Summary01 from "./steps/Summary01.vue";
import Summary02 from "./steps/Summary02.vue";
import nationalitiesJson from "../../../countries.json";

export default {
  name: "EnglishTest",
  props: ["cmsdata"],
  components: {
    Step01,
    Step02,
    Step03,
    Step04,
    Step05,
    Step06,
    Step07,
    Step08,
    Summary01,
    Summary02
  },
  data() {
    return {
      currentStepNumber: 1,
      questionsApiUrl: this.cmsdata.questions_api_url,
      baseUrl: this.cmsdata.baseUrl,
      steps: ["Step01"],
      isWelcoming: false,
      isSummary1: false,
      isSummary2: false,
      reason1: null,
      reason2: null,
      nationalities_json: nationalitiesJson,
      disableButtons: false,
      canGoNext: false,
      form: {
        firstName: null,
        lastName: null,
        nationality: null,
        email: null,
        age: null,
        nextStep: null,
        status: false,
        gdpr: false
      },
      minimumPercentageRequired: parseInt(
        this.cmsdata.scoring_rules[0].scoring_minimum_percentage
      ),
      /**
       * Please please comment what params are for
       * shared store object used to grab data regarding given answers and calculate store
       * you must pass that as a prop to each form component
       * going forward all shared data could(should) be here
       * params:
       * selectedAnswers: map {Question 1: {question, answer,correct}, Question 2: {question, answer, correct}}
       * questions: array - response from api data custom/v1/questions
       * parsedQuestions: question text splitted into three parts:
       * 1. First part before <strong> tag
       * 2. Second part is the <strong> tag - this is the placeholder
       * 3. Third part: whatever is after </strong>
       * This allows us to have dynamic answers in the form
       * score: {totalScore: {result: int, total: int, breakpoints:{}, Stage 1: {result: int,total: int,breakpoint: int}}
       */
      sharedStore: {
        selectedAnswers: {},
        questions: [],
        questionsDictionary: {},
        parsedQuestions: {},
        score: {},
        selectedStage: "",
        applicantLevel: "beginner",
        reason: "",
        studentData: {},
        essay: "",
        essay2: "",
        errors: {},
        scoringRules: this.cmsdata.scoring_rules,
        /**
         * method used to set selected answers
         * note it is a map (dictionary, associative array or whichever name works for you)
         * so it goes like this:
         * {Stage1: {Question 1: {question, answer,correct}, Question 2: {question, answer, correct}}, Stage 2: {...} ...}
         * Next you can get the data as a map and do whatever you want with them
         */
        setSelectedAnswers(dataObject) {
          const {
            selectedStage,
            questionTitle,
            question,
            answer,
            answerPoint
          } = dataObject;
          // parse bool to number, easier to calculate that way

          const selectedAnswer = { question, answer, answerPoint };
          // check lodash docs, this sets nested obj props
          set(
            this.selectedAnswers,
            [selectedStage, questionTitle],
            selectedAnswer
          );
        },
        getSelectedStage() {
          return this.selectedStage;
        },
        setSelectedStage(stage) {
          this.selectedStage = stage;
        },
        getStudentData() {
          return this.studentData;
        },
        setApplicantLevel(scoreParam) {
          /**
           * this taking score in percentages from each stage
           * we make use of repeater fields. We know that they are sorted ascending
           * if given score is smaller then scoring_minimum_percentage it means we have to assign
           * corresponding scoring_rules_label and break the loop
           * else if it is bigger then biggest (for instance 100% is bigger then 85% for advanced)
           * we return last label - being the biggest
           */
          const score = parseInt(scoreParam, 10);
          const length = this.scoringRules.length;
          for (let i = 0; i < length; i++) {
            const scoreToCompare = parseInt(
              this.scoringRules[i]["scoring_minimum_percentage"]
            );

            if (score <= scoreToCompare) {
              if (i === 0) {
                return this.scoringRules[0]["scoring_rules_label"];
              } else {
                return this.scoringRules[i - 1]["scoring_rules_label"];
              }
            }
          }
        },
        getApplicantLevel() {
          return this.applicantLevel;
        },
        getEssay() {
          return this.essay;
        },
        getEssay2() {
          return this.essay2;
        },
        getScore(dataObject) {
          return this.score;
        },
        getStageScore(stage) {
          const scoreData = get(this.score, stage, {});
          let totalScore = 0;
          Object.keys(scoreData).forEach(questionScore => {
            totalScore += scoreData[questionScore];
          });
          return totalScore;
        },
        getTotalStageItems(stage) {
          const stageQuestions = this.getQuestions(stage);
          const totalItems = Object.keys(stageQuestions).length;
          return totalItems;
        },
        getStageAnswersGivenNumber(stage) {
          const answersGiven = this.getSelectedAnswers();
          const totalAnswers = Object.keys(answersGiven[stage]).length;
          return totalAnswers;
        },
        setScore(dataObject) {
          const { selectedStage, questionTitle, answerPoint } = dataObject;
          set(this.score, [selectedStage, questionTitle], answerPoint);
        },
        getSelectedAnswers() {
          return this.selectedAnswers;
        },
        getQuestions(selectedStage) {
          return get(this.questionsDictionary, selectedStage, {});
        },
        setQuestions(questionsDictionary) {
          this.questionsDictionary = questionsDictionary;
        },
        setParsedQuestions(parsedQuestions) {
          this.parsedQuestions = parsedQuestions;
        },
        getParsedQuestions() {
          return this.parsedQuestions;
        },
        getReason() {
          return this.studentData.reason || "";
        },
        calculateScore(points, totalPoints) {
          const result = ((points / totalPoints) * 100).toFixed(2);
          return result;
        },
        getTotalItems(answers) {
          const stageKeys = Object.keys(answers);
          // ['Stage 1', 'Stage 2']
          let totalItems = 0;
          // each question is an object, so we count length of keys and we know q number for given stage
          // we do this in loop so we got all items
          stageKeys.forEach(stage => {
            const questionsForStage = Object.keys(answers[stage]).length;
            totalItems += questionsForStage;
          });
          return totalItems;
        },
        getTotalScore(answers) {
          const stageKeys = Object.keys(answers);
          // ['Stage 1','Stage 2'] etc
          let totalScore = 0;
          stageKeys.forEach(stage => {
            // for each stage keys ['Question 1','Question 4']
            const questionKeys = Object.keys(answers[stage]);
            // we need to fetch answer point for each question and increment totalScore
            questionKeys.forEach(question => {
              const answerPoint = answers[stage][question].answerPoint;
              totalScore += answerPoint;
            });
          });
          return totalScore;
        }
      },
      working: {
        isSendingData: false,
        isError: false
      }
    };
  },
  computed: {
    currentStep() {
      return this.steps[this.currentStepNumber - 1];
    }
  },
  mounted: function() {
    // we fetch questions on mount
    // this can be done one time on mount, no need to fetch same data for each child component
    this.getQuestionsRequest();
  },
  methods: {
    // async await let`s consider switching to that.
    // much cleaner then promises.
    // we fetch questions, set them in sharedStore
    // then we parse them and set as diff key in the store
    getQuestionsRequest: async function() {
      try {
        const response = await axios.get(
          `${this.baseUrl}/wp-json/custom/v1/englishtest/questions`
        );
        this.sharedStore.setQuestions(response.data);
        this.parseQuestions(response.data);
        this.getDictionary(response.data);
      } catch (e) {
        this.working.isError = true;
      }
    },
    stringSplit(questionTitle, html) {
      // method parses question to three parts
      const arrayWithStrongTag = html.match(/<strong>.*?<\/strong>/g) || [];
      if (arrayWithStrongTag.length > 0) {
        // fetch string that <strong>sth</strong> this is empty placeholder
        const strong = arrayWithStrongTag[0];
        // split string by substring <strong>sth</strong>
        const firstAndLastPart = html.split(strong);
        const parsedQuestions = this.sharedStore.getParsedQuestions();

        parsedQuestions[questionTitle] = {
          firstPart: firstAndLastPart[0].replace(/<[^>]*>?/gm, ""),
          strongPart: strong,
          lastPart: firstAndLastPart[1].replace(/<[^>]*>?/gm, "")
        };
        this.sharedStore.setParsedQuestions(parsedQuestions);
      }
    },
    parseQuestions(array) {
      array.forEach(question => {
        this.stringSplit(question.title, question.question);
      });
    },
    getDictionary(array) {
      const dictionary = {};
      array.forEach(question => {
        set(dictionary, [question.stage, question.title], question);
      });
      this.sharedStore.setQuestions(dictionary);
      return dictionary;
    },
    sendEnglishTestDataRequest: async function() {
      try {
        this.working.isSendingData = true;
        const answers = this.sharedStore.getSelectedAnswers();
        const studentData = this.sharedStore.getStudentData();
        const essay = this.sharedStore.getEssay();
        const essay2 = this.sharedStore.getEssay2();
        const totalTestQuestions = this.sharedStore.getTotalItems(answers);
        const totalTestScore = this.sharedStore.getTotalScore(answers);

        const requestData = {
          answers,
          studentData,
          essay,
          essay2,
          totalTestScore,
          totalTestQuestions
        };

        const response = await axios.post(
          `${this.baseUrl}/wp-json/custom/v1/englishtest/results`,
          requestData
        );
        this.goNext();
      } catch (e) {
        this.working.isError = true;
      } finally {
        this.working.isSendingData = false;
      }
    },
    goNext() {
      if (!this.isWelcoming) {
        const selectedStage = this.sharedStore.getSelectedStage();
        if (selectedStage) {
          const totalStageItems = this.sharedStore.getTotalStageItems(
            selectedStage
          );
          const stageScore = this.sharedStore.getStageScore(selectedStage);
          const scoreInPercentage = parseInt(
            this.sharedStore.calculateScore(stageScore, totalStageItems),
            10
          );
          // const selectedReason = this.sharedStore.reason;
          // const reasonFromCMSCourse = this.cmsdata.reason2;
          // here depending on reason we redirect either to Step7 or Summary01

          const selectedReason = this.sharedStore.getReason();
          const reasonFunFromCMS = this.cmsdata.reason1;

          const isTestForFun = !!(selectedReason === reasonFunFromCMS);
          const regex = /\s+/gi;
          const essay2WordCount = this.sharedStore.essay2
            .trim()
            .replace(regex, " ")
            .split(" ").length;
          if (essay2WordCount > 44 && essay2WordCount < 56) {
            this.canGoNext = true;
            this.buttonsTrue();
            this.steps.push(this.form.nextStep);
            this.currentStepNumber++;
            return;
          }

          // if we take course just for fun, we are redirected to summary after first failed stage
          if (isTestForFun && selectedStage !== "Stage 5") {
            // scoring here
            // rules: if less than beginner value we stop the test and move diretly to summary
            // else if bigger than beginner we check what exactly
            // see setApplicantLevel
            if (scoreInPercentage <= this.minimumPercentageRequired) {
              this.sharedStore.applicantLevel = this.cmsdata.scoring_rules[0].scoring_rules_label;
              this.steps.push("Summary01");
            } else if (scoreInPercentage > this.minimumPercentageRequired) {
              const answers = this.sharedStore.getSelectedAnswers();
              const totalPercentageScore = this.sharedStore.calculateScore(this.sharedStore.getTotalScore(answers), this.sharedStore.getTotalItems(answers));
              const applicantLevel = this.sharedStore.setApplicantLevel(
                totalPercentageScore
              );
              this.sharedStore.applicantLevel = applicantLevel;
              this.steps.push(this.form.nextStep);
            }
          }

          // test for fun and last stage, next we do not want to show essays but summary
          else if (isTestForFun && selectedStage === "Stage 5") {
            this.steps.push("Summary01");
          } else {
            this.steps.push(this.form.nextStep);
          }
          this.currentStepNumber++;
          this.canGoNext = false;
        }
      } else if (this.isWelcoming) {
        this.steps.push(this.form.nextStep);
        this.currentStepNumber++;
        this.canGoNext = false;
      }
    },
    processStep(stepData) {
      const { data } = stepData;
      Object.assign(this.form, data);
      const { selectedStage } = data;
      // make sure we have the data and we are not in first step
      if (!this.isWelcoming) {
        if (
          selectedStage &&
          selectedStage !== "Stage 6" &&
          selectedStage !== "Stage 7"
        ) {
          this.sharedStore.setSelectedStage(selectedStage);
          const totalStageItems = this.sharedStore.getTotalStageItems(
            selectedStage
          );
          const totalAnswersGiven = this.sharedStore.getStageAnswersGivenNumber(
            selectedStage
          );
          // make sure all questions have an answer
          // if that is the case, we allow to click the button and calculate stage score
          // todo function here to calculate
          if (totalAnswersGiven === totalStageItems) {
            this.canGoNext = true;
          }
        } else if (selectedStage === "Stage 6") {
          // essay here, needs validation of length
          this.sharedStore.essay = data.essay;
          this.canGoNext = true;
        } else if (data.nextStep === "Summary02") {
          this.sharedStore.essay2 = data.essay2;
          this.canGoNext = true;
          // last step before summary
        }
      }
      // if first step we allow go next
      else if (this.isWelcoming) {
        const { firstName, lastName, email, age, nationality, reason } = data;
        const studentData = {
          firstName,
          lastName,
          email,
          age,
          nationality,
          reason
        };
        Object.assign(this.sharedStore.studentData, studentData);
        this.canGoNext = true;
      }
    },
    welcomingTrue() {
      this.isWelcoming = true;
    },
    welcomingFalse() {
      this.isWelcoming = false;
    },
    checkIfSummary1() {
      this.isSummary1 = true;
    },
    checkIfSummary2() {
      this.isSummary2 = true;
    },
    buttonsFalse() {
      this.canGoNext = false;
      this.disableButtons = true;
    },
    buttonsTrue() {
      this.disableButtons = false;
      this.canGoNext = true;
      // this.goNext();
    },
    goToEssay() {
      this.steps.pop();
      this.steps.push("Step08");
      this.currentStepNumber--;
      this.buttonsTrue();
    },
    checkForm() {
      if (!this.form.firstName) {
        this.sharedStore.errors["firstName"] = "First name required.";
        return false;
      }
      if (!this.form.lastName) {
        this.sharedStore.errors["lastName"] = "Last name required.";
        return false;
      } else if (!this.form.email) {
        this.sharedStore.errors["email"] = "Email required.";
        return false;
      } else if (this.form.age === "select" || !this.form.age) {
        this.sharedStore.errors["age"] = "Age required.";
        return false;
      } else if (this.form.nationality === "select" || !this.form.nationality) {
        this.sharedStore.errors["nationality"] = "Nationality required.";
        return false;
      } else if (!this.form.reason) {
        this.sharedStore.errors["reason"] = "Reason is required.";
        return false;
      } else {
        this.buttonsTrue();
        this.goNext();
        return true;
      }
    }
  }
};
</script>

<template>
  <div>
    <div class="englishTest">
      <section class="englishTest__main">
        <!-- todo these two needs work-->
        <div v-if="this.working.isSendingData"></div>
        <div v-if="this.working.isError">We are sorry, an error has occured</div>
        <transition name="slide">
          <keep-alive>
            <component
              :cmsdata="cmsdata"
              ref="currentStep"
              :is="steps[currentStepNumber-1]"
              @update="processStep"
              @welcomingTrue="welcomingTrue"
              @welcomingFalse="welcomingFalse"
              @buttonsFalse="buttonsFalse"
              @buttonsTrue="buttonsTrue"
              @checkIfSummary1="checkIfSummary1"
              @checkIfSummary2="checkIfSummary2"
              :sharedStore="sharedStore"
            ></component>
          </keep-alive>
        </transition>
        <div class="englishTest__buttons__wrapper">
          <div
            class="englishTest__buttons__wrapper is-summary02"
            v-if="this.currentStep === 'Step08'"
          >
            <a
              class="englishTest__buttons button is-ghost is-step08"
              v-on:click="goToEssay"
            >Previous</a>
            <button
              class="englishTest__buttons button is-brown is-step08"
              v-on:click="sendEnglishTestDataRequest"
              :disabled="!canGoNext"
            >Submit responses</button>
          </div>
          <button
            class="englishTest__button button is-brown"
            v-on:click="goNext"
            :disabled="!canGoNext"
            v-if="!isWelcoming && !isSummary1  && !isSummary2 && this.currentStep !== 'Step08'"
          >Next stage</button>
          <button
            class="englishTest__button button is-brown"
            @click="checkForm"
            :disabled="!canGoNext"
            v-if="isWelcoming && !isSummary1  && !isSummary2"
          >Start test</button>
          <a
            class="englishTest__button button is-brown"
            v-bind:href="this.baseUrl + '/courses/'"
            v-if="isSummary2"
          >View all courses</a>
          <a
            class="englishTest__button button is-brown btn-summary1"
            v-bind:href="this.baseUrl + '/courses/?courseLanguageLevel=' + this.sharedStore.applicantLevel"
            v-if="isSummary1"
          >Search suitable courses</a>
        </div>
      </section>
    </div>
  </div>
</template>
