<video
    {% if video.custom_poster %}
        preload="none"
        style="background: url('{{video.custom_poster.url}}') no-repeat center; background-size: cover; width: 100%"
    {% endif %}
>
    <source src="{{ video.standard.url }}" type="video/mp4">
</video>
<button class="js-video_button"></button>
