<img src="{{(video.custom_poster) ? video.custom_poster.url : "http://img.youtube.com/vi/" ~ video.youtube_id ~ "/maxresdefault.jpg" }}" alt="Youtube video thumbnail">
<button class="js-video_button" data-youtube-id="{{video.youtube_id}}"></button>
