.Courses {
    display: flex;
    flex-wrap: wrap;
    float: none;
    width: 100%;
    margin-top: 0;

    @include breakpoint(desktop_small) {
        @include fullHeightSection();

        flex-wrap: nowrap;
    }

    &__left {
        width: 100%;
        color: $white;
        background: $blue;
        position: relative;
        padding: 50px 35px;

        @include breakpoint(desktop_small_height) {
            overflow-y: scroll;

            @include hideScrollBar();
        }

        @include breakpoint(tablet_768) {
            padding: 50px 70px;
        }

        @include breakpoint(desktop_small) {
            width: 550px;
            height: auto;
            padding: 90px 70px 0;
            overflow-y: scroll;

            @include hideScrollBar();
        }

        @include breakpoint(desktop_bigger_height) {
            padding: 20px 70px 0;
        }

        @include breakpoint(desktop_big) {
            width: 700px;
            padding: 140px 100px;
        }

        &__content {
            z-index: 1;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(desktop_small) {
                width: 350px;
            }

            @include breakpoint(desktop_big) {
                width: 500px;
            }

            &__subtitle {
                @include latoBold();

                font-size: 14px;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 2.4px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }

                @include breakpoint(desktop_small_height) {
                    margin-bottom: 10px;
                }
            }

            &__title {
                @include playfairBold();

                font-size: 42px;
                margin-bottom: 15px;

                @include breakpoint(tablet_768) {
                    font-size: 42px;
                }

                @include breakpoint(desktop_big) {
                    font-size: 55px;
                }

                @include breakpoint(desktop_small_height) {
                    margin-bottom: 10px;
                }
            }

            &__text {
                max-width: 280px;
                line-height: 20px;
                font-size: 14px;
                color: rgba($white, .7);

                @include breakpoint(tablet_big) {
                    max-width: 310px;
                    font-size: 16px;
                    line-height: 22px;
                }

                @include breakpoint(desktop_small_height) {
                    line-height: 20px;
                    font-size: 14px;
                }
            }

            &__filters {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 40px;

                @include breakpoint(desktop_bigger_height) {
                    margin-top: 20px;
                }

                &__single {
                    width: 100%;
                    margin-bottom: 30px;
                    position: relative;

                    @include breakpoint(desktop_bigger_height) {
                        margin-bottom: 15px;
                    }

                    @include breakpoint(tablet_768) {
                        width: 48%;

                        &:nth-of-type(1),
                        &:nth-of-type(3) {
                            margin-right: 4%;
                        }
                    }

                    @include breakpoint(desktop_small) {
                        width: 100%;
                        margin-right: 0;

                        &:nth-of-type(1),
                        &:nth-of-type(3) {
                            margin-right: 0%;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .vue-treeselect__control {
                        border: none;
                    }

                    label {
                        padding-bottom: 15px;
                        font-size: 15px;

                        @include breakpoint(desktop_bigger_height) {
                            padding-bottom: 10px;
                        }
                    }

                    input {
                        @include latoSemi();

                        font-size: 16px;
                        color: $black;

                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }

                    img {
                        position: absolute;
                        color: $black;
                        right: 15px;
                        top: 52px;
                        width: 9px;
                        height: 9px;
                        pointer-events: none;

                        @include breakpoint(desktop_small_height) {
                            top: 42px;
                        }
                    }

                    select {
                        @include latoSemi();

                        font-size: 16px;
                        color: rgba($black, .5);
                        height: 45px;
                        padding-left: 20px;
                        width: 100%;
                        padding-right: 30px;
                        background: $white;
                        border: 0;

                        @include breakpoint(desktop_small_height) {
                            height: 50px;
                        }

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-ms-expand {
                            display: none;
                        }
                    }

                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        @include breakpoint(desktop_small) {
                            width: 165px;

                            select {
                                width: 165px;
                            }
                        }

                        @include breakpoint(desktop_big) {
                            width: 240px;

                            select {
                                width: 240px;
                            }
                        }
                    }

                    &:nth-of-type(1) {
                        @include breakpoint(desktop_small) {
                            margin-right: 20px;
                        }
                    }

                    &--keyword {
                        @include breakpoint(tablet_768) {
                            width: 100%;
                        }

                        input {
                            height: 50px;
                        }

                        img {
                            top: 48px;
                            width: 17px;
                            height: 15px;

                            @include ie11() {
                                width: 20px;
                                height: 20px;
                                right: 10px;
                                top: 47px;
                            }

                            @include breakpoint(desktop_small_height) {
                                top: 42px;
                            }
                        }
                    }
                }
            }
        }

        &__lines {
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            @include breakpoint(desktop_small) {
                height: calc(100vh - 90px);
            }

            .logged-in & {
                height: 100%;

                @include breakpoint(desktop_small) {
                    height: calc(100vh - 90px);
                }
            }
        }
    }

    &__right {
        background: $greyBG;
        width: 100%;

        @include breakpoint(tablet_768) {
            padding: 0 50px;
        }

        @include breakpoint(tablet_big) {
            padding: 0 40px;
        }

        @include breakpoint(desktop_small) {
            width: calc(100vw - 450px);
            overflow-y: scroll;
            padding: 0;
        }

        @include breakpoint(desktop_big) {
            width: calc(100vw - 700px);
        }

        @include hideScrollBar();

        &__categories {
            padding: 25px 0;
            display: flex;
            flex-wrap: nowrap;
            margin: 0 20px;
            overflow-x: auto;
            width: 100%;

            @include hideScrollBar();

            @include breakpoint(tablet_768) {
                width: calc(88% + 40px);
                margin: 0 auto;
            }

            @include breakpoint(desktop_small) {
                width: calc(84% + 40px);
            }

            @include breakpoint(desktop) {
                width: calc(81% + 80px);
            }

            @include breakpoint(desktop_huge) {
                width: 950px;
            }

            .FilterButton {
                @include latoBold();

                display: flex;
                align-items: center;
                font-size: 14px;
                color: $white;
                border: none;
                background: $brown;
                cursor: pointer;
                padding: 15px 20px;
                margin-right: 20px;
                margin-bottom: 20px;
                transition: all .4s;
                flex-shrink: 0;
                flex-basis: auto;

                @include breakpoint(phone) {
                    margin-bottom: 0;
                }

                @include breakpoint(desktop) {
                    flex-basis: auto;
                    flex-shrink: auto;
                }

                &:hover,
                &:active,
                &:focus {
                    border: none;
                    background: $blue;
                }

                &__icon {
                    color: $white;
                    width: 12px;
                    height: 12px;
                    margin-left: 20px;
                    pointer-events: none;
                }
            }

            .ClearAllButton {
                @include latoBold();

                font-size: 14px;
                background: none;
                border: 0;
                color: $black;
                cursor: pointer;
                flex-shrink: 0;
                flex-basis: 35%;

                @include breakpoint(tablet_768) {
                    margin-left: auto;
                }

                @include breakpoint(desktop) {
                    flex-basis: auto;
                }
            }
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin: auto;
            padding: 0 0 45px;
            justify-content: center;

            @include breakpoint(tablet_768) {
                padding: 0 0 50px;
                justify-content: space-between;
            }

            @include breakpoint(desktop_small) {
                justify-content: center;
            }

            @include breakpoint(desktop_huge) {
                margin-left: 0;
                padding-right: 0;
            }

            &__noresults,
            &__loading {
                @include latoSemi();

                color: $primary;
                text-align: center;
                width: 100%;
            }

            &__single {
                width: 100%;
                text-align: left;
                position: relative;
                background: $white;
                border-bottom: 5px solid $brown;
                display: flex;
                flex-direction: column;
                margin-bottom: 40px;
                margin-left: 20px;
                margin-right: 20px;

                &__link {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    right: 0;
                    cursor: pointer;
                }

                @include breakpoint(tablet_768) {
                    width: 44%;
                    margin: 0 20px 45px;
                }

                @include breakpoint(desktop_small) {
                    width: 42%;
                }

                &__image {
                    width: 100%;
                    min-height: 210px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;

                    @include breakpoint(desktop) {
                        min-height: 220px;
                    }

                    @include breakpoint(desktop_huge) {
                        min-height: 240px;
                    }
                }

                @include breakpoint(desktop) {
                    width: 27%;
                }

                @include breakpoint(desktop_huge) {
                    width: 290px;
                }

                h5 {
                    @include latoRegular();

                    font-size: 18px;
                    padding: 10px 30px;
                    background: $blue;
                    color: $white;
                    position: absolute;
                    left: -10px;
                    top: 25px;
                }

                h6 {
                    @include latoBold();

                    text-transform: uppercase;
                    font-size: 13px;
                    color: $black;
                    letter-spacing: 2.4px;
                    margin-bottom: 12px;

                    @include breakpoint(tablet_768) {
                        font-size: 16px;
                    }

                    @include breakpoint(desktop) {
                        font-size: 14px;
                    }
                }

                h3 {
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 25px;
                    color: $black;

                    @include breakpoint(tablet_768) {
                        font-size: 30px;
                        line-height: 40px;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }

                    @include breakpoint(desktop) {
                        font-size: 24px;
                        line-height: 28px;
                    }
                }

                p {
                    @include latoRegular();

                    font-size: 17px;
                    max-width: 200px;
                    color: $grey;
                    margin-top: auto;
                }

                &__details {
                    padding: 30px 25px 20px;
                    flex-direction: column;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                }
            }
        }
    }
}
