.SingleCourse {
    @include breakpoint(desktop_small) {
        @include fullHeightSection();
    }

    &__menu {
        width: 100%;

        @include hideScrollBar();

        background: $blue;
        margin-top: 0;
        padding: 100px 40px 100px 75px;
        position: relative;
        overflow-y: hidden;

        @include breakpoint(desktop_small) {
            width: 460px;
            height: calc(100vh - 90px);
            overflow-y: scroll;
        }

        @include breakpoint(desktop) {
            width: 510px;
            padding: 100px 50px 100px 100px;
        }

        .logged-in & {
            @include breakpoint(desktop_small) {
                height: calc(100vh - 122px);
            }
        }

        &__title {
            @include playfairBold();

            z-index: 2;
            color: $white;
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 35px;
            display: block;
            position: relative;
        }

        &__school {
            color: $grey;
            z-index: 2;
            position: relative;
        }

        p {
            font-size: 14px;
            z-index: 2;
            position: relative;
            letter-spacing: .4px;
        }

        .button {
            &.is-course {
                z-index: 2;
                position: relative;
                width: 200px;
                display: block;

                @include breakpoint(tablet_768) {
                    width: 210px;
                    margin-left: auto;
                    margin-top: -160px;
                }

                @include breakpoint(desktop_small) {
                    display: inline-block;
                    margin-left: 0;
                    margin-top: 0;
                    width: auto;
                }

                &.is-transparent {
                    margin-top: 15px;

                    @include breakpoint(desktop_small) {
                        margin-left: 10px;
                        margin-top: 0;
                    }
                }
            }
        }

        &__list {
            z-index: 2;
            position: relative;
            padding: 30px 0 45px;

            a {
                @include latoRegular();

                display: block;
                font-size: 17px;
                line-height: 32px;
                color: $grey;
                transition: all .3s;
                position: relative;
                cursor: pointer;

                &:hover {
                    color: $white;
                }

                &.current {
                    color: $white;
                    padding-left: 20px;

                    &:before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        background: $white;
                        position: absolute;
                        left: 0;
                        top: 11px;
                    }
                }
            }
        }
    }

    &__content {
        width: 100%;
        overflow-y: scroll;
        position: relative;

        @include breakpoint(desktop_small) {
            width: calc(100vw - 460px);
        }

        @include breakpoint(desktop) {
            width: calc(100vw - 510px);
        }

        @include hideScrollBar();

        &__image {
            height: calc(75vh - 90px);
            background-size: cover;
            display: none;
            position: relative;

            @include breakpoint(desktop_small) {
                display: block;
            }

            &::before {
                position: absolute;
                bottom: 20px;
                text-align: center;
                content: "";
                width: 15px;
                height: 22px;
                background-image: url("../images/scroll-icon.svg");
                left: 50%;
                transform: translateX(-50%);
                animation: bounce 2s infinite;
                -webkit-animation: bounce 2s infinite;
                -moz-animation: bounce 2s infinite;
                -o-animation: bounce 2s infinite;
            }
        }

        .StandardText {
            ul {
                list-style-position: inside;
                text-align: center;
            }

            p {
                max-width: 710px;
            }
        }
    }

    &__close {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        background-color: $brown;
        z-index: 10;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: $blue;
        }

        @include breakpoint(tablet) {
            width: 63px;
            height: 63px;
        }

        &__link {
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 100%;
        }

        span {
            width: 15px;
            height: 20px;
            color: $white;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__save {
        position: absolute;
        top: 5px;
        display: flex;
        cursor: pointer;
        height: 63px;
        align-items: center;
        padding-top: 5px;
        right: 60px;

        @include breakpoint(desktop_small) {
            top: 0;
            right: auto;
        }

        .icon {
            width: 20px;
            height: 17px;
            color: $white;
            cursor: pointer;

            svg {
                cursor: pointer;

                path {
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        p {
            @include latoBold();

            font-size: 14px;
            line-height: 26px;
            color: $white;
            margin-left: 10px;

            &.hidden {
                display: none;
            }
        }

        &.saved {
            color: red;

            .icon {
                svg {
                    path {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__lines {
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);

        .logged-in & {
            height: calc(100vh - 122px);
        }
    }

    .StandardText {
        h3 {
            @include latoBold();

            font-size: 16px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2.4px;
            color: $black;
        }

        p,
        ul,
        ol {
            @include latoRegular();

            color: $blue;
            font-size: 18px;
        }
    }

    .Overview {
        padding: 55px 30px;

        @include breakpoint(desktop) {
            padding: 55px 30px;
        }

        p,
        ul,
        ol {
            @include latoRegular();

            color: $blue;
            font-size: 18px;
        }

        ol {
            list-style-type: decimal;
        }

        p {
            padding: 0 0 25px;

            @include breakpoint(desktop) {
                padding: 0 0 25px;
            }
        }
    }
}
