<a href="{{ url }}" class="btn{% if extraClass %} {{ extraClass }}"{% endif %} title="{{ title }}"{% if target %} target="{{ target }}"{% endif %}>

  {% if span  %}<span class="btn__text">{% endif %}
  {{ title }}
  {% if span %}</span>{% endif %}
</a>