<figure>
  {% if url %}
    <a href="{{ url }}" title="{{ title }}"{% if relation %} rel="home"{% endif %}{% if target %} target="{{ target }}"{% endif %}>
  {% endif %}
    <img src="{{ image }}" alt="{{ alt }}" />
  {% if url %}
    </a>
  {% endif %}
</figure>