{% if menu %}
	<ul>
		{% for item in menu %}
			<li class="{{ item.classes | join(' ') }}">
				{% if item.children %}
					<a href="{{ item.link }}" {% if item.target %}target="{{ item.target }}"{% endif %} class="item-has-children" title="{{ item.title }}"><span>{{ item.title }}</span></a>
					<div class="submenu submenu--{{ item.ID }}">
						<ul>
							{% for child in item.children %}
								<li class="{{ child.classes | join(' ') }}">
									<a href="{{ child.link }}" title="{{ child.title }}">
										<span>{{ child.title }}</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<a href="{{ item.link }}" {% if item.target %}target="{{ item.target }}"{% endif %} class="item-hasnt-children" title="{{ item.title }}">
						<span>{{ item.title }}</span>
					</a>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endif %}