<video {% if autoplay %}autoplay {% endif %}{% if loop %}loop {% endif %}id="{{ videoID }}" poster="{{ posterURL }}" {% if muted %}muted{% endif %} class="video-file">
    {% if videoURL %}
        <source src="{{ videoURL }}" type="{{ videoType }}">
    {% endif %}
</video>