<footer class="footer">

    <div class="footer__cols">
        <div class="container footer__cols__row">

            {% if options.header_logo %}
                <div class="footer__cols__row__col footer__cols__row__col--brand">
                    <figure>
                        <a href="{{ site.url }}" title="{{ site.name }}">
                            <img src="{{ options.header_logo.url }}" alt="{{ options.header_logo_alternate_text }}" />
                        </a>
                    </figure>
                </div>
            {% endif %}

            {% if options.contact_address %}
                <div class="footer__cols__row__col footer__cols__row__col--contact">
                    {% if options.contact_header %}
                        <h4>{{ options.contact_header }}</h4>
                    {% endif %}
                    <ul>
                        {% if options.contact_address %}
                            <li>{{ options.contact_address }}</li>
                        {% endif %}
                        {% if options.contact_phone %}
                            <li><i class="icon icon-phone1"></i> <a href="tel:{{ options.contact_phone_link }}">{{ options.contact_phone }}</a></li>
                        {% endif %}
                        {% if options.contact_email %}
                            <li>
                                <i class="icon icon-envelope1"></i> <a href="mailto:{{ options.contact_email }}" title="{{ site.name }} - {{ "E-mail Us" }}">
                                    <span>{{ options.contact_email }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}

            <div class="footer__cols__row__col footer__cols__row__col--contact">
                {% if options.footer_hours_header %}
                    <h4>{{ options.footer_hours_header }}</h4>
                {% endif %}
                <ul>
                    {% if options.footer_contact_hours %}
                        <li>{{ options.footer_contact_hours }}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer__cols__row__col footer__cols__row__col--nav">
                {% if options.footer_menu_header %}
                    <h4>{{ options.footer_menu_header }}</h4>
                {% endif %}
                <nav class="footer-nav" role="navigation">
                    {% include 'elements/menu.twig' with {'menu': menuSecond.get_items} %}
                </nav>
            </div>

        </div>
    </div>

    {% if options.footer_text %}
        <div class="footer__copyright">
            <p>{{ options.footer_text }}</p>
        </div>
    {% endif %}

    <div class="footer__author">
        <a href="https://integratedmobilemarketing.com/" target="_blank">
            <span>Powered by Integrated Mobile Marketing.</span>
            <div class="icon">&nbsp;</div>
        </a>
    </div>

</footer>