<header class="header">

    <div class="header__top">
        <ul>
            {% if options.facebook %}
                <li class="facebook">
                    <a href="{{ options.facebook }}" title="{{ site.name }} - {{ "Facebook" }}" target="_blank">
                        <i class="icon icon-facebook"></i>
                    </a>
                </li>
            {% endif %}
            {% if options.instagram %}
                <li class="instagram">
                    <a href="{{ options.instagram }}" title="{{ site.name }} - {{ "Instagram" }}" target="_blank">
                        <i class="icon icon-instagram"></i>
                    </a>
                </li>
            {% endif %}
            {% if options.gmb %}
                <li class="gmb">
                    <a href="{{ options.gmb }}" title="{{ site.name }} - {{ "Google My Business" }}" target="_blank">
                        <i class="icon icon-google-plus"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="header__middle">
        {% if options.header_logo %}
            <div class="header__middle__brand">
                <figure>
                    <a href="{{ site.url }}" title="{{ site.name }}">
                        <img src="{{ options.header_logo.url }}" alt="{{ options.header_logo_alternate_text }}" />
                    </a>
                </figure>
                <p></p>
            </div>
        {% endif %}

        <div class="header__middle__contact">
            <ul>
                {% if options.site_claim %}
                    <li>
                        <h2>{{ options.site_claim }}</h2>
                    </li>
                {% endif %}
                {% if options.contact_phone %}
                    <li>
                        <span>
                            <i class="icon icon-phone1"></i>
                        </span>
                        <a href="tel:{{ options.contact_phone_link }}" title="{{ site.name }} - {{ "Phone Us" }}" target="_blank">
                            <strong>{{ "Call us" }}</strong>
                            <span>{{ options.contact_phone }}</span>
                        </a>
                    </li>
                {% endif %}
                {% if options.contact_email %}
                    <li class="email">
                        <span>
                            <i class="icon icon-envelope1"></i>
                        </span>
                        <a href="mailto:{{ options.contact_email }}" title="{{ site.name }} - {{ "E-mail Us" }}">
                            <strong>{{ "Send us mail" }}</strong>
                            <span>{{ options.contact_email }}</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    

    

    <div class="header__menu">
        <div class="container">
            <a href="#" class="header__menu__mobile">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <nav class="header__menu__nav-main" role="navigation">
                {% include 'elements/menu.twig' with {'menu': menuPrimary.get_items} %}
            </nav>
        </div>
    </div>

</header>