<div class="mobile-menu">
    <a href="#" class="mobile-menu__close">
        <span>&nbsp;</span>
        <span>&nbsp;</span>
    </a>

    <div class="mobile-menu__container">
        <nav class="menu-container__nav" role="navigation">
            {% include 'elements/menu.twig' with {'menu': menuPrimary.get_items} %}
        </nav>
    </div>
</div>