#PureChatWidget.purechat #purechat-name-submit.purechat-btn {
    margin: 0 !important;
    box-shadow: 0 0 74.4px 5.6px rgba(0, 0, 0, .16) !important;
    background-color: #b89e66 !important;
    border-radius: 0 !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 1.86 !important;
    color: #fff !important;
    width: 160px !important;
    text-align: center !important;
}

#PureChatWidget.purechat .purechat-widget-title-link.purechat-widget-title-link {
    font-family: "Lato", sans-serif !important;
    font-weight: bold !important;
    font-size: 14px !important;
    letter-spacing: 2.1px !important;
    color: $white !important;
}

#PureChatWidget.purechat .purechat-expanded .purechat-widget-title-link.purechat-widget-title-link {
    color: $white !important;
}

#PureChatWidget.purechat .purechat-card.purechat-card {
    border-radius: 0 !important;
}

#PureChatWidget.purechat .purechat-firstname-input.purechat-firstname-input {
    border-radius: 0 !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.61 !important;
    color: rgba(0, 0, 0, .5) !important;
    margin-bottom: 20px !important;
}

#PureChatWidget.purechat .purechat-firstname-input.purechat-firstname-input:focus {
    font-size: 14px !important;
}

#PureChatWidget.purechat .purechat-email-input.purechat-email-input {
    border-radius: 0 !important;
    margin-bottom: 20px !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.61 !important;
    color: rgba(0, 0, 0, .5) !important;
}

#PureChatWidget.purechat .purechat-question-input.purechat-question-input {
    border-radius: 0 !important;
    margin-bottom: 20px !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 1.61 !important;
    color: rgba(0, 0, 0, .5) !important;
}

.purechat-enterinfo-container.purechat-enterinfo-container {
    display: none !important;
}

#PureChatWidget.purechat .purechat-card.purechat-card {
    margin: 0 !important;
    padding: 20px !important;
}

#PureChatWidget.purechat .purechat-widget-header.purechat-widget-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

#PureChatWidget.purechat .purechat-poweredby-container.purechat-poweredby-container {
    display: none !important;
}

#PureChatWidget.purechat .purechat-footer.purechat-footer.purechat-display-flex {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    display: none !important;
}

#PureChatWidget.purechat .purechat-card.purechat-card.purechat-card.purechat-card {
    box-shadow: none !important;
}

#PureChatWidget.purechat .purechat-widget-header .purechat-btn.purechat-display-inline-block.purechat-btn.purechat-display-inline-block {
    border: 0 !important;
    box-shadow: none !important;
    cursor: pointer !important;
}

#PureChatWidget.purechat .purechat-collapsed .purechat-widget-header.purechat-widget-header {
    border-radius: 0 !important;
    height: 45px !important;
    width: 220px !important;
    align-self: flex-end !important;
    position: relative !important;

    &:before {
        content: "Live chat";
        font-family: Lato !important;
        font-size: 14px !important;
        font-weight: bold !important;
        letter-spacing: 2.1px !important;
        color: $white !important;
        z-index: -1 !important;
        text-transform: uppercase !important;
        margin-left: 15px !important;
        position: absolute !important;
    }

    &:after {
        display: block !important;
        content: "" !important;
        background-image: url(#{$asset-path}/arrow_up.png) !important;
        background-color: $blue !important;
        position: absolute !important;
        right: 20px !important;
        background-position: center !important;
        background-size: 20px;
        height: 18px !important;
        width: 33px !important;
        background-repeat: no-repeat !important;
        z-index: -1 !important;
        pointer-events: none !important;
    }
}

#PureChatWidget.purechat .purechat-collapsed.purechat-display-block.purechat-collapsed.purechat-display-block {
    background: transparent !important;
}

#PureChatWidget.purechat.purechat-widget-collapsed.purechat-widget-collapsed {
    border-radius: 0 !important;
    background: transparent !important;
}

#PureChatWidget.purechat.purechat {
    box-shadow: none !important;
}

#PureChatWidget.purechat .purechat-collapsed .purechat-widget-header .purechat-widget-title-link.purechat-widget-title-link {
    padding-left: 0 !important;
}

#PureChatWidget.purechat .purechat-collapsed .purechat-display-block.purechat-display-block {
    padding-right: 30px !important;
}

#PureChatWidget.purechat .purechat-collapsed .purechat-widget-header .purechat-widget-title-link.purechat-widget-title-link {
    display: block !important;
    text-indent: -9999px !important;
}

#PureChatWidget.purechat.purechat-bottom-right.purechat.purechat-bottom-right {
    right: 40px !important;
    bottom: 0 !important;
    z-index: 99 !important;
    display: none !important;

    @include breakpoint(tablet_768) {
        display: block !important;
    }
}
