/*
 * Library hard to override even with specifying
 * the classes property it still doesn't apply it to the
 * wrapper, only the inner divs.
*/
.vue-notification {
    @include latoBold();

    padding: 20px !important;
    margin: 0 !important;
    font-size: 16px !important;
    color: #fff;
    background: $blue;
    border-left-color: $darkblue !important;
    border-left-width: 15px !important;

    &.error {
        background: $red !important;
    }

    &.success {
        background: $blue !important;
    }
}

.notification-content {
    font-size: 12px !important;
    margin-top: 6px !important;
}
// Just here to get it over the debug bar when in dev
.vue-notification-group {
    z-index: 200000 !important;
}
