{% extends "base.twig" %}

{% block content %}

    {% for post in posts %}
        <article class="front-page">

            {% for section in builder %}
                {% include "page-builder/" ~ section.acf_fc_layout ~ ".twig" %}
            {% endfor %}

        </article>
    {% endfor %}

{% endblock %}