{% extends "base.twig" %}

{% block content %}

    {% for post in posts %}
        <article class="subpage subpage--standard">
            {% include 'parts/global/subpage_header.twig' %}

            {% for section in builder %}
                {% include "page-builder/" ~ section.acf_fc_layout ~ ".twig" %}
            {% endfor %}

        </article>
    {% endfor %}

{% endblock %}