.section--contact {
    width: 100%;
    padding: 0 0 45px 0;
    display: inline-block;
    text-align: center;

    .container {
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 94%;
        max-width: 1150px;
    }

    &__row {
        width: 100%;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 2fr;
        margin-top: 45px;

        @include for-size(mobile) {
            grid-template-columns: 1fr!important;
        }

        @include for-size(tablet) {
            grid-template-columns: 1fr!important;
        }

        &__info {
            text-align: left;
            width: 100%;

            &__text {
                width: 100%;
                margin: 0 0 35px 0;
                display: inline-block;
                display: grid;
                grid-gap: 30px;
                grid-template-columns: 1fr 6fr;

                &:last-child {
                    margin-bottom: 0;
                }

                h1,
                h2,
                h3,
                h4,
                h5, 
                h6 {
                    margin-bottom: 30px;
                    position: relative;

                    &:after {
                        width: 45px;
                        height: 5px;
                        content: "";
                        display: inline-block;
                        background: $color-yellow;
                        position: absolute;
                        bottom: -20px;
                        left: 0;
                    }
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    
                    li {
                        margin: 0 0 5px 0;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    &__social-media {
        width: 100%;
        display: block;
        margin-top: 30px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0 10px 0 0;
                display: inline-block;

                &:last-child {
                    margin: 0;
                }

                a {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    position: relative;
                    z-index: 0;

                    span {
                        display: inline-block;
                        width: 23px;
                        height: 23px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        text-indent: -999px;
                        position: relative;
                        z-index: 3;
                    }
                }
            }
        }
    }
}