.contract {
    width: 100%;
    margin: 30px 0;
    text-align: left;
    display: inline-block;

    .formAcceptance {
        span {
            font-weight: 600;
            color: $color-yellow;
        }
    }

    .wpcf7-response-output {
        display: none!important;
    }

    .form-row {
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
        position: relative;
        
        strong {
            text-align: left;
            display: inline-block;
            font-weight: 500;
            color: $color-yellow;
            display: inline-block;
            width: 100%;
        }

        .wpcf7-not-valid-tip {
            font-size: 12px;
            text-align: left;
            width: 100%;
            text-transform: uppercase;
        }

        .form-input {
            width: 100%;
            padding: 7px 10px;
            border: 1px solid $color-yellow;
            background: $color-white;
            color: $color-grey;
            font-family: $font-main;

            &::placeholder {
                color: $color-yellow;
            }

            &:focus {
                outline: none;
                outline: 0;
                border-color: $color-yellow;
                background: $color-yellow;
                color: $color-white;
                font-family: $font-main;
            }

            &:focus::placeholder {
                color: $color-white;
            }
        }

        .form-button {
            padding: 13px 15px 10px 15px;
            background: $color-yellow;
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 500;

            &:focus {
                outline: none;
                outline: 0;
            }

            &:hover {
                background: $color-yellow;
            }
        }
    }
}