.section--cta {
    width: 100%;
    padding: 45px 0;
    position: relative;
    border-top: 1px solid $color-light;

    .container {
        text-align: center;

        h1,
        h2,
        h3,
        h4,
        h5 {
            width: 100%;
            position: relative;
            display: inline-block;
            margin-bottom: 50px;
            text-align: center;

            &:after {
                content: "";
                width: 150px;
                height: 1px;
                background: $color-yellow;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        p {
            width: 100%;
            margin: 0 auto 30px auto;
            line-height: 1.3em;
        }
    }
}