.section--header {
    width: 100%;
    margin: 0;
    padding: 15px 0;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        width: 90%;
        margin: 0 5%;
        line-height: 1.3em;
    }
}