.section--hero-slider {
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 0;

    .container {
        max-width: 100%;
        width: 100%;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        color: $color-black;
        font-weight: bold;

        &:hover {
            color: $color-yellow!important;
        }
    }

    .swiper-slide {
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 430px;
        position: relative;
        text-align: left;
        overflow: hidden;
        z-index: 0;
        background: $color-light;

        @include for-size(mobile) {
            min-height: 300px;
        }

        @include for-size(tablet) {
            min-height: 300px;
        }

        .slide-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            background-size: cover;
            background-position: center center;
            z-index: 1;

            &:before {
                width: 100%;
                height: 100%;
                background: $color-grey;
                opacity: 0.35;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        &__text {
            position: absolute;
            width: 50%;
            height: auto;
            left: 10%;
            bottom: 0;
            opacity: 0;
            z-index: 2;
            vertical-align: middle;
            transform: translateY(120%);
            -webkit-transition: all .6s linear;
            -moz-transition: all .6s linear;
            -o-transition: all .6s linear;
            transition: all .6s linear;

            @include for-size(mobile) {
                width: 80%;
            }
    
            @include for-size(tablet) {
                width: 70%;
            }

            h1 {
                color: $color-yellow;
                line-height: 1.25em;
                margin-top: 0;
                padding-top: 0;
                text-transform: uppercase;
                margin-bottom: 100px;
                text-shadow: 2px 2px $color-black;
                letter-spacing: 2px;
                -webkit-transition: all .6s linear;
                -moz-transition: all .6s linear;
                -o-transition: all .6s linear;
                transition: all .6s linear;

                @include for-size(mobile) {
                    font-size: 25px;
                }
        
                @include for-size(tablet) {
                    font-size: 30px;
                }
            }

            h2 {
                color: $color-white;
                line-height: 1.25em;
                margin-top: 0;
                padding-top: 0;
                text-transform: uppercase;
                margin-bottom: 100px;
                text-shadow: 2px 2px $color-black;
                letter-spacing: 2px;
                -webkit-transition: all .6s linear;
                -moz-transition: all .6s linear;
                -o-transition: all .6s linear;
                transition: all .6s linear;

                @include for-size(mobile) {
                    font-size: 15px;
                }
        
                @include for-size(tablet) {
                    font-size: 20px;
                }
            }

            .btn {
                margin-top: 20px;
            }
        }
    }

    .slideTextVisible {
        bottom: 50%;
        transform: translateY(50%);
        opacity: 1;

        h1 {
            margin-bottom: 0;
        }

        h2 {
            margin-bottom: 0;
        }
    }
}