.section--paragraph-image {
    width: 100%;
    padding: 0;
    display: inline-block;
    text-align: center;

    .container {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-gap: 0;
        align-content: center;

        .paragraph {
            text-align: left;
            padding: 25px;

            h1,
            h2,
            h3,
            h4,
            h5 {
                width: 100%;
                position: relative;
                display: inline-block;
                line-height: 1.3em;
                margin-bottom: 20px;
                text-align: center;
                padding: 0;
                color: $color-black;
                text-align: left;

                &:after {
                    width: 45px;
                    height: 5px;
                    content: "";
                    display: inline-block;
                    background: $color-yellow;
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                }
            }

            p {
                margin: 0 0 25px 0;
                text-align: left;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &__link {
                width: 100%;
                display: inline-block;
                margin-top: -20px;
                text-align: center;

                .btn {
                    margin: 0 auto;
                    position: relative;
                    left: -35px;
                }
            }
        }

        .image {
            figure {
                position: relative;
                display: inline-block;
                z-index: 0;

                a {
                    position: relative;
                    display: inherit;

                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        padding: 0;
                        background: $color-black;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        opacity: 0;
                    }

                    &:hover:after {
                        opacity: 0.5;
                    }

                    img {
                        display: inherit;
                    }

                    span {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        height: 45px;
                        display: inline-block;
                        background: $color-black;
                        color: $color-yellow;
                        padding: 10px;
                        z-index: 2;

                        .icon {
                            font-size: 25px;
                            margin: 0;
                            padding: 0;
                            height: 25px;
                        }
                    }

                    &:hover {
                        span {
                            background: $color-yellow;
                            color: $color-black;
                        }
                    }
                }

                img {
                    position: relative;
                }
            }
        }
    }

    &--centered {
        .container {
            align-items: center;
        }
    }

    &--left {
        .container {
            .paragraph {
                order: 2;
            }

            .image {
                order: 1;
            }
        }

        &--1 {
            grid-template-columns: 1fr;
        }
    
        &--1-2 {
            grid-template-columns: 1fr 1fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-3 {
            grid-template-columns: 1fr 2fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-4 {
            grid-template-columns: 1fr 3fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-5 {
            grid-template-columns: 1fr 4fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }

        @include for-size(mobile) {
            grid-template-columns: 1fr!important;
        }

        @include for-size(tablet) {
            grid-template-columns: 1fr!important;
        }
    }

    &--right {
        .container {
            .paragraph {
                order: 1;
            }

            .image {
                order: 2;
            }
        }

        &--1 {
            grid-template-columns: 1fr;
        }
    
        &--1-2 {
            grid-template-columns: 1fr 1fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-3 {
            grid-template-columns: 2fr 1fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-4 {
            grid-template-columns: 3fr 1fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }
    
        &--1-5 {
            grid-template-columns: 4fr 1fr;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }
        }

        @include for-size(mobile) {
            grid-template-columns: 1fr!important;
        }

        @include for-size(tablet) {
            grid-template-columns: 1fr!important;
        }
    }

    .paragraph,
    .image {
        display: flex;
        flex-direction: column;
    }

    .paragraph {
        ul {
            list-style-type: square;
            margin-left: 25px;
            color: $color-yellow;

            li {
                color: $color-grey;
            }
        }
    }
}