.section--linked-images {
    width: 100%;
    display: inline-block;
    padding: 50px 0;
    background: $color-yellow;
    position: relative;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-width: 0  0 10px 100vw;
        border-color: transparent transparent $color-yellow transparent;
        border-style: solid;
        position: absolute;
        top: -10px;
        left: 0;
    }

    &:after {
        content: "";
        width: 0;
        height: 0;
        border-width: 10px 100vw 0 0;
        border-color: $color-yellow transparent transparent transparent;
        border-style: solid;
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 99999;
    }

    .container {

        h1,
        h2,
        h3,
        h4,
        h5 {
            width: 100%;
            position: relative;
            display: inline-block;
            margin-bottom: 60px;
            text-align: center;
            color: $color-white;

            &:after {
                content: "";
                width: 150px;
                height: 1px;
                background: $color-white;
                position: absolute;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        ul {
            width: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            position: relative;

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
    
            @include for-size(tablet) {
                grid-template-columns: 1fr!important;
            }

            li {
                display: flex;
                flex-direction: column;
                position: relative;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $color-yellow;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(2deg);
                    z-index: 1;
                }

                &:after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $color-grey;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: rotate(-2deg);
                    z-index: 2;
                }

                a {
                    width: 100%;
                    height: 0;
                    padding-bottom: 66%;
                    background-size: cover;
                    background-position: center center;
                    position: relative;
                    border: 5px solid $color-white;
                    z-index: 9;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        padding: 20px 0;
                        text-align: center;
                        transform: translate(-50%,-50%);
                        @include bg-opacity($color-white,0.55);
                        color: $color-yellow;
                        font-family: $font-special;
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    &:hover {
                        span {
                            @include bg-opacity($color-yellow,0.85);
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }

    &.white {
        background: $color-white;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            color: $color-grey;

            &:after {
                background: $color-grey;
            }
        }

        ul {
            li {
                &:before {
                    background: $color-yellow;
                }

                &:after {
                    background: $color-yellow;
                }

                a {
                    border: 5px solid $color-grey;

                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        padding: 20px 0;
                        text-align: center;
                        transform: translate(-50%,-50%);
                        @include bg-opacity($color-white,0.55);
                        color: $color-yellow;
                        font-family: $font-special;
                        font-size: 30px;
                        text-transform: uppercase;
                    }

                    &:hover {
                        span {
                            @include bg-opacity($color-yellow,0.85);
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}