.section--logotypes {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;

    .container {
        margin: 55px auto;
        width: 94%;
        max-width: 1150px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            width: 100%;
            margin: 0 0 55px 0;
            padding: 0;
            text-align: left;
            position: relative;

            &:after {
                width: 45px;
                height: 5px;
                content: "";
                display: inline-block;
                background: $color-yellow;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            width: 100%;

            @include for-size(mobile) {
                display: inline-block;
                flex-direction: unset;
            }

            @include for-size(tablet) {
                display: inline-block;
                flex-direction: unset;
            }

            li {
                list-style: none;
                flex-grow: 1;
                text-align: center;
                position: relative;

                @include for-size(mobile) {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }

                @include for-size(tablet) {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }

                a {
                    display: inline-block;
                    margin: 0 auto;

                    &:hover {
                        img {
                            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                            filter: grayscale(0%);
                        }
                    }
                }

                img {
                    max-height: 75px;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);

                    @include for-size(mobile) {
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                    }

                    @include for-size(tablet) {
                        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}