.section--services {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;

    .container {
        width: 100%;
    }

    &__header {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;
        
        ul {
            grid-gap: 25px;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: top;

                figure {
                    width: 100%;
                    display: inline-block;
                    margin: 0 0 20px 0;
                    text-align: center;

                    img {
                        margin: 0;
                        padding: 0;
                    }
                }

                h4 {
                    width: 100%;
                    display: inline-block;
                    margin: 0 0 25px 0;
                }

                p {
                    margin-bottom: 25px;
                }
            }
        }
    }
}