.section--single-image {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;

    img,
    a {
        display: inherit;
    }

    a {
        position: relative;
        color: $color-black;

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background: $color-black;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            opacity: 0;
        }

        &:hover:after {
            opacity: 0.5;
        }

        span {
            position: absolute;
            bottom: 0;
            right: 0;
            height: 45px;
            display: inline-block;
            background: $color-black;
            color: $color-yellow;
            padding: 10px;

            .icon {
                font-size: 25px;
                margin: 0;
                padding: 0;
                height: 25px;
            }
        }

        &:hover {
            span {
                background: $color-yellow;
                color: $color-black;
            }
        }
    }
}