.section--steps {
    width: 100%;
    padding: 55px 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $color-black;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.7;
    }

    .container {
        margin: 0 auto;
        width: 94%;
        max-width: 1150px;
        position: relative;
        z-index: 2;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            width: 100%;
            margin: 0 0 55px 0;
            padding: 0;
            text-align: left;
            position: relative;
            color: $color-white;

            &:after {
                width: 45px;
                height: 5px;
                content: "";
                display: inline-block;
                background: $color-yellow;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;

            @include for-size(mobile) {
                display: inline-block;
                flex-direction: unset;
            }

            @include for-size(tablet) {
                display: inline-block;
                flex-direction: unset;
            }

            &:before {
                content: "";
                width: 100%;
                height: 3px;
                background: $color-white;
                position: absolute;
                top: 40px;
                left: 0;
                opacity: 0.4;

                @include for-size(mobile) {
                    display: none;
                }

                @include for-size(tablet) {
                    display: none;
                }
            }

            .step {
                list-style: none;
                flex-grow: 1;
                text-align: center;
                position: relative;

                @include for-size(mobile) {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }

                @include for-size(tablet) {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: 20px;
                }

                &:last-child {

                }

                &__number {
                    width: 100%;
                    margin: 0 0 25px 0;
                    display: inline-block;

                    span {
                        width: 80px;
                        height: 80px;
                        text-align: center;
                        line-height: 80px;
                        background: $color-yellow;
                        color: $color-black;
                        display: inline-block;
                        margin: 0 auto;
                        border-radius: 99px;
                        font-weight: 900;
                        font-size: 30px;
                        font-family: $font-special;
                        position: relative;
                    }
                }

                &:hover {
                    span {
                        transform: scale(1.25);
                    }
                }

                h4 {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    font-family: $font-main;
                    font-weight: 600;
                    margin-bottom: 0;

                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}