.section--testimonials {
    width: 100%;
    padding: 45px 0;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 0;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        background: $color-black;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0.7;
    }

    .container {
        margin: 55px auto;
        padding: 0;
        display: inline-block;
        width: 94%;
        max-width: 1150px;
        text-align: left;
        position: relative;
        z-index: 2;
    }

    &__header {
        display: inline-block;
        width: 25%;
        float: left;

        @include for-size(mobile) {
            width: 100%;
            float: none;
            clear: both;
        }

        @include for-size(tablet) {
            width: 100%;
            float: none;
            clear: both;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            width: 100%;
            margin: 0 0 55px 0;
            padding: 0;
            text-align: left;
            position: relative;
            color: $color-white;
            line-height: 1.3em;

            &:after {
                width: 45px;
                height: 5px;
                content: "";
                display: inline-block;
                background: $color-yellow;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
    }

    &__list {
        display: inline-block;
        width: 73%;
        float: right;

        @include for-size(mobile) {
            width: 100%;
            float: none;
            clear: both;
        }

        @include for-size(tablet) {
            width: 100%;
            float: none;
            clear: both;
        }

        .testimonials-slider {
            width: 100%;
            max-width: 100%;

            .swiper-slide {
                padding: 20px 60px 20px 20px;
                @include bg-opacity($color-black,0.85);
                color: $color-white;

                .icon {
                    font-size: 35px;
                    color: $color-yellow;
                }

                h6 {
                    color: $color-yellow;
                    font-size: 13px;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    &:before {
                        content: "—";
                        margin-right: 10px;
                        color: $color-light;
                    }
                }
            }

            .swiper-button-prev, 
            .swiper-button-next {
                width: 45px;
                height: 45px;
                background: $color-yellow;
                color: $color-black;
                text-align: center;
                line-height: 45px;
                
                &:after {
                    font-size: 16px;
                }

                &:hover {
                    background: $color-white;
                }
            }

            .swiper-button-prev {
                left: 100%;
                margin-left: -45px;
                transform: translateY(-50%);
            }

            .swiper-button-next {
                right: 0;
                transform: translateY(50%);
            }
        }
    }
}