<template >
  <div class="studentDetails" v-loader="isFetching">
    <header class="studentDetails__header">
      <div class="studentDetails__header__wrapper">
        <button class="studentDetails__goBack" v-on:click="$router.go(-1)">
          <arrowRight />
        </button>
        <h1 class="studentDetails__title" v-html="copy.title"></h1>
      </div>
      <button class="studentDetails__button --cancel --showDesktop" v-on:click="updateActive">
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{this.copy.cancel}}
      </button>
    </header>
    <h3 class="studentDetails__subtitle --smallerMargin">DO YOU HAVE ANY ACCOMMODATION REQUIREMENTS?</h3>
    <form class="studentDetails__form">
      <div class="studentDetails__row">
        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">For example, sharing a room with a particular person</label>
          <div class="studentDetails__radioButtons">
            <input
              type="radio"
              id="yes"
              class="studentDetails__radioButton"
              v-bind:value="true"
              v-model="accomodationInformation.preferences"
            />
            <label for="yes">Yes</label>
            <input
              type="radio"
              id="no"
              class="studentDetails__radioButton"
              v-bind:value="false"
              v-model="accomodationInformation.preferences"
            />
            <label for="no">No</label>
          </div>
        </div>
      </div>
      <div
        class="studentDetails__row"
        v-if="accomodationInformation.preferences === true"
      >
        <div class="studentDetails__columnFull --addPaddingTop">
          <label class="studentDetails__label">If yes, please provide the details below</label>
          <textarea
            :placeholder="textareaPlaceholder"
            v-model="accomodationInformation.details"
            class="studentDetails__input studentDetails__textarea"
          ></textarea>
        </div>
      </div>
    </form>
    <footer class="studentDetails__footer">
      <button
        class="studentDetails__button --save"
        v-on:click="patchAccomodationRequest"
      >{{this.copy.saveChanges}}</button>
      <button class="studentDetails__button --cancel --showMobile" v-on:click="showPopup">
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{this.copy.cancel}}
      </button>
    </footer>
    <form-confirm-popup
      v-if="popupIsShowing"
      @onClosePopup="handleClosePopup"
      @onDiscardConfirmPopup="handleDiscardConfirmPopup"
      @onConfirmPopup="handleConfirmPopup"
    >
    </form-confirm-popup>
  </div>
</template>

<script>
import { required, minLength, between, email } from "vuelidate/lib/validators";
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";
import formConfirmPopup from "../FormConfirmPopup";

export default {
  name: "studentDetails",
  components: {
    arrowRight,
    formConfirmPopup,
  },
  props: ["selectedOrder"],
  data() {
    return {
      isFetching: true,
      popupIsShowing: false,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      accomodationInformation: {
        preferences: false,
        details: ""
      },
      requirements: null,
      reqCopy: "",
      textareaPlaceholder: "Is there anything else we should know?",
      copy: {
        title: "Accommodation Preferences",
        cancel: "Cancel",
        saveChanges: "Save changes"
      }
    };
  },
  mounted: function() {
    this.getAccomodationsRequest();
  },
  methods: {
    handleConfirmPopup() {
      this.hidePopup();
      this.patchAccomodationRequest();
    },
    handleDiscardConfirmPopup() {
      this.$router.back();
    },
    handleClosePopup() {
      this.hidePopup();
    },
    updateActive() {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    hidePopup() {
      this.popupIsShowing = false;
    },
    showPopup() {
      this.popupIsShowing = true;
    },
    getAccomodationsRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId } = this.$route.params

        const response = await AccountService.getSingleOrderAccomodationInformation(
          orderId,
          variationId
        );

        this.accomodationInformation = response.data.data;
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    patchAccomodationRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId, taskId } = this.$route.params;
        const payload = {
          payload: this.accomodationInformation
        };

        const response = await AccountService.patchSingleOrderAccomodationInformation(
          orderId,
          variationId,
          payload
        );

        await AccountService.markTaskAsCompleted(taskId);

        this.$router.back();
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    }
  }
};
</script>
