<template >
  <div class="studentDetails" v-loader="isFetching">
    <header class="studentDetails__header">
      <div class="studentDetails__header__wrapper">
        <button class="studentDetails__goBack" v-on:click="$router.go(-1)">
          <arrowRight />
        </button>
        <h1 class="studentDetails__title" v-html="copy.title"></h1>
      </div>
      <button class="studentDetails__button --cancel --showDesktop" v-on:click="showCancelPopup">
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{this.copy.cancel}}
      </button>
    </header>
    <div class="studentDetails__main">
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.add"></h3>
        <p class="studentDetails__copy" v-html="this.copy.mainCopy"></p>
        <form class="studentDetails__form">
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.arrival.date"></label>
              <div class="studentDetails__DateRow">
                <input
                  type="text"
                  class="studentDetails__input --day"
                  v-model="$v.airportInformation.arrival.day.$model"
                  :class="{ FormInputWithError: $v.airportInformation.arrival.day.$error }"
                />
                <input
                  type="text"
                  class="studentDetails__input --month"
                  v-model="$v.airportInformation.arrival.month.$model"
                  :class="{ FormInputWithError: $v.airportInformation.arrival.month.$error }"
                />
                <input
                  type="text"
                  class="studentDetails__input --year"
                  v-model="$v.airportInformation.arrival.$model.year"
                  :class="{ FormInputWithError: $v.airportInformation.arrival.year.$error }"
                />
              </div>
              <form-element-error v-if="$v.airportInformation.arrival.day.$error || $v.airportInformation.arrival.month.$error || $v.airportInformation.arrival.year.$error" message="Please ensure the date is valid" />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.arrival.time"></label>
              <timeselector
                class="studentDetails__input"
                v-model="$v.airportInformation.arrival.time.$model"
                :class="{ FormInputWithError: $v.airportInformation.arrival.time.$error }"
                :padTime="true"
                :h24="false"
                :displayFormat="'h:mma'"
              ></timeselector>
              <form-element-error v-if="$v.airportInformation.arrival.time.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="labels.arrival.airport"></label>
              <treeselect
                v-model="$v.airportInformation.arrival.airport.$model"
                :options="options.arrivalAirport"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
                :class="{ FormInputWithError: $v.airportInformation.arrival.airport.$error }"
              />
              <form-element-error v-if="$v.airportInformation.arrival.airport.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.arrival.terminal"></label>
              <treeselect
                v-model="$v.airportInformation.arrival.terminal.$model"
                :options="options.arrivalTerminal"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
                :class="{ FormInputWithError: $v.airportInformation.arrival.airport.$error }"
              />
              <form-element-error v-if="$v.airportInformation.arrival.airport.$error" message="Required" />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.arrival.flight"></label>
              <input
                :class="{ FormInputWithError: $v.airportInformation.arrival.flight_number.$error }"
                type="text"
                class="studentDetails__input"
                v-model="$v.airportInformation.arrival.flight_number.$model"
                @input="$v.airportInformation.arrival.flight_number.$touch()"
              />
              <form-element-error v-if="$v.airportInformation.arrival.flight_number.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="labels.arrival.arrivingsFrom"></label>
              <treeselect
                :class="{ FormInputWithError: $v.airportInformation.arrival.from.$error }"
                v-model="$v.airportInformation.arrival.from.$model"
                :options="options.arrivalFrom"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
              />
              <form-element-error v-if="$v.airportInformation.arrival.from.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label">
                {{labels.arrival.type}}
                <span class="studentDetails__tooltip__icon">
                  <span @click="tooltipTrue">
                    <tooltip />
                  </span>
                  <div class="studentDetails__tooltip__box" v-if="tooltipToggle">
                    <div class="studentDetails__tooltip__wrapper">
                      <div v-if="transportTooltipInformation"
                           v-html="transportTooltipInformation"
                           class="studentDetails__tooltip__wrapper__content">
                      </div>
                      <div class="studentDetails__tooltip__buttons">
                        <button class="studentDetails__tooltip__button Button Button--primary">What am I eligible for?</button>
                        <button class="studentDetails__tooltip__button Button Button--primary">Costs of Private Transfer</button>
                      </div>
                    </div>
                  </div>
                </span>
              </label>
              <treeselect
                v-model="$v.airportInformation.arrival.type_of_transfer.$model"
                :options="options.arrivalTypeOfTransport"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
              />
              <form-element-error v-if="$v.airportInformation.arrival.type_of_transfer.$error" message="Required" />
            </div>
          </div>
        </form>
      </div>
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.departure"></h3>
        <form class="studentDetails__form">
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.departure.date"></label>
              <div class="studentDetails__DateRow">
                <input
                  type="text"
                  class="studentDetails__input --day"
                  v-model="$v.airportInformation.departure.day.$model"
                  :class="{ FormInputWithError: $v.airportInformation.departure.day.$error }"
                />
                <input
                  type="text"
                  class="studentDetails__input --month"
                  v-model="$v.airportInformation.departure.month.$model"
                  :class="{ FormInputWithError: $v.airportInformation.departure.month.$error }"
                />
                <input
                  type="text"
                  class="studentDetails__input --year"
                  v-model="$v.airportInformation.departure.year.$model"
                  :class="{ FormInputWithError: $v.airportInformation.departure.year.$error }"
                />
              </div>
              <form-element-error v-if="$v.airportInformation.departure.day.$error || $v.airportInformation.departure.month.$error || $v.airportInformation.departure.year.$error" message="Please ensure the date is valid" />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.departure.time"></label>
              <timeselector
                class="studentDetails__input"
                v-model="$v.airportInformation.departure.time.$model"
                :class="{ FormInputWithError: $v.airportInformation.departure.time.$error }"
                :padTime="true"
                :h24="false"
                :displayFormat="'h:mma'"
              >
              </timeselector>
              <form-element-error v-if="$v.airportInformation.departure.time.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="labels.departure.airport"></label>
              <treeselect
                v-model="$v.airportInformation.departure.airport.$model"
                :options="options.departureAirport"
                placeholder="Select Location"
                class="studentDetails__select"
                :class="{ FormInputWithError: $v.airportInformation.departure.airport.$error }"
                :clearable="false"
              />
              <form-element-error v-if="$v.airportInformation.departure.airport.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.departure.terminal"></label>
              <treeselect
                v-model="$v.airportInformation.departure.terminal.$model"
                :options="options.departureTerminal"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
                :class="{ FormInputWithError: $v.airportInformation.departure.terminal.$error }"
              />
              <form-element-error v-if="$v.airportInformation.departure.terminal.$error" message="Required" />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="labels.arrival.flight"></label>
              <input
                :class="{ FormInputWithError: $v.airportInformation.departure.flight_number.$error }"
                type="text"
                class="studentDetails__input"
                v-model="$v.airportInformation.departure.flight_number.$model"
              />
              <form-element-error v-if="$v.airportInformation.departure.flight_number.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="labels.departure.departingTo"></label>
              <treeselect
                v-model="$v.airportInformation.departure.to.$model"
                :options="options.departureDestination"
                placeholder="Select Location"
                class="studentDetails__select"
                :clearable="false"
                :class="{ FormInputWithError: $v.airportInformation.departure.to.$error }"
              />
              <form-element-error v-if="$v.airportInformation.departure.to.$error" message="Required" />
            </div>
          </div>
        </form>
        <footer class="studentDetails__footer">
          <button
            class="studentDetails__button --save"
            v-on:click="this.handleSubmit"
          >{{this.copy.saveChanges}}</button>
          <button class="studentDetails__button --cancel --showMobile" v-on:click="showCancelPopup">
            <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
            {{this.copy.cancel}}
          </button>
        </footer>
      </div>
    </div>
    <form-confirm-popup
      v-if="showPopup"
      @onClosePopup="handleClosePopup"
      @onDiscardConfirmPopup="handleDiscardConfirmPopup"
      @onConfirmPopup="handleConfirmPopup"
    >
    </form-confirm-popup>
  </div>
</template>

<script>
import { required, minLength, between, email, numeric } from "vuelidate/lib/validators";
import arrowRight from "../../icons/arrowRight.vue";
import tooltip from "../../icons/tooltip.vue";
import Treeselect from "@riophae/vue-treeselect";
import Timeselector from "vue-timeselector";
import AccountService from "../../../../services/AccountService";
import formElementError from "../FormElementError";
import formConfirmPopup from "../FormConfirmPopup";

export default {
  name: "airportTransfer",
  components: {
    Treeselect,
    arrowRight,
    Timeselector,
    tooltip,
    formElementError,
    formConfirmPopup,
  },
  props: ["selectedOrder"],
  data() {
    return {
      value: null,
      tooltipToggle: false,
      showPopup: false,
      isFetching: true,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      options: {
        arrivalAirport: [],
        arrivalFrom: [],
        arrivalTerminal: [],
        arrivalTypeOfTransport: [],
        departureAirport: [],
        departureDestination: [],
        departureTerminal: [],
      },
      airportInformation: {
        arrival: {
          day: "",
          month: "",
          year: "",
          time: "",
          airport: "",
          terminal: "",
          flight_number: "",
          from: "",
          type_of_transfer: ""
        },
        departure: {
          day: "",
          month: "",
          year: "",
          time: "",
          airport: "",
          terminal: "",
          flight_number: "",
          to: ""
        },
      },
      transportTooltipInformation: `
        <h5>Provided by Bucksmore</h5>
        <p>No extra cost. Available between 10:00-22:00 at certain airports. Student may travel with other Bucksmore students.</p>
        <h5>Private Transfer</h5>
        <p>Additional cost. Can be organised at any time of day.
        Student will travel by private car. Parents/guardians wishing to travel to the centre with their child must use this service.</p>
        <h5>Personal Transport</h5>
        <p>You would like to organise your own transport. Bucksmore will not provide you with any transport for this option.</p>
      `,
      airports: [
        {
          id: "London Heathrow",
          label: "London Heathrow"
        },
        {
          id: "London Stansted",
          label: "London Stansted"
        }
      ],
      terminals: [
        {
          id: "Terminal 3",
          label: "Terminal 3"
        },
        {
          id: "Terminal 4",
          label: "Terminal 4"
        }
      ],
      arrivingsFrom: [
        {
          id: "China",
          label: "China"
        },
        {
          id: "Poland",
          label: "Poland"
        }
      ],
      typeOfTransfers: [
        {
          id: "Provided by Bucksmore",
          label: "Provided by Bucksmore"
        },
        {
          id: "Other",
          label: "Other"
        }
      ],
      copy: {
        title: "Airport Transfer Option",
        cancel: "Cancel",
        add: "ADD GENERAL INFORMATION",
        departure: "DEPATURE DETAILS",
        saveChanges: "Save changes",
        mainCopy:
          "Enter in the following details to see what type of transfer you will be eligible for."
      },
      labels: {
        arrival: {
          date: "Arrival Date",
          time: "Arrival Time",
          airport: "Arrival Airport",
          terminal: "Terminal",
          flight: "Flight Number",
          arrivingsFrom: "Arriving From",
          type: "Type of Transfer"
        },
        departure: {
          date: "Departure Date",
          time: "Departure Time",
          airport: "Departure Airport",
          terminal: "Terminal",
          flight: "Flight Number",
          departingTo: "Departing to"
        }
      }
    };
  },
  validations: {
    airportInformation: {
      arrival: {
        day: {
          required,
          numeric,
        },
        month: {
          required,
          numeric,
        },
        year: {
          required,
          numeric,
        },
        time: {
          required
        },
        airport: {
          required
        },
        terminal: {
          required
        },
        flight_number: {
          required
        },
        from: {
          required
        },
        type_of_transfer: {
          required
        }
      },
      departure: {
        day: {
          required,
          numeric
        },
        month: {
          required,
          numeric,
        },
        year: {
          required,
          numeric
        },
        time: {
          required
        },
        airport: {
          required,
        },
        terminal: {
          required
        },
        flight_number: {
          required
        },
        to: {
          required
        }
      },
    },
  },
  watch: {
    options: function(){
      // vuelidate bug
      setTimeout(() => {
        this.$v.airportInformation.departure.airport.$reset();
        this.$v.airportInformation.departure.terminal.$reset();
        this.$v.airportInformation.departure.to.$reset();
        this.$v.airportInformation.arrival.airport.$reset();
        this.$v.airportInformation.arrival.terminal.$reset();
        this.$v.airportInformation.arrival.from.$reset();
        this.$v.airportInformation.arrival.type_of_transfer.$reset();
      }, 1)
    }
  },
  methods: {
    tooltipTrue: function(e) {
      e.preventDefault();
      this.tooltipToggle = !this.tooltipToggle;
    },
    updateActive() {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    getAirportRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId } = this.$route.params;

        const response = await AccountService.getSingleOrderAirportInformation(
          orderId,
          variationId
        );

        this.airportInformation = response.data.data;

        this.options = response.data.options;
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    showCancelPopup() {
      this.showPopup = true;
    },
    handleClosePopup() {
      this.showPopup = false;
    },
    handleConfirmPopup() {
      this.showPopup = false;
      this.handleSubmit();
    },
    handleDiscardConfirmPopup() {
      this.showPopup = false;
      this.edit = false;
      this.$router.back();
    },
    handleSubmit(e) {
      if (e) e.preventDefault();

      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.patchAirportRequest();
      }
    },
    patchAirportRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId, taskId } = this.$route.params;
        const payload = {
          payload: this.airportInformation
        };

        const response = await AccountService.patchSingleOrderAirportInformation(
          orderId,
          variationId,
          payload
        );

        await AccountService.markTaskAsCompleted(taskId);

        this.$router.back();
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    }
  },
  mounted: function() {
    this.getAirportRequest();
  }
};
</script>
