<template >
  <div v-loader="isFetching">
    <div class="MyBookings__section MyBookings__requiredTasks courseDetails">
      <header class="MyBookings__meta">
        <div class="MyBookings__meta__dateArrow">
          <router-link class="MyBookings__meta__arrow --arrowLeft" to="/my-bookings">
            <arrowRight />
          </router-link>
          <div class="MyBookings__meta__date">
            <calendar />
            <h3
              class="MyBookings__courseApplication__days"
            >{{course.dates && course.dates.startDate.day}} - {{course.dates && course.dates.endDate.day}}</h3>
            <h3 class="MyBookings__courseApplication__month">{{course.dates.endDate.month}}</h3>
          </div>
        </div>
        <div class="MyBookings__meta__copy">
          <h2 class="MyBookings__courseApplication__title">{{course.title}}</h2>
          <h3
            class="MyBookings__courseApplication__place"
            v-if="course.relatedLocations !== undefined"
          >{{course.relatedLocations[0]}}</h3>
          <h3 class="MyBookings__courseApplication__person">{{course.person}}</h3>
        </div>
        <div class="MyBookings__meta__info">
          <button class="MyBookings__meta__button">
            <a
              class="MyBookings__meta__button__copy"
              :href="course.permalink"
              v-html="this.copy.course"
            ></a>
            <arrowRight />
          </button>
        </div>
      </header>

      <div class="MyBookings__progress">
        <span class="MyBookings__progress__copy">{{this.course.completion}}% {{this.copy.complete}}</span>
        <div class="MyBookings__progress__background">
          <div class="MyBookings__progress__bar" v-bind:style="progressBarStyles"></div>
        </div>
      </div>
      <div class="MyBookings__header">
        <label class="MyBookings__label">{{requiredTasks}} ({{incompleteTasksNumber}})</label>
      </div>
      <div class="MyBookings__wrap">
        <div class="MyBookings__main">
          <router-link
            v-for="task in tasks"
            v-bind:to="`/my-bookings/${orderId}/${variationId}/${task.slug}/${task.id}`"
            v-bind:key="task.id"
            class="MyBookings__requiredTask"
          >
            <div class="MyBookings__requiredTask__icon">
              <component :is="task.icon"></component>
            </div>
            <div class="MyBookings__requiredTask__copy --hasAlert">
              <h2 class="MyBookings__requiredTask__title">
                <strong>{{task.title}}</strong>
              </h2>
              <div class="MyBookings__requiredTask__alert --green" v-if="task.completed">
                <tick />
                {{copy.completed}}
              </div>
              <div class="MyBookings__requiredTask__alert --red" v-if="!task.completed">
                <alert />
                {{copy.additional}}
              </div>
            </div>
            <div class="MyBookings__requiredTask__arrowRight">
              <arrowRight />
            </div>
          </router-link>
          <router-link
            v-bind:to="`/my-bookings/${orderId}/${variationId}/optional-extras`"
            class="MyBookings__requiredTask"
            
          >
            <div class="MyBookings__requiredTask__icon"><component :is="`extras`"></component></div>
            <div class="MyBookings__requiredTask__copy --hasAlert">
              <h2 class="MyBookings__requiredTask__title">
                <strong>Optional Extras</strong>
              </h2>
            </div>
            <div class="MyBookings__requiredTask__arrowRight">
              <arrowRight />
            </div>
          </router-link>
        </div>
        <aside class="MyBookings__aside">
          <h3 class="MyBookings__aside__title">
            <payement />
            {{this.copy.payment}}
          </h3>
          <div class="MyBookings__aside__row">
            <p v-html="this.copy.deposit"></p>
            <p v-bind:class="{ paid: isDepositPaid }">
              <tick v-if="isDepositPaid" />
              £{{this.depositAmount}}
              <span v-if="isDepositPaid">{{this.copy.paid}}</span>
            </p>
          </div>
          <div class="MyBookings__aside__row">
            <p v-html="this.copy.course"></p>
            <p v-bind:class="{ paid: isTotalPaid }">
              <tick v-if="isTotalPaid" />
              £{{this.course.totalPayment.amount}}
              <span v-if="isTotalPaid">{{this.copy.paid}}</span>
            </p>
          </div>
          <div class="MyBookings__aside__row --total" v-if="!isTotalPaid">
            <p>Total</p>
            <p>
              <strong>£{{this.remainingAmount}}</strong>
            </p>
          </div>
          <router-link
            v-bind:to="`/my-bookings/${orderId}/${productId}/${variationId}/payment-details/${paymentTaskId}/${paymentDepositTaskId}`"
            class="MyBookings__aside__button Button Button--primary Button--blue"
            tag="button"
            v-if="!isTotalPaid"
          >{{this.copy.continue}}</router-link>
        </aside>
      </div>
    </div>
  </div>
</template>

<script>
import paymentIcon from "../../icons/payment.vue";
import medicalIcon from "../../icons/medical.vue";
import planeIcon from "../../icons/plane.vue";
import transferIcon from "../../icons/transfer.vue";
import extras from "../../icons/extras.vue";
import arrowRight from "../../icons/arrowRight.vue";
import onlineShop from "../../icons/onlineShop.vue";
import accommodation from "../../icons/accommodation.vue";
import student from "../../icons/student.vue";
import tick from "../../icons/tick.vue";
import alert from "../../icons/alert.vue";
import payement from "../../icons/payement.vue";
import calendar from "../../icons/calendar.vue";
import AccountService from "../../../../services/AccountService";

const icons = {
  payment: paymentIcon,
  "student-details": student,
  "medical-information": medicalIcon,
  "airport-transfer": transferIcon,
  "accommodation-preferences": accommodation,
  "passport-number": planeIcon
};

// TODO: Bring back additional tasks when we know what to do with them

export default {
  name: "MyBookingsMain",
  props: ["selectedOrder"],
  components: {
    paymentIcon,
    medicalIcon,
    planeIcon,
    transferIcon,
    arrowRight,
    extras,
    onlineShop,
    accommodation,
    student,
    alert,
    tick,
    payement,
    calendar
  },
  data() {
    return {
      isFetching: true,
      copy: {
        course: "Course Info",
        complete: "Complete",
        completed: "Completed",
        additional: "Additional details required",
        payment: "Payment Details",
        deposit: "Deposit",
        paid: "PAID",
        course: "Course",
        continue: "Continue to payment",
        total: "Total"
      },
      viewAll: "View all",
      requiredTasks: "Incomplete Tasks",
      courseApplications: "Course Applications",
      courseInfo: "Course Info",
      course: {},
      allTasks: [],
      tasks: [],
      additionalTasks: [
        {
          id: 1,
          icon: onlineShop,
          title: "Online Shop"
        },
        {
          id: 2,
          icon: extras,
          title: "Optional Extras"
        }
      ]
    };
  },
  computed: {
    orderId: function() {
      const { orderId } = this.$route.params;

      return orderId;
    },
    variationId: function() {
      const { variationId } = this.$route.params;

      return variationId;
    },
    productId: function() {
      const { productId } = this.$route.params;

      return productId;
    },
    isDepositPaid: function() {
      return this.course.deposit.isPaid;
    },
    isTotalPaid: function() {
      return this.course.totalPayment.isPaid;
    },
    depositAmount: function() {
      return this.course.deposit.amount || 0;
    },
    remainingAmount: function() {
      return this.course.deposit.isPaid
        ? this.course.totalPayment.remainingAmount
        : this.course.totalPayment.amount;
    },
    incompleteTasksNumber: function() {
      return this.allTasks.filter(task => !task.completed).length;
    },
    progressBarStyles: function() {
      return {
        width: `${this.course.completion}%`
      };
    },
    // gets paymentTaskId based on slug
    paymentTaskId: function() {
      if (this.allTasks.length > 0) {
        const paymentTaskArray = this.allTasks.filter(
          task => task.slug === "payment"
        );
        return paymentTaskArray[0].id;
      }
    },
    paymentDepositTaskId: function() {
      if (this.allTasks.length > 0) {
        const paymentTaskArray = this.allTasks.filter(
          task => task.slug === "payment-deposit"
        );
        return paymentTaskArray[0].id;
      }
    }
  },
  methods: {
    updateActive: function(value) {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: value,
          orderId,
          productId,
          variationId
        }
      });
    },
    getCourseDetailRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, productId } = this.$route.params;

        const response = await AccountService.getSingleOrder(
          orderId,
          productId
        );

        this.course = response.data;
        console.log(this.course);
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    getCourseTasksRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId } = this.$route.params;

        const response = await AccountService.getCourseTasks(
          orderId,
          variationId
        );
        if (this.allTasks) {
          this.allTasks = response.data.map(task => ({
            id: task.post.ID,
            icon: icons[task.acf.type.value],
            slug: task.acf.type.value,
            title: task.acf.type.label,
            completed: task.acf.completed
          }));

          this.tasks = this.allTasks.filter(
            task => !["payment", "payment-deposit"].includes(task.slug)
          );
        }
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    }
  },
  mounted: function() {
    this.getCourseDetailRequest();
    this.getCourseTasksRequest();
  }
};
</script>
