<template >
  <div v-loader="isFetching">
    <div
      class="MyBookings__section MyBookings__requiredTasks"
      v-bind:class="{ 'all-tasks-visible': allTasksVisible }"
    >
      <header class="MyBookings__header">
        <label class="MyBookings__label">
          {{copy.requiredTasks}} (
          <span v-if="tasks !== null">{{incompleteTasksNumber}}</span>)
        </label>
        <button
          v-if="tasks !== null && Array.isArray(tasks) && tasks.length > 4"
          @click="allTasksVisible = !allTasksVisible"
          class="MyBookings__viewAll mobileHide"
        >{{allTasksVisible ? copy.viewLess : copy.viewAll}}</button>
      </header>
      <router-link
        v-bind:to="`/my-bookings/${task.orderId}/${task.variationId}/${task.slug}/${task.id}`"
        class="MyBookings__requiredTask"
        v-for="task in tasks"
        v-bind:key="task.id"
      >
        <div class="MyBookings__requiredTask__icon">
          <component :is="task.icon"></component>
        </div>
        <div class="MyBookings__requiredTask__copy">
          <h2 class="MyBookings__requiredTask__title">
            <strong>{{task.title}}</strong>
          </h2>
          <p class="MyBookings__requiredTask__text">{{task.content}}</p>
        </div>
        <div class="MyBookings__requiredTask__arrowRight">
          <arrowRight />
        </div>
      </router-link>
      <footer
        v-if="tasks !== null && Array.isArray(tasks) && tasks.length > 4"
        class="MyBookings__footer"
      >
        <button
          @click="allTasksVisible = !allTasksVisible"
          class="MyBookings__viewAll desktopHide"
        >{{allTasksVisible ? copy.viewLess : copy.viewAll}}</button>
      </footer>
      <p
        v-if="tasks.length === 0 || tasks === null"
      >{{copy.noTasks}}</p>
    </div>
    <div class="MyBookings__section MyBookings__courseApplications">
      <header class="MyBookings__header">
        <label class="MyBookings__label">
          {{this.copy.courseApplications}} (
          <span v-if="coursesList !== null">{{coursesList.length}}</span>)
        </label>
      </header>
      <div v-if="coursesList">
        <router-link
          v-bind:to="`/my-bookings/${courseApplication.order_id}/${courseApplication.product_id}/${courseApplication.variation_id}/course-detail`"
          class="MyBookings__courseApplication"
          v-for="courseApplication in coursesList"
          v-bind:key="courseApplication.id"
        >
          <div class="MyBookings__courseApplication__date">
            <h3
              class="MyBookings__courseApplication__days"
            >{{courseApplication.dates && courseApplication.dates.startDate.day }} - {{courseApplication.dates && courseApplication.dates.endDate.day}}</h3>
            <h3
              class="MyBookings__courseApplication__month"
            >{{courseApplication.dates && courseApplication.dates.endDate.month}}</h3>
          </div>
          <div class="MyBookings__courseApplication__copy">
            <h2 class="MyBookings__courseApplication__title">{{getCourseTitleFromMeta(courseApplication.meta_data)}}</h2>
            <h3
              class="MyBookings__courseApplication__place"
              v-if="courseApplication.relatedLocations !== undefined"
            >{{courseApplication.relatedLocations[0]}}</h3>
            <h3
              class="MyBookings__courseApplication__person"
              v-if="courseApplication.studentData !== undefined"
            >{{courseApplication.studentData.first_name}} {{courseApplication.studentData.last_name}}</h3>
          </div>
          <div class="MyBookings__courseApplication__progres">
            <h5>{{courseApplication.completion}}% complete</h5>
            <div class="MyBookings__requiredTask__arrowRight">
              <arrowRight />
            </div>
          </div>
        </router-link>
      </div>
      <p
        v-if="coursesList.length === 0 || coursesList === null"
      >{{copy.noCourses}}</p>
    </div>
  </div>
</template>

<script>
import paymentIcon from "../../icons/payment.vue";
import medicalIcon from "../../icons/medical.vue";
import planeIcon from "../../icons/plane.vue";
import transferIcon from "../../icons/transfer.vue";
import accommodation from "../../icons/accommodation.vue";
import student from "../../icons/student.vue";
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";

const icons = {
  'payment': paymentIcon,
  'payment-deposit': paymentIcon,
  'student-details': student,
  'medical-information': medicalIcon,
  'airport-transfer': transferIcon,
  'accommodation-preferences': accommodation,
  'passport-number': planeIcon,
};

export default {
  name: "MyBookingsMain",
  components: {
    paymentIcon,
    medicalIcon,
    planeIcon,
    transferIcon,
    arrowRight
  },
  data() {
    return {
      copy: {
        viewAll: "View all",
        viewLess: "View less",
        requiredTasks: "Required Tasks",
        courseApplications: "Course Applications",
        noCourses: "You have not booked any course so far.",
        noTasks: "You have no required tasks at the moment"
      },
      isFetching: false,
      allTasksVisible: false,
      tasks: [],
      coursesList: []
    };
  },
  computed: {
    incompleteTasksNumber: function() {
      return this.tasks ? this.tasks.filter(task => !task.completed).length : 0;
    }
  },
  methods: {
    updateActive: function(value) {
      this.$emit("update", {
        data: {
          route: value
        }
      });
    },
    pickCourse(orderId, productId, variationId) {
      console.log(variationId);
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    getUserTasksRequest: async function() {
      try {
        this.isFetching = true;
        const response = await AccountService.getUserTasks();
        // protect against null for map
        if (response.data.data !== null) {
          this.tasks = response.data.map(task => ({
            id: task.post.ID,
            icon: icons[task.acf.type.value],
            slug: task.acf.type.value,
            title: `${task.acf.type.label}: `,
            content: task.acf.title,
            orderId: task.acf.order.ID,
            variationId: task.acf.variation_id,
          }));
        } else {
          this.tasks = [];
        }
      } finally {
        this.isFetching = false;
      }
    },
    getUserBookingDataRequest: async function() {
      try {
        this.isFetching = true;
        const response = await AccountService.getUserBookingCourses();
        this.coursesList = response.data || [];
        console.log(this.coursesList);
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    getCourseTitleFromMeta(meta) {
      const titleMeta = meta.filter(item => item.key === "parentTitle");

      if (titleMeta.length === 0) {
        return "No title";
      }

      return titleMeta[0].value;
    }
  },
  mounted: function() {
    this.getUserTasksRequest();
    this.getUserBookingDataRequest();
  }
};
</script>
