<template >
  <div class="studentDetails MedicalInformation" v-loader="isFetching">
    <header class="studentDetails__header">
      <div class="studentDetails__header__wrapper">
        <button class="studentDetails__goBack" v-on:click="$router.go(-1)">
          <arrowRight />
        </button>
        <h1 class="studentDetails__title" v-html="copy.title"></h1>
      </div>
      <button class="studentDetails__button --cancel --showDesktop" v-on:click="showPopup">
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{this.copy.cancel}}
      </button>
    </header>
    <div class="studentDetails__main">
      <div class="studentDetails__column --larger">
        <form class="studentDetails__form">
          <h3 class="studentDetails__subtitle" v-html="copy.questions[0].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Physical disabilities?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.physical_disabilities}_physical_disabilities_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.physical_disabilities"
                />
                <label
                  :for="`${medicalInformation.physical_disabilities}_physical_disabilities_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.physical_disabilities}_physical_disabilities_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.physical_disabilities"
                />
                <label
                  :for="`${medicalInformation.physical_disabilities}_physical_disabilities_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Learning disabilities or difficulties?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.learning_disabilities}_learning_disabilities_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.learning_disabilities"
                />
                <label
                  :for="`${medicalInformation.learning_disabilities}_learning_disabilities_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.learning_disabilities}_learning_disabilities_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.learning_disabilities"
                />
                <label
                  :for="`${medicalInformation.learning_disabilities}_learning_disabilities_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Any special requirements or needs?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.special_requirements}_special_requirements_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.special_requirements"
                />
                <label
                  :for="`${medicalInformation.special_requirements}_special_requirements_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.special_requirements}_special_requirements_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.special_requirements"
                />
                <label
                  :for="`${medicalInformation.special_requirements}_special_requirements_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Any mental health issues?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.mental_health}_mental_health_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.mental_health"
                />
                <label
                  :for="`${medicalInformation.mental_health}_mental_health_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.mental_health}_mental_health_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.mental_health"
                />
                <label
                  :for="`${medicalInformation.mental_health}_mental_health_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Astmha?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.asthma}_asthma_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.asthma"
                />
                <label
                  :for="`${medicalInformation.asthma}_asthma_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.asthma}_asthma_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.asthma"
                />
                <label
                  :for="`${medicalInformation.asthma}_asthma_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Epilepsy?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.epilepsy}_epilepsy_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.epilepsy"
                />
                <label
                  :for="`${medicalInformation.epilepsy}_epilepsy_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.epilepsy}_epilepsy_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.epilepsy"
                />
                <label
                  :for="`${medicalInformation.epilepsy}_epilepsy_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Diabetes?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.diabetes}_diabetes_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.diabetes"
                />
                <label
                  :for="`${medicalInformation.diabetes}_diabetes_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.diabetes}_diabetes_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.diabetes"
                />
                <label
                  :for="`${medicalInformation.diabetes}_diabetes_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Other?</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.other}_other_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.other"
                />
                <label
                  :for="`${medicalInformation.other}_other_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.other}_other_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.other"
                />
                <label :for="`${medicalInformation.other}_other_no`">No</label>
              </div>
            </div>
          </div>
        </form>
        <form class="studentDetails__form">
          <h3 class="studentDetails__subtitle" v-html="copy.questions[1].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Paracetamol</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.paracetamol}_paracetamol_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.paracetamol"
                />
                <label
                  :for="`${medicalInformation.paracetamol}_paracetamol_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.paracetamol}_paracetamol_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.paracetamol"
                />
                <label
                  :for="`${medicalInformation.paracetamol}_paracetamol_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Ibuprofen</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.ibuprofen}_ibuprofen_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.ibuprofen"
                />
                <label
                  :for="`${medicalInformation.ibuprofen}_ibuprofen_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.ibuprofen}_ibuprofen_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.ibuprofen"
                />
                <label
                  :for="`${medicalInformation.ibuprofen}_ibuprofen_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Antiseptic cream</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.antiseptic_cream}_antiseptic_cream_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.antiseptic_cream"
                />
                <label
                  :for="`${medicalInformation.antiseptic_cream}_antiseptic_cream_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.antiseptic_cream}_antiseptic_cream_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.antiseptic_cream"
                />
                <label
                  :for="`${medicalInformation.antiseptic_cream}_antiseptic_cream_no`"
                >No</label>
              </div>
            </div>
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label class="studentDetails__label">Sun cream</label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.sun_cream}_sun_cream_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.sun_cream"
                />
                <label
                  :for="`${medicalInformation.sun_cream}_sun_cream_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.sun_cream}_sun_cream_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.sun_cream"
                />
                <label
                  :for="`${medicalInformation.sun_cream}_sun_cream_no`"
                >No</label>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="studentDetails__column">
        <form class="studentDetails__form --smallerMargin">
          <h3 class="studentDetails__subtitle --smallerMargin" v-html="copy.questions[2].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label v-html="copy.questions[2].intro" class="studentDetails__label"></label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.allergies}_allergies_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.allergies"
                />
                <label
                  :for="`${medicalInformation.allergies}_allergies_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.allergies}_allergies_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.allergies"
                />
                <label
                  :for="`${medicalInformation.allergies}_allergies_no`"
                >No</label>
              </div>
            </div>
          </div>
        </form>
        <form class="studentDetails__form --verySmallMargin">
          <h3 class="studentDetails__subtitle --smallerMargin" v-html="copy.questions[3].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label v-html="copy.questions[3].intro" class="studentDetails__label"></label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.dietary}_dietary_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.dietary"
                />
                <label
                  :for="`${medicalInformation.dietary}_dietary_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.dietary}_dietary_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.dietary"
                />
                <label
                  :for="`${medicalInformation.dietary}_dietary_no`"
                >No</label>
              </div>
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label v-html="copy.questions[3].text" class="studentDetails__label"></label>
              <textarea
                :placeholder="placeholder01"
                v-model="medicalInformation.dietary_allergy_details"
                class="studentDetails__input studentDetails__textarea"
              ></textarea>
            </div>
          </div>
        </form>
        <form class="studentDetails__form --smallerMargin">
          <h3 class="studentDetails__subtitle --smallerMargin" v-html="copy.questions[4].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.medication}_medication_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.medication"
                />
                <label
                  :for="`${medicalInformation.medication}_medication_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.medication}_medication_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.medication"
                />
                <label
                  :for="`${medicalInformation.medication}_medication_no`"
                >No</label>
              </div>
            </div>
          </div>
        </form>
        <form class="studentDetails__form --smallerMargin">
          <h3 class="studentDetails__subtitle --smallerMargin" v-html="copy.questions[5].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.special_needs}_needs_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.special_needs"
                />
                <label
                  :for="`${medicalInformation.special_needs}_needs_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.special_needs}_needs_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.special_needs"
                />
                <label
                  :for="`${medicalInformation.special_needs}_needs_no`"
                >No</label>
              </div>
            </div>
          </div>
        </form>
        <form class="studentDetails__form --smallerMargin">
          <h3 class="studentDetails__subtitle --smallerMargin" v-html="copy.questions[6].title"></h3>
          <div class="studentDetails__row MedicalInformation__row">
            <div class="studentDetails__columnFull --oneRowLabelData">
              <label v-html="copy.questions[6].intro" class="studentDetails__label"></label>
              <div class="studentDetails__radioButtons">
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.extra_information}_information_yes`"
                  v-bind:value="true"
                  v-model="medicalInformation.extra_information"
                />
                <label
                  :for="`${medicalInformation.extra_information}_information_yes`"
                >Yes</label>
                <input
                  type="radio"
                  class="studentDetails__radioButton"
                  :id="`${medicalInformation.extra_information}_information_no`"
                  v-bind:value="false"
                  v-model="medicalInformation.extra_information"
                />
                <label
                  :for="`${medicalInformation.extra_information}_information_no`"
                >No</label>
              </div>
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label v-html="copy.questions[6].intro" class="studentDetails__label"></label>
              <textarea
                :placeholder="placeholder01"
                v-model="medicalInformation.extra_information_details"
                class="studentDetails__input studentDetails__textarea"
              ></textarea>
            </div>
          </div>
        </form>
        <footer class="studentDetails__footer">
          <button
            class="studentDetails__button --save"
            v-on:click="patchMedicalInformationRequest"
          >{{this.copy.saveChanges}}</button>
          <button class="studentDetails__button --cancel --showMobile" v-on:click="showPopup">
            <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
            {{this.copy.cancel}}
          </button>
        </footer>
      </div>
    </div>
    <form-confirm-popup
      v-if="popupIsShowing"
      @onClosePopup="handleClosePopup"
      @onDiscardConfirmPopup="handleDiscardConfirmPopup"
      @onConfirmPopup="handleConfirmPopup"
    >
    </form-confirm-popup>
  </div>
</template>

<script>
import { required, minLength, between, email } from "vuelidate/lib/validators";
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";
import formConfirmPopup from "../../elements/FormConfirmPopup";

export default {
  name: "medialInformation",
  components: {
    arrowRight,
    formConfirmPopup,
  },
  props: ["selectedOrder"],
  data() {
    return {
      pricing: {
        name: []
      },
      popupIsShowing: false,
      placeholder01: "Is there anything else we should know?",
      requirements: null,
      question_01: null,
      isFetching: true,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      medicalInformation: {
        physical_disabilities: null,
        learning_disabilities: null,
        special_requirements: null,
        mental_health: null,
        asthma: null,
        other: null,
        epilepsy: null,
        diabetes: null,
        diabetes_other: null,
        paracetamol: null,
        ibuprofen: null,
        antiseptic_cream: null,
        sun_cream: null,
        allergies: null,
        dietary: null,
        dietary_allergy_details: "",
        medication: null,
        special_needs: null,
        extra_information: null,
        extra_information_details: null
      },
      reqCopy: "",
      copy: {
        title: "Medical Information",
        cancel: "Cancel",
        saveChanges: "Save changes",
        questions: [
          {
            title: 'DOES THE STUDENT HAVE ANY OF THE FOLLOWING',
          },
          {
            title: 'I CONSENT FOR THE STUDENT TO BE GIVEN THE FOLLOWING IF NECESSARY:',
          },
          {
            title: 'DOES THE STUDENT HAVE ANY ALLEGERIES?',
            intro: 'For example, medicine, animals, etc.',
          },
          {
            title: 'ANY DIETARY REQUIREMENTS?',
            intro: 'For example, eating disorders, intolerances to certain foods etc.',
            text: 'If you answered yes to either of the above, please give details.',
          },
          {
            title: 'IS THE STUDENT TAKING ANY MEDICATION?',
          },
          {
            title: 'ANY SPECIAL NEEDS?',
          },
          {
            title: 'IS THERE ANYTHING ELSE WE SHOULD KNOW?',
            intro: 'For example, Emotional or behavioural conditions, motion sickness,homesickness, fears or phobias, etc.',
            text: 'If you answered yes to either of the above, please give details.',
          },
        ],
      },
    };
  },
  methods: {
    updateActive() {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    hidePopup() {
      this.popupIsShowing = false;
    },
    showPopup() {
      this.popupIsShowing = true;
    },
    handleConfirmPopup() {
      this.hidePopup();
      this.patchMedicalInformationRequest();
    },
    handleDiscardConfirmPopup() {
      this.$router.back();
    },
    handleClosePopup() {
      this.hidePopup();
    },
    getMedicalInformationRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId } = this.$route.params;

        const response = await AccountService.getSingleOrderMedicalInformation(
          orderId,
          variationId
        );

        this.medicalInformation = response.data.data;
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    patchMedicalInformationRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId, taskId } = this.$route.params;

        const payload = {
          payload: this.medicalInformation
        };

        const response = await AccountService.patchSingleOrderMedicalInformation(
          orderId,
          variationId,
          payload
        );

        await AccountService.markTaskAsCompleted(taskId);

        this.$router.back();
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    }
  },
  mounted: function() {
    this.getMedicalInformationRequest();
  }
};
</script>
