<template >
  <div class="optionalExtras" v-loader="isWorking">
    <header class="optionalExtras__header">
      <div class="optionalExtras__header__wrapper">
        <button class="optionalExtras__goBack" v-on:click="$router.go(-1)">
          <arrowRight />
        </button>
        <h1 class="optionalExtras__title">Optional Extras</h1>
      </div>
    </header>
    <div class="optionalExtras__main">
      <div class="optionalExtras__columnFull">
        <div
          class="optionalExtras__course"
          v-for="optionalExtra in optionalExtras"
          :key="optionalExtra && optionalExtra.id"
        >
          <div class="optionalExtras__course--course">
            <h5 class="optionalExtras__course--title">{{optionalExtra.name}}</h5>
          </div>
          <div class="optionalExtras__course--info">
            <span class="optionalExtras__course__titleInside"></span>
            <p
              class="optionalExtras__course--copy"
            >{{optionalExtra.selectedVariation && optionalExtra.selectedVariation.attributes[0].option}} starting from {{optionalExtra.startsFromWeek}}</p>
          </div>
          <div class="optionalExtras__course--price">
            <span class="optionalExtras__course__titleInside"></span>
            <p
              class="optionalExtras__course--copy"
            >£{{optionalExtra.selectedVariation && optionalExtra.selectedVariation.price}}</p>
          </div>
        </div>
      </div>
      <div v-if="optionalExtras.length === 0">
        <div
          class="optionalExtras__columnFull"
        >You have not booked any optional extras for that course.</div>
      </div>
    </div>
  </div>
</template>

<script>
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";
export default {
  name: "optionalExtras",
  props: [],
  components: { arrowRight },
  data() {
    return {
      isWorking: true,
      optionalExtras: []
    };
  },
  methods: {
    getOptionalExtrasRequest: async function() {
      try {
        this.isWorking = true;
        const { orderId, variationId } = this.$route.params;
        const response = await AccountService.getOptionalExtras(
          orderId,
          variationId
        );
        this.optionalExtras = JSON.parse(
          JSON.stringify(
            response.data.optionalExtras.filter(
              element => element.numberOfWeeks > 0
            )
          )
        );
      } catch (e) {
        console.log(e);
      } finally {
        this.isWorking = false;
      }
    }
  },
  mounted: function() {
    this.getOptionalExtrasRequest();
  }
};
</script>
