<template >
  <section class="paymentDetails" v-loader="isFetching">
    <header class="paymentDetails__header">
      <div class="paymentDetails__header__wrapper">
        <button class="paymentDetails__goBack" @click="goBack">
          <arrowRight />
        </button>
        <h1 class="paymentDetails__title" v-html="copy.title"></h1>
      </div>
    </header>
    <div class="paymentDetails__main" v-if="!isTotalPaid">
      <div class="paymentDetails__payment__discount">
        <div class="paymentDetails__payment__wrapper">
          <!-- not sure if we need coupons from my account page need to clear with Tom G. 
          If we do, refer to Step05.vue of booking steps-->
          <!--<div v-if="!isDepositPaid">
            <h4 class="paymentDetails__payment__subtitle">discount</h4>
            <label class="paymentDetails__payment__label">promotional code</label>
            <div class="paymentDetails__payment__inputWrapper">
              <input
                class="paymentDetails__payment__input"
                v-model="promotionalCode"
                type="text"
                :placeholder="'enter code'"
              />
              <button class="booking__button ---transparent" @click="handleCoupon">enter manually</button>
            </div>
          </div>-->
          <div
            class="paymentDetails__payment__buttonsWrapper --nodepositpaid"
            v-if="!isDepositPaid"
          >
            <button
              class="paymentDetails__payment__button"
              :class="{'--transparent': activeDeposit}"
              @click="handleDeposit(false)"
            >
              pay full amount
              <br />
              <span>£ {{course.totalPayment.amount}}</span>
            </button>
            <p>or</p>
            <button
              class="paymentDetails__payment__button"
              :class="{'--transparent': !activeDeposit}"
              @click="handleDeposit(true)"
            >
              pay deposit
              <br />
              <span>£ {{course.deposit.amount}}</span>
            </button>
          </div>
          <div class="paymentDetails__payment__buttonsWrapper --depositpaid" v-if="isDepositPaid">
            <h4>You have already paid £{{course.deposit.amount}} deposit</h4>
            <p>Would you like to pay the remaining amount?</p>
            <button
              class="paymentDetails__payment__button"
              :class="{'--transparent': !activeDeposit}"
              @click="handleDeposit(false)"
            >
              pay remaining amount
              <br />
              <span>£ {{course.totalPayment.remainingAmount}}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="paymentDetails__payment__paymentMethod">
        <div class="paymentDetails__payment__wrapper">
          <h4></h4>
          <div class="paymentDetails__payment__buttonsWrapper">
            <button
              class="paymentDetails__payment__button"
              @click="handlePaymentMethod"
              :class="{'--transparent': activeCardPayment}"
            >Bank transfer</button>
            <p>or</p>
            <button
              @click="handlePaymentMethod"
              class="paymentDetails__payment__button"
              :class="{'--transparent': !activeCardPayment}"
            >credit card</button>
          </div>
        </div>
      </div>
      <!-- to do this is not working yet and finished, just the FE -->
      <div class="paymentDetails__payment__card" v-if="activeCardPayment">
        <div class="paymentDetails__payment__wrapper">
          <h4 class="paymentDetails__payment__subtitle">card details</h4>
          <label class="paymentDetails__payment__label">name</label>
          <input
            class="paymentDetails__payment__input"
            v-model="$v.form.cardName.$model"
            type="text"
            placeholder="Enter name on card"
          />
          <div class="paymentDetails__payment__input__container">
            <label class="paymentDetails__payment__label">card number</label>
            <div class="paymentDetails__payment__error" v-if="cardNumberError">card number error</div>
            <div id="cardNumber" class="paymentDetails__payment__input --card"></div>
          </div>
          <div class="paymentDetails__payment__cardWrapper">
            <div class="paymentDetails__payment__cardWrapper --expiration">
              <div class="paymentDetails__payment__input__container">
                <label class="paymentDetails__payment__label">expiration date</label>
                <div
                  class="paymentDetails__payment__error"
                  v-if="cardExpiryError"
                  v-html="cardExpiryError"
                />
                <div class="paymentDetails__payment__cardWrapper --date">
                  <div id="cardExpiry" class="paymentDetails__payment__input"></div>
                </div>
              </div>
            </div>
            <div class="paymentDetails__payment__input__container --cvc">
              <div class="paymentDetails__payment__cardWrapper --cvc">
                <label class="paymentDetails__payment__label">cvc code</label>
                <div
                  class="paymentDetails__payment__error"
                  v-if="cardCvcError"
                  v-html="cardCvcError"
                />
                <div>
                  <div id="cardCvc" class="paymentDetails__payment__input"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="paymentDetails__payment__bankDetails" v-if="!activeCardPayment">
        <h4
          class="paymentDetails__payment__bankDetails__message"
        >If you already have made a payment via wire transfer, please wait for Bucksmore to confirm it.</h4>
        <div class="paymentDetails__payment__bankDetails__student">
          <h4 class="paymentDetails__payment__bankDetails__title">ACCOUNT NAME</h4>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">Bucksmore Education</h5>
          <p class="paymentDetails__payment__bankDetails__copy">
            HSCB Bank, London Road,
            <br />PO Box 123, 1st Floor,
            <br />EC14 3PG
          </p>
        </div>
        <div class="paymentDetails__payment__bankDetails__parent">
          <h4 class="paymentDetails__payment__bankDetails__title">STERLING ACCOUNT</h4>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">Reference No.</h5>
          <p class="paymentDetails__payment__bankDetails__copy">123 456 789</p>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">Account Number</h5>
          <p class="paymentDetails__payment__bankDetails__copy">292394433</p>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">Sort Code</h5>
          <p class="paymentDetails__payment__bankDetails__copy">29 - 23 - 44</p>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">IBAN 302930428300</h5>
          <h5 class="paymentDetails__payment__bankDetails__subtitle">BIC 398299302</h5>
        </div>
      </div>
      <div class="paymentDetails__payment__buttonspay" v-if="this.activeCardPayment">
        <div class="paymentDetails__payment__buttonspay__wrapper">
          <button
            class="paymentDetails__payment__buttonspay__button button --next"
            @click="handlePaymentRequest"
          >confirm payment</button>
        </div>
      </div>
    </div>
    <div class="paymentDetails__main" v-if="isTotalPaid">
      <p class="paymentDetails__main__message">Thank you, this order is fully paid.</p>
    </div>
  </section>
</template>

<script>
import {
  required,
  minLength,
  between,
  email,
  numeric
} from "vuelidate/lib/validators";
import close from "../../icons/close.vue";
import arrowRight from "../../icons/arrowRight.vue";
import AccountService from "../../../../services/AccountService";
import formElementError from "../FormElementError";
import axios from "axios";

const stripe = Stripe(`pk_test_5QCPbQsid7LKDg7gMgomN3Cf004kDLycH6`),
  elements = stripe.elements(),
  card = undefined,
  _self = undefined;

const style = {
  base: {
    color: "#292929",
    fontFamily: "Lato, Helvetica, sans-serif",
    fontSmoothing: "antialiased",
    fontSize: "16px",
    "::placeholder": {
      color: "#7b7b7b"
    }
  },
  invalid: {
    color: "#b2000f",
    iconColor: "#b2000f"
  }
};

const cardCvc = elements.create("cardCvc", {
  style,
  placeholder: "Enter CVC"
});
const cardExpiry = elements.create("cardExpiry", {
  style,
  placeholder: "MM / YY"
});
const cardNumber = elements.create("cardNumber", {
  style,
  placeholder: "Enter card number"
});

export default {
  name: "paymentDetails",
  props: ["selectedOrder"],
  components: {
    arrowRight,
    close,
    formElementError
  },
  data() {
    return {
      isFetching: true,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      activeCardPayment: true,
      activeDeposit: false,
      promotionalCode: "",
      course: {
        deposit: {
          isPaid: false,
          amount: 0
        },
        totalPayment: {
          isPaid: false,
          amount: 0,
          remainingAmount: 0
        }
      },
      copy: {
        title: "Payment Details",
        cancel: "Cancel"
      },
      card: {
        cvc: "",
        number: "",
        expiry: ""
      },
      form: {
        cardName: null,
        cardNumber: null,
        promotionalCode: null,
        billingPostal: null
      },
      //elements
      cardNumber: "",
      cardExpiry: "",
      cardCvc: "",
      stripe: null,
      // errors
      stripeError: "",
      cardCvcError: "",
      cardExpiryError: "",
      cardNumberError: ""
    };
  },
  validations: {
    form: {
      cardNumber: {
        required
      },
      cardName: {
        required
      }
    }
  },
  methods: {
    updateActive() {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    handlePaymentMethod() {
      this.activeCardPayment = !this.activeCardPayment;
    },
    goBack() {
      this.$router.go(-1);
    },
    handleDeposit(status) {
      this.activeDeposit = status;
    },
    handleCoupon() {
      console.log("handle coupon");
    },
    createCardFields() {
      if (this.activeCardPayment) {
        if (document.getElementById("cardCvc")) {
          this.cardCvc.mount("#cardCvc");
        }
        if (document.getElementById("cardExpiry")) {
          this.cardExpiry.mount("#cardExpiry");
        }
        if (document.getElementById("cardNumber")) {
          this.cardNumber.mount("#cardNumber");
        }
        this.listenForErrors();
      }
    },
    getCourseDetailRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, productId } = this.$route.params;
        console.log("get course detail payment triggered");
        const response = await AccountService.getSingleOrder(
          orderId,
          productId
        );
        this.course = response.data;
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    handlePaymentRequest: async function() {
      try {
        this.isFetching = true;
        if (this.activeCardPayment) {
          const stripeResult = await stripe.createSource(this.cardNumber);
          // depending if user pays deposit or full price
          // here we call either full price or deposit endpoint
          this.activeDeposit
            ? this.postDepositRequest(stripeResult.source.id, this.orderId)
            : this.postTotalPaymentRequest(
                stripeResult.source.id,
                this.orderId
              );
        }
      } catch (e) {
        console.log(e);
      }
    },
    postDepositRequest: async function(token, orderId) {
      try {
        this.isWorking = true;
        const payload = { payment_token: token, order_id: orderId };
        const response = await AccountService.postDepositPayment(payload);
        await AccountService.markTaskAsCompleted(this.paymentDepositTaskId);
        this.getCourseDetailRequest();
        console.log(response);
      } catch (e) {
        console.log(e);
      }
    },
    postTotalPaymentRequest: async function(token, orderId) {
      try {
        this.isFetching = true;
        const payload = {
          order_id: orderId,
          payment_token: token,
          payment_method: "stripe"
        };
        const response = await AccountService.postTotalAmountPayment(payload);
        await AccountService.markTaskAsCompleted(this.paymentTaskId);
        this.getCourseDetailRequest();
        console.log(response);
      } catch (e) {
        console.log(e);
      }
    },
    listenForErrors: function() {
      const vm = this;
      this.cardNumber.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardNumberError = event.error.message)
          : (vm.cardNumberError = "");
        vm.card.number = event.complete ? true : false;
      });
      this.cardExpiry.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardExpiryError = event.error.message)
          : (vm.cardExpiryError = "");
        vm.card.expiry = event.complete ? true : false;
      });
      this.cardCvc.addEventListener("change", function(event) {
        vm.toggleError(event);
        event.error
          ? (vm.cardCvcError = event.error.message)
          : (vm.cardCvcError = "");
        vm.card.cvc = event.complete ? true : false;
      });
    },
    toggleError: function(event) {
      if (event.error) {
        this.stripeError = event.error.message;
      } else {
        this.stripeError = "";
      }
    }
  },
  mounted: function() {
    this.getCourseDetailRequest();

    this.cardCvc = cardCvc;
    this.cardExpiry = cardExpiry;
    this.cardNumber = cardNumber;
  },
  updated: function() {
    this.createCardFields();
  },
  computed: {
    isDepositPaid: function() {
      return this.course.deposit.isPaid;
    },
    isTotalPaid: function() {
      return this.course.totalPayment.isPaid;
    },
    orderId: function() {
      const { orderId } = this.$route.params;

      return orderId;
    },
    paymentTaskId: function() {
      const { paymentTaskId } = this.$route.params;

      return paymentTaskId;
    },
    paymentDepositTaskId: function() {
      const { paymentDepositTaskId } = this.$route.params;

      return paymentDepositTaskId;
    }
  }
};
</script>