<template >
  <div class="studentDetails" v-loader="isFetching">
    <header class="studentDetails__header">
      <div class="studentDetails__header__wrapper">
        <button class="studentDetails__goBack" v-on:click="$router.go(-1)">
          <arrowRight />
        </button>
        <h1 class="studentDetails__title" v-html="copy.title"></h1>
      </div>
    </header>
    <div class="studentDetails__main">
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.add"></h3>
        <form class="studentDetails__form">
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.firstName"></label>
              <input
                :class="{ FormInputWithError: $v.studentDetails.first_name.$error }"
                type="text"
                class="studentDetails__input"
                v-model="$v.studentDetails.first_name.$model"
              />
              <form-element-error v-if="$v.studentDetails.first_name.$error" message="Required" />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.lastName"></label>
              <input
                :class="{ FormInputWithError: $v.studentDetails.last_name.$error }"
                type="text"
                class="studentDetails__input"
                v-model="$v.studentDetails.last_name.$model"
              />
              <form-element-error v-if="$v.studentDetails.last_name.$error" message="Required" />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.dateOfBirth"></label>
              <div class="studentDetails__DateRow">
                <input
                  type="text"
                  class="studentDetails__input --day"
                  :class="{ FormInputWithError: $v.studentDetails.day_of_birth.$error }"
                  v-model.trim="$v.studentDetails.day_of_birth.$model"
                />
                <input
                  type="text"
                  class="studentDetails__input --month"
                  :class="{ FormInputWithError: $v.studentDetails.month_of_birth.$error }"
                  v-model.trim="$v.studentDetails.month_of_birth.$model"
                />
                <input
                  type="text"
                  class="studentDetails__input --year"
                  :class="{ FormInputWithError: $v.studentDetails.year_of_birth.$error }"
                  v-model.trim="$v.studentDetails.year_of_birth.$model"
                />

              </div>
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.gender"></label>
              <treeselect
                v-model="studentDetails.gender"
                :options="options.gender"
                placeholder="Select Gender"
                class="studentDetails__select"
                :clearable="false"
              />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="this.labels.studentEmail"></label>
              <input
                :class="{ studentDetails__input__error: $v.studentDetails.email.$error }"
                type="email"
                class="studentDetails__input"
                v-model.trim="$v.studentDetails.email.$model"
              />
              <form-element-error v-if="!$v.studentDetails.email.email && $v.studentDetails.email.$error" message="Email must be valid" />
              <form-element-error v-if="!$v.studentDetails.email.required && $v.studentDetails.email.$error" message="Required" />
            </div>
          </div>
        </form>
      </div>
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle">{{this.copy.passport}}</h3>
        <form class="studentDetails__form">
          <div class="studentDetails__row">
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.nationality"></label>
              <treeselect
                v-model="studentDetails.nationality"
                :options="options.nationality"
                placeholder="Select Nationality"
                class="studentDetails__select"
                :clearable="false"
              />
            </div>
            <div class="studentDetails__columnHalf">
              <label class="studentDetails__label" v-html="this.labels.nativeLanguage"></label>
              <treeselect
                v-model="studentDetails.language"
                :options="options.language"
                placeholder="Select Language"
                class="studentDetails__select"
                :clearable="false"
              />
            </div>
          </div>
          <div class="studentDetails__row">
            <div class="studentDetails__columnFull">
              <label class="studentDetails__label" v-html="this.labels.passportNumber"></label>
              <input
                type="text"
                class="studentDetails__input"
                v-model="studentDetails.passport_number"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="studentDetails__footer">
      <button
        class="studentDetails__button --save"
        v-on:click="handleSubmit()"
      >{{this.copy.saveChanges}}</button>
      <button class="studentDetails__button --cancel --showMobile" v-on:click="updateActive">
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{this.copy.cancel}}
      </button>
    </footer>
  </div>
</template>

<script>
import { required, minLength, between, email, numeric } from "vuelidate/lib/validators";
import close from "../../icons/close.vue";
import arrowRight from "../../icons/arrowRight.vue";
import Treeselect from "@riophae/vue-treeselect";
import AccountService from "../../../../services/AccountService";
import formElementError from "../FormElementError";

export default {
  name: "studentDetails",
  props: ["selectedOrder"],
  components: {
    Treeselect,
    arrowRight,
    close,
    formElementError,
  },
  data() {
    return {
      isFetching: true,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      studentDetails: {
        first_name: "",
        last_name: "",
        day_of_birth: "",
        month_of_birth: "",
        year_of_birth: "",
        gender: "",
        email: "",
        nationality: "",
        language: "",
        passport_number: ""
      },

      options: {
        gender: [],
        nationality: [],
        language: [],
      },

      copy: {
        title: "Student Details",
        cancel: "Cancel",
        add: "ADD GENERAL INFORMATION",
        passport: "PASSPORT DETAILS",
        saveChanges: "Save changes"
      },
      labels: {
        firstName: "First Name",
        lastName: "Last Name",
        dateOfBirth: "Date of birth",
        gender: "Gender",
        studentEmail: "Student Email",
        nationality: "Nationality",
        nativeLanguage: "Native Language",
        passportNumber: "Passport number (if non-EU)"
      }
    };
  },
  validations: {
    studentDetails: {
      first_name: {
        required
      },
      last_name: {
        required
      },
      email: {
        required,
        email
      },
      day_of_birth: {
        required,
        numeric
      },
      month_of_birth: {
        required,
        numeric
      },
      year_of_birth: {
        required,
        numeric
      },
    },
  },
  methods: {
    updateActive() {
      const { orderId, productId, variationId } = this.$route.params;
      this.$emit("update", {
        data: {
          route: "courseDetail",
          orderId,
          productId,
          variationId
        }
      });
    },
    getStudentDetailsRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId } = this.$route.params;

        const response = await AccountService.getSingleOrderStudentDetails(
          orderId,
          variationId
        );

        this.studentDetails = response.data.data;
        this.options = response.data.options
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    handleSubmit(e) {
      if (e) e.preventDefault();

      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.patchStudentDetailsRequest();
      }

    },
    patchStudentDetailsRequest: async function() {
      try {
        this.isFetching = true;
        const { orderId, variationId, taskId } = this.$route.params;
        const payload = {
          payload: this.studentDetails
        };

        const response = await AccountService.patchStudentDetailsRequest(
          orderId,
          variationId,
          payload
        );

        await AccountService.markTaskAsCompleted(taskId);

        this.$router.back();
        this.$notify({
          group: 'main',
          title: 'Success',
          text: "Student details were updated successfully",
          type: "success",
        });
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    }
  },
  mounted: function() {
    this.getStudentDetailsRequest();
  }
}
</script>
