<template>
  <div>
    <h1
      class="bookingForm__steps__stepTitle --smallerMargin"
      v-html="dataStepTwo.select_your_subjects"
    ></h1>
    <p
      class="bookingForm__steps__copy"
    >As you have selected the Advanced Studies Programme please select your two desired subjects per week</p>
    <div class="bookingForm__steps__dates">
      <div
        class="bookingForm__steps__dates__course"
        v-for="course in coursesToBook"
        :key="course.selectedCourseVariationId"
      >
        <h5 class="bookingForm__steps__dates__course__title">{{course.title}}</h5>
        <div v-for="(week,index) in course.weeks" :key="`${course.selectedCourseVariationId}-${index}`">
          <h5 class="bookingForm__steps__dates__course__title">Weeks {{week.name}}</h5>
          <div class="bookingForm__steps__form">
            <label class="bookingForm__steps__label" v-html="dataStepTwo.select_subject_one"></label>

            <v-select
              :options="week.options"
              placeholder="Please select"
              label="title"
              @input="(event) => { handleInput(week) }"
              v-model="week.selectedSubjects.selectedSubjectFirst"
            />
            <label class="bookingForm__steps__label" v-html="dataStepTwo.select_subject_two"></label>
            <v-select
              :options="week.options"
              placeholder="Please select"
              label="title"
              @input="(event) => { handleInput(week) }"
              v-model="week.selectedSubjects.selectedSubjectSecond"
            />
            <label class="bookingForm__steps__label --tooltip">
              Select alternative subject
              <div class="bookingForm__steps__tooltip" v-if="dataStepTwo.tooltip">
                <span class="bookingForm__steps__tooltip__circle">?</span>
                <span class="bookingForm__steps__tooltiptext" v-html="dataStepTwo.tooltip"></span>
              </div>
            </label>
            <v-select
              :options="week.options"
              placeholder="Please select"
              label="title"
              @input="(event) => { handleInput(week) }"
              v-model="week.selectedSubjects.selectedSubjectAlternative"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { intersection } from "lodash";
export default {
  name: "AdvancedSubjects",
  props: ["activeCourse"],
  data() {
    return {
      store: this.$root.store,
      weeks: []
    };
  },
  computed: {
    dataStepTwo() {
      return this.store.bookingdata.step_two;
    },
    // todo
    // this is work in progress but to finish that i need to finish young pros first and then clean that
    coursesToBook() {
      const { coursesToBook } = this.store;
      const names = ["one & two", "three & four", "five & six", "seven & eight"];
      const newCoursesToBook = [];
      for (let i = 0; i < coursesToBook.length; i++) {
        const course = coursesToBook[i];
        if (
          course.programType &&
          course.programType[0].slug === "advanced-studies-programs"
        ) {
          const weekNumber = this.returnDurationValue(
            course.selectedAttributes
          );
          if (!course.weeks || course.weeks.length === 0) {
            const weeks = [];
            const week = {
              options: intersection(course.subject, course.locationSubjects),
              amount: this.returnDurationValue(course.selectedAttributes),
              selectedSubjects: {
                selectedSubjectFirst: null,
                selectedSubjectSecond: null,
                selectedSubjectAlternative: null
              },
              selectedCourseVariationId: course.selectedCourseVariationId
            };
            // push weeks to array required times
            // for advanced subjects we group 2 weeks into one 
            for (let i = 0; i < weekNumber / 2; i++) {
              const weekToPush = { ...week };
              weekToPush.weekNumber = i + 1;
              weekToPush.name = names[i];
              weeks.push(weekToPush);
            }
            course.weeks = weeks;
          }
          newCoursesToBook.push(course);
        }
      }
      return newCoursesToBook;
    }
  },
  methods: {
    handleInput(event) {
      this.$emit("changeForm", event);
    },
    /**
     * @param array of attributes
     * @return number duration of weeks
     * this takes an array of objects of woo attrs and returns duration in weeks being integer in range <1...k>
     */
    returnDurationValue(attributes) {
      let duration = 0;
      for (let i = 0; i < attributes.length; i++) {
        const attribute = attributes[i];
        if (attribute.name === "duration") {
          duration = parseInt(attribute.option.split(" ")[0], 10);
          break;
        }
      }
      return duration;
    }
  }
};
</script>
