<template>
  <div v-loader="isWorking">
    <h1 class="bookingForm__steps__stepTitle --smallerMargin" v-html="dataStepTwo.optional_extras"></h1>
    <h4
      class="bookingForm__steps__dates__course__location --smallPadding"
    >{{ course.location[0].post_title }}</h4>
    <h5 class="bookingForm__steps__dates__course__title">{{ course.title }}</h5>
    <div class="bookingForm__steps__extras">
      <div
        class="bookingForm__steps__extra"
        v-for="(product, index) in crossSellProducts"
        :key="index"
      >
        <h4 class="bookingForm__steps__extra__title">{{ product.name }}</h4>
        <p
          class="bookingForm__steps__copy"
          v-html="product.short_description.replace(/<[^>]*>?/gm, '')"
        />
        <p class="bookingForm__steps__extra__price">£{{ product.price }}/week</p>
        <div class="bookingForm__steps__extra__form">
          <div class="bookingForm__steps__extra__weeks">
            <label
              class="bookingForm__steps__label --extraLabel"
              v-html="dataStepTwo.select_number_of_weeks"
            ></label>
            <div class="bookingForm__steps__extra__buttons">
              <button @click="decreaseWeekNumber(product.id)">-</button>
              <input
                class="bookingForm__steps__input"
                v-model="product.numberOfWeeks"
                type="text"
                @input="handleSelectChange"
                disabled
              />
              <button @click="increaseWeekNumber(product.id)">+</button>
            </div>
          </div>
          <div class="bookingForm__steps__extra__start">
            <label class="bookingForm__steps__label" v-html="dataStepTwo.start_from"></label>
            <v-select
              :options="product.options"
              placeholder="Please select"
              label="title"
              v-model="product.startsFromWeek"
              @input="handleSelectChange(product.id)"
            ></v-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { bookingAxios } from "./../../../../services/interceptor";
import BookingService from "../../../../services/BookingService";

export default {
  data() {
    return {
      store: this.$root.store,
      crossSellProducts: [],
      selectedCourse: {},
      isWorking: false
    };
  },
  props: ["activeCourse"],
  computed: {
    dataStepTwo() {
      return this.store.bookingdata.step_two;
    },
    course() {
      return this.store.coursesToBook[this.activeCourse];
    }
  },
  created() {
    const {
      selectedCourseVariationId,
      product,
      selectedAttributes
    } = this.course;

    product.cross_sell_ids.map(id => {
      this.getProduct(id, selectedCourseVariationId);
    });
  },
  methods: {
    computeMaxAvailableDuration(durationAttributes) {
      const durationAttributeOptions = durationAttributes[0].options;
      const availableWeekNumbers = durationAttributeOptions.map(option => {
        return parseInt(option.split(" ")[0], 10);
      });
      const maxAllowedWeekNumber = (this.maxAllowedWeekNumber = Math.max(
        ...availableWeekNumbers
      ));
      return maxAllowedWeekNumber;
    },
    /**
     * here we pass max allowed week number and we populate dropdown options based on that
     */
    computeOptions(maxAllowedWeekNumber) {
      const weeksAmount = maxAllowedWeekNumber;
      const options = [];

      for (let index = 1; index <= weeksAmount; index++) {
        options.push(`Week ${index}`);
      }

      return options;
    },
    /**
     * increase and decrease are basically the same
     * We filter all cross sells, and we have product object
     * then we calculate allowed max number of weeks (it has to fit the end of the course)
     * Then we make api call to fetch the variation that is required from us
     */
    increaseWeekNumber(productId) {
      const searchedProduct = this.crossSellProducts.filter(
        product => product.id === productId
      )[0];

      searchedProduct.numberOfWeeks++;

      const startsFromWeek = parseInt(searchedProduct.startsFromWeek, 10) || 0;
      // get current value of max number of weeks
      const maxAllowedWeekNumber =
        this.computeMaxAvailableDuration(searchedProduct.attributes) -
        searchedProduct.numberOfWeeks;
      // calculate and set new value
      searchedProduct.maxAllowedWeekNumber = maxAllowedWeekNumber;
      // prepare select options for dropdown
      searchedProduct.options = this.computeOptions(maxAllowedWeekNumber);
      if (searchedProduct.numberOfWeeks !== 0) {
        this.getProductVariation(
          searchedProduct.id,
          searchedProduct.numberOfWeeks
        );
      }
    },
    decreaseWeekNumber(productId) {
      this.crossSellProducts.map(product => {
        if (product.id === productId) {
          product.numberOfWeeks > 0 ? product.numberOfWeeks-- : 0;

          const startsFromWeek = parseInt(product.startsFromWeek, 10) || 0;
          // get current value
          const maxAllowedWeekNumber =
            this.computeMaxAvailableDuration(product.attributes) -
            product.numberOfWeeks;

          // set new value
          product.maxAllowedWeekNumber = maxAllowedWeekNumber;
          product.options = this.computeOptions(maxAllowedWeekNumber);
          // make api call to get data
          if (product.numberOfWeeks !== 0) {
            this.getProductVariation(product.id, product.numberOfWeeks);
          }
        }
        return product;
      });
    },
    getProduct(id, selectedCourseVariationId) {
      const _self = this;
      _self.isWorking = true;

      bookingAxios
        .get(`${window.wpApiSettings.root}wc/v3/products/${id}/`)
        .then(function(response) {
          const product = response.data;
          const maxAllowedWeekNumber = _self.computeMaxAvailableDuration(
            product.attributes
          );
          const options = _self.computeOptions(maxAllowedWeekNumber);
          const { id, name, short_description, price, attributes } = product;
          _self.crossSellProducts.push({
            id,
            name,
            short_description,
            price,
            numberOfWeeks: 0,
            maxAllowedWeekNumber,
            options,
            startsFromWeek: null,
            selectedCourseVariationId,
            attributes
          });
          _self.isWorking = false;
        })
        .catch(function(error) {
          _self.isWorking = false;
          console.log(error);
        });
    },
    /**
     * what we do here is for cross-sell product like Horse Riding, we fetch it`s variation
     * Then we append that to cross-sell product as selectedVariation
     * Next we emit to step02 and there we map coursesToBook with optionalExtras that has correct variation
     */
    getProductVariation: async function(productId = 0, attributeValue = 0) {
      try {
        this.isWorking = true;
        const response = await BookingService.getProductVariations(
          productId,
          attributeValue
        );
        const parsedResponse = JSON.parse(JSON.stringify(response.data));
        const selectedVariation =
          parsedResponse.length > 0 ? parsedResponse[0] : {};

        this.crossSellProducts = this.crossSellProducts.map(product => {
          if (product.id === productId) {
            product.selectedVariation = selectedVariation;
          }
          return product;
        });
        this.$emit("changeForm", this.crossSellProducts);
      } catch (e) {
        console.log(e);
      } finally {
        this.isWorking = false;
      }
    },
    handleSelectChange(productId) {
      this.$emit("changeForm", this.crossSellProducts);
    }
  }
};
</script>
