<template>
  <div>
    <h1
      class="bookingForm__steps__stepTitle --smallerMargin"
      v-html="dataStepTwo.select_your_subjects"
    ></h1>
    <p
      class="bookingForm__steps__copy"
      v-html="dataStepTwo.as_you_have_selected_the_young_professionals_course_please_select_your_desired_subjects_per_week"
    ></p>
    <div v-for="(course,index) in coursesToBook" :key="index">
      <div class="bookingForm__steps__dates">
        <h5 class="bookingForm__steps__dates__course__title">{{course.title }}</h5>
        <div
          class="bookingForm__steps__dates__course"
          v-for="(week, index) in course.weeks"
          :key="index"
        >
          <h5 class="bookingForm__steps__dates__course__title">Week {{ week.name }}</h5>
          <div class="bookingForm__steps__form">
            <label class="bookingForm__steps__label" v-html="dataStepTwo.select_a_subject"></label>
            <v-select
              :options="week.options"
              v-model="week.selectedSubject"
              placeholder="Please select"
              label="title"
              @input="(event) => { handleInput(week) }"
            ></v-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "YoungSubjects",
  data() {
    return {
      store: this.$root.store,
      weeks: []
    };
  },
  props: ["activeCourse"],
  computed: {
    dataStepTwo() {
      return this.store.bookingdata.step_two;
    },
    coursesToBook() {
      const { coursesToBook } = this.store;
      const names = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine", "ten"];
      const newCoursesToBook = [];
      for (let i = 0; i < coursesToBook.length; i++) {
        const course = coursesToBook[i];
        console.log(0);
        // we want to show only young pros courses here
        if (
          course.programType &&
          course.programType[0].slug === "young-professionals"
        ) {
          console.log(1);
          const weekNumber = this.returnDurationValue(
            course.selectedAttributes
          );
          if (!course.weeks || course.weeks.length === 0) {
            const weeks = [];
            const week = {
              options: course.locationSubjects,
              amount: this.returnDurationValue(course.selectedAttributes),
              selectedSubjects: {
                selectedSubjectFirst: null,
                selectedSubjectSecond: null,
                selectedSubjectAlternative: null
              },
              selectedCourseVariationId: course.selectedCourseVariationId
            };
            // push weeks to array required times
 
            for (let i = 0; i < weekNumber; i++) {
              const weekToPush = { ...week };
              weekToPush.weekNumber = i + 1;
              weekToPush.name = names[i];
              weeks.push(weekToPush);
            }
            course.weeks = weeks;
          }
          newCoursesToBook.push(course);
        }
      }
      return newCoursesToBook;
    }
  },
  methods: {
    handleInput(event) {
      this.$emit("changeForm", event);
    },
    // todo move higher in the tree and emit
    returnDurationValue(attributes) {
      let duration = 0;
      for (let i = 0; i < attributes.length; i++) {
        const attribute = attributes[i];
        if (attribute.name === "duration") {
          duration = parseInt(attribute.option.split(" ")[0], 10);
          break;
        }
      }
      return duration;
    }
  }
};
</script>
