.Accordion {
    &__item {
        &__title {
            padding-right: 15px;

            &:before,
            &:after {
                background: $blue;
                content: "";
                height: 2px;
                right: -10px;
                position: absolute;
                top: 12px;
                width: 10px;
                transition: transform 500ms ease;
            }

            &:after {
                transform: rotate(90deg);
            }

            &:before {
                transform: rotate(180deg);
            }
        }

        &--isOpen {
            .Accordion {
                &__item {
                    &__title {
                        &:after {
                            transform: rotate(0);
                        }

                        &:before {
                            transform: rotate(0);
                        }
                    }

                    &__content {
                        opacity: 1;
                    }
                }
            }
        }

        &__content {
            opacity: 0;
            height: 0;
            transition: all .3s ease-in-out;
            overflow: hidden;
            position: relative;
        }
    }
}
