.BoxIntegration {
  width: 100%;
  margin-top: 200px;
  height: 650px;
}
.BoxIntegration__form {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.BoxIntegration__form__input {
  border: 1px solid grey;
}
.BoxIntegration__form__button {
  border: 1px solid grey;
}
.BoxIntegration__box {
  width: 100%;
}
