.BoxIntegration {
    width: 100%;
    margin-top: 200px;
    height: 650px;

    &__form {
        width: 60%;
        display: flex;
        flex-direction: column;

        &__input {
            border: 1px solid grey;
        }

        &__button {
            border: 1px solid grey;
        }
    }

    &__box {
        width: 100%;
    }
}