.CarouselPagination {
    z-index: 10;
    margin-top: 25px;

    @include breakpoint(desktop_small) {
        opacity: 1;
        visibility: visible;
        margin-top: 0;
    }

    button {
        width: 45px;
        height: 45px;
        border: 1px solid $black;
        background: none;
        margin-right: 10px;
        padding: 0;
        cursor: pointer;
        transition: all .3s;

        @include breakpoint(tablet_big) {
            border: 2px solid $black;
        }

        &:active,
        &:focus {
            outline: 0;
        }

        .icon {
            @include ie11() {
                width: 10px;
                height: 10px;
            }
        }

        &:hover {
            border: 1px solid $greyLighter;

            @include breakpoint(tablet_big) {
                border: 2px solid $greyLighter;
            }

            .icon {
                color: $black !important;
            }
        }
    }

    .icon {
        color: $black;
        padding: 0 !important;
        margin: auto;
        width: 10px;
        height: 10px;

        @include breakpoint(tablet_big) {
            color: $black;
        }
    }

    .swiper-prev {
        .icon {
            transform: rotate(180deg);
        }
    }
}
