.FormElementError {
    color: $red;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 12px;
    line-height: 1;
}

.FormInputWithError {
    border-color: $red !important;

    .vue-treeselect__control {
        border-color: $red !important;
    }
}