.FormConfirmPopup {
    z-index: 1000;
    position: fixed;
    top: 170px;
    left: calc(50% - 332px);
    width: 664px;
    height: 327px;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__close {
        outline: none;
        width: 63px;
        height: 63px;
        border: none;
        background: $brown;
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
        transition: all .3s ease-in-out;
        padding: 0;

        &:hover {
            background: $greyBorder;

            .Icon {
                color: $blue;
            }
        }

        .Icon {
            color: $white;
            width: 15px;
            height: 15px;
            transition: all .3s ease-in-out;
        }
    }

    &__title {
        @include playfairBold();

        font-size: 26px;
        line-height: 1.72;
        text-align: center;
        color: $white !important;
        margin-bottom: 7px;
    }

    &__copy {
        @include latoSemi();

        opacity: .7;
        font-size: 16px;
        line-height: 1.38;
        text-align: center;
        color: rgba(255, 255, 255, .7) !important;
        max-width: 280px;
        margin-bottom: 53px;
    }

    &__buttons {
        display: flex;
        justify-content: center;
    }

    &__button {
        @include latoBold();

        outline: none;
        width: 183px;
        height: 44px;
        border: 0;
        background-color: $brown;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.86;
        text-align: center;
        color: $white;
        margin: 0 10px;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
            background: $green;
        }

        &.--no {
            background: transparent;
            border: 1px solid $white;

            &:hover {
                color: $blue;
                background: $white;
            }
        }
    }
}