.gform_fields {
    font-size: 14px;
}

.gfield_label,
label,
.lost-password {
    @include latoBold();

    color: $greyLighter;
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}

.lost-password {
    margin-top: -10px;

    &:hover {
        color: $white;
    }
}

.gfield_required {
    display: none;
}

.gfield,
.woocommerce-Input {
    margin-bottom: 25px;
    width: 100%;
}

input,
textarea {
    @include latoRegular();

    color: $grey;
    border: 1px solid $border;
    padding: 12px 15px;
    width: 100%;
    max-height: 100px;
    resize: none;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

::-webkit-input-placeholder { /* Chrome */
    color: rgba($black, .9);
}

:-ms-input-placeholder { /* IE 10+ */
    color: rgba($black, .9);
}

::-moz-placeholder { /* Firefox 19+ */
    color: rgba($black, .9);
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: rgba($black, .9);
}

[type="submit"] {
    cursor: pointer;
}

.hidden_sub_label {
    display: none;
}

/* New styles */

/* Datepicker */
#ui-datepicker-div {
    @include latoRegular();

    background: $white;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: none;
    padding: 20px;
    width: 300px;

    .ui-icon {
        color: transparent;
        cursor: pointer;
        font-size: 0;
    }

    .ui-icon:before {
        color: $brown;
        font-family: "FontAwesome";
        font-size: 18px;
    }

    .ui-datepicker-prev {
        float: left;
        width: 10%;

        .ui-icon:before {
            content: "\f060";
        }

        &.ui-state-disabled {
            display: none;
        }
    }

    .ui-datepicker-next {
        float: right;
        width: 10%;

        .ui-icon:before {
            content: "\f061";
            float: right;
        }

        &.ui-state-disabled {
            display: none;
        }
    }

    .ui-datepicker-title {
        select {
            float: left;
            width: 70%;
        }

        .ui-datepicker-month {
            margin: 0 5% 6px;
        }

        .ui-datepicker-year {
            margin: 0 15% 20px;
        }
    }

    .ui-datepicker-today {
        background-color: $brown;
        border-radius: 4px;

        a {
            color: $white;
        }
    }

    table {
        width: 100%;

        td,
        th {
            text-align: center;

            span {
                font-weight: 600;
            }
        }

        td {
            a {
                display: block;
                padding: 5px;
                color: $brown;
            }
        }
    }

    .ui-datepicker-title select {
        padding: 3px 10px;
    }
}

.screen-reader-text {
    display: none;
}

/* Checkboxes */

.gfield_checkbox li input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.gfield_checkbox li input[type=checkbox] + label {
    position: relative;
    overflow: hidden;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
}

.gfield_checkbox li input[type=checkbox] + label:before,
.gfield_checkbox li input[type=checkbox] + label:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    -webkit-transition: .2s;
    transition: .2s;
}

.gfield_checkbox li input[type=checkbox]:not(:checked) + label:after {
    width: 20px;
    height: 20px;
    border: 1px solid $greyLighter;
    top: 0;
}

.gfield_checkbox li input[type=checkbox]:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $greyLighter;
    background-color: transparent;
    z-index: 0;
}

.gfield_checkbox li input[type=checkbox]:not(:checked) + label:before {
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.gfield_checkbox li input[type=checkbox]:checked + label:before {
    left: 2px;
    width: 4px;
    height: 9px;
    border-top: 7px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $greyLighter;
    border-bottom: 2px solid $greyLighter;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

/* Radio Buttons */
.gfield_checkbox li,
.gfield_radio li {
    position: relative;
}

body .gform_wrapper .gfield_radio li label {
    margin: 2px 0 0 21px;
}

body .gform_wrapper ul li.gfield.optional .gfield_radio label::after {
    content: "";
    opacity: 1;
}

body .gform_wrapper .gfield_radio li input[type="radio"] {
    display: none;
}

ul.gfield_radio li[class^="gchoice"] label:before,
ul.gfield_radio li[class^="gchoice"] label:after {
    bottom: 0;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
}

ul.gfield_radio li[class^="gchoice"] label:after {
    content: "";
    background-color: transparent;
    border: solid 1px $greyLighter;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    left: 0;
    position: absolute;
    top: -10px;
    transition: left .25s, background-color .13s;
    width: 13px;
}

ul.gfield_radio input[type="radio"]:checked + label:before {
    content: "●";
    color: $greyLighter;
    font-size: 16px;
    font-weight: 700;
    left: 2.5px;
    text-align: center;
    top: -2.5px;
    z-index: 9;
}

.gform_wrapper .right_label input.medium,
.gform_wrapper .right_label select.medium,
.gform_wrapper .left_label input.medium,
.gform_wrapper .left_label select.medium {
    font-size: 16px;
    width: 80%;
    box-sizing: content-box;
    padding: 3px;
    height: 20px;
}

/* Select */

.gfield_select {
    @include latoRegular();

    color: $grey;
    border: 0;
    padding: 12px 15px;
    width: 100%;
    max-height: 100px;
    resize: none;
    overflow: hidden;

    &:focus,
    &:active {
        outline: 0;
    }
}

.gform_button.button {
    &:hover,
    &:active,
    &:focus {
        background: $blue;
        border: 2px solid $blue;
    }
}

.ginput_container_name {
    display: flex;

    label {
        margin-top: 5px;
    }

    .name_first {
        width: 49%;
        margin-right: 1%;
    }

    .name_last {
        width: 49%;
        margin-left: 1%;
    }
}
