.Loader {
    position: relative;
    transition: opacity .3s ease;
    min-height: 280px;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        display: none;
        background-image: url(../images/spinner-2.gif);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 140px;
        z-index: 10;
    }

    &--isLoading {
        &:before {
            display: block;
        }
    }
}