.LoadingSpinner {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    &__spinner {
        @include latoSemi();

        text-align: center;
        color: $primary;
        // background: url(../images/spinner.gif);
        height: 50px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
