.LoadingSpinner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.LoadingSpinner__spinner {
  background: url(../images/spinner.gif);
  height: 50px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
