.video {
    width: 100%;

    video {
        display: none;
    }

    button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translate3d(0, 0, 0);
        width: 52px;
        height: 52px;
        border: 0;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 1;
        transition: opacity .3s;
        background-color: $white;

        &:active,
        &:hover,
        &:focus {
            outline: 0;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            margin-left: 1px;
            border-style: solid;
            border-width: 7.5px 0 7.5px 13px;
            border-color: transparent transparent transparent $brown;
        }
    }

    &.is-active {
        button {
            opacity: 0;
        }
    }
}
