.vue-treeselect {
    @include latoSemi();

    height: 50px;

    &__menu {
        border-radius: 0 !important;
    }

    &__option {
        &--selected {
            background: #e3f2fd;
        }
    }

    &__control {
        height: 50px !important;
        border-radius: 0;
        outline: none;
    }

    &__single-value {
        display: flex;
        align-items: center;
    }

    &__control-arrow-container {
        padding-right: 20px;
    }

    &__control-arrow {
        color: #000;
    }

    &__option-arrow-container,
    &__option-arrow-placeholder {
        display: none;
    }

    &__list-item {
        border-top: 1px solid $selectGrey;
    }

    &__label {
        padding-bottom: 0 !important;
        line-height: 40px;
        color: $selectGrey;
    }

    &__placeholder {
        // display: flex;
        // align-items: center;
    }
}
