.vs__dropdown-toggle {
    .vs__clear {
        svg {
            path {
                fill: $red;
            }
        }
    }
}

.vs__dropdown-menu {
    border-radius: 0;
    padding: 0;

    .vs__dropdown-option {
        @include latoRegular();

        color: $blue;
        font-size: 14px;
        background: $white;
        transition: all .3s ease-in-out;
        padding: 5px 15px;

        &:hover {
            color: $white;
            background: $blue;
        }
    }

    .vs__no-options {
        @include latoRegular();

        color: $blue;
        font-size: 14px;
        padding: 12px 0;
    }
}

.style-chooser {
    @include latoSemi();

    height: 50px;

    .vs__search::placeholder,
    .vs__dropdown-toggle,
    .vs__dropdown-menu,
    .vs__search {
        background: #fff;
        border: none;
        color: black;
        cursor: pointer;
    }

    .vs__dropdown-toggle {
        height: 50px;
        cursor: pointer;
    }

    .vs__clear,
    .vs__open-indicator {
        fill: black;
    }

    .vs__actions {
        padding-right: 15px;
    }

    .vs__selected {
        padding-left: 10px;
    }
}
