<template>
  <div class="bookingForm__steps">
      <h2 class="bookingForm__steps__stepName" v-html="store.bookingdata.step_one.title"></h2>
      <h1 class="bookingForm__steps__stepTitle">There are no course dates available for this course</h1>
      <p class="bookingForm__steps__copy">Please select a new course from the available options for your age below or alternatively get in touch.</p>
      <div class="bookingSummary__questions__buttons">
        <div class="bookingSummary__questions__button">
          <label v-html="store.bookingdata.summary.email_us"></label>
          <a :href="`mailto:${store.bookingdata.summary.email}`">{{store.bookingdata.summary.email}}</a>
        </div>
        <div class="bookingSummary__questions__button">
          <label v-html="store.bookingdata.summary.call_us"></label>
          <a :href="`tel:${store.bookingdata.summary.tel}`">{{store.bookingdata.summary.tel}}</a>
        </div>
      </div>
      <BookingSelect
        :add-to-courses="addToCourses"
        :value="store.value"
        :sorted-courses="sortedCourses"
        :bookingdata="store.bookingdata"
        :handle-change="handleSelect"
        :hide-button="true"
        label="Add additional course"
      />
      <div class="booking__buttons">
        <div class="booking_buttons__wrapper">
          <p class="booking__buttons__title">Can’t find what you are looking for?</p>
          <button class="booking__button --prev --transparent" @click="goToCourses">View all courses</button>
        </div>
      </div>
      <div class="booking__buttons">
        <div class="booking_buttons__wrapper">
          <button class="booking__button --prev --transparent" @click="goBack">Previous</button>
          <button class="booking__button --next" :disabled="!store.value" @click="addToCourses">Next step</button>
        </div>
      </div>
  </div>
</template>

<script>
import { required, minLength, between } from "vuelidate/lib/validators";
import BookingSelect from "./../../BookingSelect.vue";

import Input from "./../Input";

export default {
  props: {
    bookingdata: null,
    coursesToBook: null,
    studentNationality: null,
    ageDifference: null,
    goBack: null,
  },
  components: {
    Input,
    BookingSelect
  },
  data() {
    const store = this.$root.store;

    return {
      store: this.$root.store,
    };
  },
  computed: {
    sortedCourses: function() {
      return !!this.store.courses && this.store.courses.filter(element => {
        if (element.age) {
          const agesArray = element.age.split("-");
  
          const ageGroups = {
            min: parseInt(agesArray[0], 10),
            max: parseInt(agesArray[1] || agesArray[0], 10),
          }
          
          
  
          if (element.category !== "Optional Extras" && this.ageDifference >= ageGroups.min && this.ageDifference <= ageGroups.max && (element.active_for_nationalities === null || element.active_for_nationalities.includes(this.studentNationality))) {
            return element;
          }
        }
      });
    }
  },
  methods: {
    handleSelect(value) {
      this.$set(this.store, "value", value);
    },
    addToCourses: function() {
      const store = this.store;
      this.$set(
        store,
        "selectedCourses",
        store.selectedCourses.concat([store.value])
      );
      this.$set(this.store, "coursesToBook", [this.store.value]);
      this.$set(this.store, "selectedCourses", []);
      this.$set(store, "selectedCourses",  [this.store.value]);
      this.$set(this.store, "choosenVariations", []);
      this.$set(this.store, "value", null);
      this.$router.push({
        path: "/form/2"
      })
    },
    goToCourses() {
      window.location.replace(`${window.wpApiSettings.home}/courses/`)
    }
  }
};
</script>
  
<style lang="scss" scoped>
.booking__buttons {
    .bookingForm__main & {
        padding: 0 0 50px;
    }
}

.booking__select {
    padding-top: 10px;
    border-top: 1px solid #ebebeb;
    margin-top: 0;
    max-width: 450px;
}

.bookingSummary__questions__buttons {
    padding: 20px 0 40px;

    label {
        text-align: left;
    }
}

.bookingForm__steps__stepTitle {
    margin-bottom: 40px;
}
</style>