<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M13.486 11.787H1.046a.514.514 0 0 1-.51-.519c0-.286.228-.518.51-.518h12.44c.282 0 .51.232.51.518a.514.514 0 0 1-.51.519zm-.364-6.681h-.965V9.26h.308c.283 0 .511.231.511.518a.514.514 0 0 1-.511.518H2.067a.515.515 0 0 1-.511-.518c0-.287.229-.518.511-.518h.308V5.106H1.41a.511.511 0 0 1-.487-.365.525.525 0 0 1 .2-.582L6.978.091a.502.502 0 0 1 .576 0l5.856 4.068a.526.526 0 0 1 .199.582.51.51 0 0 1-.487.365zM9.966 9.26h1.17V5.106h-1.17V9.26zm-2.19 0h1.17V5.106h-1.17V9.26zm-2.19 0h1.17V5.106h-1.17V9.26zm-2.191 0h1.17V5.106h-1.17V9.26zm3.871-8.113L3.061 4.069h8.411L7.266 1.147z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "accommodation"
};
</script>