<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="11" height="11">
    <path fill="#0F2245" fill-rule="evenodd" d="M9.391 1.607a5.462 5.462 0 0 0-3.89-1.61 5.471 5.471 0 0 0-3.893 1.611 5.506 5.506 0 0 0 0 7.779 5.469 5.469 0 0 0 3.891 1.61 5.462 5.462 0 0 0 3.891-1.61 5.462 5.462 0 0 0 1.613-3.89 5.46 5.46 0 0 0-1.612-3.89zm-3.346 7.56a.782.782 0 0 1-.539.206.81.81 0 0 1-.546-.203c-.155-.134-.232-.324-.232-.566 0-.211.074-.391.222-.54a.75.75 0 0 1 .546-.222c.215 0 .399.075.55.222a.725.725 0 0 1 .228.54c0 .239-.075.427-.229.563zm.194-5.677l-.22 2.524c-.024.3-.076.531-.154.691a.402.402 0 0 1-.39.241c-.184 0-.311-.078-.383-.233-.071-.156-.123-.391-.153-.709l-.164-2.452a18.23 18.23 0 0 1-.047-1.029c0-.284.074-.504.222-.663a.773.773 0 0 1 .587-.239c.294 0 .49.102.59.306.098.203.147.495.147.877 0 .226-.011.455-.035.686z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>