<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11">
      <path
        fill="#FF2828"
        fill-rule="evenodd"
        d="M9.391 1.607a5.462 5.462 0 0 0-3.89-1.61 5.475 5.475 0 0 0-3.894 1.611 5.506 5.506 0 0 0 .001 7.778 5.467 5.467 0 0 0 3.891 1.612A5.46 5.46 0 0 0 9.39 9.386a5.458 5.458 0 0 0 1.613-3.889 5.463 5.463 0 0 0-1.612-3.89zM6.045 9.168a.785.785 0 0 1-.539.204.808.808 0 0 1-.546-.202c-.155-.135-.232-.323-.232-.566 0-.21.074-.39.222-.54a.75.75 0 0 1 .546-.222c.215 0 .399.075.55.222.152.15.228.33.228.54 0 .239-.076.427-.229.564zm.194-5.678l-.22 2.524c-.024.301-.076.531-.154.691a.402.402 0 0 1-.39.241c-.184 0-.311-.078-.383-.233-.072-.156-.123-.392-.153-.709l-.164-2.452a17.304 17.304 0 0 1-.047-1.029c0-.284.074-.505.222-.664a.771.771 0 0 1 .587-.237c.294 0 .49.102.59.305.098.203.147.495.147.877 0 .225-.011.455-.035.686z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "alert"
};
</script>