<template>
  <span class="svgIcon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="20px"
      height="18px"
    >
      <path
        fill-rule="evenodd"
        fill="rgb(15, 34, 69)"
        d="M19.110,18.000 L0.884,18.000 C0.394,18.000 -0.004,17.598 -0.004,17.100 L-0.004,2.400 C-0.004,1.903 0.394,1.500 0.884,1.500 L3.499,1.500 L3.499,0.900 C3.499,0.403 3.896,-0.000 4.387,-0.000 C4.877,-0.000 5.275,0.403 5.275,0.900 L5.275,1.500 L14.819,1.500 L14.819,0.900 C14.819,0.403 15.215,-0.000 15.706,-0.000 C16.197,-0.000 16.594,0.403 16.594,0.900 L16.594,1.500 L19.110,1.500 C19.601,1.500 19.997,1.903 19.997,2.400 L19.997,17.100 C19.997,17.598 19.601,18.000 19.110,18.000 ZM18.222,3.300 L16.594,3.300 L16.594,3.900 C16.594,4.396 16.197,4.799 15.706,4.799 C15.215,4.799 14.819,4.396 14.819,3.900 L14.819,3.300 L5.275,3.300 L5.275,3.900 C5.275,4.396 4.877,4.799 4.387,4.799 C3.896,4.799 3.499,4.396 3.499,3.900 L3.499,3.300 L1.773,3.300 L1.773,6.812 L18.222,6.812 L18.222,3.300 ZM18.222,7.713 L1.773,7.713 L1.773,16.200 L18.222,16.200 L18.222,7.713 ZM5.037,11.286 L3.316,11.286 L3.316,9.540 L5.037,9.540 L5.037,11.286 ZM5.037,14.090 L3.316,14.090 L3.316,12.345 L5.037,12.345 L5.037,14.090 ZM8.018,11.286 L6.296,11.286 L6.296,9.540 L8.018,9.540 L8.018,11.286 ZM8.018,14.090 L6.296,14.090 L6.296,12.345 L8.018,12.345 L8.018,14.090 ZM11.001,11.286 L9.277,11.286 L9.277,9.540 L11.001,9.540 L11.001,11.286 ZM11.001,14.090 L9.277,14.090 L9.277,12.345 L11.001,12.345 L11.001,14.090 ZM13.981,11.286 L12.258,11.286 L12.258,9.540 L13.981,9.540 L13.981,11.286 ZM13.981,14.090 L12.258,14.090 L12.258,12.345 L13.981,12.345 L13.981,14.090 ZM16.960,11.286 L15.239,11.286 L15.239,9.540 L16.960,9.540 L16.960,11.286 ZM16.960,14.090 L15.239,14.090 L15.239,12.345 L16.960,12.345 L16.960,14.090 Z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "transfer-icon"
};
</script>