<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="25" viewBox="0 0 12 15">
      <path
        id="_-e-Clipboard"
        data-name="-e-Clipboard"
        class="cls-1"
        d="M2083.35,8824h-10.7a0.636,0.636,0,0,1-.65-0.62v-13.14a0.636,0.636,0,0,1,.65-0.62h10.7a0.636,0.636,0,0,1,.65.62v13.14a0.636,0.636,0,0,1-.65.62h0Zm-10.05-1.24h9.4v-11.9h-9.4v11.9h0Zm6.89-11.13h-4.38a1.317,1.317,0,1,1,0-2.63h4.38a1.317,1.317,0,1,1,0,2.63h0Zm-4.4,2.1h-0.75a0.3,0.3,0,0,0-.3.29v0.71a0.3,0.3,0,0,0,.3.29h0.75a0.293,0.293,0,0,0,.3-0.29v-0.71a0.293,0.293,0,0,0-.3-0.29h0Zm5.47,0.95h-4.17a0.31,0.31,0,1,1,0-.62h4.17a0.31,0.31,0,1,1,0,.62h0Zm-5.47,3.29h-0.75a0.3,0.3,0,0,0-.3.29v0.71a0.3,0.3,0,0,0,.3.29h0.75a0.293,0.293,0,0,0,.3-0.29v-0.71a0.293,0.293,0,0,0-.3-0.29h0Zm5.47,0.95h-4.17a0.305,0.305,0,1,1,0-.61h4.17a0.305,0.305,0,1,1,0,.61h0Zm-5.47-3.07h-0.75a0.3,0.3,0,0,0-.3.29v0.71a0.3,0.3,0,0,0,.3.29h0.75a0.293,0.293,0,0,0,.3-0.29v-0.71a0.293,0.293,0,0,0-.3-0.29h0Zm5.47,0.95h-4.17a0.31,0.31,0,1,1,0-.62h4.17a0.31,0.31,0,1,1,0,.62h0Z"
        transform="translate(-2072 -8809)"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "clipboard-icon"
};
</script>