<template>
  <span class="svgIcon" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 9">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M5.226 4.499l3.621 3.623a.515.515 0 1 1-.728.73L4.498 5.228.877 8.852a.517.517 0 0 1-.729 0 .517.517 0 0 1 0-.73l3.621-3.623L.148.876a.517.517 0 0 1 0-.73.514.514 0 0 1 .729 0L4.498 3.77 8.119.146a.515.515 0 1 1 .728.73L5.226 4.499z"
      />
    </svg>
  </span>
</template>

<script>
  export default {
    name: "close-icon"
  };
</script>
