<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="19" height="16">
    <path fill="#B89E66" fill-rule="evenodd" d="M18.157 16.004H.842a.84.84 0 0 1-.843-.837V1.5A.84.84 0 0 1 .842.664h4.481c.265-.391.693-.665 1.204-.665h6.326c.51 0 .939.274 1.204.665h4.1A.84.84 0 0 1 19 1.5v13.667a.84.84 0 0 1-.843.837zm-.844-13.667h-3.307c-.269.35-.675.591-1.153.591H6.527c-.479 0-.884-.241-1.154-.591H1.686v11.994h15.627V2.337zM3.86 8.925c.446-.158.906-.25 1.368-.31-.798-.363-1.361-1.219-1.361-2.216 0-1.325.994-2.405 2.215-2.405 1.219 0 2.211 1.08 2.211 2.405 0 .997-.561 1.853-1.358 2.216.459.06.915.151 1.355.307.84.307 1.445 1.205 1.384 2.051L9.56 12.66a.842.842 0 0 1-.842.779H3.444a.84.84 0 0 1-.842-.779l-.117-1.689c-.057-.843.547-1.741 1.375-2.046zm2.222-3.256c-.286 0-.528.335-.528.73 0 .395.242.729.528.729.28 0 .524-.34.524-.729 0-.389-.244-.73-.524-.73zm-1.851 6.097H7.93l.062-.906c-.002-.088-.132-.312-.276-.364a4.938 4.938 0 0 0-3.279.002c-.136.049-.266.276-.269.365l.063.903zm7.077-5.839h3.513a.84.84 0 0 1 .844.837.84.84 0 0 1-.844.837h-3.513a.84.84 0 0 1-.844-.837.84.84 0 0 1 .844-.837zm0 2.649h3.513a.84.84 0 0 1 .844.836.841.841 0 0 1-.844.838h-3.513a.84.84 0 0 1-.844-.838.84.84 0 0 1 .844-.836z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>