<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15">
    <path fill="#B89E66" fill-rule="evenodd" d="M7.496 14.991C3.362 14.991 0 11.627 0 7.494S3.362-.002 7.496-.002s7.496 3.363 7.496 7.496c0 4.133-3.362 7.497-7.496 7.497zM1.262 7.494c0 .742.145 1.446.385 2.104h1.778a11.266 11.266 0 0 1-.216-2.104c0-.74.09-1.436.216-2.105H1.647a6.127 6.127 0 0 0-.385 2.105zm2.579 0c0 .738.073 1.443.199 2.104h3.14V5.389H4.041c-.127.661-.2 1.367-.2 2.105zm3.971 2.104h3.139a11.24 11.24 0 0 0 0-4.209H7.812v4.209zm3.754 0h1.78a6.14 6.14 0 0 0 .384-2.104c0-.742-.145-1.446-.385-2.105h-1.78c.127.669.216 1.365.216 2.105s-.089 1.435-.215 2.104zm1.516.632h-1.656c-.289 1.138-.73 2.143-1.306 2.898a6.29 6.29 0 0 0 2.962-2.898zm-4.251 3.346c.875-.62 1.582-1.827 1.977-3.346H7.812v3.479c.347-.02.689-.061 1.019-.133zm-2.672-.001c.332.073.674.114 1.021.134V10.23H4.183c.395 1.518 1.101 2.726 1.976 3.345zm-1.289-.448c-.575-.754-1.016-1.759-1.306-2.897H1.91a6.288 6.288 0 0 0 2.96 2.897zM1.91 4.759h1.654c.29-1.139.731-2.144 1.307-2.899A6.29 6.29 0 0 0 1.91 4.759zm4.252-3.347c-.876.619-1.584 1.827-1.979 3.347H7.18v-3.48c-.346.02-.688.06-1.018.133zm2.667-.001a6.547 6.547 0 0 0-1.017-.132v3.48h2.996c-.395-1.52-1.103-2.729-1.979-3.348zm1.291.448c.576.755 1.017 1.761 1.306 2.9h1.656a6.294 6.294 0 0 0-2.962-2.9z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>