<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="542.5" height="54.5">
    <path fill="#FFF" fill-rule="evenodd" stroke="#0F2245" d="M.5.5h541v53H.5V.5z" opacity=".102"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>