<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M12.851 4.559L9.277 8.045v2.841C9.277 11.5 8.764 12 8.134 12H1.142C.512 12 0 11.5 0 10.886V1.738c0-.04.014-.076.023-.113C.02 1.585 0 1.552 0 1.512 0 .677.694-.001 1.549-.001h7.226c.277 0 .502.219.502.49a.496.496 0 0 1-.502.488H1.549a.541.541 0 0 0-.546.535.54.54 0 0 0 .546.533h6.488c.018 0 .033.008.05.009.016-.001.03-.009.047-.009.63 0 1.143.5 1.143 1.114v.149l1.145-1.117a.526.526 0 0 1 .709 0l1.72 1.677a.48.48 0 0 1 0 .691zm-4.577-1.4a.14.14 0 0 0-.14-.137c-.018 0-.033-.008-.05-.009-.017.001-.031.009-.047.009H1.549a1.57 1.57 0 0 1-.546-.108v7.972c0 .077.061.136.139.136h6.992c.077 0 .14-.061.14-.136V9.023l-.872.85a.504.504 0 0 1-.325.142l-1.827.105a.51.51 0 0 1-.384-.142.482.482 0 0 1-.145-.374l.107-1.783a.493.493 0 0 1 .146-.318l3.3-3.218V3.159zm1.797.758L5.818 8.064l-.022.375c.32.09.555.316.638.634l.394-.023 4.253-4.148-1.01-.985zm.705-.689l-.351.343 1.011.985.351-.342-1.011-.986zM2.067 5.924c0-.135.112-.245.251-.245h3.071c.139 0 .251.11.251.245a.248.248 0 0 1-.251.245H2.318a.248.248 0 0 1-.251-.245zm3.322-1.101H2.318a.247.247 0 0 1-.251-.244c0-.135.112-.245.251-.245h3.071c.139 0 .251.11.251.245a.247.247 0 0 1-.251.244z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "extras"
};
</script>