<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="13" height="15">
    <path fill="#B89E66" fill-rule="evenodd" d="M6.911 14.844a.638.638 0 0 1-.411.147.64.64 0 0 1-.411-.147C5.467 14.326.006 9.685.006 6.336.006 2.842 2.92-.001 6.5-.001c3.58 0 6.494 2.843 6.494 6.337 0 3.349-5.46 7.99-6.083 8.508zM6.5 1.235c-2.881 0-5.227 2.289-5.227 5.101 0 2.171 3.458 5.66 5.227 7.215 1.769-1.555 5.227-5.044 5.227-7.215 0-2.812-2.344-5.101-5.227-5.101zm0 8.192c-1.746 0-3.167-1.386-3.167-3.091 0-1.704 1.421-3.091 3.167-3.091 1.747 0 3.167 1.387 3.167 3.091 0 1.705-1.42 3.091-3.167 3.091zm0-4.945c-1.048 0-1.9.831-1.9 1.854 0 1.023.852 1.855 1.9 1.855s1.9-.832 1.9-1.855c0-1.023-.852-1.854-1.9-1.854z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>