<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10">
    <path fill="#B89E66" fill-rule="evenodd" d="M12.549 9.989H1.44a1.433 1.433 0 0 1-1.442-1.42V1.414c0-.782.647-1.42 1.442-1.42h11.109c.795 0 1.441.638 1.441 1.42v7.155c0 .783-.646 1.42-1.441 1.42zM6.995 6.278l5.71-5.013a.217.217 0 0 0-.156-.066H1.44a.22.22 0 0 0-.156.065l5.711 5.014zm5.772-4.261L9.379 4.992l3.388 2.976V2.017zM1.44 8.785h11.109a.22.22 0 0 0 .156-.066L8.919 5.395 7.198 6.906a.308.308 0 0 1-.408 0L5.07 5.395 1.284 8.719a.22.22 0 0 0 .156.066zm3.17-3.794L1.221 2.016v5.952L4.61 4.991z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>