<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M13.671 14.002H1.33c-.734 0-1.332-.61-1.332-1.36V3.863c0-.75.598-1.359 1.332-1.359h3.004V1.356c0-.75.597-1.36 1.333-1.36h3.667c.734 0 1.332.61 1.332 1.36v1.148h3.005c.734 0 1.331.609 1.331 1.359v8.779c0 .75-.597 1.36-1.331 1.36zM9.398 1.356c0-.036-.03-.067-.064-.067H5.667a.065.065 0 0 0-.064.067v1.148h3.795V1.356zm4.336 2.507c0-.036-.03-.066-.063-.066H1.33a.064.064 0 0 0-.063.066v8.779c0 .036.028.067.063.067h12.341c.033 0 .063-.031.063-.067V3.863zm-5.383 6.911H6.65V9.12H5.026V7.385H6.65V5.732h1.701v1.653h1.622V9.12H8.351v1.654z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "medical-icon"
};
</script>