<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="10" height="14">
    <path fill="#B89E66" fill-rule="evenodd" d="M9.375 14.003H.625c-.346 0-.625-.262-.625-.584V.585C0 .263.279.002.625.002h8.75c.345 0 .626.261.626.583v12.834c0 .322-.281.584-.626.584zM8.75 1.169h-7.5v11.667h7.5V1.169zm-6.875 1.07h6.25c.173 0 .313.13.313.291v7.389c0 .16-.14.291-.313.291h-6.25c-.172 0-.312-.131-.312-.291V2.53c0-.161.14-.291.312-.291zm.312 7.388h5.625V2.821H2.187v6.806zM5 10.819c.409 0 .742.31.742.692 0 .382-.333.692-.742.692-.41 0-.742-.31-.742-.692 0-.382.332-.692.742-.692z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>