<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="11" height="15">
    <path fill="#B89E66" fill-rule="evenodd" d="M10.798 14.394a.642.642 0 0 1-.635.605H.845a.644.644 0 0 1-.636-.604l-.205-3.06C-.07 10.208.79 8.909 1.88 8.499a10.582 10.582 0 0 1 7.241-.002c1.099.411 1.959 1.711 1.88 2.84l-.203 3.057zM8.686 9.716a9.351 9.351 0 0 0-6.37.001c-.614.231-1.074 1.027-1.04 1.531l.163 2.454h8.128l.164-2.454c.034-.505-.424-1.3-1.045-1.532zm-3.13-2.745C3.871 6.971 2.5 5.406 2.5 3.483c0-1.924 1.371-3.488 3.056-3.488 1.686 0 3.056 1.564 3.056 3.488 0 1.923-1.37 3.488-3.056 3.488zm0-5.679c-.982 0-1.782.983-1.782 2.191 0 1.208.8 2.191 1.782 2.191.983 0 1.783-.983 1.783-2.191 0-1.208-.8-2.191-1.783-2.191z"/>
</svg>
  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>