<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M15.969 3.405l-1.342 4.901a1.14 1.14 0 0 1-1.138 1.053H5.526l-.128.433c.471.277.846.711 1.016 1.259h3.345c.282-.907 1.089-1.567 2.049-1.567 1.194 0 2.164 1.012 2.164 2.259 0 1.246-.97 2.261-2.164 2.261-.96 0-1.767-.662-2.049-1.568H6.414c-.282.906-1.089 1.568-2.05 1.568-1.193 0-2.164-1.015-2.164-2.261 0-1.149.828-2.089 1.892-2.231l.249-.838-2.176-6.816-1.68-.501A.698.698 0 0 1 .029.5.664.664 0 0 1 .848.024l2.018.601c.21.064.377.23.447.448l.463 1.449h11.555c.208 0 .404.102.529.276a.715.715 0 0 1 .109.607zm-4.161 9.213c.462 0 .838-.391.838-.875 0-.483-.376-.875-.838-.875-.462 0-.838.392-.838.875 0 .484.376.875.838.875zm-8.281-.875c0 .484.375.875.837.875.463 0 .838-.391.838-.875 0-.483-.375-.875-.838-.875-.462 0-.837.392-.837.875zm.779-7.835l1.219 4.065h7.814l1.112-4.065H4.306zM5.535 5.37a.34.34 0 0 1-.331-.347c0-.192.149-.345.331-.345h7.744c.184 0 .332.153.332.345a.34.34 0 0 1-.332.347H5.535zm.54 1.063h6.694c.184 0 .332.155.332.346a.339.339 0 0 1-.332.346H6.075a.339.339 0 0 1-.331-.346c0-.191.148-.346.331-.346z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "online-shop"
};
</script>