<template>
  <span class="svgIcon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="13px"
      height="9px"
    >
      <path
        fill-rule="evenodd"
        fill="rgb(15, 34, 69)"
        d="M11.669,8.997 L1.347,8.997 C0.611,8.997 0.013,8.426 0.013,7.724 L0.013,2.962 C0.010,2.939 -0.001,2.919 -0.001,2.895 C-0.001,2.871 0.010,2.851 0.013,2.828 L0.013,1.277 C0.013,0.575 0.611,0.004 1.347,0.004 L11.669,0.004 C12.404,0.004 13.002,0.575 13.002,1.277 L13.002,7.724 C13.002,8.426 12.404,8.997 11.669,8.997 ZM11.879,1.277 C11.879,1.167 11.784,1.076 11.669,1.076 L1.347,1.076 C1.231,1.076 1.136,1.167 1.136,1.277 L1.136,2.359 L11.879,2.359 L11.879,1.277 ZM11.879,3.431 L1.136,3.431 L1.136,7.724 C1.136,7.834 1.231,7.925 1.347,7.925 L11.669,7.925 C11.784,7.925 11.879,7.834 11.879,7.724 L11.879,3.431 ZM2.265,5.072 L3.591,5.072 L3.591,6.144 L2.265,6.144 L2.265,5.072 Z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "payment-icon"
};
</script>