<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="14" height="13">
    <path fill="#B89E66" fill-rule="evenodd" d="M11.037 12.998c-2.683 0-5.458-1.147-7.613-3.148l-.043-.042.001-.001C1.147 7.714-.071 5.087-.006 2.553l.004-.188.125-.146c.193-.228.384-.43.584-.614A7.412 7.412 0 0 1 3.262.059c.117-.042.249-.064.393-.064.324 0 1.055.153 1.242.629.329.849.745 1.956 1.047 3.015.083.296.001 1.015-.446 1.277l-1.066.627c.011.008.006.162.144.339.414.526.893 1.048 1.423 1.548.535.488 1.094.931 1.655 1.309.11.075.233.118.333.118l.369-.478.34-.497c.295-.426 1.034-.437 1.118-.437.086 0 .163.008.233.023 1.405.29 2.24.54 3.312.991.476.2.777 1.002.563 1.505a6.784 6.784 0 0 1-2.325 2.913l-.157.115-.403.006zM1.197 2.766c.009 2.162 1.135 4.486 3.037 6.254l.058.054c1.908 1.771 4.36 2.797 6.719 2.805A5.699 5.699 0 0 0 12.8 9.558c-.007-.005-.031-.073-.056-.127-.933-.387-1.699-.611-2.96-.873-.031.005-.093.015-.142.03l-.606.887c-.375.565-1.374.658-2.093.169a15.827 15.827 0 0 1-1.796-1.421 15.715 15.715 0 0 1-1.545-1.68c-.295-.376-.415-.822-.331-1.225a1.08 1.08 0 0 1 .521-.723l.952-.561a.514.514 0 0 0 .025-.154c-.265-.917-.64-1.928-.95-2.733a.562.562 0 0 0-.164-.033A6.268 6.268 0 0 0 1.56 2.395a5.826 5.826 0 0 0-.363.371z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>