<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M13.026 1.273c.211 0 .384.059.511.188.636.637-.389 2.411-2.348 4.328l.526 1.196c.141-.136.291-.211.418-.211.075 0 .142.024.195.077.185.187.032.523-.33.776l.573 1.3c.137-.131.283-.204.408-.204.075 0 .142.025.195.079.183.182.034.516-.321.766l.718 1.634.1 1.584-4.288-5.409a2.905 2.905 0 0 1-.118.097 111.095 111.095 0 0 1-3.952 2.976l-.143 3.277-1.334-2.279c-.265.162-.441.25-.508.25a.037.037 0 0 1-.025-.008c-.034-.036.055-.223.243-.531L1.265 9.824l3.28-.142A112.198 112.198 0 0 1 7.522 5.73l.098-.118-5.411-4.283 1.584.1 1.632.716c.178-.251.396-.398.575-.398.073 0 .14.025.194.079.144.144.081.385-.126.602l1.301.573c.18-.258.401-.41.581-.41.073 0 .141.025.195.08.146.146.081.391-.134.611l1.196.525c1.535-1.566 2.977-2.534 3.819-2.534m0-1.269c-1.202 0-2.606.96-3.785 2.013a1.537 1.537 0 0 0-1.291-.695c-.181 0-.359.03-.533.089A1.532 1.532 0 0 0 6 .477c-.268 0-.532.067-.779.192L4.303.267a1.279 1.279 0 0 0-.429-.104L2.289.062 2.207.059a1.27 1.27 0 0 0-.787 2.264l4.421 3.501c-.724.937-1.399 1.834-1.967 2.617l-2.664.115a1.27 1.27 0 0 0-.586 2.363l1.403.822c.008.278.106.564.364.831.221.23.54.373.86.393l.822 1.405a1.273 1.273 0 0 0 1.403.59 1.27 1.27 0 0 0 .962-1.177l.117-2.662c.792-.575 1.688-1.249 2.617-1.965l3.503 4.418a1.274 1.274 0 0 0 1.451.396 1.27 1.27 0 0 0 .813-1.265l-.101-1.583a1.298 1.298 0 0 0-.105-.43l-.405-.921c.106-.206.171-.422.189-.642a1.54 1.54 0 0 0-.929-1.552c.043-.126.071-.256.082-.389a1.544 1.544 0 0 0-.69-1.433c1.05-1.173 2.008-2.571 2.016-3.77.003-.707-.301-1.163-.56-1.421-.259-.257-.71-.56-1.41-.56z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "plane-icon"
};
</script>