<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
    <path fill="#FFF" fill-rule="evenodd" d="M7 13.997c-3.86 0-7.001-3.138-7.001-6.996C-.001 3.143 3.14.005 7 .005c3.86 0 7.001 3.138 7.001 6.996 0 3.858-3.141 6.996-7.001 6.996zM7 1.244a5.765 5.765 0 0 0-5.761 5.757A5.765 5.765 0 0 0 7 12.758a5.766 5.766 0 0 0 5.761-5.757A5.766 5.766 0 0 0 7 1.244zm3.112 6.251L5.7 10.041a.577.577 0 0 1-.57 0 .571.571 0 0 1-.286-.494V4.456a.57.57 0 0 1 .856-.494l4.412 2.545a.569.569 0 1 1 0 .988z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>