<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M12.516 13.991H1.728c-.346 0-.626-.265-.626-.591v-1.872H.626c-.345 0-.625-.264-.625-.591 0-.326.28-.59.625-.59h.476V8.876H.626c-.345 0-.625-.265-.625-.591 0-.326.28-.591.625-.591h.476v-1.47H.626c-.345 0-.625-.265-.625-.591 0-.327.28-.592.625-.592h.476V3.569H.626c-.345 0-.625-.264-.625-.59 0-.326.28-.591.625-.591h.476V.586c0-.326.28-.591.626-.591h10.788c.346 0 .626.265.626.591V13.4c0 .326-.28.591-.626.591zm-.625-12.814H2.352v1.211h.476c.346 0 .625.265.625.591 0 .326-.279.59-.625.59h-.476v1.472h.476c.346 0 .625.265.625.592 0 .326-.279.591-.625.591h-.476v1.47h.476c.346 0 .625.265.625.591 0 .326-.279.591-.625.591h-.476v1.471h.476c.346 0 .625.264.625.59 0 .327-.279.591-.625.591h-.476v1.281h9.539V1.177zM5.28 7.702A7.04 7.04 0 0 1 9.765 7.7c.764.266 1.337 1.075 1.283 1.806l-.121 1.691c-.021.31-.294.551-.624.551H4.749c-.329 0-.601-.24-.624-.549l-.123-1.693c-.053-.73.521-1.538 1.278-1.804zm.053 2.865h4.386L9.8 9.426c.014-.176-.188-.52-.462-.615a5.736 5.736 0 0 0-3.63.002c-.268.093-.471.438-.458.611l.083 1.143zm2.193-3.468c-1.141 0-2.068-.97-2.068-2.161 0-1.194.927-2.163 2.068-2.163 1.14 0 2.067.969 2.067 2.163 0 1.191-.927 2.161-2.067 2.161zm0-3.143c-.443 0-.817.45-.817.982 0 .539.367.979.817.979.45 0 .817-.44.817-.979 0-.542-.367-.982-.817-.982z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "student"
};
</script>