<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14.5" height="12.5">
      <path
        fill="#10B210"
        fill-rule="evenodd"
        stroke="#10B210"
        d="M5.246 10.088a.456.456 0 0 1-.318-.127l-2.91-2.87a.396.396 0 0 1 .016-.583.459.459 0 0 1 .621.014l2.566 2.532 6.107-6.996a.46.46 0 0 1 .619-.057.397.397 0 0 1 .061.581L5.586 9.937a.452.452 0 0 1-.324.151h-.016z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "tick"
};
</script>