<template>
  <span class="svgIcon">
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
    <path fill="#0F2245" fill-rule="evenodd" d="M6 11.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm-.707-2.327c.033.082.08.153.139.215.059.062.129.11.21.144a.675.675 0 0 0 .261.051.647.647 0 0 0 .474-.195.703.703 0 0 0 .143-.215.66.66 0 0 0 .052-.267.67.67 0 0 0-.195-.482.653.653 0 0 0-.474-.2.626.626 0 0 0-.261.054.652.652 0 0 0-.349.363.706.706 0 0 0-.05.265c0 .098.017.187.05.267zm2.485-5.804a1.474 1.474 0 0 0-.375-.512 1.706 1.706 0 0 0-.575-.326 2.203 2.203 0 0 0-.729-.115 2.473 2.473 0 0 0-1.43.434 2.84 2.84 0 0 0-.344.272l.267.444a.235.235 0 0 0 .22.132c.042 0 .093-.022.154-.066.06-.044.136-.093.229-.147.092-.053.204-.103.335-.148.131-.045.29-.068.478-.068.134 0 .258.019.373.058a.941.941 0 0 1 .302.166.747.747 0 0 1 .272.604.984.984 0 0 1-.115.492c-.076.137-.17.26-.282.37a2.589 2.589 0 0 1-.361.3 3.41 3.41 0 0 0-.354.28 1.335 1.335 0 0 0-.256.312.638.638 0 0 0-.072.395l.072.803h.699l.1-.73a.523.523 0 0 1 .146-.285c.081-.086.178-.173.292-.259l.361-.277c.127-.099.245-.215.354-.348a1.77 1.77 0 0 0 .268-.47c.07-.181.105-.394.105-.641s-.045-.47-.134-.67z"/>
</svg>

  </span>
</template>

<script>
export default {
  name: "arrow-icon"
};
</script>