<template>
  <span class="svgIcon">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15">
      <path
        fill="#0F2245"
        fill-rule="evenodd"
        d="M13.352 13.137h-.671v.822c0 .651-.722 1.041-1.931 1.041-1.208 0-1.929-.39-1.929-1.041v-.822H5.175v.822c0 .651-.722 1.041-1.93 1.041s-1.93-.39-1.93-1.041v-.822h-.67a.64.64 0 0 1-.643-.638V4.468C.002 2.005 2.023 0 4.506 0h4.986c2.482 0 4.503 2.005 4.503 4.468v8.031a.64.64 0 0 1-.643.638zm-3.244.519c.14.035.359.067.642.067.285 0 .503-.032.644-.067v-.519h-1.286v.519zm-7.506 0c.14.035.359.067.643.067.284 0 .503-.032.644-.067v-.519H2.602v.519zm10.106-9.188c0-1.76-1.443-3.192-3.216-3.192H4.506c-1.775 0-3.217 1.432-3.217 3.192v7.393h11.419V4.468zM2.575 3.51h8.847c.531 0 .965.43.965.958v2.791a.963.963 0 0 1-.965.958H2.575a.962.962 0 0 1-.965-.958V4.468c0-.528.433-.958.965-.958zm-.321 3.749c0 .177.144.321.321.321h8.847a.321.321 0 0 0 .321-.321V4.468a.32.32 0 0 0-.321-.319H2.575a.32.32 0 0 0-.321.319v2.791zm1.689 1.413c.532 0 .962.428.962.956s-.43.956-.962.956a.96.96 0 0 1-.964-.956.96.96 0 0 1 .964-.956zm6.111 0c.533 0 .963.428.963.956s-.43.956-.963.956a.96.96 0 0 1-.963-.956.96.96 0 0 1 .963-.956zm.054-5.533H3.889a.64.64 0 0 1-.644-.638c0-.353.288-.639.644-.639h6.219c.356 0 .644.286.644.639a.64.64 0 0 1-.644.638z"
      />
    </svg>
  </span>
</template>

<script>
export default {
  name: "transfer-icon"
};
</script>