<script>
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import axios from "axios";
export default {
  name: "OurSubjects",
  props: ["subjectsdata"],
  components: { Treeselect },
  data() {
    // please keep one case, in js preferably camelCase
    // so: courses_api_url is not so good, better coursesApiUrl
    // consistency is the key
    // all these urls should be in env and then axios instance uses baseUrl
    // keeping them in ACF is not so good idea because managing them is very difficult
    return {
      subjects_api_url: this.subjectsdata.subjects_api_url,
      courses_api_url: this.subjectsdata.courses_api_url,
      location_api_url: this.subjectsdata.location_api_url,
      locationTitlesTreeselect: [],
      locationTitles: [],
      coursesTitlesTreeselect: [],
      age_filters: this.subjectsdata.age_filters,
      title: this.subjectsdata.title,
      text: this.subjectsdata.text,
      subjects_subheader: this.subjectsdata.subjects_subheader,
      search: "",
      subjectsPosts: [],
      coursesPosts: [],
      locationsPosts: [],
      ageFlat: [],
      selectedAge: "All",
      angle_down: this.subjectsdata.angle_down,
      selectedLocation: "All",
      selectedCourse: "All",
      isFetching: true,
      baseUrl: this.subjectsdata.baseUrl
    };
  },
  // created works but api call better in mounted (official docs recommend that)
  // also, naming convention instead of "loadPosts" maybe better "getPostsRequest"
  // then, on success you have getPostsSuccess and on error getPostsError
  created: function() {
    this.getPostsRequest();
  },
  computed: {
    filteredList() {
      return this.orderedUsers.filter(post => {
        return (
          post.categories.indexOf(this.selectedAge) !== -1 &&
          post.categories.indexOf(this.selectedLocation) !== -1 &&
          post.related_course_categories.includes(this.selectedCourse) !== false &&
          post.title.toLowerCase().includes(this.search.toLowerCase())
        );
      });
    },
    orderedUsers: function() {
      return this.subjectsPosts.reverse();
    },
    ageRanges: function() {

    const ages = [];
      const responseAges = [];

        this.ageFlat.forEach(age => {
          const keyToSortBy = parseInt(age.substr(0, age.indexOf("-")), 10);
          // make object to sort by later
          const ageObject = { keyToSortBy, age };
          ages.push(ageObject);
        });

      // sort array of objects
      const sortedAges = ages.sort(function(a, b) {
        return parseInt(a.keyToSortBy, 10) > parseInt(b.keyToSortBy, 10)
          ? 1
          : -1;
      });
      // push to response just the sorted strings
      sortedAges.forEach(sortedAge => {
        responseAges.push(sortedAge.age);
      });
      // remove duplicates
      let response = Array.from(new Set(responseAges));
      const filteredResponse = response.filter(e => e !== "All");
      filteredResponse.unshift("All");
      // sorted array

      const treeselectData = [];
      filteredResponse.forEach(item => {
        const treeselectObject = {
          id: item,
          label: item
        };
        treeselectData.push(treeselectObject);
      });
      // sorted array
      return treeselectData;
    },
    categories: function() {
      let categories = this.subjectsPosts.map(post => {
        return post.category;
      });
      categories = Array.from(new Set(categories));
      return categories;
    },
    locations: function() {
      let locations = this.subjectsPosts.map(post => {
        return post.location;
      });
      locations = Array.from(new Set(locations));
      return locations;
    }
  },
  methods: {
    getPostsRequest: function() {
      this.status = "Loading...";
      const vm = this;
      // promises not so bad, but give async await a go,
      // also, better keep bool isFetchingSth, then you can do v-if="isFetchingSth" and make nice loader states
      // for instance in your case:
      /**
       * getPostsRequest: async function() {
       *  try {
       *   this.isFetchingPosts = true
       *   const response = await axios.get(this.courses_api_url);
       *   vm.subjectPosts = response.data;
       *
       *  }
       *  catch(e) {
       *   getPostsError(e);
       *  } finally {
       *    this.isFetchingPosts = false; }
       *   }
       */
      axios
        .get(`${this.baseUrl}/wp-json/custom/v1/subjects`)
        .then(function(response) {
          vm.isFetching = true;
          vm.subjectsPosts = response.data.posts;
          vm.ageFlat = response.data.ageFlat;
          vm.isFetching = false;
        })
        .catch(function(error) {
          vm.status = "An error" + error;
          vm.isFetching = false;
        });

      axios
        .get(`${this.baseUrl}/wp-json/custom/v1/courses`)
        .then(function(response) {
          vm.coursesPosts = response.data.posts;
          vm.coursesTitlesTreeselect = response.data.categories;
        })
        .catch(function(error) {
          vm.status = "An error" + error;
        });

      axios
        .get(`${this.baseUrl}/wp-json/custom/v1/locations`)
        .then(function(response) {
          vm.locationsPosts = response.data.posts;
          vm.locationTitlesTreeselect = response.data.locationTitlesTreeselect;
          vm.locationsTitles = response.data.locationsTitles;
        })
        .catch(function(error) {
          vm.status = "An error" + error;
        });
    }
  }
};
</script>

<template>
  <main id="Subjects" class="Subjects post-type-page">
    <!-- that is v naughty idea to pass that image as absolute path to qa.
         this needs to be dynamic, be it assets or acf
    We need to fix that asap-->
    <div class="Subjects__left">
      <div
        class="Subjects__left__background"
        style="background-image: url(https://qa-bucksmore.mobilefiveapp.com/wp-content/uploads/2019/08/mbr-1-1200x800-600x0-c-default.jpg);"
      ></div>
      <div class="Subjects__left__content">
        <p class="Subjects__left__content__subtitle" v-html="subjects_subheader"></p>
        <h1 class="Subjects__left__content__title" v-html="title"></h1>
        <p class="Subjects__left__content__text" v-html="text"></p>
        <div class="Subjects__left__content__filters --search__filter">
          <label>Search title:</label>
          <input type="text" v-model="search" placeholder="Search title.." />
        </div>
        <div class="Subjects__left__content__filters">
          <div class="Subjects__left__content__filters__single" data-children-count="1">
            <label>Age range</label>
            <treeselect
              v-model="selectedAge"
              :options="ageRanges"
              placeholder="Select Age"
              class="style-chooser"
              :clearable="false"
              openDirection="below"
              :searchable="false"
            />
          </div>
          <div class="Subjects__left__content__filters__single" data-children-count="1">
            <label>Locations</label>
            <treeselect
              v-model="selectedLocation"
              :options="locationTitlesTreeselect"
              placeholder="Select Location"
              class="style-chooser"
              :clearable="false"
              openDirection="below"
              :searchable="false"
            />
          </div>
          <div class="Subjects__left__content__filters__single" data-children-count="1">
            <label>Course type</label>
            <treeselect
              v-model="selectedCourse"
              :options="coursesTitlesTreeselect"
              placeholder="Select Course Type"
              class="style-chooser"
              :clearable="false"
              openDirection="auto"
              :searchable="false"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="Subjects__right custom-scrollbar">
       <div class = "Subjects__right__loading" v-if="isFetching"> Loading... </div>
      <div class = "Subjects__right__noresults" v-if="filteredList.length === 0 && !isFetching"> We are sorry, we have not found any results. </div>
      <div class="Subjects__right__single" v-for="post in filteredList" v-bind:key="post.id">
        <div
          class="Subjects__right__single__image"
          :style="{ backgroundImage: `url('${post.post_thumbnail}')` }"
        ></div>
        <div class="Subjects__right__single__texts">
          <div>
            <h4 v-html="post.title"></h4>
            <p>
              <span v-html="post.excerpt"></span>
            </p>
          </div>
          <a v-bind:href="decodeURIComponent(post.subjects_link)" class="button is-transparent">
            View courses
            <span class="icon SvgContainer" aria-hidden="true">
              <!-- todo - svg like that is v naughty, let us move that with some package once we have some time-->
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 492.004 492.004"
              >
                <g>
                  <path
                    fill="#000000"
                    d="M484.14,226.886L306.46,49.202c-5.072-5.072-11.832-7.856-19.04-7.856c-7.216,0-13.972,2.788-19.044,7.856l-16.132,16.136
c-5.068,5.064-7.86,11.828-7.86,19.04c0,7.208,2.792,14.2,7.86,19.264L355.9,207.526H26.58C11.732,207.526,0,219.15,0,234.002
v22.812c0,14.852,11.732,27.648,26.58,27.648h330.496L252.248,388.926c-5.068,5.072-7.86,11.652-7.86,18.864
c0,7.204,2.792,13.88,7.86,18.948l16.132,16.084c5.072,5.072,11.828,7.836,19.044,7.836c7.208,0,13.968-2.8,19.04-7.872
l177.68-177.68c5.084-5.088,7.88-11.88,7.86-19.1C492.02,238.762,489.228,231.966,484.14,226.886z"
                  />
                </g>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </main>
</template>
