{% extends "resources/views/woocommerce/emails/email.twig" %}

{% block content %}
  Hi {{data.admin_email}}, <br/>
  £{{data.deposit_amount}} was not charged from {{data.user.display_name}} deposit for order {{data.order_id}}<br/>
  Total amount of order: {{data.order_total}}.<br/>
  Amount left: {{data.order_total}} </br>
  The full balance is required 8 weeks prior to arrival. </br>
{% endblock %}