{% extends "resources/views/woocommerce/emails/email.twig" %}

{% block content %}
  Hi {{data.admin_email}}, <br/>
  {{data.user.display_name}} has just paid {{data.deposit_amount}} deposit for order {{data.order_id}}<br/>
  Total amount of order: {{data.order_total}}.<br/>
  Amount left: {{data.amount_left}} </br>
  The full balance is required 8 weeks prior to arrival. </br>
{% endblock %}