{% extends "resources/views/woocommerce/emails/email.twig" %}

{% block content %}
  Hi {{data.admin_email}}, <br/>
  We have started to charge (by stripe) £{{data.deposit_amount}} deposit for order {{data.order_id}} by {{data.user.display_name}} <br/>
  Total amount of order: {{data.order_total}}.<br/>
  The full balance is required 8 weeks prior to arrival. </br>
{% endblock %}