{% extends "resources/views/woocommerce/emails/email.twig" %}

{% block content %}
  Hi {{data.user.display_name}}, <br/>
  we have not received £{{data.deposit_amount}} deposit for order {{data.order_id}}<br/>
  Total amount of order: {{data.order_total}}.<br/>
  Amount left: {{data.order_total}} <br/>
  The full balance is required 8 weeks prior to arrival. </br>
{% endblock %}