{% extends "resources/views/woocommerce/emails/email.twig" %}

{% block content %}
	Hi {{data.admin_email}},<br/>
    {{data.userdata.firstname}} {{data.userdata.lastname}} has updated the {{data.taskname}} on their account.
{% endblock %}
