.button {
    @include latoBold();

    padding: 12px 15px;
    color: $white;
    background: $brown;
    text-align: center;
    font-size: 13px;
    transition: all .3s;
    border: 2px solid $brown;
    display: inline-block;

    @include breakpoint(tablet) {
        font-size: 14px;
        padding: 15px 25px;
    }

    &:hover,
    &:active,
    &:focus {
        background: transparent;
        border: 2px solid rgba($white, .3);
        color: $white;
    }

    &:focus,
    &:active {
        outline: 0;
    }

    &.is-transparent {
        background: transparent;
        border: 2px solid rgba($white, .3);

        &:hover {
            background: $brown;
            border: 2px solid $brown;
        }
    }

    .woocommerce-form-login & {
        margin-top: 25px;
        width: 175px;
    }

    &.custom-button-gravity {
        width: 175px;
        float: right;
        margin-bottom: 0;

        a {
            color: $white;
        }
    }

    &.gform_button {
        width: 100%;
    }

    &__inTouch {
        display: none;
    }
}

.Button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    padding: 0;

    &--primary {
        @include latoBold();

        font-size: 14px;
        text-align: center;
    }

    &--blue {
        color: $white;
        background: $blue;

        .Icon {
            color: $white;
            transition: all .3s ease-in-out;
        }
    }
}
