.Header {
    display: flex;
    height: 52px;
    align-items: center;
    background: $white;
    width: 100%;
    top: 0;
    z-index: 10001;

    @include breakpoint(phone_big) {
        height: 90px;
    }

    @include ie11() {
        overflow: hidden;
    }

    @include edge() {
        overflow: hidden;
    }

    @include breakpoint(desktop_small) {
        top: 0;
        height: 90px;
    }

    .logged-in & {
        top: 46px;

        @include breakpoint(tablet) {
            top: 32px;
        }

        @include breakpoint(desktop_small) {
            top: 0;
        }
    }

    &__toggler {
        outline: none;
        width: 55px;
        height: 52px;
        cursor: pointer;
        border: none;
        background: $white;
        padding: 0;
        position: relative;
        transform: rotate(0deg);
        transition: .5s ease;

        @include breakpoint(phone_big) {
            width: 90px;
            height: 90px;
        }

        &:hover {
            @include breakpoint(desktop_small) {
                background: $blue;
            }

            .Header__toggler__content span {
                @include breakpoint(desktop_small) {
                    background: $white;
                }
            }
        }

        &.active {
            background: $blue;

            .Header__toggler__content span {
                background: $white;

                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }

                &:nth-child(2) {
                    transform: rotate(45deg);
                    top: -12px;

                    @include breakpoint(phone_big) {
                        top: 6px;
                    }
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: -12px;

                    @include breakpoint(phone_big) {
                        top: 6px;
                    }
                }

                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }

        &__content {
            top: 52px;
            left: 20px;
            width: 30px;
            height: 30px;
            transform: translate(-50%, -50%);
            position: absolute;

            @include breakpoint(phone_big) {
                left: 36px;
            }

            span {
                display: block;
                position: absolute;
                height: 2px;
                width: 16px;
                background: $blue;
                opacity: 1;
                left: 50%;
                transform: rotate(0deg), translateX(-50%);
                transition: .25s ease-in-out;

                &:nth-child(1) {
                    top: -10px;

                    @include breakpoint(phone_big) {
                        top: 0;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: -16px;

                    @include breakpoint(phone_big) {
                        top: 6px;
                    }
                }

                &:nth-child(4) {
                    top: -4px;

                    @include breakpoint(phone_big) {
                        top: 12px;
                    }
                }
            }
        }
    }

    &__nav {
        display: none;
        height: 52px;
        padding-left: 30px;

        @include breakpoint(phone_big) {
            height: 90px;
        }

        @include breakpoint(tablet_big) {
            display: flex;
        }

        &__item {
            @include latoBold();

            font-size: 14px;
            display: flex;
            align-content: center;
            position: relative;
            min-width: 100px;
            justify-content: center;

            &.subjects,
            &.courses,
            &.locations {
                display: none;
            }

            &.is-current {
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 24px;
                    height: 4px;
                    background: $brown;
                    transform: translateX(-50%);
                    transition: all .3s;
                }

                &>a {
                    color: $black;
                }

                &:hover {
                    &:before {
                        background: $white;
                    }
                }
            }

            &--hasChildren {
                transition: background-color .3s;
                cursor: pointer;

                &:hover {
                    color: $white;
                    background-color: $blue;

                    .Header__nav__item__link {
                        color: $white;
                    }
                }

                .Header__nav__item__link {
                    text-align: center;
                    width: 100%;
                }

                &.active {
                    background: $primary;

                    a {
                        color: $white;
                    }

                    &::before {
                        background: $white;
                    }
                }
            }
        }

        a {
            color: $grey;
            line-height: 90px;
            transition: all .3s ease-in-out;

            &:hover {
                color: $white;
                background-color: $blue;
            }
        }

        &__submenu {
            display: none;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 90px;
            left: 0;
            width: 100%;
            height: calc(100vh - 90px);
            overflow-y: scroll;
            position: fixed;
            z-index: 1001;
            transition: all .3s;
            animation: fadeIn .7s;

            @keyframes fadeIn {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            @include hideScrollBar();

            &:hover {
                .Header__nav__item & {
                    color: $grey;
                    background-color: $blue;
                }
            }

            .logged-in & {
                height: calc(100vh - 122px);
            }

            &__item {
                width: 33.33%;
                font-size: 16px;
                height: auto;
                margin-bottom: 25px;
                margin-right: 25px;

                &--is-subjects {
                    margin-bottom: 10px;
                }

                @include breakpoint(desktop_bigger_height) {
                    width: 25%;
                }

                a {
                    @include latoRegular();

                    line-height: 22px;
                    font-size: 14px;
                    color: $grey;
                    padding: 0;
                    display: inline-block;
                }

                &.submenuTitle {
                    @include latoBold();

                    top: 55px;
                    color: $white;
                    font-size: 14px;
                    letter-spacing: 2.1px;
                    margin-bottom: 32px;
                    display: block;
                    position: absolute;
                }

                &__parent {
                    & > a {
                        font-size: 14px;
                        margin-bottom: 30px;
                        color: $white;
                        letter-spacing: 2.1px;
                        font-weight: 600;
                        line-height: 20px;
                    }
                    // children
                    & li {
                        margin-bottom: 15px;

                        a {
                            color: #8791a2 !important;
                            font-size: 14px;

                            &:hover {
                                color: $white !important;
                            }
                        }
                    }
                }
            }

            &__content {
                &__container {
                    opacity: 0;
                    background: $blue;
                    margin: auto;
                    position: absolute;
                    transition: opacity .5s;
                    left: 0;
                    top: 0;
                    padding: 0;
                    min-height: 0;
                    overflow-y: scroll;
                    cursor: default;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    &__menu {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        background: $blue;
                        margin: 0;
                        padding: 40px;
                        width: 70%;

                        &__heading {
                            color: #8791a2;
                            width: 100%;
                            z-index: 999;
                            position: relative;
                            height: 85px !important;
                            margin-top: 0;
                            margin-bottom: 30px;

                            a {
                                padding: 0;
                                line-height: inherit;
                            }

                            &:hover {
                                a {
                                    color: $white;
                                    cursor: pointer;
                                    padding: 0;
                                }

                                svg {
                                    width: 16px;
                                    height: 16px;
                                    fill: $white;
                                }

                                .icon {
                                    opacity: 1;
                                    color: $white;
                                }
                            }

                            .icon {
                                width: 16px;
                                height: 16px;
                                margin-left: 20px;
                                opacity: 0;
                            }
                        }

                        &__list {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            position: relative;
                            margin-top: 0;
                        }
                    }

                    &__featured {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        background: $darkblue !important;
                        width: 30%;
                        margin: 0;
                        padding: 40px;

                        &__title {
                            @include latoBold();

                            font-size: 14px;
                            line-height: 18px;
                            position: relative;
                            background: none !important;
                            color: $white !important;
                            margin: 0;
                            margin-bottom: 30px;
                            letter-spacing: 2.1px;
                            height: 40px !important;
                            display: block;
                            overflow: visible;
                            text-transform: uppercase;
                        }

                        .Header__nav__submenu__item__featured__subject,
                        .Header__nav__submenu__item__featured__course {
                            width: 100% !important;
                            position: relative;
                            display: flex;
                            float: none;
                            margin-bottom: 50px !important;
                            max-width: 100% !important;

                            &__image {
                                width: 100px;
                                min-width: 100px;
                                height: 100px;
                                background-size: cover !important;
                                background-repeat: no-repeat !important;
                                background-position: center center !important;
                                position: relative;

                                &:before {
                                    content: "";
                                    width: 100px;
                                    height: 100px;
                                    background: rgba(255, 255, 255, .9);
                                    position: relative;
                                    z-index: -1;
                                    display: block;
                                    top: 5px;
                                    left: 5px;
                                }

                                a {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    left: 0;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    cursor: pointer;
                                    background: none !important;
                                }
                            }

                            &__content {
                                padding-left: 30px;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                min-height: 100px;
                                max-height: 180px;

                                &__agerange {
                                    @include latoRegular();

                                    width: 100%;
                                    margin-bottom: 10px;
                                    font-size: 14px;
                                    color: $white;
                                }

                                &__title {
                                    margin-bottom: 10px;
                                    max-width: 200px;
                                    color: $white;

                                    h3 {
                                        height: auto;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;

                                        a {
                                            @include playfairBold();

                                            font-size: 20px;
                                            padding: 0;
                                            line-height: 26px !important;
                                            color: $white;
                                            background: none !important;
                                        }

                                        > div {
                                            width: 16px;
                                            height: 16px;
                                            margin-left: 20px;
                                            opacity: 0;
                                            transition: opacity .3s;

                                            svg {
                                                width: 16px;
                                            }
                                        }

                                        &:hover {
                                            > div {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }

                                &__course {
                                    @include latoRegular();

                                    letter-spacing: 1.8px;
                                    text-transform: uppercase;
                                    width: 100%;
                                    line-height: 16px;
                                    color: $white;
                                    max-width: 100%;
                                }
                            }
                        }

                        .Header__nav__submenu__item__featured__subject__content {
                            flex-wrap: wrap;
                            flex-direction: row;
                        }
                    }

                    &.is-courses {
                        display: none;

                        li {
                            margin-bottom: 20px;
                            margin-right: 20px;
                            max-width: 250px;
                            width: 20%;

                            a {
                                line-height: 20px;
                                padding: 0;
                                margin-bottom: 10px;
                            }

                            &.Header__nav__submenu__item__parent {
                                margin-bottom: 15px;

                                a {
                                    @include latoBold();

                                    color: $white;
                                }

                                &:first-of-type {
                                    margin-top: 0;
                                }
                            }

                            &.Header__nav__submenu__item__nested__ul__item {
                                a {
                                    @include latoRegular();

                                    color: #8791a2 !important;
                                    font-size: 14px;

                                    &:hover {
                                        color: $white !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__actions {
        display: flex;
        height: 100%;

        @include breakpoint(desktop_small) {
            width: 385px;
            justify-content: flex-end;
        }

        &__account,
        &__search {
            span {
                svg {
                    margin-left: 3px !important;
                }
            }

            @include edge() {
                span {
                    svg {
                        margin-left: 2px !important;
                    }
                }
            }
        }

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;

            &.Header__actions__like__amount {
                @include latoRegular();

                width: 17px;
                height: 17px;
                background-color: $redLight;
                color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 9px;
                right: 3px;
                transform: none;
                left: auto;
                font-size: 10px;
                line-height: 9px;

                @include breakpoint(phone_big) {
                    top: 31px;
                    right: 10px;
                }
            }
        }

        .Icon {
            color: $black;
            transition: all .3s ease-in-out;
            margin-top: 5px;

            @include edge() {
                width: 20px;
                height: 20px;
            }

            svg {
                transition: none;
            }
        }

        &__apply {
            width: 120px !important;
            background: $brown;
            color: $white;
            border-left: 0 !important;
            position: relative;
            display: none !important;

            @include breakpoint(phone_big) {
                display: block !important;
            }

            span {
                @include latoBold();

                font-size: 12px;
                letter-spacing: .3px;
                width: 100%;
                margin-top: 3px;

                @include breakpoint(desktop_small) {
                    font-size: 16px;
                }
            }
        }

        &__search {
            width: 45px !important;

            @include breakpoint(phone_big) {
                width: 65px !important;
            }
        }

        div {
            border-left: 1px solid $greyLight;
            display: flex;
            align-items: center;
            width: 40px;
            text-align: center;
            transition: all .3s ease-in-out;
            cursor: pointer;

            @include breakpoint(phone_big) {
                width: 62px;
            }

            &:hover {
                @include breakpoint(tablet_big) {
                    background-color: $blue;
                    border-left: 1px solid $blue;

                    .Icon {
                        color: $white;
                    }
                }
            }
        }
    }

    &__logo {
        flex: 1;
        justify-content: center;
        text-align: center;

        img {
            width: 90px;
            display: block;
        }

        &__mobile {
            display: block;

            img {
                @include breakpoint(phone_big) {
                    width: 97px;
                    float: left;
                }
            }

            @include breakpoint(tablet_big) {
                display: none;
            }
        }

        &__desktop {
            display: none;

            @include breakpoint(tablet_big) {
                display: inline-block;

                img {
                    width: 170px;
                    display: block;
                    height: 43.55px;
                }
            }
        }
    }
}

.plus-minus-toggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    &:before,
    &:after {
        background: $white;
        content: "";
        height: 2px;
        left: 6px;
        position: absolute;
        top: 6px;
        width: 10px;
        transition: transform 500ms ease;
    }

    &:after {
        transform-origin: center;
    }

    &.collapsed {
        &:after {
            transform: rotate(90deg);
        }

        &:before {
            transform: rotate(180deg);
        }
    }
}

.langs {
    margin-top: 60px;

    .sideNav__langsMobile & {
        margin-top: 35px;
        margin-bottom: 30px;
    }

    a,
    &__current {
        @include latoBold();

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2.1px;
        text-transform: uppercase;
        color: $grey;
        margin-right: 12px;
        transition: all .3s;

        &:hover {
            color: $white;
        }
    }

    &__current {
        color: $white;
    }
}

.Header__nav__item--hasChildren:hover {
    .Header__nav__submenu {
        display: flex;
        opacity: 1;
    }

    .Header__nav__submenu.Header__nav__submenu__content__container {
        opacity: 1;
    }
}
