{% set available_subjects = component.available_subjects | default(post.get_field('available_subjects')) %}

{% if available_subjects is not empty %}
    <div class="AvailableSubjects component {{ available_subjects.menu_id }}">
        <h2 class="AvailableSubjects__title SectionTitle">{{ available_subjects.title }}</h2>
        <div class="AvailableSubjects__tabs">
            {% for tab in available_subjects.tabs %}
                {% if tab.title is not empty %}
                    <a class="AvailableSubjects__tabs__single" data-target="#item{{ loop.index }}">
                        <span>{{ tab.title }}</span>
                    </a>
                {% endif %}
            {% endfor %}

        </div>
        <div class="AvailableSubjects__tabsContent Accordion">
            {% for tab in available_subjects.tabs %}
                <div class="AvailableSubjects__accordions {% if tab.title is empty %} tabs-empty {% endif %}" id="item{{ loop.index }}">
                    {% for accordion in tab.accordion %}
                        <div class="AvailableSubjects__accordions__single accordionSingle Accordion__item">
                            <div class="AvailableSubjects__accordions__single__header accordionHeader Accordion__item__title">{{ accordion.title }}</div>
                            <div class="AvailableSubjects__accordions__single__content accordionContent Accordion__item__content">
                                <div class="Accordion__item__wrapper">
                                    {{ accordion.text }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
