{% set boxdata = {
    'baseUrl' : site.url,
    'logo' : post.meta('page_builder')[0].box_integration.box_integration_image.url,
    'title' : post.meta('page_builder')[0].box_integration.box_integration_title,
} %}

<div class="Box__form__wrapper component">
    <box-integration :boxdata='{{ boxdata|json_encode }}'></box-integration>
</div>
