{% set course_requirements = component.course_requirements | default(post.get_field('course_requirements')) %}

{% if course_requirements is not empty %}
    <div class="Requirements component {{ course_requirements.menu_id }}">
    <h2 class="Requirements__title SectionTitle">{{ course_requirements.title }}</h2>
        {% for requirement in course_requirements.requirement %}
            <div class="Requirements__single">
                <p class="Requirements__single__title">{{ requirement.title }}</p>
                <div class="Requirements__single__text">{{ requirement.text }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}
