{% set cta_button = component.cta_button | default(post.get_field('cta_button')) %}

{% if cta_button is not empty %}
    <div class="Cta__button component {{ cta_button.menu_id }}">
        <a href="{{ cta_button.url }}" target="_blank" class="button">{{ cta_button.title }}</a>
    </div>
{% endif %}
