{% set faq = component.faq | default(post.get_field('faq')) %}

{% if faq is not empty %}
    <div class="Faq component {{ faq.menu_id }}">
        <div class="Faq__content">
            {% for item in faq.item %}
                <div class="Faq__content__question">
                    <span>{{ item.question }}</span>
                    {{ item.answer }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
