{% set form = component.form | default(post.get_field('form')) %}

{% if form is not empty %}
    <div class="FormModule component {{ form.menu_id }}">
        <div class="FormModule__content">
            <span class="FormModule__content__heading">{{ form.heading }}</span>
            {{ function('do_shortcode', form.shortcode) }}
        </div>
    </div>
{% endif %}
