{% set gallery = component.gallery|default(post.get_field('gallery')) %}

{% if gallery is not empty %}
    <div class="Gallery component {{ gallery.menu_id }}">
        {% if gallery.title is not empty %}
            <h2 class="Gallery__title SectionTitle">{{ gallery.title }}</h2>
        {% endif %}
        <div class="Gallery__swiper swiper-container js-slider_gallery">
            <div class="swiper-wrapper popup-gallery">
                {% for item in gallery.images %}
                    <div class="swiper-slide">
                        <a href="{{ TimberImage(item).src }}" title="{{ item.caption }}">
                            <img src="{{TimberImage(item).src|resize(1400,600)}}" alt="" />
                        </a>
                        {% if item.caption %}
                            <div class="Gallery__caption">{{ item.caption }}</div>
                        {% endif %}
                    </div>
                    {% if loop.index > 1 %}
                        <div class="activeGallery"></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="Gallery__pagination CarouselPagination">
                <button type="button" class="swiper-gallery-prev swiper-prev button-nav">
                    <span class="icon SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "arrow.svg") }}
                    </span>
                </button>
                <div class="Gallery__counter"></div>
                <button type="button" class="swiper-gallery-next swiper-next button-nav">
                    <span class="icon SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "arrow.svg") }}
                    </span>
                </button>
            </div>
        </div>
    </div>
{% endif %}
