{% set header = component.header | default(post.get_field('header')) %}

{% if header is not empty %}
    <div class="HeaderComponent component" style="background-image: url({{ TimberImage(header.image).src|resize(1920) }}">
        <div class="HeaderComponent__content">
            <div class="HeaderComponent__content__subtitle">{{ header.subtitle }}</div>
            <div class="HeaderComponent__content__heading">{{ header.heading }}</div>
        </div>
        <div class="HeaderComponent__overlay"></div>
    </div>
{% endif %}
