{% set hero = component.hero | default(post.get_field('hero')) %}

{% if hero is not empty %}
    <div class="Hero component {{hero.menu_id }}" style="background-image: url({{ TimberImage(hero.image)|resize(700) }})">
        <div class="Hero__expand">
            <img src="{{theme.link}}/resources/assets/images/expand.png" alt="" />
        </div>
    </div>
{% endif %}
