{% set key_facts = component.key_facts | default(post.get_field('key_facts')) %}

{% if key_facts is not empty %}
    <div class="KeyFacts component {{ key_facts.menu_id }}">
        <h2 class="KeyFacts__title SectionTitle">{{ key_facts.title }}</h2>
        <div class="KeyFacts__content">
            {% for fact in key_facts.facts %}
                {% set icon = TimberImage(fact.icon).src %}
                <div class="KeyFacts__content__single">
                    <div class="KeyFacts__content__single__image">
                        <img src="{{ icon }}" alt="icon">
                    </div>
                    <span>{{ fact.title }}</span>
                    <p>{{ fact.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
