{% set margin_control = component.margin_control | default(margin_control|default(post.get_field('margin_control'))) %}
{% set margin_control_mobile = component.margin_control_mobile | default(margin_control_mobile|default(post.get_field('margin_control_mobile'))) %}

{% if margin_control is not empty %}

    <div
        id="{{loop.index|default(component_key|default(""))}}"
        class="js-margin-control component {{ component.margin_menu_id }}"
        style="margin-top: {{ margin_control }}px"
        data-margin-top="{{ margin_control }}"
        data-margin-top-mobile="{{ margin_control_mobile }}"
    ></div>

{% endif %}

