{% set overview = component.overview | default(post.get_field('overview')) %}

{% if overview is not empty %}
    <div class="Overview component {{ overview.menu_id }}">
        {{ overview.content }}
    </div>
{% endif %}

