{% set custom_elements = component.custom_elements | default(post.get_field('custom_elements')) %}
{% set post_type = custom_elements[1].post_type %}
{% set section_title = component.custom_elements.title | default(post.get_field('custom_elements.title')) %}

{% if custom_elements is not empty %}
    {% if custom_elements.custom_locations_slideout == 1 %}
        <div class="LocationSlideout" id="LocationContainer"></div>
    {% endif %}
    <div class="RelatedPosts component {{ custom_elements.menu_id }}">
        {% if custom_elements.type == "locations" %}
            {% set total_posts = custom_elements.custom_locations|length %}
            <div class="RelatedPosts__location{% if total_posts > 1 %} RelatedPosts__location--slider swiper-container{% endif %}">
                {% if total_posts > 1 %}
                    <div class="swiper-wrapper">
                    {% endif %}
                    {% for post in custom_elements.custom_locations %}
                        <article class="RelatedPost{% if total_posts > 1 %} swiper-slide {% endif %}" data-target="{{ loop.index }}">
                            {% set areas = post.terms('area') %}
                            <div class="RelatedPost__content">
                                {% if section_title is not empty %}
                                    <h2 class="RelatedPost__content__title SectionTitle">{{ section_title }}</h2>
                                {% endif %}
                                <h3 class="RelatedPost__content__heading">{{ post.title }}</h3>
                                <p class="RelatedPost__content__name">{{ areas[0].title }}</p>
                                <div class="RelatedPost__content__text">{{ post.preview }}</div>
                                {% if custom_elements.custom_locations_slideout == 1 %}
                                {# button for location. I know it differs only by class and data-attr but this is more clear to understand what is goind on#}
                                    <a class="RelatedPost__content__button button getLocation" data-id={{post.id}}>{{ __('Learn More', 'bucksmore') }}</a>
                                {% else %}
                                    <a href="{{ post.link }}" class="RelatedPost__content__button button">{{ __('Learn More', 'bucksmore') }}</a>
                                {% endif %}

                                {% if total_posts > 1 %}
                                    <div class="RelatedPost__content__pagination CarouselPagination">
                                        <button type="button" aria-label="{{ messages.slider.prev }}" class="swiper-location-course-prev swiper-prev button-nav">
                                            <span class="icon SvgContainer" aria-hidden="true">
                                                {{ function("get_svg", "arrow.svg") }}
                                            </span>
                                        </button>
                                        <div class="RelatedPost__content__pagination__counter">
                                            <span>{{ loop.index }}</span>
                                            /
                                            {{ loop.length }}
                                        </div>
                                        <button type="button" aria-label="{{ messages.slider.next }}" class="swiper-location-course-next swiper-next button-nav">
                                            <span class="icon SvgContainer" aria-hidden="true">
                                                {{ function("get_svg", "arrow.svg") }}
                                            </span>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="RelatedPost__image" style="background-image: url({{ post.thumbnail|resize(705) }})"></div>
                        </article>
                    {% endfor %}
                    {% if total_posts > 1 %}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <div id="{{loop.index|default(component_key|default(""))}}" class="RelatedCourses">
                {% if section_title is not empty %}
                    <h2 class="RelatedCourses__title SectionTitle">{{ section_title }}</h2>
                {% endif %}
                <div class="RelatedCourses__content">
                    {% for post in custom_elements.custom_courses %}
                        {% set ageRange = post.terms('age') %}
                        {% set cats = post.terms('product_cat') %}
                        <article class="RelatedCourse">
                            <a href="{{ post.link }}" class="RelatedCourse__link">
                                <img src="{{ TimberImage(post.thumbnail)|resize(290,245) }}" alt="">
                                <div class="RelatedCourse__details">
                                    <p class="RelatedCourse__details__age">{{ ageRange[0].title }}
                                        {{ __('Years', 'bucksmore') }}</p>
                                    <p class="RelatedCourse__details__category">{{ cats[0].name }}</p>
                                    <h3 class="RelatedCourse__details__title">{{ post.title }}</h3>
                                    <p class="RelatedCourse__details__text">{{ post.course_schoolType }}</p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endif %}
