{% set courses = component.courses | default(post.get_field('courses')) %}

{% if courses is not empty  %}
    {% for course in courses %}
        <a class="SingleRelatedCourse" href="{{course.link}}">
            {% if course.headline is not empty  %}
                <div class="SingleRelatedCourse__headline">{{course.headline}}</div>
            {% endif %}
            {% if course.title is not empty  %}
                <div class="SingleRelatedCourse__title">
                    {{course.title}}
                </div>
            {%  endif %}
            {% if course.preview is not empty  %}
                <div class="SingleRelatedCourse__preview">
                    {{course.preview}}
                </div>
            {% endif %}
            <div class="SingleRelatedCourse__button">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "arrow.svg") }}
                </span>
            </div>
        </a>
    {% endfor %}
{% endif %}
