{% set standard = component.standard | default(post.get_field('standard')) %}

{% if standard is not empty %}
    <div class="StandardText component {{ standard.menu_id }} {% if standard.bg == true %} is-grey {% endif %}">
        {{ standard.text_editor }}
    </div>
{% endif %}
