{% set table = component.table|default(table | default(post.get_field('table'))) %}
{% set table_title = component.table_title|default(table_title | default(post.get_field('table_title'))) %}
{% set table_shortcode = component.shortcode|default(shortcode | default(post.get_field('shortcode'))) %}

<div class="m-table component {{ table.menu_id}}">
    <div class="container">
        <h3 class="SectionTitle">{{ table.title }}</h3>
        <div class="row">
            <div class="m-table_content is-{{loop.index|default('')}}">
                {{ function('do_shortcode', table.shortcode) }}
            </div>
        </div>
    </div>
</div>
