{% set testimonialComponent = component.testimonialComponent | default(post.get_field('testimonialComponent')) %}
{% set menu_id = component.testimonial_menuID | default(post.get_field('testimonial_menuID')) %}

{% if testimonialComponent is not empty %}
    {% if testimonialComponent.type == "ppc" %}
        <div class="TestimonialComponent component is-ppc {{ menu_id }}">
            {% for testimonial in testimonialComponent.testimonial %}
                <div class="TestimonialComponent__content">
                    <span class="TestimonialComponent__content__quote">“</span>
                    <h2 class="TestimonialComponent__content__testimonial">{{ testimonial.fields.testimonial__description }}</h2>
                    <span class="TestimonialComponent__content__author">{{ testimonial.fields.testimonial_author }}</span>
                </div>
            {% endfor %}
            <div class="TestimonialComponent__lines">
                <img src="{{ function("images_path", "testimonial_lines.png") }}" alt=""/>
            </div>
        </div>
    {% elseif testimonialComponent.type == "single" %}
        <div class="TestimonialComponentSingle component {{ menu_id }}">
            {% for testimonial in testimonialComponent.testimonial %}
                <div class="TestimonialComponentSingle__image" style="background-image:url('{{ testimonial.testimonial_listing_image }}')"></div>
                <div class="TestimonialComponentSingle__quote">“</div>
                <h3 class="TestimonialComponentSingle__author">{{ testimonial.testimonial_author }} ({{ testimonial.testimonial_authorCountry }})</h3>
                <span class="TestimonialComponentSingle__location">{{ testimonial.testimonial__location }}</span>
                <p>{{ testimonial.testimonial__description }}</p>
                <a href="{{site.url}}/testimonials" class="button"> {{ __('View all testimonials ', 'bucksmore')}} </a>
            {% endfor %}
        </div>
    {% else %}
        <div class="TestimonialComponentDefault component is-default {{ menu_id }}">
            {% if testimonialComponent.title %}
                <h3 class="TestimonialComponentDefault__title SectionTitle">{{ testimonialComponent.title }}</h3>
            {% endif %}
            <div class="TestimonialComponentDefault__swiper swiper-container js-slider_gallery">
                <div class="swiper-wrapper">
                    {% for testimonial in testimonialComponent.testimonial %}
                        <div class="TestimonialComponentDefault__single swiper-slide">
                            <span class="TestimonialComponentDefault__single__image">
                                <img src="{{ testimonial.testimonial_authorImage }}" alt="">
                                {% if testimonial.testimonial_player == "true" %}
                                    {% include '/components/video.twig' with {
                                        standardURL: testimonial.testimonial__video_file,
                                        youtubeID: testimonial.testimonial__youtube_video_id,
                                        type: testimonial.testimonial__video_typeSelect,
                                    } %}
                                {% endif %}
                            </span>
                            <h3>{{ testimonial.testimonial_author }}</h3>
                            <span>{{ testimonial.testimonial_authorCountry }}</span>
                            <p>
                                <span>{{ testimonial.testimonial__location }}</span>
                                {{ testimonial.testimonial__description }}
                            </p>
                            <div class="TestimonialComponentDefault__single__quote">“</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="TestimonialComponentDefault__pagination CarouselPagination">
                <button type="button" class="swiper-TestimonialComponentDefault-prev swiper-prev button-nav">
                    <span class="icon SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "arrow.svg") }}
                    </span>
                </button>
                <div class="TestimonialComponentDefault__counter"></div>
                <button type="button" class="swiper-TestimonialComponentDefault-next swiper-next button-nav">
                    <span class="icon SvgContainer" aria-hidden="true">
                        {{ function("get_svg", "arrow.svg") }}
                    </span>
                </button>
            </div>
        </div>
    {% endif %}
{% endif %}
