{% set acfData = component.test | default(post.get_field('test')) %}
{% set cmsdata = {
    'welcoming' : acfData.welcoming,
    'reason_label' : acfData.reason_label,
    'reason1' : acfData.reason1,
    'reason2' : acfData.reason2,
    'nationalities_json' : options.nationalities_json_file,
    'baseUrl': site.url,
    'acknowledgement' : acfData.acknowledgement,
    'level' : acfData.level,
    'summary' : acfData.summary,
    'stage06_description' : acfData.task_six,
    'stage06_title' : acfData.task_sixInput,
    'stage07_description' : acfData.task_seven,
    'stage07_title' : acfData.task_sevenInput,
    'thanks_label' : acfData.thanks_label,
    'thanks_desc' : acfData.thanks_desc,
    'contact_label' : acfData.contact_label,
    'phone' : acfData.phone,
    'email' : acfData.email,
    'whatsapp' : acfData.whatsapp,
    'chat_label' : acfData.chat_label,
    'summary2' : acfData.summary2,
    'gdpr_text' : acfData.english_test_gdpr,
    'scoring_rules': acfData.scoring_rules,
    'whatsapp_img': function("images_path", "whatsapp.svg"),
} %}

{% if cmsdata is not empty %}
    <main class="EnglishTestForm">
        <english-test :cmsdata='{{ cmsdata|json_encode }}'></english-test>
    </main>
{% endif %}
