{% set tutors = component.tutors | default(post.get_field('tutors')) %}

{% if tutors is not empty %}
    <div class="Tutors component {{ tutors.menu_id }}">
        <h2 class="Tutors__title SectionTitle">{{ tutors.title }}</h2>
        <div class="Tutors__swiper swiper-container js-slider_gallery">
            <div class="swiper-wrapper">
                {% for tutor in tutors.selectTutors %}
                    <div class="Tutors__single swiper-slide">
                        <span class="Tutors__single__image">
                            {% if tutor.tutors_player == "true" %}
                                <img src="{{ tutor.tutors_image }}" class="image_button">
                                {% include '/components/video.twig' with {
                                standardURL: tutor.tutors_videoStandard.url,
                                youtubeID: tutor.tutors_youtubeID,
                                type: tutor.tutors_video,
                                } %}
                            {% else %}
                                <img src="{{ tutor.tutors_image }}">
                            {% endif %}
                        </span>
                        <h3>{{ tutor.title }}</h3>
                        <span>{{ tutor.tutors_subject[0] }}</span>
                        <p>{{ tutor.tutors_description }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="Tutors__pagination CarouselPagination">
            <button type="button" class="swiper-tutors-prev swiper-prev button-nav">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "arrow.svg") }}
                </span>
            </button>
            <div class="Tutors__counter"></div>
            <button type="button" class="swiper-tutors-next swiper-next button-nav">
                <span class="icon SvgContainer" aria-hidden="true">
                    {{ function("get_svg", "arrow.svg") }}
                </span>
            </button>
        </div>
    </div>
{% endif %}
