{% set video = component.videoComponent|default(post.get_field('videoComponent')) %}

{% if (video is not empty and video.standard is not empty) or (video is not empty and video.youtube_id is not empty) %}
    <div class="VideoComponent component {{ video.menu_id }}">
        {% if video.title is not empty %}
            <h3 class="SectionTitle">{{ video.title }}</h3>
        {% endif %}
        <div class="VideoComponent__element">
            {% include 'parts/video/' ~ video.type|default('standard') ~ '.twig' %}
        </div>
    </div>
{% endif %}
