<template >
  <div class="AccountDetails" v-loader="isWorking">
    <h3 class="AccountDetails__title">Account Details</h3>
    <p
      class="AccountDetails__subtitle"
    >Your password needs to be a minimum of eight (8) characters in length.</p>
    <form class="form" @submit="handleSubmit" novalidate>
      <p class="form__title">
        Change password
        <span v-html="passwordIcon" class="Icon SvgContainer" aria-hidden="true"></span>
      </p>

      <div class="form__element">
        <p
          class="form__element__error"
          v-if="!$v.form.existingPassword.required && $v.form.existingPassword.$error"
        >This field is required</p>
        <label class="form__element__label">Enter existing password</label>
        <input
          v-model="$v.form.existingPassword.$model"
          name="existingPassword"
          type="password"
          placeholder="Enter your existing password"
          class="form__element__input"
          :class="{error: $v.form.existingPassword.$error}"
        />
      </div>
      <div class="form__gap"></div>
      <div class="form__element">
        <p class="form__element__error" v-if="$v.form.newPassword.$error">This field is required</p>
        <p
          class="form__element__error"
          v-if="!$v.form.newPassword.required && $v.form.newPassword.$error"
        >This field is required</p>
        <p
          class="form__element__error"
          v-if="!$v.form.newPassword.minLength && $v.form.newPassword.$error"
        >Password should contain at least 8 characters</p>
        <label class="form__element__label">Enter new password</label>
        <input
          v-model="$v.form.newPassword.$model"
          name="newPassword"
          type="password"
          placeholder="Enter your new password"
          class="form__element__input"
          :class="{error: $v.form.newPassword.$error}"
        />
      </div>
      <div class="form__element">
        <p class="form__element__error" v-if="$v.form.confirmPassword.$error">This field is required</p>
        <p
          class="form__element__error"
          v-if="!$v.form.confirmPassword.required && $v.form.confirmPassword.$error"
        >This field is required</p>
        <p
          class="form__element__error"
          v-if="!$v.form.confirmPassword.minLength && $v.form.confirmPassword.$error"
        >Password should contain at least 8 characters</p>
        <p
          class="form__element__error"
          v-if="!$v.form.confirmPassword.sameAs && $v.form.confirmPassword.$error"
        >Password should be identical</p>
        <label class="form__element__label">Confirm new password</label>
        <input
          v-model="$v.form.confirmPassword.$model"
          name="confirmPassword"
          type="password"
          placeholder="Confirm your new password"
          class="form__element__input"
          :class="{error: $v.form.newPassword.$error}"
        />
      </div>
        <div class="form__apiError" ng-if="updateUserPasswordError">
          {{ updateUserPasswordError }} 
        </div>
      <button type="submit" class="button">Save changes</button>
    </form>

  </div>
</template>

<script>
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import ApiService from "../../../services/ApiService";

export default {
  name: "AccountDetails",
  data() {
    return {
      isWorking: false,
      updateUserPasswordError: null,
      passwordIcon: window.__BUC_GLOBAL__.icons.password,
      form: {
        existingPassword: null,
        newPassword: null,
        confirmPassword: null,
      }
    };
  },
  methods: {
    handleSubmit(event) {
      this.updateUserPasswordError = null;
      event.preventDefault();
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.isWorking = true;
        ApiService.updateUserPassword({
          existingPassword: this.form.existingPassword,
          newPassword: this.form.newPassword
        }).then(() => {
          this.isWorking = false;
          this.$notify({
            group: 'main',
            title: 'Success',
            text: "Your password was updated successfully",
            type: "success",
          });
          this.$emit("onPasswordChangeSuccessful");
        }).catch((err) => {
          this.isWorking = false;
          if (err.response && err.response.data && err.response.data.error) {
            this.updateUserPasswordError = err.response.data.error;
          } else {
            this.updateUserPasswordError = "There was a problem updating your password. Please try again."
          }
        })
      }
    }
  },
  validations: {
    form: {
      existingPassword: {
        required
      },
      newPassword: {
        required,
        minLength: minLength(8)
      },
      confirmPassword: {
        required,
        minLength: minLength(8),
        sameAs: sameAs("newPassword")
      }
    }
  }
};
</script>
