<template>
  <div class="FormConfirmPopup">
    <button class="FormConfirmPopup__close" v-on:click="handleClosePopup()">
      <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
    </button>
    <p class="FormConfirmPopup__title">Do you wish to save your changes?</p>
    <p class="FormConfirmPopup__copy">
      Do you you wish to save your changes before you exit?
    </p>
    <div class="FormConfirmPopup__buttons">
      <button
          class="FormConfirmPopup__button --no"
          v-on:click="handleDiscardConfirmPopup()"
      >No, discard changes</button>
      <button
        class="FormConfirmPopup__button"
        v-on:click="handleConfirmPopup()"
      >Yes, save changes</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "form-element-error",
  props: ["message"],
  data() {
    return {
      closeIcon: window.__BUC_GLOBAL__.icons.close,
    }
  },
  methods: {
    handleClosePopup() {
      this.$emit("onClosePopup");
    },
    handleDiscardConfirmPopup() {
      this.$emit("onDiscardConfirmPopup");
    },
    handleConfirmPopup() {
      this.$emit("onConfirmPopup");
    }
  }
};
</script>