<template >
  <div class="MyBookings">
     <router-view></router-view>
  </div>
</template>

<script>
import MyBookingsMain from "./MyBooking/Main";
import CourseDetail from "./MyBooking/CourseDetail";
import StudentDetails from "./MyBooking/StudentDetails";
import airportTransfer from "./MyBooking/AirportTransfer";
import accommodationPreferences from "./MyBooking/AccommodationPreferences";
import MedicalInformation from "./MyBooking/MedicalInformation";
import Loader from "../../directives/Loader";

export default {
  name: "MyBookings",
  components: {
    MyBookingsMain,
    CourseDetail,
    StudentDetails,
    airportTransfer,
    accommodationPreferences,
    MedicalInformation
  },
  data() {
    return {
      active: "start",
      selectedOrder: {
        orderId: null,
        productId: null
      }
    };
  },
  methods: {
    updateActive(data) {
      const { route, orderId, productId, variationId } = data.data;
      this.selectedOrder.orderId = orderId;
      this.selectedOrder.productId = productId;
      this.selectedOrder.variationId = variationId;
      this.active = route;
    }
  }
};
</script>
