<template >
  <div class="studentDetails ParentDetails" v-loader="isFetching || isUpdating">
    <header class="studentDetails__header">
      <h1 class="studentDetails__title" v-html="copy.title"></h1>
      <button
        class="studentDetails__button studentDetails__button--edit --showDesktop"
        v-on:click="toggleEdit"
        v-if="!edit"
      >
        <span v-html="editIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{ this.copy.edit }}
      </button>
      <button
        class="studentDetails__button --cancel --showDesktop"
        v-on:click="showCancelPopup()"
        v-if="edit"
      >
        <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        {{ this.copy.cancel }}
      </button>
    </header>
    <div class="studentDetails__main" v-if="!edit">
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.leftTitle"></h3>
        <div class="parentGuardian__wrapper">
          <figure class="parentGuardian__figure">
            <component :is="`name`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Name</h3>
            <h4
              class="parentGuardian__data"
            >{{parentDetails.acf.account_user_title}} {{parentDetails.user_name}}</h4>
          </div>
        </div>
        <div class="parentGuardian__wrapper">
          <figure class="parentGuardian__figure">
            <component :is="`country`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Country of residence</h3>
            <h4 class="parentGuardian__data" v-html="parentDetails.acf.account_user_country"></h4>
          </div>
        </div>
        <div class="parentGuardian__wrapper parentGuardian__wrapper--address">
          <figure class="parentGuardian__figure">
            <component :is="`location`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Address</h3>
            <h4 class="parentGuardian__data">
              {{parentDetails.acf.account_user_address_1}}
              <br />
              {{parentDetails.acf.account_user_address_2}}
              <br />
              {{parentDetails.acf.account_user_city}}
              <br />
              {{parentDetails.acf.account_user_zip_code}}
            </h4>
          </div>
        </div>
        <div class="parentGuardian__wrapper">
          <figure class="parentGuardian__figure">
            <component :is="`mail`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Email</h3>
            <h4 class="parentGuardian__data">{{parentDetails.user_email}}</h4>
          </div>
        </div>
        <div class="parentGuardian__wrapper">
          <figure class="parentGuardian__figure">
            <component :is="`phone`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Phone</h3>
            <h4 class="parentGuardian__data">{{parentDetails.acf.account_user_phone}}</h4>
          </div>
        </div>
        <div class="parentGuardian__wrapper">
          <figure class="parentGuardian__figure">
            <component :is="`mobile`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h3 class="parentGuardian__label">Mobile</h3>
            <h4 class="parentGuardian__data">{{parentDetails.acf.account_user_mobile}}</h4>
          </div>
        </div>
      </div>
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.rightTitle"></h3>
        <div
          class="parentGuardian__wrapper --emergency"
          v-for="detail in parentDetails.acf.account_user_emergency_contacts"
          v-bind:key="detail.account_user_emergency_contacts_email"
        >
          <figure class="parentGuardian__figure">
            <component :is="`contact`"></component>
          </figure>
          <div class="parentGuardian__copy">
            <h4
              class="parentGuardian__data"
              v-html="detail.account_user_emergency_contacts_full_name"
            ></h4>
            <h4 class="parentGuardian__data" v-html="detail.account_user_emergency_contacts_email"></h4>
            <h4 class="parentGuardian__data" v-html="detail.account_user_emergency_contacts_phone"></h4>
          </div>
        </div>
      </div>
    </div>
    <form v-if="edit" @submit="handleSubmit" novalidate>
      <div class="studentDetails__main">
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.editleftTitle"></h3>
        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Full name</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.user_name.$model"
            :class="{error: $v.parentDetails.user_name.$error}"
          />
          <form-element-error v-if="$v.parentDetails.user_name.$error" message="Required" />
        </div>
        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Country of residence</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_country.$model"
            :class="{error: $v.parentDetails.acf.account_user_country.$error}"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_country.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Address 1</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_address_1.$model"
            :class="{error: $v.parentDetails.acf.account_user_address_1.$error}"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_address_1.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Address 2</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="parentDetails.acf.account_user_address_2"
          />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">City</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_city.$model"
            :class="{error: $v.parentDetails.acf.account_user_city.$error}"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_city.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Zip Code</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_zip_code.$model"
            :class="{error: $v.parentDetails.acf.account_user_zip_code.$error}"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_zip_code.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Email</label>
          <input
            type="text" class="studentDetails__input"
            v-model.trim="$v.parentDetails.user_email.$model"
            :class="{error: $v.parentDetails.user_email.$error}"
          />
          <form-element-error v-if="!$v.parentDetails.user_email.email && $v.parentDetails.user_email.$error" message="Email must be valid" />
          <form-element-error v-if="!$v.parentDetails.user_email.required && $v.parentDetails.user_email.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Phone</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_phone.$model"
            :class="{error: $v.parentDetails.acf.account_user_phone.$error}"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_phone.$error" message="Required" />
        </div>

        <div class="studentDetails__columnFull">
          <label class="studentDetails__label">Mobile</label>
          <input
            type="text"
            class="studentDetails__input"
            v-model.trim="$v.parentDetails.acf.account_user_mobile.$model"
          />
          <form-element-error v-if="$v.parentDetails.acf.account_user_mobile.$error" message="Required" />
        </div>
      </div>
      <div class="studentDetails__column">
        <h3 class="studentDetails__subtitle" v-html="this.copy.editrightTitle"></h3>
        <div
          v-for="(emergencyContact, index) in parentDetails.acf.account_user_emergency_contacts"
          v-bind:key="'emergencyContact' + index"
          class="studentDetails__emergency-contact"
        >
          <div class="studentDetails__columnFull">
            <label class="studentDetails__label">Full name</label>
            <input
              type="text"
              class="studentDetails__input"
              v-model.trim="emergencyContact.account_user_emergency_contacts_full_name"
            />
          </div>
          <div class="studentDetails__columnFull">
            <label class="studentDetails__label">Email</label>
            <input
              type="text"
              class="studentDetails__input"
              v-model.trim="emergencyContact.account_user_emergency_contacts_email"
            />
          </div>
          <div class="studentDetails__columnFull">
            <label class="studentDetails__label">Mobile</label>
            <input
              type="text"
              class="studentDetails__input"
              v-model.trim="emergencyContact.account_user_emergency_contacts_phone"
            />
          </div>
          <button v-if="index !== 0" v-on:click="removeEmergencyContact(index)" class="studentDetails__button--remove">Remove</button>
        </div>
        <button v-on:click="addNewEmergencyContact()" class="studentDetails__button --cancel --showDesktop --addNew" type="button">{{ this.copy.addNew }}</button>
      </div>
      </div>
       <footer class="studentDetails__footer">
          <button
            class="studentDetails__button --save"
            type="submit"
            v-if="edit"
          >{{this.copy.saveChanges}}</button>
          <button
            class="studentDetails__button --cancel --showMobile"
            v-on:click="toggleEdit"
            v-if="!edit"
          >
            <span v-html="editIcon" class="Icon SvgContainer" aria-hidden="true"></span>
            {{this.copy.edit}}
          </button>
          <button
            class="studentDetails__button --cancel --showMobile"
            v-on:click="toggleEdit"
            v-if="edit"
          >
            <span v-html="editIcon" class="Icon SvgContainer" aria-hidden="true"></span>
            {{this.copy.edit}}
          </button>
        </footer>
    </form>
     <form-confirm-popup
      v-if="showPopup"
      @onClosePopup="handleClosePopup"
      @onDiscardConfirmPopup="handleDiscardConfirmPopup"
      @onConfirmPopup="handleConfirmPopup"
    >
    </form-confirm-popup>
  </div>
</template>

<script>
import { required, minLength, between, email } from "vuelidate/lib/validators";
import contact from "../icons/contact.vue";
import country from "../icons/country.vue";
import location from "../icons/location.vue";
import mail from "../icons/mail.vue";
import mobile from "../icons/mobile.vue";
import name from "../icons/name.vue";
import phone from "../icons/phone.vue";
import AccountService from "../../../services/AccountService";
import formElementError from "./FormElementError";
import formConfirmPopup from "./FormConfirmPopup";

export default {
  name: "ParentDetails",
  props: ["selectedOrder"],
  components: {
    contact,
    country,
    location,
    mail,
    mobile,
    name,
    phone,
    formElementError,
    formConfirmPopup
  },
  data() {
    return {
      edit: false,
      showPopup: false,
      isFetching: true,
      isUpdating: false,
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      editIcon: window.__BUC_GLOBAL__.icons.edit,
      parentDetails: {
        id: "",
        display_name: "",
        user_email: "",
        user_name: "",
        acf: {
          account_user_title: "",
          account_user_address_1: "",
          account_user_address_2: "",
          account_user_city: "",
          account_user_country: "",
          account_user_emergency_contacts: [
            {
              account_user_emergency_contacts_email: "",
              account_user_emergency_contacts_full_name: "",
              account_user_emergency_contacts_phone: ""
            }
          ],
          account_user_mobile: "",
          account_user_phone: "",
          account_user_zip_code: "",
          emergencyContacts: []
        }
      },
      popup: {
        title: "Do you want to save your changes?",
        copy:
          "Are you sure you wish to exit Edit mode without saving your changes?",
        buttonNo: "No, discard changes",
        buttonYes: "Yes, save changes"
      },
      copy: {
        addNew: "+ Add new contact",
        title: "Parent/Guardian Details",
        cancel: "Cancel",
        edit: "Edit details",
        leftTitle: "YOUR DETAILS",
        rightTitle: "EMERGENCY CONTACTS",
        editleftTitle: "EDIT YOUR DETAILS",
        editrightTitle: "EDIT EMERGENCY CONTACTS",
        saveChanges: "Save changes",
        mainCopy:
          "Enter in the following details to see what type of transfer you will be eligible for."
      }
    };
  },
  methods: {
    addNewEmergencyContact() {
      this.parentDetails.acf.account_user_emergency_contacts.push({
        account_user_emergency_contacts_email: '',
        account_user_emergency_contacts_full_name: '',
        account_user_emergency_contacts_phone: '',
      });
    },
    removeEmergencyContact(index) {
      this.$delete(this.parentDetails.acf.account_user_emergency_contacts, index);
    },
    toggleEdit: function(e) {
      e.preventDefault();
      this.edit = !this.edit;
    },
    showCancelPopup() {
      this.showPopup = true;
    },
    handleClosePopup() {
      this.showPopup = false;
    },
    handleConfirmPopup() {
      this.showPopup = false;
      this.handleSubmit();
    },
    handleDiscardConfirmPopup() {
      this.showPopup = false;
      this.edit = false;
      this.getParentDetailsRequest();
    },
    getParentDetailsRequest: async function() {
      try {
        this.isFetching = true;
        this.showPopup = false;

        const response = await AccountService.getParentDetailsRequest();
        const userData = response.data.user.data;

        userData.acf = response.data.acf;
        userData.user_name = response.data.user_name;
        delete userData.user_pass;

        this.parentDetails = userData;
      } catch (e) {
        console.log(e);
      } finally {
        this.isFetching = false;
      }
    },
    handleSubmit(event) {
      if (event) {
        event.preventDefault();
      }

      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.patchParentDetailsRequest();
        this.edit = false;
      }
    },
    patchParentDetailsRequest: async function() {
      try {
        this.isUpdating = true;
        this.showPopup = false;

        const payload = this.parentDetails;
        const response = await AccountService.patchParentDetailsRequest(
          payload
        );

      } catch (e) {
        console.log(e);
      } finally {
        this.isUpdating = false;
        this.edit = false;
        this.getParentDetailsRequest();
      }
    }
  },
  mounted: function() {
    this.getParentDetailsRequest();
  },
  validations: {
    parentDetails: {
      display_name: {
        required
      },
      user_name: {
        required
      },
      user_email: {
        required,
        email,
      },
      acf: {
        account_user_country: {
          required
        },
        account_user_address_1: {
          required,
        },
        account_user_city: {
          required
        },
        account_user_zip_code: {
          required
        },
        account_user_phone: {
          required
        },
        account_user_mobile: {
          required
        }
      }
    }
  }
};
</script>
