<template>
  <div class="PastCourses">
    <router-view></router-view>
  </div>
</template>

<script>
import PastCoursesHelper from "../../../helpers/PastCoursesHelper";
import AccountService from "../../../services/AccountService";

export default {
  name: "MyBookings",
  data() {
    return {
      active: "PastCourses",
      pastCourses: [],
      isWorking: true
    };
  },
  computed: {
    pastCoursesGroupedByMonth() {
      return PastCoursesHelper.groupCoursesByYear(this.pastCourses);
    }
  },
  created() {
    this.getPastOrders();
  },
  methods: {
    updateActive(value) {
      this.active = value;
    },
    setWorking(bool = true) {
      this.isWorking = bool;
    },
    getPastOrders() {
      this.setWorking();
      AccountService.getPastOrders()
        .then(res => {
          this.pastCourses =
            res.data && res.data.length
              ? res.data.filter(item => {
                console.log("item", item);
                return item.dates && item.acf && item.acf.past_course;
              })
              : [];
          this.setWorking(false);
        })
        .catch(e => {
          this.setWorking(false);
        });
    }
  }
};
</script>