<div class="CarouselPagination {% if mainClass is not empty %}{{ mainClass }}__pagination{% endif %}">
    <button type="button" class="swiper-{{ buttonClass }}-prev swiper-prev button-nav">
        <span class="icon SvgContainer" aria-hidden="true">
            {{ function("get_svg", "arrow.svg") }}
        </span>
    </button>
    <button type="button" class="swiper-{{ buttonClass }}-next swiper-next button-nav">
        <span class="icon SvgContainer" aria-hidden="true">
            {{ function("get_svg", "arrow.svg") }}
        </span>
    </button>
</div>
