<div class="video">
    {% if type == "standard" %}
        <video>
            <source src="{{ standardURL }}" type="video/mp4">
        </video>
        <button class="js-video_button"></button>
    {% else %}
        <button class="js-video_button" data-youtube-id="{{ youtubeID }}"></button>
    {% endif %}
</div>
