<template >
  <div class="booking__meta">
    <p
      class="booking__copy"
      v-html="this.bookingdata.start_page.cant_find_what_you_are_looking_for"
    ></p>
    <a
      class="booking__button --viewAll --transparent"
      :href="this.bookingdata.start_page.view_all_courses_url"
      v-html="this.bookingdata.start_page.view_all_courses"
    ></a>
    <a
      class="booking__link --agent"
      :href="this.bookingdata.start_page.i_am_an_agent_url"
      v-html="this.bookingdata.start_page.i_am_an_agent"
    ></a>
  </div>
</template>
  

<script>
export default {
  name: "BookingMeta",
  props: ["bookingdata"]
};
</script>
