<template >
  <div class="booking" v-loader="store.isWorking">
    <notifications group="main" />
    <router-view></router-view>

    <BookingFooter :bookingdata="store.bookingdata" />
  </div>
</template>

<script>
import BookingService from "../../services/BookingService";
import BookingFooter from "./BookingFooter.vue";

export default {
  name: "booking",
  props: ["bookingdata"],
  components: {
    BookingFooter
  },

  data() {
    return {
      store: this.$root.store
    };
  },
  created: function() {
    !!this.bookingdata &&
      this.$set(this.store, "bookingdata", this.bookingdata);
    this.getGroupedCoursesRequest();
  },
  methods: {
    getGroupedCoursesRequest: async function() {
      const vm = this;
      try {
        vm.$set(vm.store, "isWorking", true);
        const response = await BookingService.getGroupedCoursesRequest();
        vm.$set(vm.store, "courses", response.data);
        vm.$set(vm.store, "isWorking", false);
        const urlParams = new URLSearchParams(window.location.search);
        let courseId = urlParams.get('cid');
        if (courseId) {
          courseId = parseInt(courseId, 10);
          const courseBeingReferenced = response.data.find(course => course.id === courseId);
          if (!courseBeingReferenced) return;
          vm.$set(vm.store, "valueGroup", courseBeingReferenced);
          vm.$set(vm.store, "hasCourseFromUrl", true);
        }
      } catch (e) {
        console.log(e);
      } finally {
        vm.$set(vm.store, "isWorking", false);
      }
    }
  }
};
</script>
