<template>
  <div class="bookingForm">
    <div class="bookingForm__content" v-if="!bookingSummary">
      <sidePanel />
      <section class="bookingForm__main">
        <ul class="bookingForm__bullets">
          <li
            v-for="(step,index) in maxSteps"
            v-bind:key="index"
            :class="{ 'active': index == $route.name - 1}"
          ></li>
        </ul>
        <!-- <keep-alive>
          <component
            ref="currentStep"
            :is="steps[currentStepNumber-1]"
            @update="processStep"
            @addStepPayment="addStepPayment"
            @buttonsFalse="buttonsFalse"
            @buttonsTrue="buttonsTrue"
            :bookingdata="store.bookingdata"
            :coursesToBook="store.coursesToBook"
            :nationalities="nationalities"
          ></component>
        </keep-alive>-->
        <router-view
          @update="processStep"
          @addStepPayment="addStepPayment"
          @buttonsFalse="buttonsFalse"
          @buttonsTrue="buttonsTrue"
          :nationalities="nationalities"
        />
        <!-- <div class="booking__buttons" v-if="!disableButtons">
          <div class="booking_buttons__wrapper">
            <button
              v-if="currentStepNumber > 1"
              class="booking__button --prev --transparent"
              @click="goBack"
            >{{store.bookingdata.start_page.previous}}</button>
            <button
              v-if="!stepPayment"
              :disabled="!canGoNext"
              class="booking__button --next"
              @click="goNext"
            >{{store.bookingdata.start_page.next_step}}</button>
            <button
              v-if="stepPayment"
              class="booking__button --next"
              @click="pagebookingSummary"
            >{{store.bookingdata.start_page.confirm_payment}}</button>
          </div>
        </div>-->
      </section>
    </div>
    <div v-if="bookingSummary">
      <bookingSummary :bookingdata="store.bookingdata" :coursesToBook="store.coursesToBook"></bookingSummary>
    </div>
  </div>
</template>

<script>
import sidePanel from "./steps/sidePanel.vue";
import Step01 from "./steps/Step01.vue";
import Step02 from "./steps/Step02.vue";
import Step03 from "./steps/Step03.vue";
import Step04 from "./steps/Step04.vue";
import Step05 from "./steps/Step05.vue";
import bookingSummary from "./steps/bookingSummary.vue";
import nationalitiesJson from "../../../countries.json";
export default {
  name: "BookingForm",
  props: {
    bookingdata: null,
    coursesToBook: null
  },
  components: {
    sidePanel,
    Step01,
    Step02,
    Step03,
    Step04,
    Step05,
    bookingSummary
  },
  data() {
    return {
      store: this.$root.store,
      disableButtons: false,
      steps: ["Step01"],
      stepPayment: false,
      currentStepNumber: 1,
      coursesList: this.$root.store.coursesToBook,
      bookingSummary: false,
      maxSteps: 5,
      disableBack: true,
      disableNext: true,
      hideBack: true,
      canGoNext: false,
      nationalities: nationalitiesJson,
      form: {
        firstName: null,
        lastName: null,
        nationality: null,
        nextStep: null
      }
    };
  },
  computed: {
    length() {
      return this.steps.length;
    },
    currentStep() {
      return this.steps[this.currentStepNumber - 1];
    }
  },
  methods: {
    pagebookingSummary() {
      this.bookingSummary = true;
    },
    addStepPayment() {
      this.stepPayment = true;
    },
    buttonsFalse() {
      this.disableButtons = true;
    },
    buttonsTrue() {
      this.disableButtons = false;
      this.goNext();
    },
    processStep(step) {
      Object.assign(this.form, step.data);
      this.canGoNext = true;
    },
    goNext() {
      this.steps.push(this.form.nextStep);
      this.currentStepNumber++;
      this.canGoNext = false;
    },
    goBack() {
      this.form.nextStep = this.currentStep;
      this.currentStepNumber--;
      this.steps.pop();
    }
  }
};
</script>
