<template >
  <footer class="booking__footer">
    <div class="booking__footer__wrapper">
      <div class="booking__footer__content --trust">
        <img :src="this.bookingdata.footer.trustpilot_image" />
      </div>
      <div class="booking__footer__content --methods">
        <div>
          <h4
            class="booking__footer__content__title"
            v-html="this.bookingdata.footer.accepted_payment_methods"
          ></h4>
        </div>
        <div class="booking__footer__content__cards">
          <img :src="this.bookingdata.footer.american_express_image" />
          <img :src="this.bookingdata.footer.mastercard_image" />
          <img :src="this.bookingdata.footer.paypal_image" />
          <img :src="this.bookingdata.footer.visa_image" />
        </div>
      </div>
      <div class="booking__footer__content --ssl">
        <img :src="this.bookingdata.footer.ssl_secure_image" />
      </div>
    </div>
  </footer>
</template>
  

<script>
export default {
  name: "BookingFooter",
  props: ["bookingdata"]
};
</script>
