<template >
  <div class="booking__wrapper" id="startForm" v-loader="isWorking">
    <h1
      class="booking__title"
      v-html="!this.store.selectedCourses.length ? this.store.bookingdata.start_page.select_a_course_title : this.store.bookingdata.start_page.complete_your_booking"
    ></h1>
    <p
      class="booking__copy"
      v-if="this.store.selectedCourses.length == 0"
      v-html="this.store.bookingdata.start_page.select_a_course_copy"
    ></p>

    <BookingList
      :by-age="byAge"
      :show-modal-window="showModalWindow"
      :select-single="selectSingle"
      :remove-from-courses="removeFromCourses"
      :bookingdata="store.bookingdata"
    />
    <BookingSelect
      :add-to-courses="addToCourses"
      :value="store.value"
      :valueGroup="store.valueGroup"
      :sorted-courses="sortedCourses"
      :children-courses="childrenCourses"
      :total-courses-number="this.store.selectedCourses.length"
      :bookingdata="store.bookingdata"
      :handle-change-group="handleSelectGroup"
      :handle-change="handleSelect"
    />
    <BookingMeta :bookingdata="store.bookingdata" />
    <BookingModal
      :bookingdata="store.bookingdata"
      :close-modal="closeModal"
      :close-modal-window="closeModalWindow"
      :continue-booking="continueBooking"
    />
  </div>
</template>

<script>
/**
 * few questions:
 * - why we need both coursesToBook and selectedCourses?
 * - why we need choosenVariations - no way to bind that later to a course and show data without crazy looping
 * - can we have one keyed object (later) with coursesToBook like:
 * { {variationId: [courseDataHere as we currently have] } }
 * then what could happen is we could easily access given product by variationId like so:
 * coursesToBook[selectedCourseVariationId] and not looping
 * if in need of array operations we could do
 * Object.keys(coursesToBook).someArrayFunc(course => {coursesToBook[course]})
 * and we are in businesss. We currently access that array by its indexes and that is not fantastic.
 */
import BookingList from "./BookingList.vue";
import BookingSelect from "./BookingSelect.vue";
import BookingMeta from "./BookingMeta.vue";
import BookingModal from "./BookingModal.vue";
import { countBy, set } from "lodash";
import BookingService from "../../services/BookingService";

export default {
  name: "BookingStart",
  props: ["bookingdata"],
  components: {
    BookingList,
    BookingSelect,
    BookingMeta,
    BookingModal
  },

  data() {
    return {
      store: this.$root.store,
      closeModal: true,
      childrenCourses: [],
      isWorking: false
    };
  },
  watch: {
    hasCourseFromUrl(newVal, oldVal) {
      if (newVal === true && !oldVal) {
        this.handleSelectGroup(this.store.valueGroup);
      }
    }
  },
  computed: {
    byAge() {
      return this.store.selectedCourses.reduce((grouped, course) => {
        (grouped[course.age] = grouped[course.age] || []).push(course);
        return grouped;
      }, {});
    },
    hasCourseFromUrl() {
      return this.store.hasCourseFromUrl;
    },
    selectedIds() {
      return this.store.selectedCourses.map(element => element.id) || [];
    },
    /**
     * returns frequency of array
     * @param ["1","2","3","3"]
     * @return {1: 1, 2: 1, 3:2}
     * */

    selectedIdsElementCount() {
      return countBy(this.selectedIds);
    },
    /**
     * for advanced subjects, we can allow multiple booking of same course
     * we check how many variations given course has - for instance 2
     * That means we can allow up to 2 booking of same course and no more then that.
     */
    sortedCourses: function() {
      function compare(a, b) {
        if (a.title < b.title) return -1;
        if (a.title > b.title) return 1;
        return 0;
      }

      // todo - this is temporary until we will not switch that to taxonomy, for now it is just quick POC
      const courses = this.store.courses.filter(element => {
        // this has to be taxonomy not hardcoded string
        if (element.category === "Optional Extras") return false;
        // this has to be taxonomy
        // if we do not deal with advanced subjects, we allow one and only one booking
        if (
          this.selectedIds.includes(element.id) &&
          element.category !== "University Experience"
        ) {
          return false;
        }
        // for each advanced subject we can book only the amount not bigger then variations length
        if (
          this.selectedIds.includes(element.id) &&
          element.variations.length <= this.selectedIdsElementCount[element.id]
        ) {
          return false;
        }
        return true;
      });
      return courses.sort(compare);
    }
  },
  methods: {
    handleSelectGroup(value) {
      this.$set(this.store, "valueGroup", value);
      // make children for child courses
      if (this.value !== null) {
        this.getGroupedCourseChildrenRequest(value.id);
      }
    },
    handleSelect(value) {
      this.$set(this.store, "value", value);
    },
    /**
     * keyed object following the pattern
     * productCount - how many same products are added - we need that in second step for subject
     * { productId: { productId: int, variationsIds: array, productCount: int }, ...}
     */
    prepareSelectedProductsIdsMap() {
      const selectedProductsIdsMap = {};
      if (this.store.selectedCourses.length > 0) {
        this.store.selectedCourses.forEach(course => {
          const object = {
            productId: course.id,
            variationsIds: course.variationsIds,
            productCount: this.selectedIdsElementCount[course.id]
          };
          selectedProductsIdsMap[course.id] = object;
        });
      }
      this.$set(this.store, "selectedProductsIdsMap", selectedProductsIdsMap);
      return selectedProductsIdsMap;
    },
    countProductNumber() {
      const { selectedCourses, selectedProductsIdsMap } = this.store;
      const newSelectedCourses = selectedCourses.map(selectedCourse => {
        const selectedProductsIdsMapParsed = JSON.parse(
          JSON.stringify(selectedProductsIdsMap)
        );
        const { productCount } = selectedProductsIdsMapParsed[
          selectedCourse.id
        ];
        set(selectedCourse, "productCount", productCount);
        return selectedCourse;
      });
      this.$set(this.store, "selectedCourses", newSelectedCourses);
    },
    selectSingle(post) {
      this.$set(this.store, "bookSingle", post);
      this.$set(this.store, "coursesToBook", [this.store.bookSingle]);
      this.$set(this.store, "start", false);
      this.continueBooking();
    },
    remove(id) {},
    continueBooking() {
      sessionStorage.setItem("bucksmoreCart", JSON.stringify(this.store));
      this.$router.push({
        path: "/form"
      });
    },
    showModalWindow(ageGroup) {
      this.closeModal = false;
      this.$set(this.store, "coursesToBook", ageGroup);
    },
    closeModalWindow() {
      this.closeModal = true;
    },
    addToCourses: function() {
      const store = this.store;
      this.$set(
        store,
        "selectedCourses",
        store.selectedCourses.concat([store.value])
      );

      this.remove(this.store.value.id);
      this.$set(this.store, "value", null);
      this.prepareSelectedProductsIdsMap();
      this.countProductNumber();
    },
    removeFromCourses: function(index, post) {
      this.$set(this.store, "savedCourse", post);
      this.$set(
        this.store,
        "selectedCourses",
        this.store.selectedCourses.filter(element => {
          if (element.id === post.id) return false;
          return true;
        })
      );
    },
    getGroupedCourseChildrenRequest: async function(groupedProductId = 0) {
      try {
        this.isWorking = true;
        const response = await BookingService.getGroupedCourseChildrenRequest(
          groupedProductId
        );
        this.childrenCourses = response.data;
      } catch (e) {
        console.log(e);
      } finally {
        this.isWorking = false;
      }
    }
  }
};
</script>
