<template >
  <div>
    <div v-if="!closeModal" class="booking__modal">
      <div class="booking__modal__wrapper">
        <button type="button" class="booking__modal__close Button Button--blue" v-on:click="closeModalWindow">
          <span v-html="closeIcon" class="Icon SvgContainer" aria-hidden="true"></span>
        </button>
        <h1
          class="booking__title"
          v-html="computedTitle"
        ></h1>
        <p
          class="booking__copy"
          v-html="computedCopy"
        ></p>
        <div class="booking__modal__buttons" v-if="showButtons">
          <button
            class="booking__button Button Button--primary"
            v-on:click="continueBooking"
          >{{bookingdata.start_page.yes_continue_booking}}</button>
          <button
            class="booking__button Button Button--primary --transparent"
            v-on:click="closeModalWindow"
          >{{bookingdata.start_page.no_book_individually}}</button>
        </div>
      </div>
    </div>
    <div v-if="!closeModal" class="booking__modal__overlay" aria-hidden="true"></div>
  </div>
</template>
  

<script>
export default {
  name: "BookingModal",
  data() {
    return {
      closeIcon: window.__BUC_GLOBAL__.icons.close,
      bookingdata: this.$root.store.bookingdata,
    }
  },
  props: {
    title: {
      type: String,
      default: "",
    },
    copy: {
      type: String,
      default: "",
    },
    showButtons: {
      type: Boolean,
      default: true,
    },
    closeModal: Boolean,
    closeModalWindow: Function,
    continueBooking: Function,
  },
  computed: {
    computedTitle() {
      return this.title ? this.title : this.bookingdata.start_page.are_these_courses_for_the_same_student;
    },
    computedCopy() {
      return this.copy ? this.copy : this.bookingdata.start_page.if_these_courses_are_for_the_same_student_please_continue_booking;
    },
  }
};
</script>
