<template >
  <div class="booking__select">
    <label v-if="totalCoursesNumber == 0" v-html="label || this.bookingdata.start_page.select_a_course_label"></label>
    <label v-else v-html="label || this.bookingdata.start_page.select_a_additional_course_label"></label>
    <form @submit.prevent="addToCourses" class="booking__select__wrapper">
      <v-select
        :value="valueGroup"
        :options="sortedCourses"
        placeholder="Select a course"
        label="title"
        @input="handleChangeGroup"
      ></v-select>
      <v-select
        :value="value"
        :options="childrenCourses"
        placeholder="Select a course"
        label="children_title"
        @input="handleChange"
        v-if="valueGroup"
      ></v-select>
      <button
        type="submit"
        class="booking__button Button Button--primary Button--blue"
        :disabled="!this.value"
        v-if="!hideButton"
      >{{this.bookingdata.start_page.add_course}}</button>
    </form>
  </div>
</template>


<script>
export default {
  name: "BookingSelect",
  props: [
    "addToCourses",
    "value",
    "valueGroup",
    "sortedCourses",
    "childrenCourses",
    "totalCoursesNumber",
    "bookingdata",
    "handleChangeGroup",
    "handleChange",
    "hideButton",
    "label",
  ]
};
</script>
