<template >
  <div>
    <div class="booking__list__wrapper" v-for="(ageGroup, index) in byAge" v-bind:key="index">
      <div class="booking__list" v-if="ageGroup.length > 0">
        <div class="booking__list__grid --labels">
          <div class="booking__list__grid--close --closeButton"></div>
          <div class="booking__list__grid--detailsWrap">
            <div class="booking__list__grid--course" v-html="bookingdata.start_page.course_label"></div>
            <div class="booking__list__grid--details">
              <div class="booking__list__grid--age" v-html="bookingdata.start_page.age_label"></div>
              <div class="booking__list__grid--price" v-html="bookingdata.start_page.price_label"></div>
            </div>
            <div class="booking__list__grid--book"></div>
          </div>
        </div>
        <div
          class="booking__list__grid --course"
          v-for="(post, index) in ageGroup"
          v-bind:key="index"
        >
          <div
            class="booking__list__grid--close --closeButton"
            v-on:click="removeFromCourses(index, post)"
          >
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <g fill="#FFF" fill-rule="evenodd">
                  <path d="M1.904.097L.44 1.56l13.654 13.654 1.463-1.463z" />
                  <path d="M15.559 1.56L14.096.095.44 13.751l1.463 1.463z" />
                </g>
              </svg>
            </span>
          </div>
          <div class="booking__list__grid--detailsWrap">
            <div class="booking__list__grid--course">
              <span
                class="booking__list__grid --location"
                v-if="post.location.length > 0 && post.location[0].post_title"
                v-html="post.location[0].post_title"
              ></span>
              <h3 class="booking__list__grid --courseTitle" v-html="post.title"></h3>
            </div>
            <div class="booking__list__grid--details">
              <div class="booking__list__grid--age">
                <p>{{post.age}} {{bookingdata.start_page.years}}</p>
              </div>
              <div class="booking__list__grid--price">
                <p>£{{post.basePrice}}/{{bookingdata.start_page.week}}</p>
              </div>
            </div>
            <div class="booking__list__grid--book">
              <a
                class="booking__button --transparent"
                @click="selectSingle(post)"
              >{{bookingdata.start_page.book_now}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="booking__list__bookAll" v-if="ageGroup.length > 1">
        <p
          v-html="bookingdata.start_page.continue_to_enter_your_details_and_proceed_to_the_course_date_selection"
        ></p>
        <button
          class="booking__button Button Button--primary"
          v-on:click="showModalWindow(ageGroup)"
        >{{bookingdata.start_page.book_all_courses}}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "BookingList",
  props: [
    "byAge",
    "showModalWindow",
    "selectSingle",
    "removeFromCourses",
    "bookingdata"
  ]
};
</script>
