.btn {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    overflow: hidden;
    text-decoration: none;

    @include for-size(mobile) {
      padding: 5px 10px;
    }

    @include for-size(tablet) {
      padding: 5px 10px;
    }

    &:before,
    &:after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }

    &:hover::after,
    &:hover::before {
      width: 55%;
    }
  
    &__text {
      position: relative;
      white-space: nowrap;
      z-index: 2;
      padding: 24px 8px;
      transition: 0.3s linear;
      margin-top: 2px;
      text-decoration: none;
    }

    &--black-white {
      color: $color-black;
      border: 1px solid $color-black;
      @include bg-opacity($color-white,0.2);

      &:before,
      &:after {
        background: $color-black;
      }

      &:hover {
        color: $color-white;
      }
    }
    &--black-yellow {
      color: $color-black;
      border: 1px solid $color-black;
      @include bg-opacity($color-yellow,0.2);

      &:before,
      &:after {
        background: $color-black;
      }

      &:hover {
        color: $color-yellow;
      }
    }

    &--yellow-white {
      color: $color-yellow;
      border: 1px solid $color-yellow;
      @include bg-opacity($color-white,0.2);

      &:before,
      &:after {
        background: $color-yellow;
      }

      &:hover {
        color: $color-white;
      }
    }
    &--yellow-black {
      color: $color-yellow;
      border: 1px solid $color-yellow;
      @include bg-opacity($color-black,0.2);

      &:before,
      &:after {
        background: $color-yellow;
      }

      &:hover {
        color: $color-black;
      }
    }

    &--white-yellow {
      color: $color-white;
      border: 1px solid $color-white;
      @include bg-opacity($color-yellow,0.2);

      &:before,
      &:after {
        background: $color-white;
      }

      &:hover {
        color: $color-yellow;
      }
    }
    &--white-black {
      color: $color-white;
      border: 1px solid $color-white;
      @include bg-opacity($color-black,0.2);

      &:before,
      &:after {
        background: $color-white;
      }

      &:hover {
        color: $color-black;
      }
    }
  }