.fancybox-bg {
    background: $color-black!important;
}

.fancybox-button {
    background: $color-black!important;
    margin-left: 1px!important;
}
.fancybox-button svg path {
    fill: $color-yellow!important;
}

.fancybox-button:hover {
    background: $color-yellow!important;
}
.fancybox-button:hover svg path {
    fill: $color-black!important;
}