.wpcf7 {
    .wpcf7-response-output {
        display: none!important;
    }

    .form-row {
        width: 100%;
        margin: 0 0 15px 0;
        padding: 0;
        position: relative;

        &--col-2 {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(2, 1fr);

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
        }

        &--col-3 {
            display: grid;
            grid-gap: 15px;
            grid-template-columns: repeat(3, 1fr);

            @include for-size(mobile) {
                grid-template-columns: 1fr!important;
            }
        }
        
        strong {
            text-align: left;
            display: inline-block;
            font-weight: 500;
            color: $color-yellow;
            display: inline-block;
            width: 100%;
        }

        .wpcf7-not-valid-tip {
            font-size: 12px;
            text-align: left;
            width: 100%;
            text-transform: uppercase;
            color: red;
            font-family: $font-special;
        }

        select {
            width: 100%;
            padding: 7px 10px;
            border: 1px solid $color-light;
            background: $color-white;
            color: $color-grey;
            font-family: $font-main;

            &:focus {
                outline: none;
                outline: 0;
                border-color: $color-yellow;
                background: $color-white;
                color: $color-black;
                font-family: $font-main;
            }
        }

        .form-input {
            width: 100%;
            padding: 7px 10px;
            border: 1px solid $color-light;
            background: $color-white;
            color: $color-grey;
            font-family: $font-main;

            &::placeholder {
                color: $color-grey;
            }

            &:focus {
                outline: none;
                outline: 0;
                border-color: $color-yellow;
                background: $color-white;
                color: $color-black;
                font-family: $font-main;
            }

            &:focus::placeholder {
                color: $color-black;
            }

            &.textarea-small {
                height: 100px;
            }
        }

        .form-button {
            padding: 13px 15px 10px 15px;
            background: $color-black;
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: 600;
            font-family: $font-special;
            width: 100%;
            border-left: 5px solid $color-yellow;
            border-bottom: 5px solid $color-yellow;
            border-right: 5px solid $color-black;
            border-top: 5px solid $color-black;

            &:focus {
                outline: none;
                outline: 0;
            }

            &:hover {
                background: $color-yellow;
                color: $color-black;
            }
        }
    }
}