body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;

  &.hidden-scrollbar {
    overflow-y: hidden;
  }

  img {
    max-width: 100%;
  }

  a,
  a:before,
  a:after,
  span,
  span:before,
  span:after,
  button,
  img,
  input[type=button],
  input[type=submit],
  .im,
  .form-button,
  .wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
  svg,
  .menu-trigger,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    transition:all 0.3s ease;

    span {
      transition:all 0.3s ease;
    }
  }

  .wrapper {
    width: 100%;
    padding: 0;
    position: relative;
    display: inline-block;
  }

  .container {
    width: 100%;
  }

  .clear {
    width: 100%;
    height: 1px;
    clear: both;
    float: none;
    display: block;
  }

  svg {
    width: 70px;
    height: 70px;
  }
}