*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

@mixin position-center {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

// example: @extend %clearfix;
%clearfix {
    *zoom: 1;
    &:before, 
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%listclear{
    margin:0px;
	padding:0px;
	list-style-type:none;
	width:100%;
	float:none;
	clear:both;
}

// example: @include calc( width, '100% - 310px');
@mixin clearall() {
	width:100%!important;
	float:none!important;
	clear:both!important;
}

// example: @include center(true,true);
@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

// example: @include rotate(-45deg);
@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
  filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=#{-1*sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
}

// example: @include center-x;
@mixin center-x {
	left: 50%;
	transform: translate3d(-50%, 0%, 0);
}

// example: @include center-y;
@mixin center-y {
	top: 50%;
	transform: translate3d(0%, -50%, 0);
}

// example: @include radius(15px);
@mixin radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

// example: @include calc( width, '100% - 310px');
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin transition($property: all, $time: .5s, $style: ease-in) {
	transition: #{$property} $time $style;
}

// Grid breakpoints for theme.
@mixin for-size($range) {
  $mobile-width-screen: 500px;
  $tablet-width-screen: 767px;
  $laptop-width-screen: 999px;
  $desktop-width-screen: 1200px;

  @if $range == mobile {
    @media screen and (max-width: $mobile-width-screen) { 
      @content; 
    }
  } @else if $range == tablet {
    @media screen and (min-width: #{$mobile-width-screen + 1}) and (max-width: $tablet-width-screen) { 
      @content; 
    }
  } @else if $range == laptop {
    @media screen and (min-width: #{$tablet-width-screen + 1}) and (max-width: $laptop-width-screen) { 
      @content; 
    }
  } @else if $range == desktop {
    @media screen and (min-width: #{$laptop-width-screen + 1}) and (max-width: $desktop-width-screen) { 
      @content; 
    }
  } @else if $range == large-width {
    @media (min-width: #{$desktop-width-screen + 1}) { 
      @content; 
    }
  }
}

// @include bg-opacity(#000,0.85)
@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}

// @include border-opacityy(#000,0.85)
@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;
	border-color: $color;
	border-color: rgba($color, $opacity);
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

// @include placeholder-color(#000);
@mixin placeholder-color($color, $weight) {
  &::-webkit-input-placeholder {
    color: $color;
    font-weight: $weight;
  }
  &:-moz-placeholder {
    color: $color;
    font-weight: $weight;
  }
  &::-moz-placeholder {
    color: $color;
    font-weight: $weight;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-weight: $weight;
  }
}

// @include linear-gradient($black, $white, .5);
@mixin linear-gradient($top-color, $bottom-color, $opacity) {
  background: -moz-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  background: -webkit-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  background: linear-gradient(to bottom, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#{ie-hex-str(rgba($top-color, $opacity))}", endColorstr="#{ie-hex-str(rgba($bottom-color, $opacity))}",GradientType=0);
}

// @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; 
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');
    
    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }
  }
}