body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.6em;
  color: $color-black;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-special;
  font-weight: 900;
  letter-spacing: 1px;
}

h1 {
  font-size: 55px;
  
  @include for-size(mobile) {
    font-size: 40px;
  }

  @include for-size(tablet) {
    font-size: 45px;
  }
}

h2 {
  font-size: 40px;

  @include for-size(mobile) {
    font-size: 25px;
  }

  @include for-size(tablet) {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;

  @include for-size(mobile) {
    font-size: 20px;
  }

  @include for-size(tablet) {
    font-size: 25px;
  }
}

h4 {
  font-size: 25px;

  @include for-size(mobile) {
    font-size: 18px;
  }

  @include for-size(tablet) {
    font-size: 20px;
  }
}

h5 {
  font-size: 25px;
}