@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font-main: 'Poppins', sans-serif;
$font-special: 'Montserrat', sans-serif;

$color-white: #ffffff;
$color-black: #100f0e;
$color-yellow: #f3db00;
$color-grey: #999999;
$color-light: #d1d2d4;