.AvailableSubjects {
    padding: 50px 0 100px;
    overflow: hidden;
    margin: 0 20px;

    &__title {
        font-size: 16px;

        &:before,
        &:after {
            display: none;
        }
    }

    &__tabs {
        padding-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include breakpoint(desktop) {
            padding-top: 0;
            width: 780px;
            margin: auto;
        }

        &__single {
            border: 2px solid $greyBorder;
            padding: 15px 5px;
            width: 33.33%;
            text-align: center;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all .3s;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint(phone) {
                display: inline-block;
                padding: 15px 5px;
            }

            @include breakpoint(desktop_small) {
                width: 260px;
            }

            @include breakpoint(desktop) {
                border-right: 0;
                width: 33.33%;
            }

            &:nth-child(3n),
            &:last-child {
                border-right: 2px solid $greyBorder;
            }

            &:hover,
            &.current {
                background: $blue;
                border: 2px solid $blue;

                span {
                    color: $white;
                }
            }

            span {
                @include latoSemi();

                color: rgba(15, 34, 69, .7);
                font-size: 14px;
            }
        }
    }

    &__accordions {
        text-align: center;
        padding-top: 80px;
        display: none;
        margin: 0 30px;

        &.tabs-empty {
            padding-top: 0;
        }

        @include breakpoint(desktop) {
            margin: 0;
        }

        &.current {
            display: block;
        }

        &__single {
            @include latoBold();

            margin-bottom: 35px;

            &__header {
                position: relative;
                display: inline-block;
                cursor: pointer;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 2.4px;
                color: $blue;
                text-transform: uppercase;
            }

            .plus-minus-toggle {
                &:before,
                &:after {
                    background: $blue;
                    top: 12px;
                    left: 13px;
                }
            }

            p {
                @include latoRegular();

                font-size: 16px;
                line-height: 28px;
                color: $greyDark;
                max-width: 520px;
                margin: auto;
                padding: 30px 0;
            }
        }
    }
}
