.BoxIntegration {
    background: $greyBG;
    margin-top: 0;
    height: 100vh;

    &__form {
        margin: auto;
        max-width: 100%;
        position: absolute;
        background: $white;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 2px 44px 10px rgba(0, 0, 0, .02);
        padding: 60px 30px;
        border-left: 30px solid $greyBG;
        border-right: 30px solid $greyBG;

        @include breakpoint(tablet_big) {
            padding: 80px 160px;
            max-width: 800px;
            border: 0;
        }

        &__input {
            @include latoSemi();

            border: solid 1px $greyLighter;
            height: 46px;
            padding: 0 15px;
            box-sizing: border-box;
            color: $blue;

            &:hover,
            &:focus {
                border: solid 1px $greyLighter;
            }
        }

        &__message {
            @include latoSemi();

            margin: 20px auto;
            text-align: center;
            color: $primary;
        }

        .button {
            border: 1px solid $brown;
            margin-top: 20px;
            cursor: pointer;
            padding: 16px 15px;

            &:hover,
            &:active,
            &:focus {
                color: $blue;
                background: transparent;
                border: 1px solid $blue;
                cursor: pointer;
            }
        }

        &__title {
            @include latoBold();

            text-transform: uppercase;
            color: $blue;
            font-size: 30px;
            text-align: center;
            margin-bottom: 20px;
        }

        &__image {
            width: 200px;
            height: auto;
            margin: auto;
            margin-bottom: 25px;
        }

        &__separator {
            width: 50px;
            margin: auto;
            height: 2px;
            background: $brown;
        }

        &__assets {
            @include latoSemi();

            color: $blue;
            text-transform: uppercase;
            text-align: center;
            font-size: 18px;
            margin-bottom: 30px;
            padding-top: 5px;
        }
    }

    &__box {
        width: 90%;
        margin: 0 auto;
        padding-top: 150px;

        &__logout {
            display: block;
            max-width: 150px;
            float: right;
            margin-bottom: 30px;
            cursor: pointer;

            &:hover {
                background: $brown;
            }
        }
    }
}
