.Cta__button {
    padding: 0 0 20px 35px;

    @include breakpoint(tablet_768) {
        padding: 0 0 20px 60px;
    }

    .button {
        border: 1px solid $brown;

        &:hover {
            border: 1px solid $blue;
            color: $blue;
        }
    }
}
