.custom-scrollbar {
    overflow: hidden;
    position: relative;
}

.ps {
    &__rail-y {
        position: absolute;
        right: 22px;
        width: 5px;
        border-radius: 2.5px;
        background-color: $greyLight;
        height: 100%;
        margin: 30px 0;
        z-index: 1000;
    }

    &__thumb-y {
        border-radius: 2.5px;
        background-color: #b7b7b7;
        position: relative;
        opacity: .6;
        min-height: 50px;
    }
}
