.Faq {
    background: $greyBG;
    padding: 50px 45px 0 35px;

    @include breakpoint(tablet_768) {
        padding: 50px 60px 0;
    }

    &__content {
        &__question {
            margin-bottom: 30px;
            max-width: 500px;

            @include breakpoint(tablet_768) {
                max-width: 100%;
                margin-bottom: 35px;
            }

            ul,
            ol {
                color: rgba(0, 0, 0, .7);
                font-size: 14px;

                @include latoRegular();

                line-height: 26px;
                list-style-type: disc;
                padding-left: 17px;
            }
        }
    }

    span {
        @include latoSemi();

        font-size: 16px;
        color: $blue;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 10px;
        display: block;
    }

    p {
        @include latoRegular();

        font-size: 14px;
        line-height: 22px;
        color: rgba($black, .7);
        margin-bottom: 20px;
    }

    a {
        text-transform: none;
        text-decoration: none;
        color: $blue;

        &:hover {
            color: $brown;
        }
    }
}
