.FormModule {
    background: $greyBG;
    padding: 50px 35px;

    @include breakpoint(tablet_768) {
        padding: 50px 60px;
    }

    &__content {
        &__heading {
            @include playfairBold();

            display: block;
            text-align: center;
            font-size: 35px;
            line-height: 35px;
            color: $white;
            margin-bottom: 45px;

            @include breakpoint(desktop_small) {
                font-size: 55px;
                line-height: 55px;
            }
        }
    }

    ::-webkit-input-placeholder { /* Chrome */
        @include latoRegular();

        color: $grey;
    }

    :-ms-input-placeholder { /* IE 10+ */
        @include latoRegular();

        color: $grey;
    }

    ::-moz-placeholder { /* Firefox 19+ */
        @include latoRegular();

        color: $grey;
    }

    :-moz-placeholder { /* Firefox 4 - 18 */
        @include latoRegular();

        color: $grey;
    }

    .select2-selection--single,
    .select2-selection--multiple {
        @include latoRegular();

        border: 0 !important;
        border-radius: 0;
        height: 40px;
        line-height: 40px;

        span {
            height: 40px;
            line-height: 40px;
        }

        &:focus,
        &:active {
            outline: 0;
        }
    }

    .select2-selection--multiple {
        .select2-selection__rendered li,
        .select2-selection__rendered li span {
            height: 27px;
            line-height: 27px;
        }
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        @include latoRegular();

        line-height: 40px;
        color: $grey;
    }

    .select2-selection__rendered {
        border: 1px solid $border;
    }

    .select2-selection--multiple .select2-selection__rendered {
        height: 40px;
    }
}

.form {
    &__apiError {
        @include latoRegular();

        font-size: 16px;
        color: $red;
        padding: 20px 0;
    }

    &__title {
        @include latoRegular();

        font-size: 14px;
        font-weight: bold;
        letter-spacing: 2.1px;
        color: $black;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    &__element {
        position: relative;

        &__input {
            width: 417px;
            height: 41px;
            border: solid 1px rgba($blue, .2);
            background-color: white;
            margin: 9px 0 16px;
            color: $blue;
            font-size: 14px;

            &.error {
                border-color: $red;
            }

            &:hover,
            &:active,
            &:focus {
                border: solid 1px rgba($blue, .2);
            }

            &::placeholder {
                color: $greyLighter;
            }
        }

        &__error {
            position: absolute;
            top: 0;
            left: 0;
            color: $red;
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
            width: 100%;
            background-color: $white;
        }
    }

    &__gap {
        height: 0;
        width: 417px;
        border-bottom: 1px solid $greyBorder;
        margin: 23px 0 40px;
        padding: 1px;
    }

    .button {
        margin-top: 15px;

        &:hover {
            background: $brown;
            border: 2px solid $brown;
        }
    }

    .select2-search {
        display: none !important;
    }

    .select2-dropdown {
        border: 0 !important;
    }
}

.select2-results__options {
    @include latoRegular();

    color: $grey;
}

.select2-results {
    border: 0;
}

.select2-results__option {
    border-bottom: 1px solid $black;

    &:hover {
        background: red;
    }
}

.select2-dropdown.select2-dropdown--above,
.select2-dropdown.select2-dropdown--below {
    border-radius: 0;
    border: 0;
}

.select2-search__field {
    display: none;
}
