.Gallery {
    text-align: center;
    padding-bottom: 45px;
    padding-top: 40px;

    .SingleContent__text & {
        &__title {
            font-size: 16px;
        }

        img {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 16px;
    }

    &__pagination {
        opacity: 1;
        visibility: visible;
        margin: 45px 25px;
        display: none;
        z-index: 100;

        @include breakpoint(tablet_768) {
            margin: 45px 60px;
        }

        .SingleContent__text & {
            margin: 35px 45px;
        }

        .button-nav {
            display: block;
        }
    }

    &.is-active {
        .Gallery__pagination {
            display: block;
        }
    }

    &__counter {
        @include latoRegular();

        display: inline-block;
        text-align: center;
        width: 80px;
        margin-top: 30px;
        margin-left: -10px;

        @include breakpoint(tablet_768) {
            margin-top: 25px;
        }

        span {
            font-weight: bold;
        }
    }

    &__caption {
        @include latoSemi();

        font-size: 14px;
        color: $blue;
        margin-top: 45px;
        margin-bottom: 10px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint(tablet_768) {
            font-size: 16px;
        }

        .SingleContent__text & {
            margin-top: 38px;
        }
    }

    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }

    .swiper-gallery-next {
        float: right;
        margin-right: 0;

        @include breakpoint(tablet_reversed) {
            margin-right: 10px;
        }
    }

    .swiper-gallery-prev {
        float: left;

        @include breakpoint(tablet_reversed) {
            margin-left: 10px;
        }
    }

    .SingleLocation & {
        &__counter,
        &__caption {
            display: none;
        }

        .swiper-gallery-next {
            float: left;
        }

        &__pagination {
            margin: 35px 55px;
        }
    }
}

.mfp-bg {
    opacity: .95;
    background: $black;
}

.mfp-title {
    @include latoSemi();

    font-size: 16px;
    color: $white;
    text-align: center;
    padding-right: 0;
}

.mfp-counter {
    @include latoRegular();

    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: $white;
}

.mfp-bottom-bar {
    margin-top: -10px;

    @include breakpoint(tablet_768) {
        margin-top: -20px;
    }
}

.mfp-close {
    width: 65px !important;
    height: 65px !important;
    top: 40px !important;
    right: 0 !important;
    position: absolute !important;
    text-align: center !important;
    cursor: pointer;
    background: $white !important;
    opacity: 1 !important;

    @include breakpoint(tablet_800) {
        width: 40px !important;
        height: 40px !important;
    }

    img {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        width: 27px !important;
        height: 27px !important;
        padding: 0 !important;

        @include breakpoint(tablet_800) {
            width: 22px !important;
            height: 22px !important;
        }
    }
}

.custom-arrow {
    width: 45px;
    height: 45px;
    border: 1px solid $white !important;
    background: none;
    cursor: pointer;
    transition: all .3s;
    bottom: -30px !important;
    top: auto;

    &:before {
        mask-image: url(#{$asset-path}/arrow.svg);
        -webkit-mask-image: url(#{$asset-path}/arrow.svg);
        background-color: $white;
        position: absolute;
        width: 14px;
        height: 14px;
        background-size: contain;
        border: 0;
        margin: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @include ie11() {
            background-image: url(#{$asset-path}/arrow.svg);
        }
    }

    &:after {
        border: 0;
        margin: 0;
    }

    &.mfp-arrow-left {
        &:before {
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

img.mfp-img {
    max-height: 700px !important;
}
