.SectionTitle,
samp {
    @include latoBold();

    text-align: center;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 2.4px;
    position: relative;
    overflow: hidden;
    margin: 0 30px;

    @include breakpoint(desktop) {
        margin: auto;
        max-width: 820px;
    }

    .SingleContent__text & {
        font-size: 16px;
    }

    &:before,
    &:after {
        content: "";
        display: inline-block;
        width: 300px;
        margin: 0 15px 0 -360px;
        vertical-align: middle;
        border-bottom: 2px solid $greyBorder;

        @include breakpoint(desktop) {
            margin: 0 60px 0 -360px;
        }
    }

    &:after {
        margin: 0 -360px 0 15px;

        @include breakpoint(desktop) {
            margin: 0 -360px 0 60px;
        }
    }
}

samp {
    display: block;
    overflow: hidden;
    color: $black;
    font-size: 16px;
}

#cookie-law-info-bar {
    z-index: 99999999999999;

    span {
        @include latoRegular();
    }
}

.purechat-chatbox {
    display: none;

    @include breakpoint(desktop_small) {
        display: block;
    }
}
