.HeaderComponent {
    width: 100%;
    text-align: center;
    padding-bottom: 50%;
    background-size: cover;
    background-position: 100%;
    position: relative;

    @include breakpoint(tablet_768) {
        padding-bottom: 33.85%;

        .logged-in & {
            margin-top: 32px;
        }
    }

    @include breakpoint(desktop_small) {
        margin-top: 90px;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        z-index: 10;
        width: 100%;

        &__subtitle {
            @include latoBold();

            font-size: 14px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 2.4px;

            @include breakpoint(tablet_768) {
                line-height: 35px;
                font-size: 16px;
            }

            @include breakpoint(desktop_small) {
                line-height: 50px;
            }
        }

        &__heading {
            @include playfairBold();

            font-size: 28px;
            line-height: 30px;

            @include breakpoint(tablet_768) {
                line-height: 45px;
                font-size: 45px;
            }

            @include breakpoint(desktop_small) {
                line-height: 55px;
            }
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($black, .2);
    }
}
