.KeyFacts {
    background: $white;
    padding: 25px 0 20px;

    @include breakpoint(tablet_768) {
        padding: 50px 0 70px;
    }

    .SingleContent__text & {
        &__title {
            font-size: 16px;
        }

        background: transparent;
    }

    &__title {
        font-size: 16px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        &__single {
            width: 50%;
            text-align: center;
            margin-bottom: 40px;

            @include breakpoint(tablet_768) {
                width: 33.33%;
                margin-bottom: 70px;
            }

            &__image {
                height: 32px;
                width: 34px;
                display: flex;
                margin: 0 auto 10px;
            }

            img {
                display: block;
                margin: auto;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            span {
                @include latoSemi();

                font-size: 13px;
                line-height: 24px;
                letter-spacing: 2.1px;
                color: $brown;
                text-transform: uppercase;

                @include breakpoint(desktop) {
                    font-size: 14px;
                    line-height: 28px;
                }
            }

            p {
                @include latoRegular();

                font-size: 18px;
                line-height: 25px;
                color: $blue;
                padding: 0 10px;

                @include breakpoint(tablet_768) {
                    font-size: 19px;
                    line-height: 28px;
                }

                @include breakpoint(desktop) {
                    font-size: 22px;
                }
            }
        }
    }
}
