.Overview {
    padding: 55px 30px 90px;
    background: $greyBG;

    @include breakpoint(desktop) {
        padding: 55px 100px 90px;
    }

    .SingleContent__text & {
        padding: 0;
    }

    p {
        @include latoSemi();

        font-size: 14px;
        line-height: 25px;
        color: rgba($black, .7);
        max-width: 710px;
        margin: auto;

        @include breakpoint(tablet_768) {
            font-size: 16px;
            line-height: 30px;
        }
    }

    h3 {
        @include latoBold();

        font-size: 16px;
        letter-spacing: 2.4px;
        line-height: 70px;
        text-transform: uppercase;
    }

    ul {
        text-align: center;
        list-style: disc;
        list-style-position: inside;
        padding-top: 20px;

        @include latoSemi();

        font-size: 14px;
        line-height: 25px;
        color: rgba($black, .7);
        max-width: 710px;
        margin: auto;

        @include breakpoint(tablet_768) {
            font-size: 16px;
            line-height: 30px;
        }
    }
}
