/* Payment Details */
.paymentDetails {
    &__goBack {
        background: transparent;
        display: block;
        width: 30px;
        height: 30px;
        border: 0;
        margin-bottom: 13px;
        cursor: pointer;

        .svgIcon {
            width: 30px;
            height: 30px;

            svg {
                transform: rotate(180deg);
            }
        }
    }

    &__title {
        @include playfairBold();

        font-size: 32px;
        line-height: 1.53;
        color: $blue;

        @include breakpoint(desktop_small) {
            font-size: 29px;
        }
    }

    &__subtitle {
        @include latoBold();

        font-size: 20px;
        line-height: 1.4;
        letter-spacing: 2.1px;
        color: $black;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            font-size: 14px;
        }

        &.--smallerMargin {
            margin-bottom: 6px;
        }
    }

    &__copy {
        @include latoRegular();

        font-size: 20px;
        line-height: 1.63;
        color: $nearBlack;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            font-size: 16px;
        }
    }

    &__label {
        @include latoBold();

        font-size: 20px;
        line-height: 1.4;
        color: rgba(0, 0, 0, .5);
        padding-bottom: 7px;

        @include breakpoint(desktop_small) {
            font-size: 14px;
        }
    }

    &__input {
        @include latoSemi();

        font-size: 17px;
        font-weight: 400;
        line-height: 1.61;
        color: $blue;
        height: 56px;
        border: solid 1px #dde0e5;
        padding: 0 15px;
        margin-bottom: 20px;

        @include breakpoint(desktop_small) {
            height: 41px;
            font-size: 14px;
        }

        &:focus,
        &:hover {
            outline: none;
            border: solid 1px #dde0e5;
        }

        &.error,
        &__error {
            border: 1px solid $red;
            color: $red;
            margin-bottom: 10px;
        }

        &::placeholder {
            @include latoSemi();

            opacity: .5;
            font-size: 14px;
            color: rgba(0, 0, 0, .5);
        }
    }

    &__form {
        margin-bottom: 26px;
    }

    &__row {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__columnHalf {
        width: 100%;

        @include breakpoint(desktop_small) {
            width: 48%;
        }
    }

    &__columnFull {
        width: 100%;
        position: relative;

        &.--addPaddingTop {
            padding-top: 32px;
        }

        &.--oneRowLabelData {
            @include breakpoint(tablet_768) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 28px;

                .paymentDetails__label {
                    padding: 0;
                }

                .paymentDetails__radioButtons {
                    padding: 0;

                    label {
                        padding-bottom: 0;
                    }
                }
            }

            .paymentDetails__label {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    &__header {
        margin-bottom: 30px;

        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
        }

        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .paymentDetails__goBack {
                margin-bottom: 0;
                position: relative;
                top: 2px;
                margin-right: 25px;
            }
        }
    }

    &__main {
        @include breakpoint(desktop_small) {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        &__message {
            text-align: center;
            margin: 20px auto;
            font-size: 21px;
            line-height: 1.63;
        }
    }

    &__column {
        width: 100%;

        @include breakpoint(desktop_small) {
            max-width: 417px;

            &.--larger {
                max-width: 443px;

                .paymentDetails__form {
                    .paymentDetails__columnFull {
                        &.--oneRowLabelData {
                            .paymentDetails__label {
                                width: auto;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__payment {
        p {
            color: $nearBlack;
            font-size: 18px;
            margin: 0 5px;
        }

        text-align: left;

        &__discount {
            width: 100%;
            max-width: 920px;
            margin: 0 auto;
            border-top: 1px solid $greyBorder;
        }

        &__wrapper {
            width: 100%;
            max-width: 510px;
            margin: 0 auto;
            padding: 50px 0;
        }

        &__courses {
            display: flex;
            flex-direction: column;
            padding: 20px 0;
            width: 100%;
            max-width: 920px;
            margin: 0 auto;
        }

        &__course {
            display: flex;
            justify-content: flex-start;
            text-align: left;
            align-items: flex-start;
            box-shadow: 0 2px 31px 0 rgba(0, 0, 0, .06);
            background-color: $white;
            margin-bottom: 32px;
            padding: 30px 25px 30px 50px;
            flex-direction: column;

            @include breakpoint(tablet_768) {
                flex-direction: row;
                align-items: center;
            }

            &--course {
                width: 100%;
                border-bottom: 1px solid $greyBorder;
                padding-bottom: 20px;
                margin-bottom: 20px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                @include breakpoint(tablet_768) {
                    flex: auto;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    width: initial;
                    display: block;
                }
            }

            &--age {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @include breakpoint(tablet_768) {
                    width: 14%;
                    display: block;
                }
            }

            &--dates {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @include breakpoint(tablet_768) {
                    width: 18%;
                    display: block;
                }
            }

            &--duration {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @include breakpoint(tablet_768) {
                    width: 12%;
                    display: block;
                }
            }

            &--price {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                @include breakpoint(tablet_768) {
                    width: 10%;
                    display: block;
                }
            }

            &--location {
                @include latoBold();

                font-size: 12px;
                color: $greyDark;
                letter-spacing: 3px;
                text-transform: uppercase;
                line-height: 16px;
                margin-bottom: 10px;
            }

            &--title {
                @include playfairBold();

                font-size: 21px;
                color: $blue;
                line-height: .76;
            }

            &--copy {
                @include latoRegular();

                font-size: 16px;
                color: $blue;
                display: inline-block;
            }

            &__titleInside {
                @include latoBold();

                font-size: 14px;
                display: inline-block;
                color: $paragraph;
                width: 90px;

                @include breakpoint(tablet_768) {
                    display: none;
                }
            }

            &--extra {
                @include latoRegular();

                font-size: 16px;
                color: $greyDark;
                margin-top: 14px;
            }
        }

        &__subtitle {
            @include latoBold();

            font-size: 16px;
            line-height: 1.44;
            letter-spacing: 3px;
            color: $blue;
            margin-bottom: 18px;
        }

        &__label {
            @include latoBold();

            font-size: 14px;
            color: $paragraph;
        }

        &__input {
            color: $dark;
            font-size: 16px;
            border: solid 1px $greyLighter;
            height: 46px;
            margin-bottom: 0;
            padding: 0 15px 1px;

            &::placeholder {
                color: $greyLighter;
            }

            &__container {
                position: relative;

                &.--cvc {
                    width: 100%;
                    margin-left: 20px;
                }

                .v-select {
                    .vs__dropdown-toggle {
                        cursor: pointer;
                        padding: 9px 0 10px;

                        .vs__selected {
                            margin: 0 0 0 8px;
                        }
                    }

                    .vs__actions {
                        padding: 3px 12px 0 0;
                    }

                    .vs__search {
                        cursor: pointer;
                        margin: 0;
                        padding: 0 10px;
                    }
                }
            }

            &:hover,
            &:focus {
                border: solid 1px $greyLighter;
            }

            &.--day {
                width: 64px;
                margin-right: 8px;
                text-align: center;
            }

            &.--month {
                width: 64px;
                margin: 0 8px;
                text-align: center;
            }

            &.--year {
                width: 76px;
                margin-left: 8px;
                text-align: center;
            }

            &.error {
                border-color: $red;
            }

            &.StripeElement {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $white;

                &.--card {
                    margin-bottom: 15px;
                }

                .__PrivateStripeElement {
                    width: 100%;
                }
            }
        }

        &__error {
            @include latoRegular();

            position: absolute;
            top: 0;
            left: 0;
            color: $red;
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
            width: 100%;
            background-color: $greyBG;
            z-index: 10;
            margin-left: 0;

            &.--white {
                background-color: $white;
            }
        }

        &__inputWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 58px;
            flex-direction: column;

            @include breakpoint(tablet_768) {
                flex-direction: row;
            }

            input {
                margin-bottom: 20px;

                @include breakpoint(tablet_768) {
                    margin-right: 20px;
                    margin-bottom: 0;
                }
            }

            &.--billing {
                input {
                    margin-right: 0;
                }

                .booking__button {
                    width: 100%;
                    margin: 10px 0;

                    @include breakpoint(tablet_768) {
                        margin: 0 0 0 10px;
                        min-width: 134px;
                    }
                }
            }
        }

        &__buttonsWrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            p {
                margin: 20px 0;
            }

            @include breakpoint(tablet_768) {
                flex-direction: row;

                p {
                    margin: 0;
                }
            }

            &.--depositpaid {
                flex-direction: column !important;

                h4,
                p,
                button {
                    text-align: center;
                    margin: 20px auto;
                }

                h4 {
                    font-size: 21px;
                    line-height: 1.63;
                    color: $primary;
                }
            }
        }

        &__buttonspay {
            display: flex;
            justify-content: center;

            &__button {
                background: $primary;
                color: $white;
                cursor: pointer;
                border: 1px solid $primary !important;

                &:hover {
                    background: $white;
                    color: $primary;
                    border-color: $primary;
                }
            }
        }

        &__button {
            @include latoBold();

            background-color: $brown;
            width: 100%;
            text-align: center;
            border: none;
            color: $white;
            font-size: 16px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include breakpoint(tablet_768) {
                width: 220px;
                height: 99px;
                padding: 0;
                display: block;
            }

            span {
                font-size: 24px;
                margin-left: 36px;

                @include breakpoint(tablet_768) {
                    display: inline-block;
                    margin-top: 10px;
                    margin-left: 0;
                }
            }

            &.--transparent {
                border: solid 1px $blue;
                background: transparent;
                color: $blue;
            }
        }

        &__card {
            input {
                margin-bottom: 20px;
            }
        }

        &__cardWrapper {
            display: flex;
            justify-content: flex-start;

            &.--expiration {
                display: flex;
                flex-direction: column;
            }

            &.--cvc {
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    margin-bottom: 5px;
                }
            }

            &.--date {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 150px;
                margin-top: 5px;

                input {
                    margin-bottom: 0;
                    width: 63px;
                    text-align: center;
                }
            }
        }

        &__paymentMethod {
            border-top: 1px solid $greyBorder;
        }

        &__billing {
            border-top: 1px solid $greyBorder;
        }

        &__card {
            border-top: 1px solid $greyBorder;
        }

        &__bankDetails {
            border-top: solid 2px $greyBorder;
            padding: 25px 0;
            flex-wrap: wrap;

            @include breakpoint(tablet_768) {
                padding: 45px 150px;
                display: flex;
                justify-content: space-between;
            }

            &__message {
                color: $primary;
                width: 100%;
                font-size: 21px;
                line-height: 1.63;
                margin-bottom: 20px;
                text-align: center;
            }

            &__student {
                width: 100%;
                text-align: left;

                @include breakpoint(tablet_768) {
                    width: 46%;
                    text-align: right;
                }
            }

            &__parent {
                width: 100%;
                text-align: left;

                @include breakpoint(tablet_768) {
                    width: 46%;
                    text-align: left;
                }
            }

            &__title {
                @include latoBold();

                font-size: 14px;
                line-height: 1.64;
                letter-spacing: 2px;
                color: $blue;
                margin-bottom: 22px;
            }

            &__subtitle {
                @include latoBold();

                font-size: 21px;
                line-height: 1.63;
                color: $blue;
                margin-bottom: 9px;
            }

            &__copy {
                @include latoRegular();

                font-size: 16px;
                line-height: 2.3;
                color: $blue;

                &.--email {
                    margin-top: 24px;
                }
            }
        }
    }
}