.RelatedPosts {
    .SectionTitle {
        font-size: 16px;
    }

    &__location {
        .RelatedPost {
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(tablet_768) {
                flex-wrap: nowrap;
            }

            &__content {
                width: 100%;
                text-align: left;
                padding: 30px 35px 60px;
                background: $greyBG;
                order: 2;

                .SingleContent__text & {
                    padding: 30px 10px 60px;
                }

                @include breakpoint(tablet_768) {
                    order: 1;
                    width: 50%;
                    padding: 40px 70px 60px;
                }

                @include breakpoint(desktop_small) {
                    padding: 40px 35px 60px;
                }

                @include breakpoint(desktop) {
                    padding: 40px 70px 60px;
                }

                @include breakpoint(desktop_big) {
                    padding: 80px 100px;
                }

                &__title {
                    &.SectionTitle {
                        font-size: 16px;
                        text-align: left;
                        margin: 0;

                        &:before,
                        &:after {
                            content: none;
                        }
                    }
                }

                &__heading {
                    @include playfairBold();

                    color: $blue;
                    font-size: 30px;
                    line-height: 30px;
                    max-width: 320px;

                    .SingleContent__text & {
                        font-size: 25px;
                        line-height: 35px;
                    }

                    @include breakpoint(tablet_768) {
                        font-size: 40px;
                        line-height: 45px;

                        .SingleContent__text & {
                            font-size: 35px;
                            line-height: 45px;
                        }
                    }

                    @include breakpoint(desktop) {
                        font-size: 48px;
                        line-height: 60px;
                        margin: 0;
                    }
                }

                &__name {
                    @include latoBold();

                    font-size: 15px;
                    letter-spacing: 2.4px;
                    color: $brown;
                    margin-top: 30px;
                    margin-bottom: 15px;
                    text-transform: uppercase;

                    @include breakpoint(tablet_768) {
                        font-size: 16px;
                        margin-top: 40px;
                    }
                }

                &__text {
                    @include latoRegular();

                    color: rgba($black, .7);
                    font-size: 16px;
                    line-height: 26px;
                    margin-bottom: 40px;
                    max-width: 90%;

                    .SingleContent__text & {
                        font-size: 16px;
                        line-height: 26px;
                    }

                    @include breakpoint(tablet_768) {
                        max-width: 320px;

                        .SingleContent__text & {
                            padding-right: 30px;
                        }
                    }

                    @include breakpoint(desktop) {
                        max-width: 375px;
                    }

                    .SingleContent__text & {
                        a {
                            color: $white;
                        }
                    }
                }

                &__button {
                    width: 170px;
                    cursor: pointer;
                    color: $white;

                    &:hover {
                        color: $blue;
                        border-color: $blue;
                    }

                    &.isLoading {
                        animation: changeLetter 1s linear infinite forwards;
                    }
                }

                &__pagination {
                    opacity: 1;
                    display: block;
                    margin-top: 40px;

                    @include breakpoint(tablet_768) {
                        margin-top: 50px;
                    }

                    &__counter {
                        @include latoRegular();

                        display: inline-block;
                        padding: 0 20px;

                        span {
                            font-weight: bold;
                        }
                    }

                    button {
                        margin-right: 0;
                    }
                }
            }

            &__image {
                width: 100%;
                padding-bottom: 60%;
                background-size: cover;
                order: 1;

                @include breakpoint(tablet_768) {
                    order: 2;
                    width: 50%;
                }
            }
        }
    }
}

.RelatedCourses {
    background: $greyBG;
    padding: 15px 35px;

    @include breakpoint(tablet_768) {
        padding: 50px 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 15px 0;
        justify-content: center;

        @include breakpoint(tablet_768) {
            padding: 50px 0 0;
        }

        @include breakpoint(desktop_big) {
            width: 960px;
        }

        .RelatedCourse {
            width: 100%;
            text-align: left;
            position: relative;
            background: $white;
            border-bottom: 5px solid $brown;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;

            .SingleContent__text & {
                overflow: hidden;
            }

            @include breakpoint(tablet_768) {
                width: 44%;
                margin: 0 15px 50px;
            }

            &:nth-child(3) {
                display: flex;

                @include breakpoint(tablet_768) {
                    display: none;
                }

                @include breakpoint(desktop) {
                    display: flex;
                }
            }

            &__link {
                display: flex;
                flex-direction: column;
            }

            img {
                object-fit: cover;
            }

            @include breakpoint(desktop) {
                width: 260px;

                .SingleContent__text & {
                    width: 44%;
                    margin: 0 15px 50px;
                }

                img {
                    width: 260px;

                    .SingleContent__text & {
                        width: 100%;
                        margin-bottom: 0;
                    }
                }
            }

            @include breakpoint(desktop_big) {
                width: 290px;

                img {
                    width: auto;
                }
            }

            &__details {
                padding: 30px 25px 20px;
                flex-direction: column;
                height: 100%;
                overflow: hidden;
                display: flex;

                &__age {
                    @include latoBold();

                    font-size: 18px;
                    padding: 10px 30px;
                    background: $blue;
                    color: $white;
                    position: absolute;
                    left: -10px;
                    top: 25px;
                }

                &__category {
                    @include latoBold();

                    text-transform: uppercase;
                    font-size: 13px;
                    color: $black;
                    letter-spacing: 2.4px;
                    margin-bottom: 12px;
                }

                &__title {
                    color: $black;
                    font-size: 24px;
                    line-height: 28px;
                    margin-bottom: 25px;

                    @include breakpoint(tablet_768) {
                        font-size: 26px;
                    }
                }

                &__text {
                    @include latoRegular();

                    font-size: 17px;
                    max-width: 200px;
                    color: $grey;
                    margin-top: auto;
                }
            }
        }
    }
}
