.Requirements {
    padding: 40px 30px 70px;
    text-align: center;

    @include breakpoint(desktop) {
        padding: 40px 0;
    }

    &__title {
        font-size: 16px;
    }

    &__single {
        text-align: center;
        margin-bottom: 25px;
        display: block;

        &:nth-of-type(1) {
            margin-top: 20px;
        }

        &__title,
        .SingleContent__text & {
            @include latoSemi();

            color: $brown;
            font-size: 13px;
            line-height: 31px;
            letter-spacing: 1.8px;
            text-transform: uppercase;
        }

        &__text,
        .SingleContent__text & {
            @include latoRegular();

            color: $blue;
            font-size: 18px;
            line-height: 26px;
            max-width: 800px;
            margin: auto;

            p {
                @include latoRegular();

                color: $blue;
                font-size: 18px;
                line-height: 26px;
                max-width: 800px;
                margin: auto;
            }
        }
    }
}
