.StandardText {
    padding: 50px 35px;

    @include breakpoint(tablet_768) {
        padding: 50px 60px;
    }

    &.is-grey {
        background: $greyBG;
    }

    .SingleContent__text & {
        padding: 0;
    }

    h6 {
        @include playfairBold();

        font-size: 13px;
        line-height: 19px;
        color: $blue;

        @include breakpoint(tablet_big) {
            font-size: 15px;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }

    h5 {
        @include playfairBold();

        font-size: 15px;
        line-height: 19px;
        color: $blue;

        @include breakpoint(tablet_big) {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 10px;
        }
    }

    h4 {
        font-size: 16px;
        line-height: 19px;
        color: $blue;

        @include breakpoint(tablet_big) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 15px;
        }
    }

    h3 {
        font-size: 16px;
        line-height: 19px;
        color: $blue;

        @include breakpoint(tablet_big) {
            font-size: 20px;
            line-height: 21px;
            margin-bottom: 20px;
        }
    }

    h2 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        color: $primary;

        @include breakpoint(tablet_768) {
            font-size: 22px;
            line-height: 28px;
        }

        @include breakpoint(desktop_small) {
            font-size: 28px;
            line-height: 36px;
        }
    }

    h1 {
        font-size: 22px;
        line-height: 24px;
        color: $blue;

        @include breakpoint(tablet_big) {
            font-size: 34px;
            line-height: 38px;
            margin-bottom: 25px;
        }
    }

    p {
        font-size: 16px;
        color: $paragraph;
        padding: 10px 0;
        margin: auto;

        @include breakpoint(phone_big) {
            padding: 20px 0;
        }

        @include breakpoint(tablet_big) {
            padding: 0 0 25px;
        }
    }

    ul,
    ol {
        padding-bottom: 20px;
        padding-left: 17px;
        line-height: 26px;
        color: $paragraph;

        @include breakpoint(tablet_big) {
            padding-bottom: 25px;
            padding-left: 40px;
        }

        li {
            padding-bottom: 5px;
        }
    }

    ul {
        @include latoRegular();

        list-style-type: disc;
    }

    ol {
        @include latoRegular();

        list-style-type: decimal;
    }

    em {
        font-style: italic;
    }

    strong {
        font-weight: bold;
    }

    .underlined {
        text-decoration: underline;
    }

    a {
        text-transform: none;
        text-decoration: none;
        color: $blue;

        &:hover {
            color: $brown;
        }
    }
}
