.m-table {
    overflow: hidden;
    padding-top: 40px;

    .SingleContent__text & {
        padding-top: 0;
    }

    &_content {
        margin: 0 30px !important;

        .SingleContent__text & {
            margin: 0 !important;
        }

        @include ie11() {
            border-left: 1px solid $greyBorder !important;

            .dataTables_wrapper {
                margin-bottom: 0;
            }
        }
    }

    @include breakpoint(desktop_big) {
        width: 860px;
        margin: auto;

        .SingleContent__text & {
            width: 100%;
        }
    }

    @include latoBold();

    font-size: 16px;
    text-align: left;

    .tablepress tbody td,
    .tablepress tfoot th {
        border-top: 1px solid $greyBorder;
    }

    &_content {
        overflow-x: scroll;

        @include hideScrollBar();

        @include breakpoint(desktop_big) {
            overflow: hidden;
        }

        @include breakpoint(tablet_reversed) {
            margin: auto;
        }

        @include breakpoint(tablet_768) {
            margin: auto;
        }

        @include breakpoint(ipad) {
            margin: auto;
        }
    }

    th,
    td {
        padding: 30px 25px;
        color: $blue;
        line-height: 22px;

        .SingleContent__text & {
            padding: 20px 15px;
        }
    }

    .odd {
        background: $nearlyWhite;

        &:hover {
            background: $nearlyWhite;
        }
    }

    @include ie11() {
        .m-table thead .column-1 {
            transform: none;
        }
    }

    td {
        @include latoRegular();

        &:nth-child(1) {
            @include latoSemi();

            display: block;
        }

        border-left: 1px solid $greyBorder;

        &:first-child {
            position: sticky;
            left: 0;
            border-top: 1px solid $greyBorder !important;

            @include edge() {
                transform: scale(.999);
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: -1px;
                bottom: 0;
                width: 0;
            }

            @include breakpoint(desktop_big) {
                position: relative;
            }
        }
    }

    tr {
        border-right: 1px solid $greyBorder;
        border-left: 1px solid $greyBorder;

        &:last-child {
            border-bottom: 1px solid $greyBorder;
        }
    }

    td {
        &:first-child {
            border-left: 0;
        }
    }

    thead {
        text-transform: uppercase;

        th {
            letter-spacing: 2.4px;
        }

        .column-1 {
            position: sticky;
            left: 0;

            @include edge() {
                transform: scale(.999);
            }
        }

        th {
            background: $blue;
            color: $white;
            border-left: 1px solid $greyBorder;

            &:nth-child(1) {
                border-left: 0;
            }
        }
    }
}

.tablepress {
    @include ie11() {
        margin-bottom: 0;
    }

    strong {
        @include latoSemi();

        letter-spacing: .5px;
        font-size: 17px;
    }

    a {
        @include latoRegular();

        color: $blue;
        letter-spacing: .4px;
        display: block;
        margin-top: 7px;
    }
}
