.TestimonialComponent {
    background: $blue;
    position: relative;
    text-align: center;
    padding: 100px 0 70px;

    @include breakpoint(desktop_small) {
        padding: 180px 0 100px;
    }

    &__content {
        display: block;

        &__testimonial {
            p {
                @include playfairBold();

                font-size: 23px;
                line-height: 32px;
                color: $white;
                max-width: 675px;
                margin: 5px auto 40px;
                position: relative;
                z-index: 2;
                padding: 0 20px;

                @include breakpoint(desktop_small) {
                    font-size: 45px;
                    line-height: 55px;
                    margin: 30px auto 60px;
                }
            }
        }

        &__author {
            @include latoBold();

            font-size: 16px;
            letter-spacing: 2.4px;
            text-transform: uppercase;
            color: $brown;
            position: relative;
            z-index: 2;

            @include breakpoint(desktop_small) {
                font-size: 18px;
            }
        }

        &__quote {
            @include playfairBold();

            font-size: 160px;
            line-height: 55px;
            color: $brown;
            display: block;
            position: relative;
            z-index: 2;

            @include breakpoint(desktop_small) {
                font-size: 250px;
            }
        }
    }

    &__lines {
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }
}

.TestimonialComponentDefault {
    text-align: center;
    background: $greyBG;
    padding: 40px 35px 70px;

    @include breakpoint(tablet_768) {
        padding: 40px 0 70px;
    }

    &__swiper {
        @include breakpoint(tablet_768) {
            padding-top: 20px;
        }
    }

    &__title {
        margin-bottom: 10px;
    }

    &__counter {
        @include latoRegular();

        display: inline-block;
        text-align: center;
        width: 80px;

        span {
            font-weight: bold;
        }
    }

    &__single {
        img {
            width: 230px;
            height: 230px;
            border-radius: 100%;
            display: block;
            margin: auto;
            background: $white;
            transition: all .6s;
            z-index: 0;
            padding: 10px;
            border: 1px solid $greyBorder;

            @include box-shadow( 0 0 30px -6px rgba(0,0,0, .25));

            @include breakpoint(tablet_768) {
                width: 150px;
                height: 150px;
                border: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.swiper-slide-active {
            img {
                padding: 10px;
                border: 1px solid $greyBorder;
                width: 230px;
                height: 230px;
                margin-top: 0;
                opacity: 1;
            }
        }

        h3 {
            @include playfairBold();

            font-size: 34px;
            line-height: 55px;
            color: $blue;
            margin-top: 40px;

            @include breakpoint(desktop) {
                font-size: 48px;
                line-height: 70px;
            }
        }

        span {
            @include latoBold();

            font-size: 16px;
            letter-spacing: 2.4px;
            color: $blue;
            text-transform: uppercase;
            display: block;
            margin-top: 5px;
            margin-bottom: 30px;
        }

        p {
            @include latoRegular();

            font-size: 16px;
            line-height: 26px;
            color: $greyDark;
            max-width: 500px;
            margin: auto;

            span {
                @include latoSemi();

                font-size: 16px;
                color: $blue;
                text-transform: none;
                margin-bottom: 5px;
                letter-spacing: .3px;
            }
        }

        &__image {
            position: relative;
            height: 230px;

            img {
                opacity: .5;
            }

            .js-video_button {
                top: auto;
                bottom: -45px;
            }
        }

        &__quote {
            @include playfairBold();

            font-size: 120px;
            line-height: 70px;
            letter-spacing: 18px;
            color: $brown;
            margin-top: 35px;
            margin-bottom: -35px;
        }
    }

    &__pagination {
        opacity: 1;
        margin-top: 50px;

        button {
            margin-right: 0;
        }
    }
}

.TestimonialComponentSingle {
    padding-bottom: 25px;

    @include breakpoint(tablet_768) {
        padding: 50px 0;
    }

    &__image {
        padding-bottom: 50%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__quote {
        @include playfairBold();

        font-size: 120px;
        line-height: 50px;
        letter-spacing: 18px;
        color: $brown;
        padding: 0 35px;

        @include breakpoint(tablet_768) {
            padding: 0 60px;
        }
    }

    &__author {
        @include latoBold();

        font-size: 16px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 10px;
        padding: 0 35px;

        @include breakpoint(tablet_768) {
            padding: 0 60px;
        }
    }

    &__location {
        @include latoBold();

        font-size: 16px;
        color: $blue;
        display: block;
        margin-top: 5px;
        margin-bottom: 15px;
        padding: 0 35px;

        @include breakpoint(tablet_768) {
            padding: 0 60px;
        }
    }

    p {
        @include latoRegular();

        font-size: 16px;
        line-height: 26px;
        color: $greyDark;
        max-width: 500px;
        padding: 0 35px;

        @include breakpoint(tablet_768) {
            padding: 0 60px;
        }
    }

    .button {
        background: none;
        border: 1px solid $blue;
        color: $blue;
        margin: 40px 35px 0;

        @include breakpoint(tablet_768) {
            margin: 40px 60px 0;
        }

        &:hover,
        &:active,
        &:focus {
            background: $brown;
            border: 1px solid $brown;
            color: $white;
        }
    }
}
