.Tutors {
    text-align: center;
    background: $greyBG;
    padding: 40px 35px 70px;

    @include breakpoint(tablet_768) {
        padding: 40px 0 70px;
    }

    &__swiper {
        @include breakpoint(tablet_768) {
            padding-top: 20px;
        }
    }

    &__title {
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__counter {
        @include latoRegular();

        display: inline-block;
        text-align: center;
        width: 80px;

        span {
            font-weight: bold;
        }
    }

    &__single {
        img {
            width: 230px;
            height: 230px;
            border-radius: 100%;
            display: block;
            margin: auto;
            background: $white;
            transition: all .6s;
            z-index: 0;
            padding: 10px;
            border: 1px solid $greyBorder;

            @include box-shadow( 0 0 30px -6px rgba(0,0,0, .25));

            @include breakpoint(tablet_768) {
                width: 150px;
                height: 150px;
                border: 0;
                padding: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.image_button {
                cursor: pointer;
            }
        }

        &.swiper-slide-active {
            img {
                padding: 10px;
                border: 1px solid $greyBorder;
                width: 230px;
                height: 230px;
                margin-top: 0;
            }
        }

        h3 {
            @include playfairBold();

            font-size: 34px;
            line-height: 55px;
            color: $blue;
            margin-top: 40px;

            @include breakpoint(desktop) {
                font-size: 48px;
                line-height: 70px;
            }
        }

        span {
            @include latoBold();

            font-size: 16px;
            letter-spacing: 2.4px;
            color: $blue;
            text-transform: uppercase;
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            @include latoRegular();

            font-size: 16px;
            line-height: 26px;
            color: $greyDark;
            max-width: 500px;
            margin: auto;
        }

        &__image {
            position: relative;
            height: 230px;

            .js-video_button {
                top: auto;
                bottom: -45px;
            }
        }
    }

    &__pagination {
        opacity: 1;
        margin-top: 50px;

        button {
            margin-right: 0;
        }
    }
}
