<script>
import { required, email } from "vuelidate/lib/validators";
import axios from "axios";
import Treeselect from "@riophae/vue-treeselect";
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import nationalitiesJson from "../../../../countries.json";

export default {
  props: ["cmsdata", "sharedStore"],
  components: { Treeselect },
  data() {
    return {
      value: null,
      welcoming: this.cmsdata.welcoming,
      reason1: this.cmsdata.reason1,
      reason2: this.cmsdata.reason2,
      reasonLabel: this.cmsdata.reason_label,
      nationalities_json: nationalitiesJson,
      selectedStage: "Welcome",
      checked: false,
      gdprText: this.cmsdata.gdpr_text,
      form: {
        firstName: null,
        lastName: null,
        age: null,
        nationality: null,
        email: null,
        reason: null,
        selectedAnswer: null,
        newsType: null,
        reason: null,
        nationalities: nationalitiesJson,
        gdpr: false,
        status: false
      },
      errors: {}
    };
  },
  created: function() {
    this.buttonsFalse();
    this.welcomingTrue();
  },
  validations: {
    form: {
      firstName: {
        required
      },
      lastName: {
        required
      },
      age: {
        required
      },
      nationality: {
        required
      },
      email: {
        email
      },
      reason: {
        required
      }
    }
  },
  methods: {
    welcomingTrue() {
      this.$emit("welcomingTrue", {
        data: {
          isWelcoming: true
        }
      });
    },
    buttonsFalse() {
      this.$emit("buttonsFalse", {
        data: {
          disableButtons: true
        }
      });
    },
    submit() {
      if (!this.$v.$invalid) {
        this.$emit("update", {
          data: {
            firstName: this.form.firstName,
            lastName: this.form.lastName,
            age: this.form.age,
            nationality: this.form.nationality,
            email: this.form.email,
            reason: this.form.reason,
            nextStep: "Step02",
            checkbox: this.form.checkbox,
            selectedStage: this.selectedStage,
            status: this.status,
            gdpr: this.form.gdpr
          },
          valid: !this.$v.$$invalid
        });
      }
    }
  },
  computed: {
    nationalities: function() {
      return this.form.nationalities.map(nationality => {
        const treeselectObject = {
          id: nationality.country,
          label: nationality.country
        };
        return treeselectObject;
      });
    },
    ageRange: function() {
      const start = 7;
      const stop = 20;
      return new Array(stop - start).fill(start).map((n, i) => {
        const treeselectObject = { id: n + i, label: `${n + i} years` };
        return treeselectObject;
      });
    }
  },
  watch: {
    form: {
      deep: true,
      // if empty not show button
      handler() {
        if (
          !this.form.firstName ||
          !this.form.lastName ||
          this.$v.form.email.$invalid ||
          this.form.age === "select" ||
          !this.form.age ||
          this.form.nationality === "select" ||
          !this.form.nationality ||
          !this.form.reason
        ) {
          this.status = false;
          this.buttonsFalse();
          return false;
        } else {
          this.status = true;
          this.submit();
          return true;
        }
      }
    }
  }
};
</script>

<template>
  <div class="englishTest__steps">
    <span class="englishTest__steps__welcoming">{{welcoming}}</span>
    <form class="englishTest__form">
      <div class="englishTest__form__field">
        <label class="englishTest__form__field__label">First name</label>
        <input
          v-model="$v.form.firstName.$model"
          type="text"
          class="englishTest__form__field__input"
        />
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.firstName"
        >{{this.sharedStore.errors.firstName}}</p>
      </div>

      <div class="englishTest__form__field">
        <label class="englishTest__form__field__label">Last name</label>
        <input
          class="englishTest__form__field__input"
          v-model="$v.form.lastName.$model"
          type="text"
        />
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.lastName"
        >{{this.sharedStore.errors.lastName}}</p>
      </div>

      <div class="englishTest__form__field is-treeselect">
        <label class="englishTest__form__field__label">Age</label>
        <treeselect
          v-model="form.age"
          :options="ageRange"
          class="englishTest__form__field__select"
          :clearable="false"
          openDirection="below"
          :searchable="false"
        />
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.age"
        >{{this.sharedStore.errors.age}}</p>
      </div>

      <div class="englishTest__form__field is-treeselect">
        <label class="englishTest__form__field__label">Nationality</label>
        <treeselect
          v-model="form.nationality"
          :options="nationalities"
          class="englishTest__form__field__select"
          :clearable="false"
          openDirection="below"
          :searchable="false"
        />
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.nationality"
        >{{this.sharedStore.errors.nationality}}</p>
      </div>

      <div class="englishTest__form__field is-email">
        <label class="englishTest__form__field__label">Student Email</label>
        <input class="englishTest__form__field__input" v-model="$v.form.email.$model" type="text" />
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.email"
        > {{this.sharedStore.errors.email}}</p>
      </div>

      <div class="englishTest__form__field is-checkbox">
        <input
          class="englishTest__form__field__checkbox"
          v-model="form.gdpr"
          type="checkbox"
          id="gdpr"
        />
        <label class="englishTest__form__field__label is-custom" for="gdpr">{{this.gdprText}}</label>
      </div>

      <div class="englishTest__form__field is-reason">
        <label class="englishTest__form__field__label">{{ reasonLabel }}</label>
        <div :class="{'active': $v.form.reason.$model === reason1 }">
          <input type="radio" v-model="$v.form.reason.$model" v-bind:value="reason1" />
          <span>{{ reason1 }}</span>
        </div>
        <div :class="{'active': $v.form.reason.$model === reason2 }">
          <input type="radio" v-model="$v.form.reason.$model" v-bind:value="reason2" />
          <span>{{ reason2 }}</span>
        </div>
        <p
          class="englishTest__steps__error"
          v-if="this.sharedStore.errors.reason"
        >{{this.sharedStore.errors.reason}}</p>
      </div>
    </form>
  </div>
</template>

