<template>
  <div class="englishTest__steps">
    <h2 class="englishTest__steps__stepName">Stage six</h2>
    <div class="englishTest__steps__stepDescription" v-html="stage06_description"></div>

    <span v-html="stage06_title" class="englishTest__steps__stepDescription"></span>
    <textarea v-model="essay"></textarea>
    <p class="englishTest__steps__error" v-if="this.error">{{this.error}}</p>
  </div>
</template>

<script>
import { maxLength } from "vuelidate/lib/validators";
export default {
  props: ["cmsdata", "sharedStore"],
  data() {
    return {
      stage06_description: this.cmsdata.stage06_description,
      stage06_title: this.cmsdata.stage06_title,
      essay: "",
      selectedStage: "Stage 6",
      error: ""
    };
  },
  watch: {
    essay: function() {
      this.validateEssayLength();
    }
  },
  mounted: function() {
    this.checkIfWelcoming();
    this.submit();
    this.buttonsFalse();
  },
  methods: {
    checkIfWelcoming() {
      this.$emit("checkIfWelcoming", {
        data: {
          isWelcoming: false
        }
      });
    },
    validateEssayLength() {
      const regex = /\s+/gi;
      const wordCount = this.essay.trim().replace(regex, ' ').split(' ').length;
      const essayLength = this.essay.length;
      const minEssayLength = 3;
      const maxEssayLength = 220;
      this.submit();
      if (wordCount < minEssayLength || wordCount > maxEssayLength) {
        this.buttonsFalse();
      }
      if (wordCount < minEssayLength) {
        this.error = `Please add at least ${minEssayLength -
          wordCount} more words`;
      } else if (wordCount > maxEssayLength) {
        this.error = `Please remove at least ${wordCount -
          maxEssayLength} words`;
      } else {
         this.buttonsTrue();
         this.error = "";
      }
    },
    buttonsFalse() {
      this.$emit("buttonsFalse", {
        data: {
          disableButtons: true
        }
      });
    },
    buttonsTrue() {
      this.$emit("buttonsTrue", {
        data: {
          disableButtons: false
        }
      });
    },
    isWelcoming() {
      this.$emit("isWelcoming", {
        data: {
          isWelcoming: false
        }
      });
    },
    submit() {
      this.$emit("update", {
        data: {
          nextStep: "Step08",
          essay: this.essay,
          selectedStage: this.selectedStage
        }
      });
    }
  }
};
</script>
