<template>
  <div class="englishTest__steps">
    <h2 class="englishTest__steps__stepName">{{selectedStage}}</h2>
    <p class="englishTest__steps__stepDescription">Please answer the questions below.</p>
    <div class="englishTest__steps__questions">
      <div style="display:none">{{selectedAnswer}}</div>
      <div
        v-for="(question,index) in questionsArray"
        v-bind:key="`question-${index}`"
        class="englishTest__steps__questions__single"
      >
        <h4
          class="englishTest__steps__questions__single__question"
          v-if="parsedQuestions[question.title]"
        >
          <p>
            {{parsedQuestions[question.title].firstPart}}
            <strong>{{clickedAnswers[question.title]}}</strong>
            {{parsedQuestions[question.title].lastPart}}
          </p>
        </h4>
        <button
          class="englishTest__steps__questions__single__answer"
          v-for="(answer,index) in question.answer"
          v-on:click="pickAnswer(question.title,question.question,answer.text,answer.correct)"
          v-html="answer.text"
          :class="[{'active': clickedAnswers[question.title] === answer.text}]"
          v-bind:key="`button-${index}`"
        ></button>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
import axios from "axios";

export default {
  props: ["cmsdata", "sharedStore"],
  data() {
    return {
      selectedStage: "Stage 3",
      nextStep: "Step05",
      selectedAnswer: null,
      clickedAnswers: {}
    };
  },
  methods: {
    pickAnswer(questionTitle, question, answer, correct) {
      this.clickedAnswers[questionTitle] = answer;
      this.selectedAnswer = answer;
      const answerPoint = correct ? 1 : 0;
      const answerDataObject = {
        selectedStage: this.selectedStage,
        questionTitle,
        question,
        answer,
        answerPoint
      };
      // set answers
      this.sharedStore.setSelectedAnswers(answerDataObject);

      const scoreDataObject = {
        selectedStage: this.selectedStage,
        questionTitle,
        answerPoint
      };
      // set score
      this.sharedStore.setScore(scoreDataObject);
      // calculate points
      // submit not here but on button click remove that
      this.submit();
    },
    buttonsTrue() {
      this.$emit("buttonsTrue", {
        data: {
          disableButtons: false
        }
      });
    },
    welcomingFalse() {
      this.$emit("welcomingFalse", {
        data: {
          isWelcoming: false
        }
      });
    },
    submit() {
      this.$emit("update", {
        data: {
          nextStep: "Step05",
          selectedStage: this.selectedStage
        }
      });
    }
  },
  computed: {
    questionsArray: function() {
      const questions = this.sharedStore.getQuestions(this.selectedStage);
      const keys = Object.keys(questions);
      const filteredQuestions = keys.map(key => {
        return questions[key];
      });
      return filteredQuestions;
    },
    parsedQuestions: function() {
      return this.sharedStore.getParsedQuestions();
    }
  }
};
</script>
