<template>
  <div class="englishTest__steps">
    <h2 class="englishTest__steps__stepName">Stage seven</h2>
    <div class="englishTest__steps__stepDescription" v-html="stage07_description"></div>

    <span v-html="stage07_title" class="englishTest__steps__stepDescription"></span>
    <textarea v-model="essay2"></textarea>
    <p class="englishTest__steps__error" v-if="this.error">{{this.error}}</p>
    <div style = "display: none;">{{this.essay2}}</div>
  </div>
</template>

<script>
import { maxLength } from "vuelidate/lib/validators";
export default {
  props: ["cmsdata", "sharedStore"],
  data() {
    return {
      stage07_description: this.cmsdata.stage07_description,
      stage07_title: this.cmsdata.stage07_title,
      essay2: "",
      selectedStage: "Stage 7",
      error: ""
    };
  },
  created: function() {
    this.checkIfWelcoming();
    this.submit();
    this.buttonsFalse();
  },
  watch: {
    essay2: function() {
      this.validateEssayLength();
    }
  },
  methods: {
    checkIfWelcoming() {
      this.$emit("checkIfWelcoming", {
        data: {
          isWelcoming: false
        }
      });
    },
    validateEssayLength() {
      const regex = /\s+/gi;
      const wordCount = this.essay2
        .trim()
        .replace(regex, " ")
        .split(" ").length;
      const essayLength = this.essay2.length;
      const minEssayLength = 45;
      const maxEssayLength = 55;
      this.$emit("update", {
        data: {
          nextStep: "Summary02",
          essay2: this.essay2,
          selectedStage: this.selectedStage
        }
      });
      if (wordCount < minEssayLength || wordCount > maxEssayLength) {
        this.buttonsFalse();
      }
      if (wordCount < minEssayLength) {
        this.error = `Please add at least ${minEssayLength -
          wordCount} more words`;
      } else if (wordCount > maxEssayLength) {
        this.error = `Please remove at least ${wordCount -
          maxEssayLength} words`;
      } else {
        this.buttonsTrue();
        this.error = "";
      }
    },
    buttonsFalse() {
      this.$emit("buttonsFalse", {
        data: {
          disableButtons: true
        }
      });
    },
    buttonsTrue() {
      this.$emit("buttonsTrue", {
        data: {
          disableButtons: false
        }
      });
    },
    isWelcoming() {
      this.$emit("isWelcoming", {
        data: {
          isWelcoming: false
        }
      });
    },
    submit() {
      this.$emit("update", {
        data: {
          nextStep: "Summary02",
          essay2: this.essay2,
          selectedStage: this.selectedStage
        }
      });
    }
  }
};
</script>
