<template>
  <div class="englishTest__steps">
    <h2 class="englishTest__steps__stepName" v-html="thanks_label"></h2>
    <p class="englishTest__steps__stepDescription" v-html="thanks_desc"></p>
    <div class="englishTest__steps__stepContact">
        <p class="englishTest__steps__stepContact__label" v-html="contact_label"></p>
        <a href="mailto:{ email }" class="englishTest__steps__stepContact__email" v-html="email"></a>
        <span class="englishTest__steps__stepContact__phone" v-html="phone"></span>
        <div class="englishTest__steps__stepContact__whatsapp">
            <span class="englishTest__steps__stepContact__whatsapp__icon"><img v-bind:src="whatsapp_img"></span>
            <span class="englishTest__steps__stepContact__whatsapp__number" v-html="whatsapp"></span>
        </div>
    </div>
    <div class="englishTest__steps__stepLiveChat">
        <span class="englishTest__steps__stepLiveChat__label" v-html="chat_label"></span>
        <a href="" class="button">Start live Chat</a>
    </div>
    <div class="englishTest__steps__stepDescription is-summary2" v-html="summary2"></div>



  </div>
</template>

<script>

export default {
  props: ["cmsdata","sharedStore"],
  data() {
    return {
        'thanks_label' : this.cmsdata.thanks_label,
        'thanks_desc' : this.cmsdata.thanks_desc,
        'contact_label' : this.cmsdata.contact_label,
        'phone' : this.cmsdata.phone,
        'email' : this.cmsdata.email,
        'whatsapp' : this.cmsdata.whatsapp,
        'whatsapp_img' : this.cmsdata.whatsapp_img,
        'chat_label' : this.cmsdata.chat_label,
        'summary2' : this.cmsdata.summary2,
    };
  },
  created: function() {
    this.checkIfSummary2();
  },
  methods: {
    checkIfSummary2() {
        this.$emit("checkIfSummary2", {
            data: {
            isSummary2: true
            }
        });
    },
  },

};
</script>
