<template>
  <div class="englishTest__steps">
    <h2 class="englishTest__steps__stepName">Your Results</h2>
    <div class="englishTest__steps__stepDescription is-summary1" v-html="acknowledgement"></div>

    <div class="englishTest__steps__stepLevelDesc" v-html="level"></div>
    <div class="englishTest__steps__stepLevel">{{applicantLevel}}</div>
    <div class="englishTest__steps__stepSummary" v-html="summary"></div>
  </div>
</template>

<script>

export default {
  props: ["cmsdata", "sharedStore"],
  data() {
    return {
      acknowledgement: this.cmsdata.acknowledgement,
      level: this.cmsdata.level,
      summary: this.cmsdata.summary
    };
  },
  created: function() {
    this.checkIfSummary1();
  },
  methods: {
    checkIfSummary1() {
      this.$emit("checkIfSummary1", {
        data: {
          isSummary1: true
        }
      });
    }
  },
  computed: {
    applicantLevel: function() {
      return this.sharedStore.getApplicantLevel();
    }
  }
};
</script>
