.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    position: relative;

    .container {
        max-width: 1150px;
        width: 94%;
        margin: 0 auto;
    }

    &__cols {
        width: 100%;
        padding: 35px 0;
        text-align: center;
        background: url('../images/diamond_plate.png') top left repeat;
        color: $color-yellow;
        position: relative;

        &:before {
            width: 100%;
            height: 100%;
            content: "";
            background: $color-black;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.65;
        }
        
        &__row {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 65px;
            position: relative;
            z-index: 2;

            @include for-size(mobile) {
                grid-template-columns: repeat(1, 1fr);
            }

            @include for-size(tablet) {
                grid-template-columns: repeat(1, 1fr);
            }

            &__col {
                display: flex;
                flex-direction: column;
                align-items: left;
                justify-content: top;

                &--brand {

                    @include for-size(mobile) {
                        text-align: center;
                    }
        
                    @include for-size(tablet) {
                        text-align: center;
                    }

                    figure {
                        margin: 0;
                        padding: 0;

                        img {
                            max-width: 100%;

                            @include for-size(mobile) {
                                max-width: 200px;
                            }
                
                            @include for-size(tablet) {
                                max-width: 300px;
                            }

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }

                &--nav {
                    text-align: left;

                    h4 {
                        margin: 0 0 10px 0;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            width: 100%;
                            display: inline-block;

                            a {
                                text-decoration: none;
                                color: $color-white;
                                position: relative;

                                &:before {
                                    content: "‣ ";
                                    color: $color-yellow;
                                }

                                &:after {
                                    content:"";
                                    width: 0;
                                    height: 1px;
                                    display: inline-block;
                                    background: $color-grey;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    opacity: 0;
                                }

                                &:hover::after {
                                    width: 100%;
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }

                &--contact {
                    text-align: left;

                    h4 {
                        margin: 0 0 10px 0;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;

                        li {
                            width: 100%;
                            display: inline-block;
                            color: $color-white;

                            .icon {
                                color: $color-yellow;
                            }

                            p {
                                color: $color-white; 
                            }

                            a {
                                text-decoration: none;
                                color: $color-white;
                                position: relative;

                                &:after {
                                    content:"";
                                    width: 0;
                                    height: 1px;
                                    display: inline-block;
                                    background: $color-yellow;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    opacity: 0;
                                }

                                &:hover::after {
                                    width: 100%;
                                    opacity: 1;
                                }

                                &:hover {
                                    color: $color-yellow;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__copyright {
        width: 100%;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
        background: $color-black;

        p {
            margin: 0;
            padding: 0;
            color: $color-white;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }

    &__author {
        width: 100%;
        padding: 0 0 20px 0;
        display: inline-block;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: 20px;
            display: inline-block;
            background: url('../images/racing_20y.svg') center center repeat;
        }

        a {
            text-decoration: none;
            color: $color-black;
            line-height: 21px;
            font-weight: 400;
            padding: 3px 4px;

            span {
                position: relative;
                top: 2px;
            }

            .icon {
                display: inline-block;
                margin: 10px 0 0 0;
                width: 25px;
                height: 21px;
                background: url('../images/imm.png') center center no-repeat;
                background-size: contain;
                position: relative;
                top: 0;
            }

            &:hover {
                background: $color-yellow;
            }
        }
    }
}