.header {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    position: relative;
    background: $color-black;
    border-top: 5px solid $color-white;
    border-bottom: 5px solid $color-yellow;

    &__top {
        width: 65%;
        background: $color-white;
        display: inline-block;
        padding: 5px 20px;
        position: relative;
        margin-left: 35%;
        text-align: right;

        &:before {
            content: '';
            position: absolute;
            left: -65px;
            z-index: 0;
            border-right: 65px solid $color-white;
            border-left: 0 solid $color-white;
            border-bottom: 38px solid transparent;
            top: -3px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0 10px 0 0;
                display: inline-block;

                a {
                    display: inline-block;
                    height: 25px;
                    text-align: center;
                    position: relative;
                    z-index: 0;
                    text-decoration: none;
                    font-weight: bold;
                    color: $color-black;
                    position: relative;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &__middle {
        width: 94%;
        max-width: 1280px;
        margin: 0 3%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;

        @include for-size(mobile) {
            display: inline-block;
        }

        @include for-size(tablet) {
            display: inline-block;
        }

        &__brand {
            width: 30%;
            margin: 0;
            padding: 0;
            text-align: center;
            display: inline-block;

            @include for-size(mobile) {
                width: 100%;
                padding: 20px 0;
            }

            @include for-size(tablet) {
                width: 100%;
                padding: 20px 0;
            }
    
            figure {
                margin: 0 auto;
                display: inline-block;
                padding: 0;
    
                img {
                    max-width: 100%;
                    position: relative;
                    top: 10px;

                    @include for-size(mobile) {
                        max-width: 300px;
                    }

                    @include for-size(tablet) {
                        max-width: 300px;
                    }
    
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &__contact {
            @include for-size(mobile) {
                width: 100%;
                margin: 0 0 30px 0;
            }

            @include for-size(tablet) {
                width: 100%;
                margin: 0 0 30px 0;
            }

            ul {
                margin: 0;
                padding: 0;
                display: inline;

                @include for-size(mobile) {
                    width: 100%;
                    margin: 20px 0;
                }
    
                @include for-size(tablet) {
                    width: 100%;
                    margin: 20px 0;
                }

                li {
                    display: inline-block;
                    color: $color-white;

                    h2 {
                        font-size: 21px;
                        font-weight: 500;
                        max-width: 80%;
                        display: inline-block;
                        text-align: left;
                        position: relative;
                        top: 5px;

                        @include for-size(mobile) {
                            max-width: 100%;
                            text-align: center;
                        }
            
                        @include for-size(tablet) {
                            max-width: 100%;
                            text-align: center;
                        }
                    }
                    
                    &:first-child {
                        margin-right: 15px;
                        text-align: right;
                    }

                    &:nth-child(2),
                    &:nth-child(3) {
                        @include for-size(mobile) {
                            display: none;
                        }
            
                        @include for-size(tablet) {
                            display: none;
                        }
                    }

                    span {
                        display: inline-block;
                        margin-right: 5px;

                        .icon {
                            font-size: 30px;
                            color: $color-yellow;
                        }
                    }

                    a {
                        display: inline-block;
                        color: $color-white;
                        text-decoration: none;
                        font-size: 14px;

                        strong {
                            display: block;
                            text-transform: uppercase;
                            font-size: 12px;
                            letter-spacing: 1px;
                            color: $color-yellow;
                            margin-bottom: -10px;
                        }

                        &:hover {
                            color: $color-yellow;

                            strong {
                                color: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }

    &__menu {
        width: 65%;
        margin: 0 0 0 35%;
        padding: 0;
        text-align: center;
        position: relative;
        background: $color-yellow;
        display: inline-block;

        @include for-size(mobile) {
            width: 100%;
            margin-left: 0;
        }

        @include for-size(tablet) {
            width: 100%;
            margin-left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: -45px;
            z-index: 0;
            border-right: 46px solid $color-yellow;
            border-top: 40px solid transparent;
            top: 0;

            @include for-size(mobile) {
                display: none;
            }

            @include for-size(tablet) {
                display: none;
            }
        }

        &__mobile {
            margin: 10px auto 0 auto;
            display: none;
            width: 55px;
            height: 30px;
            position: relative;
            
            @include for-size(mobile) {
                display: inline-block;
            }

            @include for-size(tablet) {
                display: inline-block;
            }

            span {
                width: 100%;
                height: 6px;
                background: $color-black;
                display: inline-block;
                margin: 0;
                padding: 0;
                position: absolute;
                left: 0;
                border-radius: 3px;

                &:nth-child(1) {
                    top: 0;
                }

                &:nth-child(2) {
                    top: 12px;
                }

                &:nth-child(3) {
                    bottom: 0;
                }
            }
        }
        
        .container {
            position: relative;
            z-index: 1;
        }

        nav {
            width: 100%;
            margin: 0;
            padding: 0;

            @include for-size(mobile) {
                display: none;
            }

            @include for-size(tablet) {
                display: none;
            }

            ul {
                margin: 0px;
                padding: 0px;
                list-style-type: none;
                display: flex;
                flex-direction: row;
                width: 100%;

                li {
                    list-style: none;
                    flex-grow: 1;
                    text-align: center;
                    position: relative;

                    a {
                        width: auto;
                        display: inline-block;
                        margin: 0;
                        padding: 0 5px;
                        color: $color-black;
                        font-family: $font-special;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 900;
                        line-height: 47px;
                        letter-spacing: 1px;
                        height: 40px;
                        position: relative;

                        span {
                            position: relative;
                            z-index: 5;
                        }

                        &:before,
                        &:after {
                            content: "";
                            width: 0;
                            height: 5px;
                            position: absolute;
                            bottom: -5px;
                            background: $color-white;
                        }

                        &:before {
                            left: 50%;
                        }

                        &:after {
                            right: 50%;
                        }

                        &:hover::before,
                        &:hover::after {
                            width: 50%;
                        }
                    }

                    &.current-menu-item,
                    &.current_page_item {
                        a {
                            color: $color-white;
                            text-shadow: 2px 2px $color-black;

                            &::before,
                            &::after {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}