.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $color-black;
    z-index: 99999999999999999999;
    padding: 20px;
    display: none;

    &.opened {
        display: inline-block;
    }

    &__close {
        width: 30px;
        height: 30px;
        position: relative;
        float: right;
        clear: both;
        display: inline-block;

        span {
            width: 35px;
            height: 2px;
            background: $color-white;
            display: block;
            position: absolute;
            top: 13px;
            left: -2px;
            transform: rotate(-45deg);

            &:nth-child(2) {
                transform: rotate(45deg);
            }
        }
    }

    &__container {
        max-height: 94vh;
        overflow-y: auto;

        ul {
            margin: 50px 0 0 0;
            padding: 0;
            list-style-type: none;
            width: 100%;

            li {
                margin: 0 0 15px 0;

                a {
                    color: $color-white;
                    font-family: $font-special;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 24px;
                    text-decoration: none;

                    &:hover {
                        color: $color-yellow;
                    }
                }
            }
        }
    }
}