.sideNav {
    left: -100vw;

    @include breakpoint(desktop_small) {
        left: -27vw;

        .button {
            font-size: 15px;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &__item {
        width: 100%;
        display: block;
        text-transform: uppercase;

        a {
            @include latoBold();

            font-size: 14px;
            letter-spacing: 2.1px;
            color: $white;
            position: relative;
            margin-bottom: 25px;
            display: block;
        }

        &:nth-child(1) {
            padding-top: 80px;

            @include breakpoint(desktop_small) {
                padding-top: 50px;
            }
        }

        &__link {
            width: 100%;

            &__parent {
                position: relative;

                .plus-minus-toggle {
                    margin-top: 2px;
                }
            }
        }

        &--hasChildren {
            display: flex;
            flex-wrap: wrap;

            @include breakpoint(desktop_small) {
                display: block;

                .sideNav__item__link {
                    display: inline-block;
                }
            }
        }
    }

    &__submenu {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 5px;

        li {
            width: 100%;

            a {
                @include latoRegular();

                color: $greyLighter;
                text-transform: none;
                line-height: 10px;
                letter-spacing: .4px;
                transition: all .3s;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    &__langsDesktop {
        display: none;

        @include breakpoint(desktop_small) {
            display: block;
        }
    }

    &__langsMobile {
        display: block;

        @include breakpoint(desktop_small) {
            display: none;
        }
    }

    .button {
        margin-top: 20px;
        margin-bottom: 40px;

        @include breakpoint(desktop_small) {
            margin-top: 188px;
        }
    }
}

.sideContact,
.sideNav {
    background: $blue;
    flex-wrap: wrap;
    position: fixed;
    top: 52px;
    padding-left: 40px;
    width: 100vw;
    z-index: 1100;
    overflow-y: scroll;
    padding-bottom: 50px;
    height: 100%;
    overflow-x: hidden;

    @include hideScrollBar();

    @include breakpoint(desktop_small) {
        width: 27vw;
    }

    @include breakpoint(phone_big) {
        top: 90px;
        height: calc(100vh - 90px);
        padding-left: 60px;
    }

    @include breakpoint(desktop_small) {
        padding-left: 30px;
    }

    @include breakpoint(desktop_big) {
        padding-left: 60px;
    }

    .logged-in & {
        top: 98px;

        @include breakpoint(phone_big) {
            height: calc(100vh - 136px);
            top: 136px;
        }

        @include breakpoint(tablet_768) {
            height: calc(100vh - 122px);
            top: 122px;
        }
    }
}

.sideNav {
    @include breakpoint(desktop_height_over_768) {
        overflow-y: hidden;
    }

    @include breakpoint(tablet_reversed) {
        height: 93%;
    }

    &__contactMobile {
        height: 100%;
        transform: none !important;

        .sideContact {
            display: block;
            top: auto;
            height: auto;
            min-height: 100%;
            padding-bottom: 40px;
            margin-left: -40px;
            overflow: unset;
            position: relative;

            @include breakpoint(tablet_768) {
                padding-left: 60px;
                margin-left: -60px;
            }

            @include breakpoint(desktop_small) {
                display: none;
                left: -100vw;
                padding-left: 40px;
                margin-left: -40px;
            }

            &.active {
                left: 0;
            }
        }
    }

    &__apply {
        &.Header__actions__apply {
            display: block !important;
            position: absolute;
            width: 100% !important;
            text-align: center;
            padding: 15px 0;
            left: 0;

            @include breakpoint(tablet_768) {
                display: none !important;
            }

            span {
                font-size: 16px;
            }
        }
    }
}

.sideContact {
    background: $darkblue;
    left: -100vw;
    width: 100vw;
    display: none;

    @include breakpoint(desktop_small) {
        width: 23vw;
        left: -27vw;
        display: block;
        margin-left: -1px;
    }

    .button {
        width: 175px;
    }

    h4 {
        @include latoBold();

        color: $white;
        width: 100%;
        text-transform: uppercase;
        padding-top: 50px;
        font-size: 14px;
        letter-spacing: 2.1px;
    }

    &__socials {
        display: flex;
        width: 200px;
        margin: 30px 0;

        li {
            margin-right: 20px;
            width: 100%;
            height: 15px;
        }

        span {
            color: $greyLighter;

            &:hover {
                color: $white;
            }

            @include edge() {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        align-items: center;

        @include breakpoint(tablet_reversed) {
            padding-bottom: 20px;
        }

        @include breakpoint(tablet_big) {
            margin-top: 80px;
        }

        @include breakpoint(landscape_mobile) {
            margin-bottom: 100px;
        }

        @include ie11() {
            margin-top: 45px;
            padding-bottom: 50px;
        }

        &__single {
            max-width: 50%;
            height: 100%;
            margin-right: 15px;
            margin-bottom: 20px;
        }
    }

    p {
        @include latoRegular();

        color: $greyLighter;
        font-size: 12px;
        line-height: 23px;

        a {
            display: block;
            color: $greyLighter;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
        }
    }

    &__phone,
    &__whatsapp {
        margin-top: 25px;
    }

    &__whatsapp {
        @include ie11() {
            height: 25px;
            position: relative;
            padding-left: 25px;

            span {
                position: absolute;
                left: 0;
                top: 5px;
            }
        }

        span {
            margin-top: -2px;
            margin-right: 5px;

            @include edge() {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        margin-bottom: 35px;
    }
}

.ps__rail-y {
    z-index: 1 !important;
}
