.sideAction {
    z-index: 1001;
    background: $blue;
    width: 100vw;
    position: fixed;
    height: calc(100vh - 52px);
    top: 52px;
    padding: 50px 40px;
    overflow-y: scroll;
    overflow-x: hidden;

    @include breakpoint(tablet_reversed) {
        right: -100vw;
    }

    @include breakpoint(phone_big) {
        padding: 80px 110px 50px 100px;
        top: 90px;
        height: calc(100vh - 90px);
    }

    @include ie11() {
        padding: 80px 110px 70px 100px;
    }

    @include hideScrollBar();

    @include breakpoint(tablet) {
        width: 565px;
    }

    .logged-in:not(.customer) & {
        top: 98px;
        height: calc(100vh - 90px);

        @include breakpoint(phone_big) {
            top: 136px;
        }

        @include breakpoint(tablet) {
            top: 122px;
        }
    }

    &__title {
        color: $white;

        @include playfairBold();

        line-height: 1.2;
        margin-bottom: 35px;

        @include breakpoint(tablet_reversed) {
            font-size: 32px;
        }

        @include breakpoint(tablet_768) {
            font-size: 42px;
        }

        @include breakpoint(desktop_small) {
            font-size: 50px;
        }
    }

    &__message {
        .ginput_container_name .name_first {
            width: 100%;
        }

        ::-webkit-input-placeholder { /* Chrome */
            @include latoSemi();

            font-size: 14px;
            color: rgba($black, .5);
        }

        :-ms-input-placeholder { /* IE 10+ */
            @include latoSemi();

            font-size: 14px;
            color: rgba($black, .5);
        }

        ::-moz-placeholder { /* Firefox 19+ */
            @include latoSemi();

            font-size: 14px;
            color: rgba($black, .5);
        }

        :-moz-placeholder { /* Firefox 4 - 18 */
            @include latoSemi();

            font-size: 14px;
            color: rgba($black, .5);
        }

        input {
            @include latoSemi();

            color: rgba($black, .5);
        }

        .button {
            color: $white;
        }
    }

    &__list {
        &__item {
            &:not(:last-child) {
                margin-bottom: 18px;
            }

            &__link {
                color: $white;
                font-size: 18px;

                @include latoRegular();
            }
        }
    }

    &__agent {
        border-top: 1px solid rgba($white, .2);
        margin-top: 50px;
        padding-top: 35px;

        @include ie11() {
            padding-bottom: 30px;
        }

        @include breakpoint(tablet_reversed) {
            margin-top: 35px;
            position: relative;
            padding-top: 30px;

            &:before {
                height: 1px;
                width: 100%;
                background: rgba($white, .3);
                position: absolute;
                top: 0;
                left: 0;
                content: "";
            }
        }

        .button {
            margin-top: 10px;
            width: 175px;
        }
    }

    &__courses {
        &__content {
            @include latoRegular();
            @include hideScrollBar();

            padding: 20px 0;
            height: 100%;
            overflow-y: scroll;
            position: relative;

            &__container {
                height: 80%;
                position: relative;
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 50px;
                    pointer-events: none;
                    background: linear-gradient(to top, rgba($blue, 1) 0%, rgba($blue, 0) 100%);
                }
            }

            &__element {
                color: $white;
                padding: 20px 0;
                border-bottom: 1px solid rgba($white, .2);
                font-size: 14px;
                position: relative;

                &:last-of-type {
                    border-bottom: none;
                }

                &__title {
                    font-size: 23px;
                    line-height: 1.2;
                    margin: 10px 0 15px;

                    @include breakpoint(desktop_small) {
                        font-size: 25px;
                    }
                }

                &__location {
                    margin-bottom: 22px;
                    opacity: .7;
                }

                &__button__group {
                    margin: 0 -11px;
                    display: flex;

                    @include breakpoint(phone_big) {
                        flex-direction: row;
                    }

                    .button {
                        margin: 0 11px 15px;
                        margin-bottom: 15px;
                        width: calc(100% - 22px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 7px;

                        @include breakpoint(tablet_768) {
                            padding: 15px 25px;
                        }
                    }
                }

                &__delete {
                    width: 30px;
                    height: 30px;
                    background-color: rgba($white, .1);
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    position: absolute;
                    top: 15px;
                    right: 0;

                    .icon {
                        width: 10px;
                        height: 10px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        &__all {
            @include latoRegular();

            font-size: 14px;
            font-weight: 600;
            color: $white;
            display: block;
            margin-top: 18px;

            &:active,
            &:hover {
                color: $white;
            }

            .icon {
                width: 11px;
                height: 10px;
                margin-top: -2px;
                margin-left: 10px;
            }
        }
    }

    .woocommerce-form {
        .woocommerce-Input {
            color: $blue;
            font-size: 16px;

            &::placeholder {
                color: $grey;
            }
        }
    }

    .gform_confirmation_wrapper {
        font-size: 16px;
        line-height: 22px;
        color: $white;
        letter-spacing: 1px;
        width: 100%;
        display: inline-block;
        padding-bottom: 65px;
        border-bottom: 1px solid rgba($white, .3);
    }

    .gform_confirmation_message {
        @include latoRegular();
    }

    .validation_message {
        @include latoSemi();

        font-size: 12px;
        line-height: 20px;
        color: $red;
        text-transform: uppercase;
        width: 100%;
        text-align: center;
    }

    .validation_error {
        @include latoSemi();

        font-size: 14px;
        line-height: 21px;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        border: 2px solid rgba($red, .5);
        padding: 5px;
        margin: 0 0 15px;
    }
}

.messageDetails {
    @include breakpoint(phone_big) {
        display: flex;
        justify-content: flex-end;
    }

    position: relative;

    &:before {
        height: 1px;
        width: 100%;
        background: rgba($white, .3);
        position: absolute;
        top: 0;
        left: 0;
        content: "";

        @include breakpoint(phone_big) {
            display: none;
        }
    }

    p {
        @include latoBold();

        color: $greyLighter;
        font-size: 14px;
        line-height: 23px;
        width: 650%;
        flex: 1;

        @include breakpoint(phone_big) {
            width: 50%;
        }

        a {
            display: block;
            color: $greyLighter;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
        }
    }

    &__phone,
    &__whatsapp {
        margin-top: 25px;
    }

    &__phone {
        @include breakpoint(tablet_reversed) {
            padding-top: 15px;
        }
    }

    &__whatsapp {
        @include ie11() {
            height: 25px;
            position: relative;
            padding-left: 25px;

            span {
                position: absolute;
                left: 0;
                top: 5px;
            }
        }

        @include edge() {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        margin-top: 5px;

        span {
            margin-top: -2px;
            margin-right: 5px;
        }

        margin-bottom: 20px;

        @include breakpoint(tablet) {
            margin-bottom: 35px;
        }
    }

    &__socials {
        display: flex;
        width: 100%;
        max-width: 20%;
        padding-bottom: 30px;

        @include breakpoint(iphone6) {
            padding-bottom: 60px;
        }

        @include breakpoint(phone_big) {
            flex-flow: row-reverse;
            max-width: 30%;
            margin: 30px 0;
            padding-bottom: 0;
        }

        li {
            margin-right: 22px;
            width: 100%;
            height: 15px;
            margin-top: 5px;
        }

        li:nth-child(1) {
            @include breakpoint(tablet) {
                margin-right: 0;
            }
        }

        span {
            color: $greyLighter;

            &:hover {
                color: $white;
            }
        }

        @include edge() {
            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.sideActionBtn.current {
    background: $blue;
    border-left: 1px solid $blue;

    svg {
        opacity: 0;
        visibility: hidden;
    }
}

.sideActionBtn {
    position: relative;

    &__cross {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-29px, -6px);

        @include breakpoint(phone_big) {
            transform: translate(-39px, -6px);
        }

        span {
            opacity: 0;
            position: absolute;
            height: 2px !important;
            width: 16px !important;
            background: $white;
            visibility: hidden;
            transform: rotate(0deg);
            transition: .25s ease-in-out;

            &:nth-child(1),
            &:nth-child(2) {
                top: 6px;
            }
        }

        .current & {
            span {
                visibility: visible;
                opacity: 1;

                &:nth-child(1) {
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.separator-line {
    height: 1px;
    width: 355px;
    background: $white;
    content: "";
    position: absolute;
    opacity: .3;
    margin-top: 50px;

    @include breakpoint(tablet_reversed) {
        display: none;
    }
}

.Filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 30px;

    &__single {
        width: 100%;
        margin-bottom: 30px;
        position: relative;

        @include breakpoint(tablet_768) {
            width: 47%;

            &:nth-of-type(1),
            &:nth-of-type(3) {
                margin-right: 3%;
            }
        }

        @include breakpoint(tablet_768) {
            width: 100%;
            margin-right: 0;

            &:nth-of-type(1),
            &:nth-of-type(3) {
                margin-right: 0%;
            }
        }

        label {
            padding-bottom: 15px;
            font-size: 15px;
        }

        input {
            @include latoSemi();

            font-size: 14px;
            color: rgba($black, .5);

            &:focus,
            &:active {
                outline: 0;
            }
        }

        img {
            position: absolute;
            color: $black;
            right: 15px;
            top: 52px;
            width: 9px;
            height: 9px;
            pointer-events: none;
            cursor: pointer;
        }

        select {
            @include latoSemi();

            font-size: 16px;
            color: rgba($black, .5);
            height: 50px;
            padding-left: 20px;
            width: 100%;
            border: 0;

            &:focus,
            &:active {
                outline: 0;
            }

            &::-ms-expand {
                display: none;
            }
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            margin-top: 30px;

            @include breakpoint(desktop_small) {
                width: 48%;

                select {
                    width: 100%;
                }
            }
        }

        &:nth-of-type(2) {
            @include breakpoint(desktop_small) {
                margin-right: 4%;
            }
        }

        &:nth-of-type(3) {
            margin-top: 0;

            @include breakpoint(desktop_small) {
                margin-top: 30px;
            }
        }
    }

    .search-wrapper {
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 1px solid $grey;
        position: relative;

        input {
            padding: 14px 15px 14px 36px;
        }

        img {
            position: absolute;
            left: 10px;
            top: 39px;
        }
    }

    .button {
        cursor: pointer;
    }
}
