@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Alegreya SC", serif;
  font-weight: normal;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

.button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.button span {
  position: relative;
  z-index: 2;
}

.button--brd-white-transparent {
  border: 1px solid #ffffff;
  padding: 10px 20px;
  color: #ffffff;
}

.button--brd-white-transparent:before, .button--brd-white-transparent:after {
  content: "";
  width: 0;
  height: 100%;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
}

.button--brd-white-transparent:before {
  left: 0;
}

.button--brd-white-transparent:after {
  right: 0;
}

.button--brd-white-transparent:hover:before, .button--brd-white-transparent:hover:after {
  width: 55%;
}

.button--brd-white-transparent:hover span {
  color: #e03e40;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #222222;
}

body.hidden-scrollbar {
  overflow-y: hidden;
}

body a,
body a:before,
body a:after,
body span,
body span:before,
body span:after,
body button,
body img,
body input[type=button],
body input[type=submit],
body .im,
body .form-button,
body .wdi_feed_thumbnail_1 .wdi_photo_wrap_inner,
body svg,
body .header__nav-trigger__icon {
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1.5);
  transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1.5);
}

body a span,
body a:before span,
body a:after span,
body span span,
body span:before span,
body span:after span,
body button span,
body img span,
body input[type=button] span,
body input[type=submit] span,
body .im span,
body .form-button span,
body .wdi_feed_thumbnail_1 .wdi_photo_wrap_inner span,
body svg span,
body .header__nav-trigger__icon span {
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1.5);
  transition: all 0.6s cubic-bezier(0.5, 0, 0.1, 1.5);
}

body .wrapper {
  width: calc(100% - 100px);
  margin-left: 100px;
  border-left: 1px solid #333333;
  display: block;
  position: relative;
  text-align: center;
  min-height: 100vh;
}

body .clear {
  width: 100%;
  height: 1px;
  clear: both;
  float: none;
  display: block;
}

.header {
  width: 100px;
  height: 100vh;
  background: #222222;
  border-right: 1px solid #111111;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999999;
}

.header__nav-trigger {
  width: 100%;
  padding: 30px 35px 22px;
  display: inline-block;
  border-bottom: 1px solid #111111;
  position: relative;
}

.header__nav-trigger__icon {
  cursor: pointer;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 30px;
  height: 23px;
}

.header__nav-trigger__icon:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__nav-trigger__icon .icon {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-transition: 0.55s;
  transition: 0.55s;
}

.header__nav-trigger__icon .line-top {
  top: 0;
}

.header__nav-trigger__icon .line-middle {
  top: 10px;
}

.header__nav-trigger__icon .line-bottom {
  top: 20px;
}

.header__nav-trigger__icon .line-top-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 10px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transition: 0.55s 0.5s;
  transition: 0.55s 0.5s;
  background: #c7ac4c;
}

.header__nav-trigger__icon .line-middle-click {
  opacity: 0;
}

.header__nav-trigger__icon .line-bottom-click {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  top: 10px;
  -webkit-transform: rotate(-410deg);
          transform: rotate(-410deg);
  -webkit-transition: 0.55s 0.5s;
  transition: 0.55s 0.5s;
  background: #c7ac4c;
}

.header__nav-trigger:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #333333;
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header__bottom__sm {
  margin: 0;
  padding: 0;
  position: relative;
  padding: 0;
  text-align: center;
}

.header__bottom__sm ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}

.header__bottom__sm ul li {
  max-width: 100%;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 12px 0 2px 0;
  position: relative;
  border-top: 1px solid #111111;
}

.header__bottom__sm ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333333;
  position: absolute;
  left: 0;
  top: -2px;
}

.header__bottom__sm ul li a {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.header__bottom__sm ul li a img {
  max-width: 30px;
  min-width: 25px;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.header__bottom__sm ul li a:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__bottom__map {
  padding: 0;
  text-align: center;
  position: relative;
  border-top: 1px solid #111111;
}

.header__bottom__map:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333333;
  position: absolute;
  left: 0;
  top: -2px;
}

.header__bottom__map--trigger {
  display: inline-block;
  cursor: pointer;
  z-index: 999;
  text-align: center;
  padding: 20px 10px;
}

.header__bottom__map--trigger img {
  max-width: 35px;
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
}

.header__bottom__map--trigger span {
  display: inline-block;
  width: 100%;
  margin: 10px auto 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
}

.header__bottom__map--trigger:hover img {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.header__bottom__map--trigger:hover span {
  color: #c7ac4c;
}

.header__bottom__map--trigger .state-0 {
  display: inline-block;
}

.header__bottom__map--trigger .state-1 {
  display: none;
}

.header__bottom__map--trigger .state-1 img {
  max-width: 23px;
  min-width: 18px;
}

.header__bottom__map--trigger__active span {
  color: #c7ac4c;
}

.header__bottom__map--trigger__active .state-1 {
  display: inline-block;
}

.header__bottom__map--trigger__active .state-0 {
  display: none;
}

.desktop-menu {
  width: calc(100% - 100px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  opacity: 0;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  background: #111111;
}

.desktop-menu--extended {
  right: 0;
  opacity: 1;
}

.desktop-menu__video {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.desktop-menu__video:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #111111;
  opacity: 0.65;
}

.desktop-menu__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.desktop-menu__container__nav-main {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.desktop-menu__container__nav-main ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.desktop-menu__container__nav-main ul li {
  display: block;
  margin: 0 0 55px 0;
  padding: 0;
  text-align: center;
}

.desktop-menu__container__nav-main ul li:last-child {
  margin-bottom: 0;
}

.desktop-menu__container__nav-main ul li a {
  display: inline-block;
  font-family: "Alegreya SC", serif;
  font-style: italic;
  font-size: 50px;
  opacity: 1;
  text-align: center;
  -webkit-transform: translate3d(0, 36px, 0);
          transform: translate3d(0, 36px, 0);
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  color: #e03e40;
}

.desktop-menu__container__nav-main ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: #085843;
  height: 60px;
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.14s ease-out;
  transition: width 0.14s ease-out;
  padding: 0;
  top: 10px;
}

.desktop-menu__container__nav-main ul li a:after {
  opacity: 0;
  content: attr(title);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #c7ac4c;
  height: 60px;
  line-height: 50px;
  overflow: hidden;
  -webkit-transform: translate(-24px, 6px);
          transform: translate(-24px, 6px);
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  bottom: 0;
}

.desktop-menu__container__nav-main ul li a:hover:before {
  left: 0;
  right: auto;
  width: 100%;
  padding: 0 10px;
}

.desktop-menu__container__nav-main ul li a:hover:after {
  opacity: 1;
  padding: 0;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
}

.desktop-menu__container__nav-main ul li.current-menu-item a, .desktop-menu__container__nav-main ul li.current_page_item a {
  color: #c7ac4c;
}

.desktop-menu__container__nav-main ul li.current-menu-item a:before, .desktop-menu__container__nav-main ul li.current_page_item a:before {
  left: 0;
  right: auto;
  width: 100%;
  padding: 0 10px;
  background-color: #e03e40;
}

.desktop-menu__container__nav-main ul li.current-menu-item a:after, .desktop-menu__container__nav-main ul li.current_page_item a:after {
  opacity: 1;
  padding: 0;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
  -webkit-transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out, -webkit-transform 0.2s 0.14s ease-out;
  color: #ffffff;
}

.desktop-map {
  width: calc(100% - 100px);
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100vw;
  opacity: 0;
  -webkit-transition: all .75s ease;
  transition: all .75s ease;
  background: #111111;
}

.desktop-map--extended {
  right: 0;
  opacity: 1;
}

.desktop-map__container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
}

.desktop-map__container .acf-map {
  width: 100%;
  height: 100vh;
}

.frontpage {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

.frontpage__hero {
  width: 100%;
  height: 100vh;
  display: inline-block;
  overflow: hidden;
}

.frontpage__hero__background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: inline-block;
}

.frontpage__hero__background video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.frontpage__hero__background:after {
  content: "";
  width: 100%;
  height: 100vh;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #333333;
  background: rgba(51, 51, 51, 0.5);
  z-index: 1;
}

.frontpage__hero__text {
  width: 80%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.frontpage__hero__text__brand {
  margin: 0 auto 10px auto;
}

.frontpage__hero__text__brand figure img {
  width: auto;
  max-height: 200px;
}

.frontpage__hero__text h1 {
  color: #ffffff;
  font-size: 65px;
  line-height: 65px;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 2px 2px 0px #e03e40;
}

.frontpage__hero__text h2 {
  color: #ffffff;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 2px 2px 0px #e03e40;
}

.frontpage__hero__text .button {
  margin: 35px auto 0 auto;
  display: inline-block;
  float: none;
  clear: both;
}

.frontpage__hero__text .button span {
  font-weight: 600;
}

.frontpage__hero .btn-scroll-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 3;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.frontpage__hero .btn-scroll-down span {
  width: 100%;
  display: block;
}

.frontpage__hero .btn-scroll-down img {
  width: 16px;
  height: auto;
  display: inline-block;
}

.frontpage__hero .btn-scroll-down:hover {
  bottom: 25px;
}

.subpage {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.subpage__header {
  width: 100%;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #222222;
}

.subpage__header__brand {
  width: 200px;
  padding: 20px;
}

.subpage__header__brand img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.subpage__header__brand img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subpage__header__banner {
  width: calc(100% - 200px);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.subpage__header__banner h1 {
  width: 100%;
  height: 60px;
  padding: 0 25px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: left;
  background: #c7ac4c;
  background: rgba(199, 172, 76, 0.85);
}

.subpage__header__banner h1 a {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 60px;
  color: #e03e40;
  text-decoration: none;
  text-shadow: 1px 1px #ffffff;
}
/*# sourceMappingURL=theme.css.map */