<div class="frontpage__content__right__inner">

    {% for service in services %}
        <div class="service">

            <div class="square-flip">
                <div class="square" style="background-image:url({{ service.image.url }})">
                    <div class="square-container">
                        {% if service.header %}
                            <h2>{{ service.header }}</h2>
                        {% endif %}
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class="square2">
                    <div class="square-container2">
                        {% if service.claim_text %}
                            <p>{{ service.claim_text }}</p>
                        {% endif %}
                        {% if service.link.url %}
                            {% include 'elements/button.twig' 
                                with {
                                    'url': service.link.url,
                                    'title': service.link.title,
                                    'span': '1'
                                } 
                            %}
                        {% endif %}
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>

        </div>
    {% endfor %}

</div>