<div class="frontpage__content__left__inner">

    {% if hero.logo %}
        <figure>
            <img src="{{ hero.logo.url }}" alt="{{ hero.claim_h1 }}" />
        </figure>
    {% endif %}

    {% if hero.claim_h1 %}
        <h1>{{ hero.claim_h1 }}</h1>
    {% endif %}

    {% if hero.content %}
        {{ hero.content }}
    {% endif %}

</div>