/* stylelint-disable */

#wpadminbar {
    &,
    &:not(.mobile) {
        > #wp-toolbar {
            a {
                &:focus {
                    span {
                        &.ab-icon {
                            &::before {
                                color: $brown;
                            }
                        }

                        &.ab-label {
                            color: $brown;
                        }
                    }
                }
            }

            li {
                &:hover,
                &.hover {
                    span {
                        &.ab-icon {
                            &::before {
                                color: $brown;
                            }
                        }

                        &.ab-label {
                            color: $brown;
                        }
                    }
                }
            }
        }

        .ab-top-menu {
            > li {
                &:hover,
                &.hover {
                    > .ab-item {
                        color: $brown;

                        &::before {
                            color: $brown;
                        }
                    }
                }

                &:focus {
                    color: $brown;

                    &::before {
                        color: $brown;
                    }
                }

                .ab-item {
                    &:focus {
                        color: $brown;

                        &::before {
                            color: $brown;
                        }
                    }
                }

                &#wp-admin-bar-wp-logo {
                    display: none;
                }

                &#wp-admin-bar-site-name {
                    .ab-sub-wrapper {
                        #wp-admin-bar-appearance {
                            #wp-admin-bar-themes,
                            #wp-admin-bar-widgets {
                                display: none;
                            }
                        }
                    }
                }

                &#wp-admin-bar-customize {
                    display: none;
                }

                &#wp-admin-bar-comments {
                    display: none;
                }
            }
        }
    }

    .quicklinks {
        .menupop {
            &,
            &.hover {
                ul {
                    li {
                        a {
                            &:hover,
                            &:focus {
                                color: $brown;
                            }
                        }
                    }
                }
            }
        }
    }

    &.nojq {
        .quicklinks {
            .ab-top-menu {
                > li {
                    > .ab-item {
                        &:focus {
                            color: $brown;

                            &::before {
                                color: $brown;
                            }
                        }
                    }
                }
            }
        }
    }
}
