/* stylelint-disable */

@import "../variables";

$asset-path: "../../images";

.wp-admin {
    background: $white;

    #wpadminbar {
        &,
        &:not(.mobile) {
            > #wp-toolbar {
                a {
                    &:focus {
                        span {
                            &.ab-icon {
                                &::before {
                                    color: $brown;
                                }
                            }

                            &.ab-label {
                                color: $brown;
                            }
                        }
                    }
                }

                li {
                    &:hover,
                    &.hover {
                        span {
                            &.ab-icon {
                                &::before {
                                    color: $brown;
                                }
                            }

                            &.ab-label {
                                color: $brown;
                            }
                        }
                    }
                }
            }

            .ab-top-menu {
                > li {
                    &:hover,
                    &.hover {
                        > .ab-item {
                            color: $brown;

                            &::before {
                                color: $brown;
                            }
                        }
                    }

                    .ab-item {
                        &:focus {
                            color: $brown;

                            &::before {
                                color: $brown;
                            }
                        }
                    }

                    &:focus {
                        color: $brown;

                        &::before {
                            color: $brown;
                        }
                    }
                }
            }
        }

        .quicklinks {
            .menupop {
                &,
                &.hover {
                    ul {
                        li {
                            a {
                                &:hover,
                                &:focus {
                                    color: $brown;
                                }
                            }
                        }
                    }
                }
            }

            .ab-top-menu {
                li {
                    &#wp-admin-bar-wp-logo {
                        display: none;
                    }

                    &#wp-admin-bar-comments {
                        display: none;
                    }
                }
            }
        }

        &.nojq {
            .quicklinks {
                .ab-top-menu {
                    > li {
                        > .ab-item {
                            &:focus {
                                color: $brown;

                                &::before {
                                    color: $brown;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #adminmenu {
        a {
            &:hover,
            &:focus {
                color: $brown;
            }
        }

        > li {
            &:not(.wp-menu-open):not(.current) {
                &:hover,
                &:focus {
                    div.wp-menu-image {
                        &::before {
                            color: $brown;
                        }
                    }
                }
            }

            &.wp-menu-open {
                &:hover,
                &:focus {
                    div.wp-menu-image {
                        &::before {
                            color: $white;
                        }
                    }
                }

                a {
                    &:focus {
                        div.wp-menu-image {
                            &::before {
                                color: $white;
                            }
                        }
                    }
                }
            }

            &.wp-has-current-submenu,
            &.current {
                > a {
                    &.wp-has-current-submenu,
                    &.current {
                        background: $brown;
                    }
                }
            }
        }

        li {
            &.opensub {
                &.wp-menu-open {
                    > a {
                        &.menu-top {
                            color: $white;
                        }
                    }

                    div.wp-menu-image {
                        &::before {
                            color: $white;
                        }
                    }
                }

                > a {
                    &.menu-top {
                        color: $brown;
                    }
                }

                div.wp-menu-image {
                    &::before {
                        color: $brown;
                    }
                }
            }

            &.menu-top {
                font-weight: 300;

                &:not(.wp-menu-open):not(.current) {
                    &:hover,
                    &:focus {
                        color: $brown;

                        > a {
                            color: $brown;
                        }
                    }
                }

                a {
                    &.menu-top {
                        font-weight: 300;
                    }
                }
            }

            > a {
                &.menu-top {
                    &:not(.wp-menu-open):not(.current) {
                        &:focus {
                            color: $brown;
                        }
                    }
                }

                &.wp-menu-open {
                    &:focus {
                        color: $white;
                    }
                }
            }

            a {
                &.wp-has-current-submenu {
                    .update-plugins {
                        color: $black;
                        line-height: 18px;
                        background: $white;
                        padding: 0 6px;
                    }
                }

                &.wp-not-current-submenu {
                    .update-plugins {
                        color: $black;
                        line-height: 18px;
                        background: $brown;
                        padding: 0 6px;
                    }
                }

                &:focus {
                    div.wp-menu-image {
                        &::before {
                            color: $brown;
                        }
                    }
                }
            }
        }

        .wp-menu-arrow {
            background: $brown;
        }

        #collapse-button {
            &:hover,
            &:focus {
                color: $red;
            }
        }
    }

    .wrap {
        h1 {
            color: $blue;
        }

        .page-title-action,
        .add-new-h2 {
            color: $white;
            font-weight: normal;
            border-color: $blue;
            background: $blue;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus {
                color: $blue;
                border-color: $blue;
                box-shadow: none;
                background: $white;
            }
        }

        .icl_translations_table {
            border-color: #f9cfcd;

            tr {
                &.icl_odd_row {
                    background-color: #ffeae9;
                }
            }

            a {
                color: $red;
            }
        }
    }

    .subsubsub {
        a {
            font-weight: 300;

            &.current {
                font-weight: 400;
            }
        }
    }

    .wp-badge {
        background-color: $red;
    }

    .postbox {
        .post-attributes-label {
            font-weight: 300;
        }

        select {
            cursor: pointer;
            box-shadow: none;
            display: block;
        }
    }

    .wp-ui-highlight {
        background: $black;
    }

    .wp-list-table {
        td {
            strong {
                font-weight: 300;

                a {
                    font-weight: 400;

                    &.row-title {
                        font-weight: 300;
                    }
                }
            }
        }

        a {
            color: $black;
            font-weight: 300;
        }

        &.plugins {
            .desc {
                p {
                    font-weight: 300;
                }
            }
        }
    }

    .button-primary {
        border: none;
        text-shadow: none;
        line-height: 1;
        height: auto;
        box-shadow: none;
        border-radius: 50px;
        background: $brown;
        transition: all 0.2s ease-in-out;
        padding: 10px 15px;

        &:hover,
        &:focus {
            outline: none;
            border: none;
            box-shadow: none;
            background-color: darken($brown, 8%);
        }

        &:focus {
            background-color: darken($brown, 8%);
        }

        &-disabled,
        &.disabled,
        &:disabled,
        &[disabled] {
            cursor: not-allowed;
            color: #efefef !important;
            background: #6b6d70 !important;
        }
    }

    .button {
        &.button-large {
            height: auto;
            line-height: 1;
            padding: 10px 15px;
        }

        &.button-primary {
            &.button-hero {
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    input[type="checkbox"] {
        &:checked {
            &::before {
                color: $brown;
            }
        }
    }

    input[type="radio"] {
        &:checked {
            &::before {
                background-color: $brown;
            }
        }
    }

    input,
    textarea {
        &:focus {
            border-color: $blue;
            box-shadow: none;
        }
    }

    select {
        &:focus {
            border-color: $blue;
            box-shadow: none;
        }
    }

    .mce-menu-item.mce-menu-item-preview.mce-active {
        .mce-text {
            color: $white;
        }
    }

    .attachments-browser {
        .media-progress-bar {
            div {
                background: $blue;
            }
        }

        .attachment {
            &:focus {
                box-shadow: inset 0 0 2px 3px $white, inset 0 0 0 7px $blue;
            }

            &.details,
            &.selected {
                &:focus {
                    box-shadow: inset 0 0 2px 3px $white, inset 0 0 0 7px $blue;
                }
            }

            &.details {
                box-shadow: inset 0 0 0 3px $white, inset 0 0 0 7px $blue;

                .check {
                    background-color: $blue;
                    box-shadow: 0 0 0 1px $white, 0 0 0 2px $blue;
                }
            }

            &.selected {
                .check {
                    &:focus {
                        background-color: $blue;
                        box-shadow: 0 0 0 1px $white, 0 0 0 2px $blue;
                    }
                }
            }
        }

        input[type="search"] {
            &:focus {
                border-color: $blue;
            }
        }

        select {
            cursor: pointer;

            &:focus {
                border-color: $blue;
            }
        }
    }

    .uploader-inline {
        .button {
            &:focus {
                border-color: $blue;
                box-shadow: 0 0 3px rgba($blue, 0.8);
            }
        }
    }

    #set-post-thumbnail {
        color: $red;
    }

    #wpfooter {
        display: none;
    }

    .acf-bl { 
        li {
            display: block !important;
        }
    }

    .acf-tab-group {
        li {
            &.active {
                a {
                    font-weight: 400;
                }
            }

            a {
                font-weight: 300;
            }
        }
    }

    .acf-field {
        .layout {
            background: rgba(255, 255, 255, 0.4);
        }

        &-object {
            .handle {
                strong {
                    font-weight: normal;
                }
            }

            &.open {
                > .handle {
                    text-shadow: none;
                    border: 1px solid $red;
                    background: $red;
                }
            }
        }

        .acf-label {
            label {
                font-weight: 400;
            }
        }

        .acf-button {
            &:focus {
                color: $white;
                border-color: $blue;
                box-shadow: 0 0 3px rgba($blue, 0.8);
                background: $blue;
            }
        }
    }

    .acf-input {
        .acf-switch {
            .acf-switch-on {
                text-shadow: none;
            }

            &.-on {
                border-color: $red;
                background: $red;

                .acf-switch-slider {
                    border-color: $red;
                }
            }

            &.-focus {
                &.-on {
                    .acf-switch-slider {
                        box-shadow: none;
                    }
                }

                .acf-switch-slider {
                    border-color: $red;
                    box-shadow: none;
                }
            }
        }
    }
    &.post-type-location {
        .acf-field-5d2d8dca9a2e6 {
            display: none;
        }
    }
}
