/* stylelint-disable */

@import "../variables";

$asset-path: "../../images";

.interim-login.login {
    h1 {
        a {
            width: 156px;
        }
    }
}

.login {
    background: $white;
    overflow: hidden;
    position: relative;

    #login {
        padding: 12% 0 0;
    }

    h1 {
        a {
            width: 255px;
            height: 65px;
            background: url(#{$asset-path}/logo.svg) no-repeat center center /
                cover;

            &:focus {
                box-shadow: 0 0 0 1px $brown, 0 0 2px 1px rgba($brown, 0.8);
            }
        }
    }

    a {
        &:focus {
            color: $blue;
            box-shadow: 0 0 0 1px $blue, 0 0 2px 1px rgba($blue, 0.8);
        }
    }

    #loginform {
        border: 1px solid #efefef;
        box-shadow: none;
        background: $white;
        position: relative;

        label {
            font-size: 15px;
        }

        .input {
            color: $black;
            font-size: 19px;
            border: 1px solid #efefef;
            box-shadow: none;
            background: $white;
            padding: 6px 10px;

            &:focus {
                border-color: $blue;
                box-shadow: none;
            }
        }

        .forgetmenot {
            float: none;

            label {
                font-size: 13px;
            }
        }

        .submit {
            text-align: center;
            margin-top: 20px;
        }
    }

    input[type="checkbox"] {
        &:checked {
            &::before {
                color: $brown;
            }
        }

        &:focus {
            border-color: $brown;
            box-shadow: 0 0 2px $brown;
        }
    }

    .button-primary {
        &.button-large {
            width: auto;
            min-width: 100%;
            float: none;
            line-height: 1;
            text-shadow: none;
            height: auto;
            box-shadow: none;
            border-radius: 0;
            border: 2px solid transparent;
            background: $blue;
            transition: all 0.2s ease-in-out;
            padding: 10px 15px;

            &:hover,
            &:focus {
                color: $blue;
                border: 2px solid $blue;
                box-shadow: none;
                background: transparent;
            }
        }
    }

    #nav,
    #backtoblog {
        a {
            &:hover,
            &:focus {
                color: $brown;
            }

            &:focus {
                box-shadow: 0 0 0 1px $brown, 0 0 2px 1px rgba($brown, 0.8);
            }
        }
    }

    #backtoblog {
        margin-bottom: 0;
    }

    .privacy-policy-page-link {
        display: none;
    }
}
