<head>

    <meta charset="utf-8">

    {# force Internet Explorer to use the latest rendering engine available #}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{# function("images_path", "apple-touch-icon.png") #}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {# function("images_path", "favicon-32x32.png") #}">
    <link rel="icon" type="image/png" sizes="16x16" href="{# function("images_path", "favicon-16x16.png") #}">
    <link rel="icon" type="image/png" sizes="48x48" href="{# function("images_path", "android-chrome-48x48.png") #}">
    <link rel="shortcut icon" href=" {# function("images_path", "favicon.ico") #}">

    <title>
        {% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    
    <link rel="pingback" href="{{ site.pingback_url }}"/>

    {{ function('wp_head') }}

    {{ options.scripts_head_section }}
</head>
