<!doctype html>

{% include 'header/_head.twig' %}

<body class="{{ body_class }} {{additionalBodyClass}} theme-{{ options.website_color_version }}">
  
  {{ options.scripts_body_start_section }}

  <div class="wrapper">

    {% include 'parts/header.twig' %}
  